[2019-05-20 23:11] oviliz commented on #1220
@robert-schmidt , are you using ElasticSuite?
https://github.com/Smile-SA/elasticsuite

[2019-05-20 23:21] oviliz commented on #1220
@romainruaud , does this offer enough additional information to reopen this issue?
https://sentry.io/share/issue/4ec640e27fe245fface0f691781ce848/

[2019-05-21 10:00] david-fuehr commented on #1370
I experienced the same issue. All categories are empty after upgrade to:
* `smile_elasticsuite: 2.8.0` on
* Magento Commerce 2.3.1 with
* PHP 7.2
* Elasticsearch 6.6

In our theme I found:
[code]

After deleting this line (and flushing `layout full_page block_html`) the products reappeared in the categories.

[2019-05-21 13:48] amenk commented on #866
ping @romainruaud  ;-)

[2019-05-21 16:23] a-t-s opened #1408 "Virtual category rest api conditions"
Well, first of all: Thank you for working on the https://github.com/Smile-SA/elasticsuite/issues/1298 enhancement! Very cool.
Unfortunately I cannot get the conditions to work.
A PUT to {{base_url}}/rest/V1/categories/279
`{
    "category": {
    	"id": 279,
        "custom_attributes": [
            {
                "attribute_code": "is_virtual_category",
                "value": "1"

[2019-05-21 23:54] fnash opened #1409 "Elasticsearch prefix"
Hi,

Is there a way to add a prefix in the host configuration?

I took a look at the code and it does not seem to be possible for the moment because of this line https://github.com/Smile-SA/elasticsuite/blob/2.6.x/src/module-elasticsuite-core/Client/ClientBuilder.php#L103 that forces an array configuration and not the connection string.

Do you confirm?

Configuring a prefix is possible since 2014

[2019-05-22 09:41] amenk commented on #866
[ElasticSuite is assuming ](https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/Model/Product/Indexer/Fulltext/Datasource/PriceData/PriceConfigurable.php) that the price (actual price) is in min_price in the index and original price is in max_price in the index.

I think this is a basic design problem: If I have a configurable T-Shirts where S cost 9 € and M costs 1

[2019-05-22 10:14] amenk commented on #866
@afoucret Was there any result of the brainstorming :-D

[2019-05-22 10:20] amenk commented on #866
I am trying to tackle this but have problems to debug into

     \Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\PriceData::addData

Does anybody have a hint to to write a test which triggers that one? Currently I am saving a product and run the cron which is super cumbersome.... Trying to write an integration test for that but have to understand the architecture more

[2019-05-22 10:54] artmediastudio opened #1410 "Elastic Suite 2.8.0 setup:upgrade"
### Preconditions

Magento Version : 2.3.0

ElasticSuite Version :2,8.0

Environment :Developer

Third party modules :

### Steps to reproduce

1. bin/magento setup:upgrade

### Expected result

### Actual result

Module 'Smile_ElasticsuiteCore':
Module 'Smile_ElasticsuiteCatalog':
Installing data... {"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"In Shingle TokenFilter the

[2019-05-22 11:15] amenk commented on #866
@romainruaud @dverkade  I developed a patch for this https://github.com/Smile-SA/elasticsuite/pull/1411

[2019-05-23 02:07] duffner opened #1412 "ElasticSearch Logging Event Indexer Issue"
ElasticSearch logging tasks seem to never complete, which causes old indices to not to be removed, and this inflates quickly in size which causes the CPU/RAM usage increasing drastically.

### Preconditions

Magento Version : 2.3.1 CE (Community Edition)

ElasticSuite Version : 2.7.x

Environment : Production

Third party modules : ElasticSuite and FindCanary Infusionsoft integration

### Steps to

[2019-05-23 07:15] rbayet commented on #1412
Hello @duffner,

How many events are left unprocessed in the queue ?

How heavy is the traffic on your site / how many events in average do you get per day ?
You can have a rough idea with the following queries
[code]
and
[code]

The `elasticsuite_index_log_event` cronjob treats up to 10K events per execution. It's not configurable, but you can use the DI to tweak the value for `$chunkSize` of `\S

[2019-05-23 07:50] romainruaud commented on #1410
Which exact version of ElasticSearch are you using ?

[2019-05-23 09:02] artmediastudio commented on #1410
Thanks for answer
7.1.0

[2019-05-23 12:22] siimm commented on #1294
Here is how I have solved (or made a workaround) to the problem described:

1) Add new attribute for product name first word (just a dummy product attribute, not visible in admin), make it searchable and let it have the same search weight as name

2) Then plugin Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\AttributeData, using method afterAddData, loop indexdata, find produc

[2019-05-23 15:51] amenk commented on #1294
@siimm thanks for sharing -- wow that sounds so tiresome

Would be cool if we could fine a core solution for this.

[2019-05-23 15:54] Pigau opened #1413 "Autocomplete need complete word ?"
Hi,
I'm trying to configure elasticsuite autocomplete on one of my project, and I notice a behaviour that seem strange to me when I start to search for a product :

On the demo site :  [http://demo.magento-elastic-suite.io/](http://demo.magento-elastic-suite.io/)
I search for a product named "Impulse Duffle"
I start to type 'Impul' and no product appear
![question_es](https://user-images.githubuse

[2019-05-23 23:15] danharper83 opened #1415 "Composer requirements problem"
### Preconditions

Existing installation of Magento 2.3.1

Magento Version : 2.3.1

ElasticSuite Version : 2.8.0

Environment : Developer

Third party modules : None

### Steps to reproduce

1. Run composer require smile/elasticsuite ~2.8.0

### Expected result

1. Elasticsuite should install

### Actual result

1. error message
[code]

[2019-05-24 08:06] romainruaud commented on #1410
Ok that's what I was afraid of.

It's not supported actually. Please use ElasticSearch 6.8

[2019-05-24 11:14] davidhiendl commented on #1370
We also experience this issue with several test env's and customized themes that move the sidebar. Reverting the change or switching to the base theme for testing purposes resolves the issue.

[2019-05-24 12:29] romainruaud commented on #1413
if by "previous", you mean "Magento 1", yes !

On Magento 1 we used a filter which is called "edgengram" which allow to index the beginning of each word. "impulse duffle" would have been indexed as im, imp, impu, impul,  and so on...

It's useful for "search as you type", but it dramatically slows the indexation, and increase the size of the index.

On magento 2, the autocomplete works like this :

[2019-05-24 12:29] #1413 closed

[2019-05-24 14:22] romainruaud commented on #1415
Well this one is kinda strange.

`magento/module-inventory-sales-api` disappeared from Magento's composer private repo ?

[2019-05-24 14:24] #1410 closed

[2019-05-24 15:37] danharper83 commented on #1415
This is my composer file

[code]

[2019-05-27 11:00] TexnikTexnolog commented on #1407
Еще очень актуально

[2019-05-28 07:58] romainruaud commented on #1415
Your composer file looks kinda strange.

How did you install Magento ? By cloning their git repository ?

[2019-05-28 12:32] Kjellmann commented on #551
Has anyone come up with a good workaround for this issue?

[2019-05-28 16:00] danharper83 commented on #1415
Ahh no, I used a different source for the composer file.

The source is the platform sh, I just assumed it was pretty much the same. I have looked at the original Magento file and didn't spot anything.

Thanks Dan

[2019-05-28 18:11] jajajaime commented on #1370
I am experiencing the same issue with moving the layered nav section, or even just changing the category layout to 1column.

[2019-05-29 09:56] Quazz commented on #1415
Given the mentioned versions, you seem to be running Magento 2.2 , while Elasticsuite 2.8 is for Magento 2.3

[2019-05-29 18:10] artmediastudio opened #1416 "Add custom attribute in autocompete template"
Autocomplete miniform show title, thumb and price for products. Now I' d like to insert a custom attribute suche author.

I create app/design/frontend/Mytheme/Smile_ElasticsuiteCatalog/web/template/autocomplete/product.html and I
change in this way
<div class="product-primary"><div class="product-name"><%= data.title %> - <%= data.author %></div></div>

So now I see after title -.

I created app/c

[2019-05-31 06:06] amenk opened #1417 "When a certain attribute is use_in_search=no, autocomplete search crashes (normal search works)"
### Preconditions

We have a color_2 attribute which is use_in_search=no

Magento Version : 2.2.8
ElasticSuite Version : [dev-fix-866-discount-for-configurables](https://github.com/iMi-digital/elasticsuite/tree/fix-866-discount-for-configurables), based on develop-2.6.x

Environment : Developer or Production

Third party modules : yes. some

### Steps to reproduce
1. Use the quick search (type a w

[2019-05-31 14:24] artmediastudio commented on #922
I tried it but without success
I want to put in autocomplete in second  position the Attribute autocomplete results.

This is my code
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
<type name="Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\AttributeConfig">
    <arguments>
            <argument name="

[2019-06-03 09:34] romainruaud commented on #1404
@androshchuk can you work on this issue please ?

[2019-06-03 09:43] romainruaud commented on #1407
I'm not sure about how we can solve the initial issue.

But to be completely aware of what is happening on this one, @TexnikTexnolog I see that you seem to be more comfortable with russian language, can you explain your issue in russian so that  @androshchuk will be able to qualify it and rephrase in proper english.

Once we'll have full understanding of what you are trying to achieve, I should be

[2019-06-03 15:29] CRYX2 commented on #1301
We have the same problem after imports created with FireGento_FastSimpleImport2. After the upgrade (even just prices), index start to reindex but not all products are correctly processed. It returns no errors but some products are not visible anymore. We have to forcely reindex to view all products.

[2019-06-04 08:19] romainruaud commented on #1407
Ok, thanks to @androshchuk I'm now aware of what you are trying to achieve.

If I'm correct, what you want is : "if I create a boost based on a list of SKUs, the boost should apply and respect the order of addition of these products in the boost".

It's not possible to achieve such a thing with optimizers. This is not what they are inteded to do.

Optimizers are used to apply a **scoring**, not a

[2019-06-04 08:19] #1407 closed

[2019-06-04 11:42] TexnikTexnolog commented on #1407
If you plan to set positions 1,2,3 for a given category, please use our drag-and-drop merchandiser (manual product sorting) directly on this category : https://github.com/Smile-SA/elasticsuite/wiki/ProductSorting#manual-product-sorting-in-categories

Ок. А как в таком случаи массово поднять товар выше чем тот что я выбрал в категории?
На пример поместить весть товар на который есть скидка в самый

[2019-06-05 08:07] androshchuk opened #1418 "error in optimizer"
### Preconditions

Magento Version : 2.3.1

ElasticSuite Version : 2.8.0

Environment : dev

### Steps to reproduce

1. Go to page Elasticsuite Optimizer page
2. Click button "Add new Optimizer"
3. Click button "Preview" without choosing Request type

### Expected result

See optimization results

### Actual result

I got 500 error http://joxi.net/Drl9allhVe76dm

[2019-06-05 13:43] scanjko commented on #1416
I have same issue, trying to add custom attribute in same way by adding it in frontend/di.xml, and rendering in product.html. But with no luck.

[2019-06-05 13:58] alexayg opened #1420 "Virtual category rule - "is not one of" condition not working"
### Preconditions

Magento Version : Magento CE 2.2.5
ElasticSuite Version : 2.5
Elasticsearch version : 5.6.10
Magento Environment : dev

### Steps to reproduce

1. Create a new virtual category
2. Select a "Virtual Category Root" for it
3. Under "Virtual rule" add the following condition: "Category **is not one of** category_ids_list"

### Expected result

1. The virtual category page should not

[2019-06-06 09:07] dimaMackert opened #1421 "Products List Preview and Sorting - Products disappear when set them to blacklist/invisible"
### Preconditions

Magento Version : 2.3.1

ElasticSuite Version : 2.8.0

Environment : dev

Third party modules : nothing relevant

### Steps to reproduce

1. Assign some products to a category
2. Open the category, go to the overview 'Products List Preview and Sorting'
3. Set some products to invisible/blacklist (the green eye in the top right corner)
4. Save the settings and indexer:reindex

##

[2019-06-07 05:56] romainruaud commented on #1420
Hello @alexayg

ElasticSuite 2.5 is quite old now, and I'm afraid that we cannot continue supporting it as part of our Open Source support commitment here on github.

That being said, thank you for reporting this bug, we'll try to reproduce it on most recent release and to bring a fix for this one if this is still accurate.

@androshchuk can you try to reproduce this issue on 2.8 version of Elasti

[2019-06-07 06:01] romainruaud commented on #1421
Hello @dimaMackert

I understand your fix but it's quite "hacky" and cannot remain as is. As far as I remember, blacklisted products were shown properly on the BO when we implemented this feature, so it's more likely a regression on our side.

We'll try to reproduce this bug and to provide a fix for this one. Most probably, the blacklist filter should not be applied on the query which is used to f

[2019-06-07 06:08] romainruaud commented on #1416
Hello guys,

you should also add your attribute so that he will be explicitely fetched from the DB :

This can be done by injecting your custom attribute code in this array (which is empty by default) :

https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/Model/Autocomplete/Product/AttributeConfig.php#L70

It will then be loaded and computed by the ItemFactory later

[2019-06-07 08:01] #1412 closed

[2019-06-07 08:18] sivasdescalzo opened #1422 "Slack Support"
I am trying to connect my Slack with https://github.com/Smile-SA/elasticsuite repo in order to get notifications everytime there is a release, but it seems GitHub Slack APP needs some permissions to the repo to do that.

Cloud you please install GitHub Slack APP in your repo in order to be able to connect Slack with your repo?
Many thx!

[2019-06-07 12:16] lbajsarowicz opened #1423 ""Sort By: Price" issues with Configurable Products does not work without forced reindex"
### Preconditions

Verified with 2 clean installations (no 3rd party modules)

* Magento 2.3.1 CE
* ElasticSuite 2.7.3
* ElasticSearch 5.6.14
* Production Mode
* Index on Schedule

And:

* Magento 2.2.6 CE
* ElasticSuite 2.6.9
* ElasticSearch 5.6.14
* Production Mode
* Index on Schedule

### Steps to reproduce

1. Install clean Magento 2 instance
2. Install and configure ElasticSuite
3. Deploy Sam

[2019-06-07 14:12] lbajsarowicz commented on #1423
I got deeper - the issue occurs also with clean Magento without ElasticSuite. However (!) I will keep this issue open also on your Repository, as it can be fixed for your implementation of ElasticSearch faster / without another Magento release.

[2019-06-07 20:24] ilnytskyi commented on #1423
@lbajsarowicz
Have you tried these fix proposals from related issues in M2 repo?
https://github.com/magento/magento2/pull/23056/files
https://github.com/magento/magento2/pull/19879/files

Have you tried to save a variant (child product) in configurable and then see if cron indexer worked correctly ?

[2019-06-07 21:09] lbajsarowicz commented on #1423
Haven't noticed that - but... still does not work as expected:
![image](https://user-images.githubusercontent.com/1639941/59133765-50228b00-8979-11e9-84f5-7807a59fc437.png)

What is more - the same situation happens when I fully reindex with these fixes.

[2019-06-10 15:08] scanjko commented on #1416
Thanks @romainruaud for this, after adding attributes to $additionalSelectedAttributes array it is now displaying them in autocomplete!

[2019-06-10 18:03] minhluan259 opened #1424 "Missing ; in attribute-filter.js#L214"
### Preconditions

Magento Version :

ElasticSuite Version :

Environment :

Third party modules :

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

Just tell you missing ";" in
https://github.com/Smile-SA/elasticsuite/blob/1129ec83892019b99de44d9eab3f11187a251ef2/src/module-elasticsuite-catalog/view/frontend/web/js/attribute-filter.js#L214

[2019-06-11 12:58] marvinhinz commented on #1403
We have the same problem.

`# curl localhost:9200
{
  "name" : "h_9UxPW",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "rqGb0OWoQFOPrx_mBxf5aA",
  "version" : {
    "number" : "6.8.0",
    "build_flavor" : "default",
    "build_type" : "deb",
    "build_hash" : "65b6179",
    "build_date" : "2019-05-15T20:06:13.172855Z",
    "build_snapshot" : false,
    "lucene_version" : "7.7.0",
    "

[2019-06-12 08:24] romainruaud commented on #1423
Hmmm ... let me summarize :

- happens with or without ElasticSuite
- happens with sample data

I'm ok to let the issue open here (at least for now, till we do not have deeper insights).

Does it happen "only" when installing sample datas ? Or do you have a more "manual" scenario to reproduce it ?

[2019-06-12 08:28] romainruaud commented on #1416
Great ! @artmediastudio & @scanjko can we close ?

[2019-06-12 08:29] romainruaud commented on #1422
sorry @sivasdescalzo but this is not something we plan to do.

If you wanna stay in touch with new releases, use the Github star & watch tools.

Regards

[2019-06-12 08:29] #1422 closed

[2019-06-12 09:19] ilnytskyi commented on #1423
@lbajsarowicz @romainruaud
As I found in public sources  m2 store I can admit this issue exists there and it is might be M2 core issue.
https://case-mate.com/smartphone-cases/samsung-cases/more-samsung-cases?product_list_order=price&product_list_dir=asc

since reindexer might change this order here is the screenshoot (sort by price low to high)
![Screenshot_2019-06-12 More Samsung Cases Case-Mate]

[2019-06-12 09:30] lbajsarowicz commented on #1423
The issue is Magento 2 core issue ( https://github.com/magento/magento2/issues/23180 ) and is reproducible with easy scenario:
- Change price of one of simple products inside Configurable Product, that causes change of Configurable Products order
- Sort by price
- :goal_net:

[2019-06-12 18:27] kirkmadera opened #1428 "Returns 0 result if page size is false in collection"
The smile class `\Smile\ElasticsuiteCore\Search\Request\Builder::create` does not work with pageSize = false appropriately in my opinion.

### Preconditions

Magento Version : 2.3.1

ElasticSuite Version : 2.8

Environment : developer mode

Third party modules : N/A

### Steps to reproduce

1. Do not set page size in layout for product list page
2. View product list page

### Expected result

1. A

[2019-06-12 20:45] kirkmadera commented on #1428
See https://github.com/Smile-SA/elasticsuite/pull/1429

[2019-06-13 04:51] LiamKarlMitchell commented on #926
@powelles Thank you for the Nginx rewrite.
I could not seem to get it to work for some reason suspect Cloud Flare may have cached.

Should I add something like this and flush cloudflare?
[code]

[2019-06-13 12:35] scanjko commented on #1416
Yes thanks

[2019-06-13 12:46] artmediastudio commented on #1416
Thanks for solution

[2019-06-13 22:37] LiamKarlMitchell opened #1432 "ElasticSuite takes me to Product Page automatically when I want to view search results."
When searching for "942" which is in a products SKU, I am taken instantly to a product with "942" in the name. E.g. ".472 x 942 Something".

- Is ElasticSuite able to show the search page with all matches rather than goto a product page? (Unless there really is only 1 product matching the search criteria?)

When using Keyword search on admin back end there are 77 records found.
Front end takes me

[2019-06-14 13:38] tieroom opened #1433 "No products shown with 1-column Layout"
### Preconditions
Magento Version :2.3.1 on PHP 7.2
ElasticSuite Version : 2.8.0
Environment :Developer

### Steps to reproduce
1. Find a category with active products
2. Set Design > Layout to 2 columns with left bar
3. Refresh cache
4. View products on frontend
5. Set Design > Layout to 1 column
6. Refresh cache
7. View products on frontend

### Expected result
1. Products are listed in both ste

[2019-06-17 09:33] bellodaniel commented on #1090
For me, I had to disable the elastic search and use MySQL.
To note that this is for my local environment.
After accessing the DB, run these two commands:
[code]

[2019-06-17 11:50] southerncomputer commented on #124
Would like to see what makes this work with 2.8 branch as i'm moving off 2.4 to 2.8 it doesn't add filter by observer any more!

[2019-06-17 14:11] david-fuehr commented on #1370
This seems a related issue: https://github.com/Smile-SA/elasticsuite/issues/1404. We experienced empty categories after moving the filters around in categories (as described above) and on the search result page.
In both cases we could work around this issue by tweaking the `layout.xml`

[2019-06-17 14:16] david-fuehr commented on #1404
This is probably related to https://github.com/Smile-SA/elasticsuite/issues/1370. After moving the filter block to the top, we experienced empty search results. A workaround that worked for us is (regarding `catalogsearch_result_index.xml`):
[code]

[2019-06-19 00:38] volanar commented on #897
I have the same mistake and it did not help. Magento2.3.1, elasticsuite 2.8.0. Are there other fixes available?
Uncaught TypeError: Cannot read property 'map' of undefined
    at UiClass.onProductListLoad (product-sorter.js:212)
    at fire (jquery.js:3232)
    at Object.fireWith [as resolveWith] (jquery.js:3362)
    at done (jquery.js:9840)
    at XMLHttpRequest.callback (jquery.js:10311)

[2019-06-19 08:50] NathMorgan opened #1434 "Magento 2 B2B QuickOrder " index does not exist yet. Make sure everything is reindexed.""
Magento 2.3.1 B2B QuickOrder page on Product Suggest Ajax fails with a 500 error ` Index does not exist yet. Make sure everything is reindexed.` with {$indexIdentifier} being null

### Preconditions

Magento Version : Magento 2.3.1 EE

ElasticSuite Version : 2.8.0

Environment : Developer & Production (Effects both)

Third party modules : N/A

### Steps to reproduce

1. Enable B2B features within

[2019-06-19 11:59] ananth-iyer commented on #1267
In case anyone trying to install **elasticsearch plugins** on **Ubuntu server**, use below commands:

or
Search the tool in your Linux server using below command:

then install [Smile-SA/elasticsuite](https://github.com/Smile-SA/elasticsuite) extension on your Magento 2 root

[2019-06-19 20:53] volanar opened #1435 "Uncaught TypeError: Cannot read property 'map' of undefined"
[logs.txt](https://github.com/Smile-SA/elasticsuite/files/3310612/logs.txt)
https://github.com/Smile-SA/elasticsuite/issues/897
I have the same mistake and it did not help. Magento2.3.1, elasticsuite 2.8.0. Are there other fixes available?
Uncaught TypeError: Cannot read property 'map' of undefined
at UiClass.onProductListLoad (product-sorter.js:212)
at fire (jquery.js:3232)
at Object.fireWith [as

[2019-06-19 21:43] southerncomputer commented on #1435
I've found that magento 2.3.1 has janky requirejs/amd issues.. I've had to add 'domReady!' to many javascript require functions and have to even patch  phtml files with <scripts> to get them to fire consistently in-order as they had been doing in 2.1.17~.. Not a fun upgrade so far!

[2019-06-20 14:06] romainruaud commented on #1278
So !

According to Magento Cloud dev team :

if you are using ElasticSuite on a Magento Cloud project, you have to update your ece-tools package to version .19+ (for those who don't know, it's the package that is used for 'provisioning' the Magento Cloud environments).

On previous versions there was a misconfiguration which was causing performances issues of the Elasticsearch server : it forced i

[2019-06-20 15:29] faisalirfan361 opened #1437 "Magento 2.3.1 Bulk index operation failed 1 times in index magento2_default_tracking_log_event_20180620"
We have recently updated to magento 2.3.1 and I am getting following exception

[2019-06-20 15:12:07] main.ERROR: Bulk index operation failed 1 times in index magento2_default_tracking_log_event_20180620 for type event. Error (mapper_parsing_exception) : failed to parse field [page.search.is_spellchecked] of type [boolean] in document with id '10be4aec13cb737721845d8ebce609f3'. Failed doc ids samp

[2019-06-21 00:26] davidsiemers opened #1438 "Set EavAttribute Fields in Setup"
Hello,

I'm currently trying to set ElasticSuite's EavAttribute fields when running an installer script for a module. In this module, I'm creating a custom product attribute. Unfortunately, trying to set ElasticSuite fields such as facet_min_coverage_rate or facet_sort_order don't seem to work. For reference, here's a snippet from the install method in the InstallData script:

`
$eavSetup = $this-

[2019-06-21 12:29] AymericJoubert opened #1439 "Autocomplete auto learning"
Hello Romain,

I was reading ticket #1413 and you said about a near refactoring of autocomplete functionnality.

Do you have any roadmap or an estimation on when the refactor should be available ?

Thank you !
Aymeric

[2019-06-21 19:37] southerncomputer commented on #1291
I have modified tracking,js to be called by config.phtml and variables.phtml using requirejs - which should be how the js is called with domReady! to delay it from being called too early. I'd suggest it is implemented this way anyhow! Magento 2.3.1 does some erratic behavior with javascript load/execute order as you are seeing!

[2019-06-24 06:51] xi-ao commented on #1278
Thanks so much @romainruaud for your response and your help.
Unfortunately we could not wait that long and were forced to get back to the standard ES module a few weeks back. But that's really good to know, we may need it anyway in the future.

[2019-06-24 09:08] stoutik commented on #1433
I have the some problem.
Magento Version : 2.3.1
ElasticSuite Version : 2.8.0

[2019-06-25 12:57] matheusgontijo commented on #173
In most cases solution provided from @amenk works great.

Another possible scenario is that the value for `status` column from `indexer_state` table is `working` for some (or many) indexes as `catalogsearch_fulltext`.

That was making the command `index:reindex` SKIP that index. In other words, it was not processing that index due to a past interrupted command that never updated the `status` from

[2019-06-25 13:48] pawcioma opened #1441 "We lost filter when we choose category."
We lost filter when we choose category.

### Preconditions
I using yours demo.

Third party modules :

### Steps to reproduce
1. click on link to yours demo http://demo.magento-elastic-suite.io/index.php/catalogsearch/result/index/?material=Fleece&q=te
When we choose category "Men" we lose filter material. When we click category Men we redirect to page http://demo.magento-elastic-suite.io/index.ph

[2019-06-25 13:54] pawcioma commented on #1441
duplicate https://github.com/Smile-SA/elasticsuite/issues/263

[2019-06-25 13:54] #1441 closed

[2019-06-26 04:02] a970032 opened #1442 "After upgrade to magento 2.3.2 site broken"
### Preconditions

Magento Version : magento 2.3.2

ElasticSuite Version :2.8.0

Environment :Developer

Third party modules :

### Steps to reproduce

1. composer require "magento/magento-cloud-metapackage":"2.3.2" --no-update
2. bin/magento setup:upgrade
3. 500 error Fatal Error: 'Class 'Magento\CatalogInventory\Model\Plugin\Layer' not found' in '/var/www/vhosts/default/vendor/smile/elasticsuite

[2019-06-26 05:50] LiamKarlMitchell opened #1443 "ElasticSuite incompatible with Amasty Groupcat and MageWorx Customer Prices modules."
When Elastic Suite is enabled some other modules we have stop working properly.
Elastic Suite is nice so we want to keep using it, but also want to use the other modules to control product visibility per customer and custom prices per customer. (It's b2b).

Is there a guide or a recommendation on how I can adapt existing modules to work with this new way of searching?

They do things to the search

[2019-06-26 07:35] sweikenb commented on #1442
Same here, as it seems they removed the Layer-plugin entirely from the source:

https://github.com/magento/magento2/tree/2.3.2/app/code/Magento/CatalogInventory/Model/Plugin

[2019-06-26 07:46] sweikenb commented on #1442
A quick fix for this is to disable the plugin, this would have other consequences regarding the displaying of the stock status, but at least the site isn't down:

[code]

[2019-06-26 07:49] NathMorgan commented on #1442
Created PR that should fix this issue https://github.com/Smile-SA/elasticsuite/pull/1444

[2019-06-26 08:49] NathMorgan opened #1445 "2.3.2 Upgrade Undefined factory elasticsuite"
After removing or fixing the plugin in this issue: https://github.com/Smile-SA/elasticsuite/issues/1442 when trying to use the search it throws a exception with `Undefined factory elasticsuite` being thrown in this file: https://github.com/magento/magento2/blob/9fc254f241b5a2fa9e28ebdbb179538ca7c1959f/app/code/Magento/Elasticsearch/Model/Layer/Search/ItemCollectionProvider.php#L46

### Preconditio

[2019-06-26 09:07] Quazz commented on #1442
Layered navigation will still be entirely broken even if you do this.

Looks like this commit is what removed the layer plugin and changed the logic:

https://github.com/magento/magento2/commit/9ab466d8569ea556cb01393989579c3aac53d9a3#diff-2ad66624cecd33a368d784f2be936f48

[2019-06-26 10:09] Quazz commented on #1445
Looks like you have to do something similar to https://github.com/magento/magento2/commit/885b7a99397e52e1b094c3d23c314ca508429b3b#diff-b2e0d454e4ffd542fa96dc1b7dc225d9 this now, though I haven't gotten that to work personally

[2019-06-26 10:59] pawcioma opened #1446 "Problem with count products in category with diffrent filters."
**Is your question related to a problem? Please describe.**
Problem with count products in category with diffrent filters. When I used some filters from layer navigation numbers of products in category ignore this filters. Only filter "q"(search query) working ok.

Ex :
When I used search form I got results. Layer navigation have some filters for example "availability ", "category". I see availabi

[2019-06-26 11:44] barbarosselimbuyukelci opened #1447 "Index takes too long to finish after installing & configuring module"
As you can see below it takes too long to finish index process.

### Preconditions
198K products, over 10 extra searchable attributes.

Magento Version : 2.3.1

ElasticSuite Version :

Environment : Development mode

Third party modules : Ethan Yehuda's Cronjob Manager Module and our own payment module.

### Actual result
# php bin/magento indexer:reindex catalog_product_attribute
Product EAV inde

[2019-06-26 12:22] Quazz commented on #1443
https://github.com/Smile-SA/elasticsuite/wiki/Indexing#mappings

[2019-06-26 17:31] southerncomputer commented on #1445
worked for me after dealing with the broken addisinstockfilter plugin:

in elasticsuitecatalog\etc\di.xml add :

[code]

[2019-06-26 17:44] southerncomputer commented on #1445
Also you could put back the module-catalog-inventory/Model/Plugin/Layer.php instead of deleting this plugin in elasticsearch:

[code]

[2019-06-26 17:46] southerncomputer commented on #1447
Must be slow machine you are on. I can do 1Million products with 1000 searchable attributes in same time!

[2019-06-26 17:48] southerncomputer commented on #1442
https://github.com/Smile-SA/elasticsuite/issues/1445#issuecomment-505971767 see this thread

[2019-06-27 02:27] LiamKarlMitchell commented on #1443
Thanks for the link to the mappings info seems that would be the way to go to fix the first one.

Turns out that we actually did not need the features that were broken in the other modules in this circumstance and was able to safely bypass their functionality. Yay~

Amasty/Groupcat/Plugin/Catalog/Model/Layer.php
Made line 57 of beforePrepareProductCollection return null; to disable this.

MageWorx

[2019-06-27 02:27] #1443 closed

[2019-06-27 06:55] TFToto commented on #1445
Thank you, for that post. That saved my day. Mind the first tag and remove the ">" after virtualType  `<virtualType> name.... `

[2019-06-27 07:16] romainruaud commented on #1445
Hello people,

we are working on this one and aim to release an ElasticSuite 2.8.1 version as soon as possible :)

@androshchuk will have a look on this one.

I'm not sure "just" adding the factories will work properly. Maybe we'll also have to implement them, I'm not sure since I did not dig more into this.

[2019-06-27 07:17] romainruaud commented on #1442
Thank you @NathMorgan for your PR.

as far as I can see, it could do the trick. I did not test it by myself however.

@androshchuk can you have a look on this issue and associated PR ?

Regards

[2019-06-27 07:36] ezest-rajesh commented on #474
Hi Team,

Hope you are doing great!

I want to disable price slider from the layered navigation only, could you please help me.

And also, Smile Elastic search layered navigation is breaking category filter, It is directly redirecting to the category page and not doing the filter.
URL generates by smile for category filter: **http://demo.magento-elastic-suite.io/index.php/men/tops-men/jackets-men.

[2019-06-27 07:43] ezest-rajesh opened #1449 "Category filter is not working due to smile layered navigation"
### Preconditions

Hi Team,

Hope you are doing great!

I want to disable price slider from the layered navigation only, could you please help me.

And also, Smile Elastic search layered navigation is breaking category filter, It is directly redirecting to the category page and not doing the filter.
URL generates by smile for category filter: http://demo.magento-elastic-suite.io/index.php/men/tops

[2019-06-27 10:19] LittleBigDev opened #1450 "Error 500 : Cannot access BO Stores > Configuration"
### Preconditions
Magento Version : `"magento/product-community-edition": "2.3.1"`
Module Retailer Offer Version : `"smile/elasticsuite-for-retailer": "~1.6.0"` (same bug with 1.5.0)
Environment : developer
Third party modules : none (this is the first I'm installing for this brand new project)

### Steps to reproduce
1. Follow Readme.md : `composer require smile/elasticsuite-for-retailer:"~1.6.0"

[2019-06-27 15:12] romainruaud commented on #1449
Hello @ezest-rajesh

The category filter has been fixed in ElasticSuite 2.8.0 : https://github.com/Smile-SA/elasticsuite/releases/tag/2.8.0

You should update (I know, this would also imply upgrading your Magento Store to 2.3.x)

Additionnaly, you are using a very old version of ElasticSuite which is not part of our Open Source support commitment here on Github.

Rest of your question is a duplica

[2019-06-27 15:14] romainruaud commented on #1447
Can you describe more what "too long" means ?

A timing itself show nothing, as stated by @southerncomputer it also strongly depends of the hardware you are running with.

If it's on a production server with 32Go of RAM for MySQL and the same for ES, yes I'd tend to say it's a bit slow.

Please give us more details.

[2019-06-27 15:17] romainruaud commented on #1439
Hello @AymericJoubert

for now, this one is a low priority, in fact we'd more likely tend to build an autocomplete which is based on "popular" search terms (by popular I mean the terms that are mostly used for a slipping period of time).

Regards

[2019-06-27 15:17] romainruaud commented on #1437
From which version did you update ?

Did you upgrade the ES cluster as well ?

[2019-06-27 15:19] #1416 closed

[2019-06-27 15:36] leonhelmus opened #1451 "After upgrading to 2.3.2 admin is not working"
When trying to go to the admin login page we get an error report.

### Preconditions

We get the message:
`{"0":"Class Smile\\ElasticsuiteAdminNotification\\Observer\\PredispatchAdminActionControllerObserver does not exist","1"`

Magento Version : Magento EE

ElasticSuite Version : 2.8.0

Environment : production

### Expected result

1. i want to see a login page.

### Actual result

1. [Screensh

[2019-06-28 07:19] ezest-rajesh commented on #1449
Hi @romainruaud,

Thanks for your quick reply,

We are using Magento Commerce 2.1.9 hance could not integrate Smile Elastic 2.8.0 as compatibility issues, could you please provide the patch which fixes the category issue?

Thanks,
Rajesh

[2019-06-28 20:05] barbarosselimbuyukelci commented on #1447
Well, as you can see it tooks 46 minutes.
Server is really strong, brand new i9 16 core processors, 128 gb ram, nvme ssds. IDK why it took so long.

[2019-06-29 21:23] southerncomputer commented on #1447
dude product eav index is magento only! Has nothing to do with ElasticSuite!

[2019-07-01 10:17] faisalirfan361 commented on #1437
I updated from magento 2.2.3 and yes I did update everything.

[2019-07-01 11:00] ezest-rajesh commented on #555
Hi,

I want to remove price slider from left layered navigation, please provide a patch to remove the slider.

Best Regards,
Rajesh

[2019-07-01 16:05] roma-glushko opened #1452 "Product Listing: Category Product Sorting is not working"
### Preconditions
Magento Version:
2.3.0 Open Source

ElasticSuite Version:
2.7.4, 2.8.0 (tried on both verions)

Environment :
Developer/Production Mode
Elasticsearch: 6.5.4

### Steps to reproduce
1. Magento has products in the category. The data and product sort order were migrated from M1
2. The category has the following sorting params by default: sort by position (ASC direction).
3. No Elast

[2019-07-01 22:15] LiamKarlMitchell opened #1453 "Call to undefined method Search\Request::getType when making a search request with WeltPixel AutoComplete."
### Preconditions
Magento Version : Magento 2.3.0 Community Edition.
ElasticSuite Version : 2.9.x-dev
Environment : Developer on Ubuntu server served with Nginx.
Third party modules :
[code]

### Steps to reproduce
1. It was working just fine a week ago so I know that elastic suite module was working with the weltpixel ajax auto complete.
2. Ran a composer install for Mageplaza_Smtp maybe that did

[2019-07-03 08:12] kleestb commented on #1442
Unfortunately #1448 did not work for us and we desperately need to have a working version. When can we expect a fix?

[2019-07-03 11:03] arnoudhgz opened #1454 "Virtual category: products don't show up when not sorted"
When using a virtual category the products don't show when they are not manually sorted.

### Preconditions
Magento Version : 2.3.2
ElasticSuite Version : 2.8.0
Environment : Production and Developer

### Steps to reproduce
1. Create a virtual category
2. Assign products according rules
3. Only manual sort one product
4. Reindex `catalogsearch_fulltext`
5. Go to your category page
6. See that only

[2019-07-03 11:13] paulpartington-cti opened #1455 "Attributes Not Searched With Spellchecking Turn Off"
### Preconditions

Magento Version : Magento EE 2.3.0

ElasticSuite Version : 2.8.0

Environment : Production

### Steps to reproduce
1. Create a text attribute for ISBN10 and ISBN13
2. Set the attributes to be searchable but disable spellchecking. Give the attributes a weighting of 10.
3. Enable Search Fuzziness
4. Run a seach reindex
5. Search for a product using an ISBN10 or ISBN13

### Expecte

[2019-07-03 13:30] arnoudhgz commented on #1454
Found a workaround solution for me: disabling the Magento_Elasticsearch* modules.

This ElasticSuite package should however complement the Magento packages instead of conflicting.

[2019-07-03 15:45] tratta commented on #1442
@kleestb did you try to restore the layer plugin ?
https://github.com/Smile-SA/elasticsuite/issues/1445

[2019-07-03 17:59] kirmorozov commented on #1442
It's weird, that Magento fellows allowed removal of the code without any prior notice, as pert of minor release.

[2019-07-04 06:29] LittleBigDev commented on #1450
Hello there,
Have someone been able to check this ?
A colleague of mine was able to reproduce the issue in the same docker environment. I'd be happy to give you more details if you struggle reproducing the bug.
Please keep me updated !

[2019-07-04 10:20] hanhpv commented on #1442
Same issue

[2019-07-04 10:24] southerncomputer commented on #1442
What is the issue you are getting after applying the patch?

[2019-07-04 14:55] #1424 closed

[2019-07-04 14:59] vitalidadatski opened #1456 "catalog_product index does not exist yet. Make sure everything is reindexed."
Hello. I have an exception when i try to use catalogsearch functionality.

Exception #0 (LogicException): catalog_product index does not exist yet. Make sure everything is reindexed.
<pre>#1 Smile\ElasticsuiteCore\Search\Request\ContainerConfiguration->getIndex() called at [vendor/smile/elasticsuite/src/module-elasticsuite-core/Search/Request/ContainerConfiguration.php:94]

Magento version - 2.3.1

[2019-07-05 05:38] kleestb opened #1457 ""/var/www/html/vendor/creativestyle/magesuite-opengraph/view/adminhtml/ui_component/cms_page_form.xml" is invalid"
**Description**
It's not possible to create or edit a cms page.

**Reproduce**

install Magento 2.3.1
set deployment mode to developer
install magesuite 2.0.3
install and activate creativeshop theme
clear cache and open the backend
go to Content -> Elements -> Pages -> Add New Page or edit a existing one
Expected
The cms page editor should be opened.

**Actual**
An error is displayed.

1 exception

[2019-07-05 09:15] nopenopenope commented on #1442
Same issue on Vanilla Magento 2.3.2, ES 6.1.8 and Module 2.8.0

[2019-07-05 10:01] FlinthDevs opened #1458 "No product found when using "Show all" on product list"
Using the "Show all" feature on products lists returns no result.

### Preconditions

Magento Version : 2.3.1 CE
ElasticSuite Version : 2.8.0
Environment : Developper

### Steps to reproduce

1. Enable "Allow all products per page" option in admin
2. Go on a product list page (category view or fulltext search)
3. Select "All" in "Show X per page" select

### Expected result
1. All products are lis

[2019-07-05 12:18] roma-glushko commented on #1452
Hi @romainruaud 👋
Maybe you have any insights about this issue? Looks like a case that should work

[2019-07-05 12:42] rbayet commented on #1458
Fixed by https://github.com/Smile-SA/elasticsuite/pull/1431

[2019-07-05 13:32] rbayet commented on #1452
Hello @roma-glushko,

You said

So I guess you mean you took care that records were correctly migrated for the `catalog_category_product` table :
[code]

In M2, Elasticsuite uses its own table for product positions in categories `smile_virtualcategory_catalog_category_product_position` :
[code]

It seems there never was a setup that would copy the data from `catalog_category_product` to `smile_vir

[2019-07-05 14:04] rbayet commented on #1432
Hello @LiamKarlMitchell,

Yes redirecting to the product page when there is only one search result is an Elasticsuite feature.
You can disable/enable in admin in "Stores > Configuration > Elasticsuite > Catalog Search > Redirect to product page if only one result".

Be careful: the M2 admin backend search is **not** powered by Elasticsuite.

Regards

[2019-07-05 14:06] rbayet commented on #1458
See also #1428

[2019-07-05 15:27] roma-glushko commented on #1452
@rbayet, this is a brilliant answer! Thank you very much that helped 👍
Here is a query to move position data if any else is needed it:
[code]

Is there other tables that might be empty, but it's needed to update them to make ES work well? For example, `smile_elasticsuitecatalog_category_filterable_attribute` or `smile_elasticsuitecatalog_search_query_product_position`. Do we need to have there any

[2019-07-05 17:37] southerncomputer commented on #1442
did you apply this patch and the #1444 patch as well?!

[2019-07-06 11:39] nuzil commented on #1445
This one is fixed issue for me. https://github.com/comwrap/elasticsuite-magento-patch

Hope will help somebody. If there are any problems please report or you can also push PR there

[2019-07-06 13:42] nopenopenope commented on #1442
Hi @southerncomputer, I'll apply the patch and revert further changes that I made in order to solve this. I'll let you know quickly.

[2019-07-06 14:07] nopenopenope commented on #1442
@southerncomputer after reindexing (as I said, fresh install, Data Migration has been done, tho):

[code]

[2019-07-06 14:30] southerncomputer commented on #1442
did you get this error after doing bin/magento indexer:reindex ?

[2019-07-06 14:32] nopenopenope commented on #1442
Yes, exactly. I made some calls to ES to check for active indicies and found only those. The numbers look to small. There are ~6k Products in the DB currently.

[code]

[2019-07-06 14:38] southerncomputer commented on #1442
It sounds like your product indexing is crashing/getting stuck! Might turn on var/log/debug.log and tail it while its doing indexing!
on my dev box it is showing
[code]

I know elasticsuite builds indexes with a temp name and then renames it as it completes successfully!

[2019-07-06 15:34] nopenopenope commented on #1442
Thanks for that hint with the Magento ElasticSearch Engine, that actually was an issue of not setting the Source to ElasticSearch.

[2019-07-08 07:23] romainruaud commented on #1457
Hello,

this is not related to ElasticSuite at all.

Please submit your issue on the "magesuite" repository.

Regards

[2019-07-08 07:23] #1457 closed

[2019-07-08 07:26] romainruaud commented on #1449
The PR for the category filter was this one, as stated in the changelog : https://github.com/Smile-SA/elasticsuite/pull/1388

Feel free to backport it to your version if you need it.

However, you should upgrade to latest Magento version since 2.1.9 is not supported anymore and 2.2 is scheduled for end of support on december.

Regards

[2019-07-08 07:26] #1449 closed

[2019-07-08 07:28] romainruaud commented on #1456
Hello @vitalidadatski

I'm afraid that we'll need more details.

Where does this message appear ?

If you are using ElasticSuite on top of a previously existing Magento instance, please ensure that ElasticSuite is set as default search engine on the configuration : **Stores > Configuration > Catalog > Catalog Search > Search Engine**.

This parameter should be set to Smile ElasticSuite.

[2019-07-08 07:32] romainruaud commented on #1455
Well for me this is the broken case I was describing in #1266 if I read it properly.

@rbayet I suggest you have a look on this one, maybe the first step is to find a workaround, prior to refactoring the spellchecking feature.

Regards

[2019-07-08 07:37] romainruaud commented on #1452
Hello @roma-glushko

the `smile_elasticsuitecatalog_category_filterable_attribute` is the table containing the per-category layered navigation filters. In case you did not notice, with ElasticSuite you are able to customize layered navigation filters per category, via a panel reachable on the "Display Settings" tab of the category page in the back-office.

=> This is a pure ElasticSuite feature, a

[2019-07-08 07:37] #1452 closed

[2019-07-08 07:38] romainruaud commented on #1454
Thanks for submitting it @arnoudhgz

Most probably, there is something that remain to be fixed with Magento 2.3.2.

Did you have the same behavior on Magento 2.3.1 ?

Regards

[2019-07-08 07:48] romainruaud commented on #1442
Good to know !

I'll work on this one this week.

But for me, the plugin can be removed, since the Stock management is now done with a search context filter :

https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/Model/Product/Search/Request/Container/Filter/Stock.php

[2019-07-08 07:51] romainruaud commented on #1437
Ok, I found it.

I did no notice previously but look at your data for the "current_page" field which is problematic :

`current_page":"1' (SELECT 0 FROM (SELECT SLEEP(28))qsqli_2222)`

It looks like someone has been trying to attack you with SQL injection.

If you remove all "hacky" records from the `elasticsuite_tracker_log_event` table everything should run fine.

[2019-07-08 07:54] romainruaud commented on #1291
@southerncomputer can you publish your patch as a PR ?

[2019-07-08 08:21] arnoudhgz commented on #1454
No only occurred when upgrading to Magento 2.3.2 (which also contained a lot off changes provided by Smile ;) concerning the ElasticSearch implementation).

[2019-07-08 09:45] romainruaud commented on #1404
Fixed in associated PR.

[2019-07-08 09:45] #1404 closed

[2019-07-08 09:45] romainruaud commented on #1421
Fixed by PR #1430

[2019-07-08 09:45] #1421 closed

[2019-07-08 09:46] romainruaud commented on #1420
Fixed by associated PR

[2019-07-08 09:46] #1420 closed

[2019-07-08 09:46] romainruaud commented on #1418
Fixed by associated PR.

[2019-07-08 09:46] #1418 closed

[2019-07-08 09:48] romainruaud commented on #1454
Hmm... afaik all changes I made to Magento_ElasticSearch have been already merged into Magento 2.3.1. If something changed between 2.3.1 and 2.3.2 Smile was not involved.

I'll have a look on it anyway.

Regards

[2019-07-08 13:27] romainruaud commented on #1458
Fixed by associated PR #1460

[2019-07-08 13:27] #1458 closed

[2019-07-08 13:28] romainruaud commented on #1450
Well it's probably not the good repository for this one.

As far as I understand, it's related to the "Elasticsuite For Retailer" module.

Since it's not reproduced on an Elasticsuite (alone) installation, there's not much we can do here.

Regards

[2019-07-08 13:28] #1450 closed

[2019-07-08 13:31] romainruaud commented on #1445
Fixed by PR #1461

[2019-07-08 13:31] #1445 closed

[2019-07-08 13:31] romainruaud commented on #1442
Fixed by PR #1461

[2019-07-08 13:31] #1442 closed

[2019-07-08 13:34] romainruaud commented on #1447
@barbarosselimbuyukelci

did you give a try to the legacy Elasticsearch indexing ? the one provided by Magento. I'm curious to see the difference between their version and the ElasticSuite one.

I see that you are still on Developer mode also, you should probably try in production mode.

Also, hardware is fine but are the MySQL and Elasticsearch configuration fine-tuned ?

Where are theses compone

[2019-07-08 13:54] romainruaud commented on #1454
Actually, I'm not able to reproduce this issue on Magento 2.3.2 and Elasticsuite 2.8.x **dev branch**.

For now, i'll consider this one as being fixed as part of our commitment to fix properly compatibility with Magento 2.3.2.

Can you test the 2.8.x branch on your environment and let us know if the issue is still happening (even when letting the Magento_Elasticsearch module enabled).

Regards

[2019-07-08 14:00] romainruaud commented on #1428
I close this one for reasons explained in the PR.

If I missed something, please create a new issue with a scenario explaining why things are not working as expected.

Regards

[2019-07-08 14:00] #1428 closed

[2019-07-08 14:14] romainruaud commented on #1453
Hello @ChintanKaneriya

I did not dig into the Weltpixel extension source code (and I cannot, since it's not open source), but it's likely unprobable that you can have both this one and Elasticsuite on your website.

Especially considering their extension is providing the same thing as the Elasticsuite autocomplete box.

That being said, supporting third party paid extension is not part of our com

[2019-07-08 14:14] #1453 closed

[2019-07-08 14:15] romainruaud commented on #1451
For now, I'm not able to reproduce this one.

Did you proceed with compiling after upgrading your Magento instance ?

Regards

[2019-07-08 14:35] romainruaud commented on #1408
@androshchuk can you check this one ?

Regards

[2019-07-08 14:39] romainruaud commented on #1446
Not exactly... In fact, *Max number of products in any categories should be >=50*, but the total sum of all categories can be >50 because a product can belong to several categories.

That being said, please kindly give us more details :

- Magento Version
- Elasticsuite Version
- list of third party modules
- how is your "availability" attribute created ? is it a swatch attribute ?

Regards

[2019-07-08 14:40] romainruaud commented on #1435
I close this one for being poorly documented/explained.

Please next time, take the time to give us more details about the version of components and how to reproduce the bug.

Thank you

[2019-07-08 14:40] #1435 closed

[2019-07-08 14:43] romainruaud commented on #1370
This is already stated in our FAQ here :

https://github.com/Smile-SA/elasticsuite/wiki/FAQ#i-have-problems-with-the-pagination--sorting

And link to a veeeeery ooold Magento 2 legacy bug :

https://github.com/magento/magento2/issues/7253

[2019-07-08 14:43] #1370 closed

[2019-07-08 14:45] romainruaud commented on #1415
Quazz is right imho and you are probably using ElasticSuite 2.8.x on a Magento 2.2.x which is not possible.

If that's not the issue and you want us to help you further, please give us the "real" composer json which is used into your platform.sh environment.

[2019-07-08 14:50] danharper83 commented on #1415
Sorry this can be marked as closed, something had gone wrong with my composer file.

[2019-07-08 14:50] #1415 closed

[2019-07-08 14:56] LittleBigDev commented on #1450
Well, I already opened the [very same issue there](https://github.com/Smile-SA/magento2-module-retailer-offer/issues/41), and they told me it was a smile/elasticsuite issue.
I will try to install module alone to check if issue is still reproducible.
I'll keep you up to date.

[2019-07-08 15:00] romainruaud commented on #1433
This one might be due to the position of the `toolbar` block in the layout.

@androshchuk can you investigate on this one ?

Regards

[2019-07-08 15:01] romainruaud commented on #1278
I close this one since Magento Cloud team handled it.

Regards everybody for participating !

[2019-07-08 15:01] #1278 closed

[2019-07-08 15:03] romainruaud commented on #1184
Maybe @androshchuk you can be better than us to deal with this one.

Let us know if you have any knowledge about something that could be able to "filter all non-word characters except cyrillic".

Vanilla PHP would be the better, we do not plan to being forced to add third-party extensions to deal with this.

Regards

[2019-07-08 15:20] marvinhinz commented on #1442
Thanks! Could create a new release with this merge?

[2019-07-09 08:39] pawcioma commented on #1446
Magento Version: 2.2.5
ElasticSuite Version: 2.6.6
how is your "availability" attribute created ? is it a swatch attribute ?: Availability is EAV attribute(int), but problem is with any attribute.
List of third party modules:
https://themeforest.net/item/fastest-magento-2-themes-magento-212-magento-19-multipurpose-responsive-theme-10-design/16178989
 - Plugin to Smile\ElasticsuiteCatalog\Model\Lay

[2019-07-09 08:54] faisalirfan361 commented on #1437
Thanks @romainruaud  it worked. :)

[2019-07-09 08:54] #1437 closed

[2019-07-09 15:36] PierrickOlivier opened #1462 ""Only discounted products" shows products with a price per group of customer"
### Preconditions
J'ai eu ce problème sur Magento Commerce 2.3.1 avec Elastic Suite.
je peux fournir un accès à cette plateforme si besoin( par message privé)

### Steps to reproduce
* Sur un produit X, définir un prix plus bas valable uniquement pour un groupe de client Y.
* Créer une catégorie virtuelle avec la règle "only discounted products"
* En front, aller sur cette catégorie virtuelle : ce

[2019-07-09 15:38] PierrickOlivier opened #1463 "404 errors on the demo website"
Le site de démo http://demo.magento-elastic-suite.io est un peu "cassé":
* La catégorie "Women" n'est pas à côté de "Men". Elle n'a plus ses sous-catégories.
* Quand on clique sur "Women" et qu'on essaye d'aller sur une sous-catégorie, on a une erreur 404
* Idem sur la catégorie "Sale" et "What's new", il y a des erreurs 404 sur les sous-catégories

Ces erreurs 404 partout, ça donne l'impression q

[2019-07-09 16:14] southerncomputer commented on #1291
unfortunately, it is still having this problem of being caught by Private site restrictions and getting a 302 to customer/account/login/ . I had to whitelist the url for now otherwise you get wonky page loads within page-loads which amplified by javascript actions cause double event-firing and the login referer script redirects to hit.php.. etc. It must be the way tracking.js is calling hit that i

[2019-07-09 16:24] PierrickOlivier commented on #1462
Je vois que j'ai le même problème dans les règles de boost: une règle de boost sur "only discounted products" boost aussi les produits avec un prix par groupe de client.

[2019-07-09 16:53] qsolutions-pl opened #1464 "Missing "position" column when assigning products to category"
### Preconditions

Magento Version : 2.3.x

ElasticSuite Version : 2.8.0

Environment : both Developer & Production mode

Third party modules : none

### Steps to reproduce

1. Enable module
2. Go to category page in backend, assign products to it
3. Try to assign custom product position

### Expected result

1. Visible column "Position" when setting up product order

### Actual result

1. [Screen

[2019-07-10 04:41] kevinvuillemin commented on #228
Hello, did you find a solution for magento 2.3 ?

[2019-07-10 09:59] pawcioma commented on #1446
You have right but when I have selected availability filter in layer navigation, category have number of products equel sum of products in category. When I choose category and select availability number of products is defferent then I saw before I choose category in layernavigaiton.

[2019-07-11 03:36] skazhikadyadya commented on #1442
Hi, excuse me, how i can implement that XML? Thanks.

[2019-07-11 03:37] skazhikadyadya commented on #1442
Some problem.

[code]
Latest M2. How I can quickly fix that? Thanks.

[2019-07-11 04:31] kevinvuillemin opened #1465 "tracking_log_session index does not exist yet. Make sure everything is reindexed"
Hello,

Very nice,

All done without an error in analytics :
tracking_log_session index does not exist yet. Make sure everything is reindexed.
tracking_log_event index does not exist yet. Make sure everything is reindexed.

My products and categories are indexed.

An idea ?

Magento version - 2.3.2
smile/elasticsuite": "^2.8

![Sélection_082](https://user-images.githubusercontent.com/12586404/6102

[2019-07-11 08:07] humanwere commented on #1442
@skazhikadyadya I fix like this;

[code]

[2019-07-11 10:04] PierrickOlivier opened #1466 "Hiding "Marketing > Search Synonyms" ?"
After installation of Elastic Suite, the screen "Marketing > Search Synonyms" is still available.
This is a bit confusing with Elastic Suite Thesaurus, a user may use the wrong screen and enter synonyms in this screen.

**Describe the solution you'd like**
The problem can be solved by configuration (using a restricted profile) but if you don't think to do it...

My suggestion: maybe we could hide

[2019-07-11 11:29] PierrickOlivier opened #1467 ""search by SKU" in the Merchandiser"
In the menu "Search term", when you click "Merchandisier", a screen is displayed to sort products by drag & drop.

In this screen it is not possible to search for a product by SKU.

This search is available on the category page, but is not available in the search term. It would be nice to add it because in the search result page we frequently have many products displayed.

(this feature has been s

[2019-07-11 12:26] skazhikadyadya opened #1468 "is_virtual_category attribute name is invalid"
Hi. After install ES on my latest M2 I see that on search results:

[code]
How I can solve that?

Thanks.

[2019-07-11 12:48] romainruaud commented on #1463
Fixed

[2019-07-11 12:48] #1463 closed

[2019-07-11 13:07] romainruaud commented on #1465
Hello @kevinvuillemin

there is a cronjob indexing periodically the tracker data. So on a cold start, it's normal to have nothing.

What you should check now is :

- when you browse the frontend of your website, you should see data coming in the table `elasticsuite_tracker_log_event`

- your crontab has to be set up properly so that data will be sent from this table and indexed into ES periodicall

[2019-07-11 13:13] pawcioma commented on #1446
I found reason. Problem is with `Smile\ElasticsuiteVirtualCategory\Model\Layer\Filter\Category`. I overwrite configuration from `vendor/smile/elasticsuite/src/module-elasticsuite-virtual-category/etc/frontend/di.xml` and I set
`<virtualType name="categoryFilterUsingRewrite" type="Smile\ElasticsuiteCatalog\Model\Layer\Filter\Category">
        <arguments>
            <argument name="useUrlRewrites"

[2019-07-11 13:15] romainruaud commented on #1468
Hello @skazhikadyadya

I'm sorry but we have too much people submitting not enough qualified issues.

I close this one and won't answer anymore on it.

Open a new issue, by selecting the "Bug report", and then, fill out everything what is listed on the issue template : component versions, third party modules, scenario to reproduce, and so on.

Without these details we are blind to give you an answ

[2019-07-11 13:15] #1468 closed

[2019-07-11 13:17] romainruaud commented on #1464
@qsolutions-pl this is by design. We removed the column since users can manage product position by using the Visual Merchandiser (drag and drop tool) that is provided by Elasticsuite.

Regards

[2019-07-11 13:17] #1464 closed

[2019-07-11 15:17] romainruaud commented on #1433
@tieroom @stoutik can you check again this one against ElasticSuite 2.8.1 ?

It appears to be fixed (probably as a side effect of https://github.com/Smile-SA/elasticsuite/commit/5d9733a8d0eadf49b8ec9e3dee48a58e2678b335 or https://github.com/Smile-SA/elasticsuite/commit/9ce50b98de7fac6b7dc078926c201dd916efa42c )

[2019-07-12 03:09] kevinvuillemin commented on #1465
Thanks a lot, I thought it was with command: indexer:reindex.

It works very well, thank you

[2019-07-12 07:42] stoutik commented on #1433
@romainruaud
I just made an ElasticSuite update to 2.8.1, all works well, thank you very much.

[2019-07-12 12:00] romainruaud commented on #1433
Good to know ! thank you @androshchuk for pointing me this one.

I close if it's resolved !

[2019-07-12 12:00] #1433 closed

[2019-07-12 15:02] #1465 closed

[2019-07-15 06:29] qsolutions-pl commented on #1464
@romainruaud ok I do get that, but it is impossible or very hard to manage large database with over 50k products. Maybe consider position parameter to be configurable somewhere?

[2019-07-15 15:12] romainruaud commented on #1244
Closing, we won't go further on this one for now.

Regards

[2019-07-15 15:12] #1244 closed

[2019-07-15 15:15] romainruaud commented on #66
@androshchuk please have a look on this one, probably my old (and unmerged) PR is a good start since it was nearly finished when I wrote it.

Regards

[2019-07-17 06:39] TexnikTexnolog opened #1472 "Товар в самиый вверх с помощью "Optimizers List" не смотря на "Manual Sort""
Доброго времени суток.
Я закрепил товар в категориях с помощью "Manual Sort"  http://prntscr.com/og464i
И товар в категория находится с верху в том порядке что и нужно.
Но у меня возникает потребность поднимать товар на который есть скидка в самый верх категории (над тем товаром что я выставил с помощью  "Manual Sort" )
Акционный товар я поднимал вверх в "Optimizers List" http://prntscr.com/og49dd

[2019-07-17 11:24] androshchuk commented on #1472
Доброго времени суток.
Спасибо за Ваш вопрос.
Мы не планируем вводить такую функцию в ElasticSuite. Продукты с "Manual Sort" всегда будут иметь приоритет над продуктами, которые подпадают под оптимизаторы. Так было задумано и, вероятно, не изменится в ближайшее время. Вы можете самостоятельно изменить это поведение переопределив методы Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Fulltext

[2019-07-17 11:24] #1472 closed

[2019-07-18 14:09] Jurhillebrink opened #1473 "Search optimizer not working on 2.8.1"
The search optimizer doesn't work anymore after upgrading elasticsuite to 2.8.1

### Preconditions

It is not working on Magento 2.3.2 with 2.8.1 and not working on magento 2.3.1 with 2.8.1. When I downgrade Elasticsuite to 2.8.0 on Magento 2.3., the search optimizer works properly.

Magento Version : CE

ElasticSuite Version : 2.8.1

Environment : Developer mode

Third party modules : =

### Step

[2019-07-18 15:05] pawcioma commented on #1446
I testing it and looks like virtual category stop working. Listing is empty. How Can I fix it ? Count products in filter works fine with "Smile\ElasticsuiteCatalog\Model\Layer\Filter\Category" but virtual category stop working. When I used "Smile\ElasticsuiteVirtualCategory\Model\Layer\Filter\Category" number of products in filter working wrong.

[2019-07-18 16:38] pawcioma commented on #1446
I fixed it myself. If it was fixed in some version send me which version

[2019-07-18 19:19] pawanguleria commented on #670
Install the Patch for Magento 2.X and after that clear your cache and static folder and then upgrade and deploy, you will get everything fine.

[2019-07-19 09:34] aario opened #1474 "is_virtual_category attribute name is invalid"
I get the error:
[code]
### Preconditions
docker-compose
Debian Sid host

Magento Version : 2.3.2

ElasticSuite Version : 6.8.1

Environment : developer

Third party modules : N/A

### Steps to reproduce

1. Install the extension
2. Run `setup:upgrade` command
3. Run `indexer:reindex` command
4. Search for anything in magento front4end

### Expected result

1. Search should return results

### Act

[2019-07-19 09:42] aario commented on #1474
So the problem was for some unknown reason, magento didn't install extensions completely, but just created records in setup_modules table and didn't run install/upgrade scripts. Deleting the record for `Smile_ElasticsuiteVirtualCategory` in that table and run `setup:upgrade` fixed the problem.

[2019-07-19 09:42] #1474 closed

[2019-07-19 14:54] romainruaud commented on #1473
@androshchuk can you try to reproduce this one against both described versions ?

Regards

[2019-07-19 14:55] cconway24 commented on #1465
I am seeing this same error so I looked in the elasticsuite_tracker_log_event table and it's empty. Where should I look next as to why data isn't being populated?

[2019-07-19 20:27] lingwooc opened #1476 "Products with no "saleable quantity" shown on front end"
### Preconditions

Debian stretch
Php 7.2
Docker
elasticsearch 6.8.1

Magento Version : 2.3.2

ElasticSuite Version : 2.8.1

Environment : Developer

Third party modules : None that affect inventory

### Steps to reproduce

1. Single inventory source. Decrease Stock When Order is Placed: Yes, Display Out of Stock Products: No
2. Setup a simple product with a stock of 1, in stock
3. Sell your bundl

[2019-07-20 08:18] Renu05 opened #1477 "Getting Error in exception log in Magento 2: Call to a member function getValues() on null at /vendor/smile/elasticsuite/src/module-elasticsuite-tracker/Model/ResourceModel/SessionIndex.php:69)"} []:"
SmileSuite throwing an error Call to a member function getValues() on null at
 /vendor/smile/elasticsuite/src/module-elasticsuite-tracker/Model/ResourceModel/SessionIndex.php:69)"} []

### Preconditions
Our site is configured in Magento cloud. we have configured Redis ,Elasticsearch
We are using Smilesuite and found that whenever we refresh the product listing page we are getting an error in excep

[2019-07-22 09:20] romainruaud commented on #1476
@lingwooc thank you for submitting this issue.

Could you please try reproducing it on a raw Magento without ElasticSuite ? I'm curious to check if it's only MSI related or if it's more linked to how ElasticSuite is proceeding with MSI data during reindex.

regards

[2019-07-22 09:30] berwa opened #1478 "Behavior of category suggest"
In one of our projects we encountered a very strange behavior regarding the category-suggest: it only seems to work properly if the category's name was once searched for.

### Preconditions
Magento Version : Commerce 2.2.9
ElasticSuite Version : 2.6.9
Environment : all modes
Third party modules : none (reproduced on plain installation: only Magento, sample-data and Elasticsuite)
important: no sear

[2019-07-22 11:32] Fdec opened #1479 "Add ignore_above: 256 on untouched in mapping"
Hi

On untouched field in the mapping, there is not automatically "ignore_above: 256", saw with @rbayet .

Magento 2.3.1
Elasticsuite 2.8.1
Elasticsearch 6.5.4

[2019-07-22 13:04] romainruaud commented on #1479
@androshchuk can you handle this one ?

Probably a good location to investigate is on : https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-core/Index/Mapping/Field.php#L357

[2019-07-23 06:45] woutersamaey commented on #1303
Are there many breaking changes for 7.x?

[2019-07-23 08:05] #1432 closed

[2019-07-23 08:05] #1456 closed

[2019-07-23 13:39] romainruaud commented on #1446
So this issue can be closed @pawcioma  ?

[2019-07-23 13:41] romainruaud commented on #1303
@woutersamaey not that much, there is some things to be taken into account.

In fact I decided to put this on pause until elasticsearch releases their official PHP client, which was a bit delayed. Since it's available now, we'll be able to get back to this topic.

Anyway, such a change will be for ElasticSuite 2.9 (next major version) so that anybody still on Elasticsearch 5 will be able to stay o

[2019-07-23 14:05] #1454 closed

[2019-07-23 14:05] #1447 closed

[2019-07-23 15:07] #1451 closed

[2019-07-24 11:42] timovanhilst opened #1482 "Contacting elasticsuite to elastic cloud"
Hello!

I'm new to Elasticsearch/Elasticsuite.
And I'm trying to figure out how to use Elasticsuite in combination with hosting Elasticsearch at Elastic cloud (elastic.co).

I searched on the internet for a guide/tutorial but I can't find much about it.

Can someone help me?
it is greatly appreciated! :)

[2019-07-24 22:51] nthurston opened #1483 "1 Column layout - Category filter does not get set, all categories show same products"
### Preconditions

Magento Version : Magento CE 2.2.8

ElasticSuite Version : 2.6.9

Environment : Default

Third party modules :

### Steps to reproduce

1. Use a 1 column layout for category view page
2. Set manual sort on any product in any category
3. Go to front end any category

### Expected result

1. Should see that category's products

### Actual result

1.  All categories show the same p

[2019-07-25 08:08] aario opened #1484 "How to show short_description in autocomplete results?"
**Is your question related to a problem? Please describe.**
How to show short_description in autocomplete results? It's not a filterable attribute though.

**Additional context**
The Show in Autocomplete option doesn't appear for this attribute in Admin Panel> Product Attributes> Edit> Store Front Properties

[2019-07-25 09:11] david-fuehr commented on #1159
For our projects this recurring script is problematic for the same reason as mentioned above.

This implemented behavior has two effects:
* The `setup:upgrade` command is no longer able to import application config (`\Magento\Setup\Console\Command\UpgradeCommand::execute` -> `$importConfigCommand->run($arrayInput, $output);`) as the hash is always up to date
* A missing store (`app:config:import`)

[2019-07-25 14:16] LittleBigDev opened #1486 "How to change virtual category rules programmatically ?"
I am trying to programmatically change a normal category to virtual category.
Everything is ok except virtual rule. I didn't figure out how to pass rules data (I didn't find examples in your code).

This is what I have so far (result is a virtual category with empty virtual rule) :
[code]
I think I'm doing something wrong either in rule data structure, or in the way I pass it to the category (or m

[2019-07-26 16:13] JamesAllwood opened #1488 "Parent products excluding children_attributes"
At the moment, this is a question, not a bug.

Tested on Magento 2.3.2 and ES 2.8.1

I noticed that in one site running elasticsuite, the results in the layered navigation didn't seem correct. For example, on a particular category, there should have been around 10 results for the colour `Orange`.

After investigation, I looked in to the data store in elasticsearch, and could see that for the confi

[2019-07-29 05:35] JamesAllwood commented on #1488
I figured this out in the end. It seems that if the parent item has a value for an attribute, ES does not include the values of the child in the children_attributes. So, if you're also experiencing this issue, just remove the value from the configurable product, and it should all work correctly.

I'm not sure if this is a bug or intentional? Certainly the default layered navigation doesn't work in

[2019-07-29 12:51] jsterling commented on #1482
Very little setup is required. Once you've created a deployment in Elastic Cloud, in Magento admin go to:

Store > Configuration > ElasticSuite > Base Settings

- Servers List: use 'Copy Endpoint URL' in your ElasticCloud dashboard to get the URL. You may need to remove the https:// prefix
- Use HTTPS = Yes
- Enable basic HTTP Authentication = Yes
- Basic HTTP Authentication User = elastic
- Passw

[2019-07-30 04:06] kevinvuillemin opened #1489 "Filter price including Taxes (VAT)"
Hello,

The catalog search show the product list with prices inluding taxes, but the price filter show the values without taxes.

Do you know if is possible to show the price slider with taxes please ?

PS : In the configuration, all prices options are displayed with "include taxes".
We have VAT in france  ;-)

[2019-07-30 08:26] romainruaud commented on #1483
Hello,

you are using an old version of ElasticSuite (and Magento) which is out of scope of our Open Source support policy here on Github.

This is a known bug, due to Magento legacy layout (see https://github.com/Smile-SA/elasticsuite/issues/864 for a potential workaround) which has been fixed on recent versions of Magento.

Regards

[2019-07-30 08:31] romainruaud commented on #1484
Duplicate of #953

Also see https://github.com/Smile-SA/elasticsuite/issues/1416 for a detailed answer.

Regards

[2019-07-30 08:31] #1484 closed

[2019-07-30 08:35] romainruaud commented on #1489
To be honest, there is most probably something strange on your Magento instance, probably in the taxes configurations or in the display configuration for taxes.

We are in France too, and already done a lot of projects with ElasticSuite and we never faced this issue.

Can you give us more details :

- screenshot of all taxes related configurations
- your exact use case, what you have in the catalo

[2019-07-30 10:45] cmuench commented on #1489
Possible relation to #1003

[2019-07-30 11:29] george1604 opened #1490 "Stock Status boost Optimizer not working properly"
I tried to set up an Optimizer as described in this post: https://github.com/Smile-SA/elasticsuite/issues/704. The problem is that the in-stock products are distributed on pages (2 in-stock products are on top of the first page, another 3 products are on top of the second page and so on). Is this normal or am I missing something?

### Preconditions
Magento Version : 2.2.7
ElasticSuite Version : 2.

[2019-07-30 20:00] tieroom opened #1492 "Imported configurable products not visible in search or layered nav"
### Preconditions
Magento Version : 2.3.1 on PHP 7.2
ElasticSuite Version : 2.8.0
Environment : Developer

### Steps to reproduce
1. Using the standard magento product import, import a configurable product including its simple children. Have them all added to categories and visibility of all set to "catalog,search".
2. Reindex and clear cache
3. Try finding the imported products in layered navigat

[2019-07-30 20:33] kevinvuillemin commented on #1489
You can see my taxes configurations and search results in the catalog :

![screencapture-as-de-trefle-nc-admin-as-admin-system-config-edit-section-tax-2019-07-31-07_28_33](https://user-images.githubusercontent.com/12586404/62162872-e87b3180-b364-11e9-873b-eb2989c55bca.png)

![Sélection_008](https://user-images.githubusercontent.com/12586404/62162878-eca74f00-b364-11e9-9024-60a6e26d8cb1.png)

[2019-07-31 06:03] cmuench commented on #1489
That's exactly what we had in one of our shops.
We fixed that with a module which overwrites the price value in the index by respecting the default tax class. See PR #1003.

[2019-07-31 06:06] kevinvuillemin commented on #1489
Yes but we have several taxes you kow ?

[2019-07-31 07:11] cmuench commented on #1489
@kevinvuillemin you mean, several taxes per product?

[2019-07-31 09:29] androshchuk commented on #1492
Hello, tieroom. Thank you for your report. Сan you give me your import file?

Regards

[2019-07-31 11:35] tieroom commented on #1492
So you've got two files here. new_products_for_import.csv adds to file to the admin and new_products_translation_for_import.csv adds it for a specific store front.

These obviously include a lot of specific stuff for our store. I'm going to try scale it down to a single file that can be imported on a vanilla magento and see if the issue can be reproduced there. But, in the meantime, if you can say

[2019-07-31 12:25] romainruaud commented on #1477
Fixed by PR #1491

[2019-07-31 12:25] #1477 closed

[2019-07-31 12:26] romainruaud commented on #1473
Fixed by PR #1480

[2019-07-31 12:26] #1473 closed

[2019-07-31 12:26] romainruaud commented on #1184
Fixed by PR #1471

[2019-07-31 12:26] #1184 closed

[2019-07-31 14:37] romainruaud commented on #1489
I don't understand why "Catalog Prices : Excluding taxes".

Afaik we always consider that product prices are "incluging TVA" when contributing a product in the BO.

But that explain your bug, clearly, basically, we index into Elasticsearch what is stored into the `catalog_product_price_index` table.

So if product prices are created excluding taxes, this would lead to this table to contain excludi

[2019-07-31 14:48] romainruaud commented on #1489
I'm not a huge fan of #1003 implementation since it involves "recalculating" each product price during indexing.

I'd instead do this in javascript directly in the price slider, as we did previously for the multiple currencies : https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/view/frontend/web/js/range-slider-widget.js#L45

[2019-07-31 15:33] cmuench commented on #1489
@romainruaud In most of the B2B shops, the product prices are "excluding tax".
I had a discussion with some Magento developers, years ago.
IMHO the price index should contain the prices with and without tax. Magento does not understand that. They are developing in their demo store with demo data and US environment which needs tax only in the checkout.
I am also not a big fan of the workaround of P

[2019-07-31 22:52] Xoce51 commented on #1489
Hi I'm facing the same issue too :/

@romainruaud

I thought about setting the price "including VAT" but I was wondering if we save the product including VAT, and for some reason we need to change the amount of the VAT, the price of the product won't change and will be wrong ? (I don't know if you will follow me ;) trying to give an exemple: My product price: 100€ (incl. VAT 20%) I change the VAT

[2019-08-01 11:46] romainruaud commented on #1482
Thanks @jsterling for answering this one, I could not have done better :)

 @timovanhilst is ok for you ? May I close ?

[2019-08-01 12:20] tieroom commented on #1492
Turns out the reason was not to do with the root category. It was simply because of a custom attribute (barcode) which was not being populated for the configurables. Once I set this to a random value the configurables also got indexed. I'm gonna guess this is a magento core issue rather than a smile issue. Feel free to reopen if you feel differently and want more details.

[2019-08-01 12:20] #1492 closed

[2019-08-02 10:19] rbayet opened #1494 "Dynamic rows JS error in optimizer form with category limitation and no search terms"
When an optimizer is configured for both catalog and search containers and category limitations are configured, there is a javascript error produced when the form is re-opened after the form has been saved while the search terms limitation panel was left opened without any terms selected.

### Preconditions

Magento Version : 2.3.0 EE, CE

ElasticSuite Version : 2.8.x-dev

Environment : Developer

[2019-08-02 12:19] #1494 closed

[2019-08-04 01:51] satellite1 opened #1496 "Magento 2.3.2, ES 2.8.0 Error: "Please upgrade your database""
Fresh virgin install of Magento 2.3.2 OSE
PHP 7.2.19
MySQL 5.7.25
Developer Mode
Note: Everything working until adding:
composer require smile/elasticsuite ~2.8.0

sudo php bin/magento setup:upgrade
sudo php bin/magento setup:di:compile
etc..

![image](https://user-images.githubusercontent.com/16124737/62418502-e3093a00-b637-11e9-9901-702f26eb62f2.png)

My educated experienced guess would be an in

[2019-08-05 09:37] romainruaud opened #1497 "Swatches attributes not displayed with Manual Sort"
### Preconditions

Magento Version : 2.3.x

ElasticSuite Version : 2.8.x

Environment : dev and/or prod

Third party modules : none

### Steps to reproduce

1. Create a *visual swatch attribute* with some values and attached visuals (like `color` attribute)
2. Set it to be filterable in search and in layered navigation
2. Set the *Facet Sort Order* to *Admin Sort*
3. Reindex if needed, go to a fro

[2019-08-05 10:50] satellite1 commented on #1496
@romainruaud

Hello,

The ESS should not be enabled nor looking for a local ES install just to install the module. Magento 2.3.2 still sets search to MySQL as default. In my architecture, the design is to have the Elasticsearch server on a separate instance.

Thanks for the reply.

Regards,

[2019-08-06 08:26] royandre opened #1498 "Group attribute values in facets"
When filtering on typically colors or sizes, there often exists hundreds of attribute values (e.g "Dark Red", "Blood Red", "Rose Red", "Red'ish" and what not), and so we need to group attribute values like this over to another attribute typically called "color_filter", which only has "Red", "Blue", etc. and where all the red variants are mapped to the "Red".

Then, the "color_filter" attribute is

[2019-08-06 12:29] romainruaud commented on #1496
ElasticSuite sets himself as default when installing the module. So you must have an Elasticsearch server running somewhere.

It can be on a separate instance but in this case you have to properly set it into the configuration :  https://github.com/Smile-SA/elasticsuite/wiki/ModuleInstall#magento-is-already-installed-

[2019-08-06 12:47] satellite1 commented on #1496
@romainruaud

That's a catch 22 for many. You can't configure ES if the server is crashed, because the ES failed to install, and of course not too many end users will want to or have the experience to CLI install.

My suggestion, [if possible] is not to set ES as default on install. Let the end user enable and configure the module first, because not everyone will have port 9200 open, and not every

[2019-08-06 12:47] #1496 closed

[2019-08-06 14:36] androshchuk commented on #1497
Hello, @romainruaud . I fixed this https://github.com/Smile-SA/elasticsuite/pull/1499 and did a little refactoring.

Regards

[2019-08-07 12:31] alinalexandru commented on #1476
I was able to reproduce on a Magento default without ElasticSuite.
It seems that the issue is from Magento with MSI.

[2019-08-07 14:12] romainruaud commented on #1476
Great, so I close this one, please open a new issue directly on Magento MSI repository.

Regards

[2019-08-07 14:12] #1476 closed

[2019-08-07 14:32] #1446 closed

[2019-08-08 07:28] #1483 closed

[2019-08-08 07:30] romainruaud commented on #1490
The `LIMIT 10` usually comes from the pagination toolbar of Magento. Do you have any configuration related to this ?

Maybe you should try to trace back if there is a call to `setPageSize` on the collection and find out who is applying this.

regards

[2019-08-08 07:32] romainruaud commented on #1478
It's by design, see my answer here : https://github.com/Smile-SA/elasticsuite/issues/1413

I consider this issue as a duplicate

[2019-08-08 07:32] #1478 closed

[2019-08-08 07:33] romainruaud commented on #1467
@androshchuk I think you may have a try on this one

[2019-08-08 12:29] wmwnuk opened #1500 "Sorting doesn't work on multistore non-default storefront"
### Preconditions

Magento Version : 2.3.0 Community Edition / Open-Source Edition

ElasticSuite Version : 2.8.0

Environment : Developer and Production mode

Third party modules :
Infortis_Infortis
Infortis_Brands
Infortis_Cgen
Infortis_Dataporter
Infortis_Base
Infortis_UltraSlideshow
Infortis_UltraMegamenu
Infortis_Ultimo

(I've listed only modules affecting layered navigation / search page sinc

[2019-08-08 22:37] jesse-thomas opened #1502 "M1 vs M2 Module - Virtual Attributes and Rule Conditions"
In the M1 version of this module there was...
- A Virtual Attribute feature to allow product attributes to be based on Smile or other catalog rule conditions. It was very powerful, for example to add an In Stock or On sale filter to search results or even a catalog rule.
- A Catalog rule condition for "Only new products" which we used for a New Products virtual category.

I don't see those options

[2019-08-08 22:50] jesse-thomas commented on #1502
Just found pr #595 and it worked for creating the "only new products" condition.

[2019-08-09 09:27] romainruaud commented on #1408
Fixed by #1470

[2019-08-09 09:27] #1408 closed

[2019-08-09 09:37] romainruaud commented on #66
Closed by associated PR !

[2019-08-09 09:37] #66 closed

[2019-08-12 15:30] LilyBergonzat opened #1503 "Visual swatches values not displayed in the right order in the filters"
When a filter is a visual swatch, its values won't respect the order defined in the attribute administration (for example: number of results).

### Preconditions
Have an attribute being a visual swatch, with multiple values.
Have each of those values return a different amount of products.

Magento Version : 2.3.2
ElasticSuite Version : 2.8.1
Environment : Production
Third party modules : None (tes

[2019-08-12 19:03] YannBergonzat commented on #1503
Actually there seems to be the same problem on the category filter. Don't know if it's only "visual swatches and category" or just all filters though. Some of them are working just great!

[2019-08-14 15:24] leonardovilarinho opened #1504 "How to add custom attributes?"
Hi,

I'm new to Magento 2 and Elastic, I was wondering if in this module I can put custom attributes in Elastic. I installed the module, and saw that in Elastic not all attributes of categories and products appear.

For example, in the categories does not appear the image link. Products do not show data about Magento custom options.

Can I add new attributes to Elastic? Can anyone tell me the way

[2019-08-15 07:26] androshchuk commented on #1504
Hi, @leonardovilarinho

Please read ElasticSuite wiki https://github.com/Smile-SA/elasticsuite/wiki/Attribute-configuration and don't forget to reindex.

Regards

[2019-08-15 08:52] perrivdb opened #1505 "Elasticsearch displays categories from different storeview"
Elasticsearch displays categories in search results that are not enabled in the current storeview. Clicking on the result directs you to a 404 page.

Any idea where this is going wrong?

[2019-08-16 09:02] androshchuk commented on #1505
Hello, @perrivdb

You have not provided enough information about the issue.
If I understood correctly the problem is that the disabled category (like Watches) disappears from the top menu but does not disappear from the left menu (subcategories)
http://joxi.ru/Dr8OK11fo0XM7A

This seems to be a problem for magento2, not our module. I was checking on clean magento2 without elasticsuite.

Can you ch

[2019-08-16 10:12] ezest-rajesh opened #1506 "Not able to search by SKU for newly added product after integrated Smile Elastic Search"
We have implemented Smile Elastic search module, after implementation all the old products search is working fine with search by SKU.

But recently we have added a few new products, Search by SKU is not working with the newly added product.

We are facing this issue on production, we can't update Magento version as well as Smile Elastic Version, we need a patch that fix this issue.

Please provide

[2019-08-16 11:32] androshchuk commented on #1506
Hello @ezest-rajesh

Did you reindex (bin/magento indexer:reindex) after adding new products?

[2019-08-16 12:00] ezest-rajesh commented on #1506
Hi Dmytro,

Yes, I have done re-index multiple time, search by product name is working perfect but, search by the same product sku is not working.

[2019-08-16 12:43] androshchuk commented on #1506
Can you give me some problem and normal products? You can only provide SKU for these products.

[2019-08-16 12:53] ezest-rajesh commented on #1506
Yes,

The SKU = 6744211, sku is in numeric formate.

[2019-08-16 16:24] leonardovilarinho opened #1507 "How to search by category url?"
I am trying to do a search by the URL of a category, with product the same query works. But with category the return is empty.

For example, I have the category "pecas", as in print below:

![Category](https://image.prntscr.com/image/yvc7FXBVQYyFW-WPI4aNZA.png)

The category url is represented by the url_path attribute, so I try to search by term (because I want to search for an exact string). But

[2019-08-19 09:48] rbayet commented on #1505
Hi @perrivdb,

As requested by @androshchuk, please provide the usual context informations
- preconditions (Magento2 version, Elasticsuite version, environment, third party modules used, ...)
- steps to reproduce

Regards,

[2019-08-19 12:45] rbayet commented on #1506
Hello @ezest-rajesh,

As you might have already read if you searched in the past SKU related issues ([there](https://github.com/Smile-SA/elasticsuite/issues/868#issuecomment-381570489) or [there](https://github.com/Smile-SA/elasticsuite/issues/1166)) we have implemented many fixes in later releases beginning from releases 2.4.0 and 2.5.2.

As searching by SKU really depends on the SKU formats used

[2019-08-19 13:38] rbayet commented on #1500
Hello @androshchuk,

Can you try to first reproduce the issue on a multi-store CE 2.3.0 edition with Elasticsuite version 2.8.0, with classic and virtual categories ?
If confirmed, see what happens in with 2.8.x-dev ?

Regards,

[2019-08-19 14:10] rbayet commented on #1507
Hi @leonardovilarinho,

Can you provide us the version of Magento 2 and Elasticsuite versions you are using ?
Can you also show us screenshots related to "with product the same query works" ?

Finally, which kind of search are you trying to perform ? And with what goal in the context of the module ? To tweak the autocomplete category search ?

Anyway, with a `term` query, you're looking for an exa

[2019-08-20 08:29] vishne0 opened #1508 "Search Bar issue"
We are using Magento 2.3.2 and integrated Smile/Elasticsuite for faster search. If we type a search keyword we get suggestions and if we click on the suggestion we see the result, however, if we type a search keyword and press enter or click on the search icon, we get below error
### Preconditions

Magento Version : CE 2.3.2

ElasticSuite Version : 2.8.1

Environment : PRODUCTION

Third party modu

[2019-08-20 08:50] rbayet commented on #1508
Hello,

I don't see where that extra field (`search_result.score AS am_relevance`) on the SQL collection select comes from.
Are you sure you don't have any search related third party module, for instance an Amasty one ?
An additional question : is this a clean install or a Magento2 migration project ?

[Your situation is apparently not unique](https://discuss.elastic.co/t/search-failing-elasticsea

[2019-08-20 11:04] vishne0 commented on #1508
hello,
Yes its fixed the  issue  was because  of Amasty plugins, Thank you for  the  help.

[2019-08-20 11:04] #1508 closed

[2019-08-20 12:04] deckside opened #1509 "PHP Fatal error: Uncaught Error: Wrong parameters for Elasticsearch"
Summary of problem or feature request

After restart elasticserach service is not indexing.
Code snippet of problem

ubuntu@ip-172-31-11-28:/var/www/magento/bin$ sudo php magento indexer:reindex catalogsearch_fulltext
PHP Fatal error: Uncaught Error: Wrong parameters for Elasticsearch\Common\Exceptions\ServerErrorResponseException([string $message [, long $code [, Throwable $previous = NULL]]]) in

[2019-08-20 14:22] vishne0 opened #1510 "Search Suggestion is running slow"
**Is your question related to a problem? Please describe.**
A clear and concise description of what the problem is.
When we type a keyword in search bar it takes 4-5 seconds to show the suggestions, thought we do not ave many products in the system. Can somebody let us know how we can fix this ?

**Additional context**
Add any other context or screenshots about your question here.

[2019-08-21 07:49] rbayet commented on #1503
Hello @YannBergonzat,

I've looked into it : the elasticsearch query is OK (aggregation uses the correct sort order) and the list of items come out ok in `\Smile\ElasticsuiteCatalog\Model\Layer\Filter\Attribute` whatever the attribute type.

The issue with the visual swatches attributes is that the custom template `vendor/magento/module-swatches/view/frontend/templates/product/layered/renderer.pht

[2019-08-21 08:02] rbayet commented on #1509
Hello @deckside,

OK, on one hand, there seems to be indeed a problem in the `elasticsearch/elasticsearch` client with regards to how the exception is handle.
Can you give me the versions of `smile/elasticsuite` and `elasticsearch/elasticsearch` modules ?

On the other hand, have you checked your ElasticSearch server logs (`/var/log/elasticsearch/elasticsearch.log`) to see why a 503 error is throw

[2019-08-21 08:06] vishne0 opened #1511 "Search error"
When we try to  search using  keywords for example  JBL and press enter  we get t he  desired  result, however  when we try to searc for  say audio we see the products in suggetion but if  we press enter it just shows us blank page and shows  no products
### Preconditions

Magento Version : CE - 2.3.2

ElasticSuite Version :6.0.1

Environment : PRODUCTION

Third party modules :

### Steps to repro

[2019-08-21 08:15] rbayet commented on #1511
Hello @vishne0,

What's that thing on the left on your screenshot ?
Is this a redesigned version of the category layer filter or a custom navigation menu ?

Considering your [previous issue](https://github.com/Smile-SA/elasticsuite/issues/1508), I would suggest looking into any third party module which has its own version of `view/frontend/layout/catalog_category_view_type_layered.xml` or `view/fr

[2019-08-21 08:25] vishne0 commented on #1511
its not coming through any plugin , these are the categories we have  created from backend.

[2019-08-21 08:35] deckside commented on #1509
Hi
Thank you for your help

The Elasticsuite versions as listed in the module manager are
Smile_ElasticsuiteAdminNotification 2.8.0
Smile_ElasticsuiteCatalog 2.4.0
Smile_ElasticsuiteCatalogOptimizer 2.4.0
Smile_ElasticsuiteCatalogRule 2.4.0
Smile_ElasticsuiteCore 2.4.0
Smile_ElasticsuiteSwatches 2.4.0
Smile_ElasticsuiteThesaurus 2.4.0
Smile_ElasticsuiteTracker 2.5.0
Smile_ElasticsuiteVirtualCatego

[2019-08-21 08:38] rbayet commented on #1511
@vishne0 so is this the category layer filter ?
That is to say the links leads to `/catalogsearch/result/index/?q=[search query]&cat=[category id]` ?

Can you provide the answer (from cerebro for instance) of your raw query ?

Regards,

[2019-08-21 08:41] vishne0 commented on #1511
As you suggested I have looked for the files and below are the results. It doenst look like that there is any third  party module being  used
/vendor/magento/module-layered-navigation/view/frontend/layout/catalog_category_view_type_layered.xml
/vendor/smile/elasticsuite/src/module-elasticsuite-catalog/view/frontend/layout/catalog_category_view_type_layered.xml
/vendor/smile/elasticsuite/src/module

[2019-08-21 08:44] vishne0 commented on #1511
catalogsearch/result/?q=audio this what the search url is

[2019-08-21 08:51] rbayet commented on #1509
Hello @deckside,

Actually, I was referring to the composer PHP packages version which you can obtain from the root of your Magento 2 project with
- `composer show elasticsearch/elasticsearch | grep -i versions`
- and `composer show smile/elasticsuite | grep -i versions`

(or by looking into your composer.lock for lines
[code]
and
[code]
)

Thanks for the log file.

Regards,

[2019-08-21 09:35] rbayet commented on #1479
Fixed by PR #1487

[2019-08-21 09:35] #1479 closed

[2019-08-21 09:36] rbayet commented on #1497
Fixed by PR #1499

[2019-08-21 09:36] #1497 closed

[2019-08-21 09:41] deckside commented on #1509
"name": "elasticsearch/elasticsearch",
            "version": "v6.7.1",

"name": "smile/elasticsuite",
            "version": "2.6.9",

[2019-08-21 09:53] rbayet commented on #1511
Actually I was speaking about the links under the left column blue menu with category names.

Yes, those module and themes layout files might alter the behavior of the search page by altering the specificites of `vendor/smile/elasticsuite/src/module-elasticsuite-catalog/view/frontend/layout/catalogsearch_result_index.xml` considering they will be loaded **after**.
I would advise disabling one afte

[2019-08-21 10:15] rbayet commented on #1511
Hello @vishne0,

An additional question : you provided the version of the ElasticSearch server (6.0.1), but which version of `smile/elasticsuite` are you using ?
(`composer show smile/elasticsuite | grep -i versions` or looking into your composer.lock).

Regards,

[2019-08-21 11:59] vishne0 commented on #1511
Using 2.8.1

[2019-08-21 12:06] HannesJa opened #1512 "No mapping found for [relevance] in order to sort on"
Sometimes the search landing page shows "Your search returned no results.", even though the autocomplete shows results.

### Preconditions

Magento Version : 2.3.1

ElasticSuite Version : 2.8.0

Environment : production

Third party modules : Mirasvit SearchAutocomplete (Not affecting the landing page)

### Steps to reproduce

1. Search for any query
2. hit enter to proceed to the search landing p

[2019-08-22 09:01] JulienPradet opened #1513 "Internal error with GraphQL in magento 2.3.2"
Hi!

I'm running into an issue when I try to run a GraphQL query on my new Magento 2.3.2 install. I'm pretty new to GraphQL in general, so I had trouble identifying the root issue. But I'm opening this issue in case you had any clue about what's happening. I'd be happy to help dig further with a few pointers.

### Preconditions
Magento Version : 2.3.2
ElasticSuite Version : 2.8.1
Environment : dev

[2019-08-22 13:50] rbayet commented on #1500
Hello @wmwnuk,

Sorry I was not able to reproduce the behavior you described on a fresh Luma CE 2.3.0 with Elasticsuite 2.8.0 and two store views and an additional attribute used for sorting (I used the SKU).

I'm not sure the tweak you made to have a single GET variable to have both sort order and sort direction is the culprit, but it's a good starting point.
If that's not the source of the probl

[2019-08-23 07:48] #1490 closed

[2019-08-23 14:13] rbayet commented on #1512
Hello @HannesJa,

I haven't been able to reproduce your issue on a fresh Luma CE / EE 2.3.1 with ElasticSuite 2.8.0.

The **_score** field is the automatically computed at query time by ElasticSearch given a search request query components (classic match query, phrase matching, phonetic matching components, search optimizers and so on).
The higher the score, the better the relevance of a document/

[2019-08-23 18:00] leonardovilarinho commented on #1507
Hello,

My goal is to find the product or category from the URL.

For example, going to `site.com/product-a` Elastic would have to return me the product with url_key equal to `product-a`.

When accessing `site.com/category-a` Elastic should return me to the category with url_path equal to `category-a`.

But as you can see in the prints, I can't search the category by `url_path` attribute.

I have

[2019-08-23 19:25] vishne0 commented on #1511
so is this a bug?

[2019-08-26 13:00] rbayet commented on #1511
@vishne0 No, so far, I haven't been able to reproduce your problem either on 2.8.1 or the latest 2.8.2 release.
I would advise iterating on your theme(s) and module(s) layout files to identify something messing with the layer or the results block as they are configured by `smile/elasticsuite` layout files.

Regards,

[2019-08-27 07:49] rbayet opened #1514 "Multi-words terms with accents not handled by thesaurus"
If a multi-word synonym or expansion rule contains non ASCII US characters, indexing the thesaurus fails with the error
[code]
Exemple:
[code]

Possible linked issue : https://github.com/elastic/elasticsearch/issues/27481
Possible way to avoid the error (but with the loss of the invalid synonym rule) : https://github.com/elastic/elasticsearch/commit/88c270d8443c573cf593a3d7d429be5bdad14001

### Pr

[2019-08-27 09:18] #1514 closed

[2019-08-27 12:35] perrivdb commented on #1505
Hi!

Apoligies for the delayed response. I'll make my situation a bit more clear:

**Magento Version :** 2.3.2 CE
**ElasticSuite Version :** 2.8.0
**Environment :** Issue is present in both developer as production mode
**Third party modules :**
_"ebizmarts/mailchimp-lib": "^3.0",
"tig/buckaroo": "^1.10",
"honl/magento2-nl-nl": "^1.1",
"fooman/pdfcustomiser-m2": "^8.2"
Amasty_Base
Amasty_GoogleMap

[2019-08-28 09:08] romainruaud commented on #1510
@vishne0 we are lacking details about your instance :

- version of components (Magento and ElasticSuite).
- application mode (developer or production).
- size of your catalog.
- size of your environment (is this a stock production environment or a development container)

Regards

[2019-08-28 13:14] Tjitse-E opened #1517 "Is MSI required in Elasticsuite 2.8.2?"
**Is your question related to a problem? Please describe.**
I've updated one of our projects to Magento 2.3.2 (without the additional MSI project) + Elasticsuite 2.8.2. When running `setup:di:compile` the following error is triggered:

[code]

This comes from `\Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Indexer\Fulltext\Datasource\InventoryData`. The StockResolverInterface is an additio

[2019-08-28 13:37] romainruaud commented on #1434
I fixed the shared catalog module, including Magento 2.3.1 compatibility.

Please use latest version (1.1.0) of the shared catalog module if you are on Magento 2.3.x (or the 2.3.x-dev branch).

Please note you also have to use this module to enable Quick Order to work with Elasticsuite : https://github.com/Smile-SA/magento2-module-elasticsuite-quick-order

Regards

[2019-08-28 13:37] #1434 closed

[2019-08-28 13:51] romainruaud commented on #1517
Normally, we maintain support for legacy Inventory management via this class :

https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/Model/ResourceModel/Product/Indexer/Fulltext/Datasource/Deprecation/InventoryData.php

Which is called from here if MSI is not present : https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/Model/Product/I

[2019-08-28 13:52] romainruaud commented on #1502
@jesse-thomas can you contact me directly by mail about this topic ? via romain.ruaud@smile.fr

Thank you !

[2019-08-28 13:52] #1502 closed

[2019-08-28 14:20] Tjitse-E commented on #1517
Thanks for getting back to me so quick @romainruaud!

I've completely removed MSI via composer replace, so that's why the class isn't there. I've now reinstalled MSI and disabled it, so compilng works again.

Would it be an idea to add the dependency `magento/module-inventory-api` or `magento/module-inventory` to the composer.json? Then users would get a composer error when they try to install Ela

[2019-08-28 14:54] romainruaud commented on #1517
We got this kind of dependency : https://github.com/Smile-SA/elasticsuite/blob/2.8.x/composer.json#L42

But only for `inventory-sales-api`, `inventory-sales` and `inventory-indexer`, that should have, however, prevented you to install ElasticSuite without these modules. But maybe it does not complain because of your composer replace ? Kinda strange.

Tbh we should have probably gone to a solution

[2019-08-28 18:01] southerncomputer opened #1518 "Base64.encode is missing in analytics date_range_picker.phtml"
Base64.encode is missing in analytics date_range_picker.phtml
### Preconditions

Magento Version : 2.3.2 EE

ElasticSuite Version : 2.8

Environment : Dev

Third party modules :

### Steps to reproduce

1. Base64.encode is missing in date_range_picker.phtml in Analytics causing module to fail
2. I changed Base64.encode to btoa since that is built in to javascript.
3. Any thoughts on why the Base64

[2019-08-28 18:04] jasonmchugh opened #1519 "ElasticSuite Category Indexing indexer process unknown error"
Hi,
I upgraded Magento 2.1.8 to 2.2.9.
Did all the setup:upgrade and everything seem normal and working.
But now everytime I reindex I got the same error:
ElasticSuite Category Indexing indexer process unknown error:
{"error":{"root_cause":[{"type":"mapper_parsing_exception","reason":"No handler for type [text] declared on field [search]"}],"type":"mapper_parsing_exception","reason":"No handler fo

[2019-08-29 09:09] jburel-clever-age opened #1520 "Broken Magento instance produce multiple ES indexes when crons runs"
Hi,

### Preconditions
Magento Version : EE 2.3.2
ElasticSuite Version : ~2.8.0
Environment : Production

### Steps to reproduce
Your instance must be broken, you can delete some compilated files for example

1. Remove statics files into pub/static/* or generated/*
2. Try an access to the frontend url: an error must be shown (important!)
3. Add Magento cron in system crontab (setup:cron:run and cr

[2019-08-29 09:56] paulpartington-cti opened #1521 "Unable to Edit a Category With Admin Role Restrictions"
When an admin user that has a role that limits the scope to a particular website attempts to edit a category, an error is shown - `catalog_product index does not exist yet. Make sure everything is reindexed.`

### Preconditions
Magento Version : Magento EE 2.3.0

ElasticSuite Version : 2.8.0

Environment : Production

Third party modules : None that affect search

### Steps to reproduce
1. Create

[2019-08-29 12:13] romainruaud commented on #1519
Your Elasticsearch server (not the PHP connector, the server by itself) seems to be still on Elasticsearch 2 when you should have at least an Elasticsearch 5.

What's the output of `curl localhost:9200` ?

Regards

[2019-08-29 12:17] jasonmchugh commented on #1519
Hi,
the output is:
{
  "name" : "Kid Nova",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "2cb62E2ZTxGC0ztrcEJTzA",
  "version" : {
    "number" : "2.4.6",
    "build_hash" : "5376dca9f70f3abef96a77f4bb22720ace8240fd",
    "build_timestamp" : "2017-07-18T12:17:44Z",
    "build_snapshot" : false,
    "lucene_version" : "5.5.4"
  },
  "tagline" : "You Know, for Search"
}

[2019-08-29 12:22] romainruaud commented on #1519
Okay so you are using an Elasticsearch 2.4.6 which is **not supported** by ElasticSuite 2.6.9

You have to upgrade the Elasticsearch component.

Regards

[2019-08-29 12:22] #1519 closed

[2019-08-29 12:56] romainruaud commented on #1520
Might be related with #1086 and the PR #1516 .

Could you check the fix given in the PR for your problem and let us know if it's better ?

Regards

[2019-08-29 13:17] romainruaud commented on #1521
@androshchuk can you try reproducing this one please ?

The fix might be then hard to provide, there is probably somewhere in the code a call to `getStores()` or `getStore()` which is getting intercepted by the `Magento\AdminGws` module and that is removing the unauthorized stores for the current admin user.

[2019-08-29 14:20] jasonmchugh commented on #1519
Thank you Romain, I just want to know what is the best way to do it.
I still have a live Magento using the Elasticsearch, is it possible to update Elasticsearch 2 to Elasticsearch 5 and keeping both site Working on the same server?
Is it better to use the migration tool (https://github.com/elastic/elasticsearch-migration/tree/2.x) or simply install a new one (https://www.elastic.co/guide/en/elasti

[2019-08-29 15:10] celorodovalho opened #1523 "Warning: call_user_func_array() expects parameter 1 to be a valid callback"
I'm using the last version of module "smile/module-elasticsuite-virtual-category" with Magento 2.3.2 and facing that error.
On file /var/www/html/vendor/smile/elasticsuite/src/module-elasticsuite-virtual-category/Helper/Rule.php on line 67
We are trying to call:
[code]
as the first argument of function "call_user_func_array":
[code]

### Preconditions
PHP 7.2
Magento 2.3.2
Ubuntu 18
Elastic Search

[2019-08-29 15:41] romainruaud commented on #1523
Hello,

please precise the correct Elasticsuite version. `5.6.3` is the version of the search engine, not the version of the module.

I guess you are using the 2.8.x version of ElasticSuite but please give me more details about this.

Most probably, it appears that you have a Category with the virtual_rule attribute not properly loaded. You should investigate about how the current category get loa

[2019-08-29 15:41] #1523 closed

[2019-08-29 15:43] romainruaud commented on #1512
@HannesJa

You have a more than exhaustive technical answer below.

I did not dig into the Mirasvit extension source code (and I cannot, since it's not open source), but it's likely unprobable that you can have both this one and Elasticsuite on your website.

Especially considering their extension is providing the same thing as the Elasticsuite autocomplete box.

That being said, supporting third

[2019-08-29 15:43] #1512 closed

[2019-08-29 15:46] romainruaud commented on #1511
@vishne0 since your issue cannot be reproduced on a raw Magento + ElasticSuite instance, and considering the amount of third party extensions you are having that are altering the search result pages, it's most likely an incompatibility between these extensions and Elasticsuite.

That being said, supporting third party extensions is not part of our community support commitment. You can contact us f

[2019-08-29 15:46] #1511 closed

[2019-08-30 03:11] kevinvuillemin opened #1525 "Search autocomplete different than search result page"
Hello all,
We have an issue with an approximative search terms. In our autocomplete result list we have exactly what we expected, but in the the search result page, we don't have any result.
Our configuration is made to obtain exactly the same result in the autocomplete list and in the search result page.
It works very well for most of 95% of our test cases but not for approximative results.

For

[2019-08-30 08:07] tnsezer commented on #1523
Hi @romainruaud

As you can see my colleague share the version of the module also, it is 2.8.2
There is a just a plugin which calling the Elasticsuit request builder so there is a nothing to manipulate the code

Please see the images below,

the first image shows our method which calling the request builder
https://ibb.co/MGggnkQ

the second image shows what steps the process follows until to get

[2019-08-30 08:31] romainruaud commented on #1525
TLDR : it's by design. Duplicate of #970 #1036 #1277

Detailed explanations are on this note : https://github.com/Smile-SA/elasticsuite/issues/1277#issuecomment-456385530

[2019-08-30 08:31] #1525 closed

[2019-08-30 08:34] jburel-clever-age commented on #1520
Hi @romainruaud,
I'll try it today or next week, I'm not able to test it right now :(
Thanks for this update!

[2019-08-30 08:35] romainruaud commented on #1519
I never used the migration tool but from what I can read it seems to be useful in your case.

If your other Magento is using ElasticSuite, you have to ensure he is also using a proper version to deal with Elasticsearch 5.

Regards

[2019-08-30 08:39] romainruaud commented on #1523
@tnsezer , as I said previously, providing technical support for high level customizations like this is not something we can provide here as part of our Open Source support policy.

Feel free to reach me out by mail if you want us to provide some commercial support in order to help you achieving the customization you planned.

Regards

[2019-08-30 09:49] bernd-reindl opened #1526 "ElasticSuite search_request.xml"
Hello.

As long as i can see, elasticsuite dont respect search_request.xml and use an own elasticsuite_search_request.xml file to configure the search behavor.

Is there an Guide how i can configure an entry like

<filter xsi:type="termFilter" name="elastic_entity_filter" field="_id" value="$amasty_groupcat_elastic_entity_id$"/>

in elasticsuite_search_request.xml?

I need this, bedause the extens

[2019-08-30 11:20] celorodovalho commented on #1523
The point is we was using the version "smile/elasticsuite:2.3.11" and everything was working pretty fine, but we just upgrade the version to 2.8.x and now is broken.
We don't made any changes in third-party modules, just in yours.
The previous:
[code]
is now
[code]
Exactly the file that is throwing the error.

[2019-08-31 13:53] HannesJa commented on #1512
Hello,

Thank you for the detailed response.
We tried to disable the Third party autocomplete module, but it did not affect the result, the error still comes up occasionally. The autocomplete is mostly used because of its looks, and because it seems to handle the *typeahead* functionality quite fast. It is independent of the search engine implementation.

Upon further investigations, it seems that

[2019-09-01 13:49] HannesJa commented on #1512
Hello,

Could these diffs be a solution?
[code]
and
[code]

I tested these ones on local environment, and they seem to map the `relevance` into `_score`, if there comes such a sort field in the query.

With best regards

[2019-09-02 14:37] rbayet opened #1528 "Rework needed of \Smile\ElasticsuiteCatalogOptimizer\Model\Optimizer\Preview::canApply"
`\Smile\ElasticsuiteCatalogOptimizer\Model\Optimizer\Preview::canApply` has been heavily reworked  to address the bug #1418.

Unfortunately, the current code has two new bugs
- the preview for `Catalog Product Search` is broken when apply_to is set to `0` (All search terms)
- the preview for `Category Product View` is broken when apply_to is set to `0` but there are some categories selected (the u

[2019-09-02 16:23] wearetelescopic opened #1529 "Category product list view empty"
I'm on Magento 2.2.8 with elasticsearch 6.6

The module installed all fine and the search itself seems to work.
However when I go to a category product view page (which also should containt a layered filter navigation) I now get no results.
I disabled all other thrid party modules, reindexed, cleared cache - nothing works.

I don't really know how to debug this either, how can i see if a category

[2019-09-03 07:30] rbayet commented on #1526
Hello @bernd-reindl,

I don't know what the extension AmastyGroupCat does exactly so I cannot guide you completely to reproduce its behavior with ElasticSuite, if that's your intent.

Indeed Elasticsuite ignore search_request.xml files, because the module has its own independent request configuration files (as you cannot have two search engines active at the same time in a Magento 1 or Magento 2)

[2019-09-03 13:41] #1506 closed

[2019-09-04 06:40] LiamKarlMitchell commented on #551
Think would have to take it up with Amasty support and pay them to develop it further with Elastic Suite support but looks like they have a preference for you to purchase their own Elastic Search plugin.

https://amasty.com/knowledge-base/navigation-with-wyomind-elasticsearch-compatibility.html

https://amasty.com/elasticsearch-for-magento-2.html

[2019-09-05 06:57] real34 commented on #1513
FYI, I can reproduce this issue in 1.8.2 too.

[2019-09-05 09:58] real34 commented on #1513
The issue has been caused by the `virtualCategoryType` locator added as part of https://github.com/Smile-SA/elasticsuite/commit/dfb44ab896c803b2be1f0a17a5e8f6a9a5dbf5f8#diff-dc986573a1fa5d60b8f78f8bfd32a32eR121 (in 2.7.7).

I guess that GraphQL is trying to find a matching type definition when building its schema.

I will try to dig into the GraphQL stack to see if I can suggest a PR, but I don't

[2019-09-05 12:19] romainruaud commented on #1529
First point is, obviously, to check if you have products associated to this category.

Of course also, ensure these products have the value "Catalog" or "Catalog, Search" for the "Visibility" attribute.

If that's not the case, please check that you do not have a layout customization which is changing blocks order, especially the Toolbar like described here : https://github.com/Smile-SA/elasticsui

[2019-09-05 15:03] androshchuk opened #1532 "Optimizer preview: layout destroys"
Magento Version : 2.3.1

ElasticSuite Version : 2.8.2

Environment : dev

Third party modules : none

### Steps to reproduce

1. Create a new optimizer of constant model, active, available on request type Catalog Product Search.
2. In the preview, select Catalog Product Search and type 'Summit Watch' inside the Query Text input field.

### Expected result

Normal display of the list of products

#

[2019-09-05 15:26] androshchuk opened #1533 "Optimizer preview: 500 error"
### Preconditions

Magento Version : 2.3.1

ElasticSuite Version : 2.8.2

Environment : dev

Third party modules : none

### Steps to reproduce

1. Create a new optimizer of constant model, active, available on request type "Category Product View"
2. Input a sensible boost value (for instance 20 %)
3. In the Category Product View fieldset, change "Apply to" to "Selected categories"
4. In Apply to

[2019-09-06 12:57] romainruaud commented on #1533
@serg6854 please have a look on this one with @androshchuk

[2019-09-06 13:54] LittleBigDev commented on #1486
Hello, this is a shameless bump. Any help will be appreciated :)

[2019-09-06 14:33] LittleBigDev opened #1535 "Filtering Product collection on custom indexed data"
Hello,

I am using the Amasty "[Product Labels](https://marketplace.magento.com/amasty-label.html)" third party module, adding some tags or ribbons above product images based on conditions (like conditions used for your virtual categories).

The goal is to add a custom layered navigation filter, based on external data (not a product attribute). This external data (Product/Label relations) is store

[2019-09-07 12:34] LiamKarlMitchell commented on #240
Wiki/docs say ```You can declare a new elasticsuite_indices.xml file in your module if you plan to index other entities.``` but does not give an example of how to do this.

I assume we make a file with the same name in the etc directory.

[2019-09-07 15:17] rioux602 commented on #788
Would it be possible to get an ETA on this feature?

Thanks!

[2019-09-09 04:38] LiamKarlMitchell commented on #710
So I've got something like this.
[code]

Ideally would map a sku.clean with only alpha numeric non analyzed/tokenized whatever its called.

Then wildcard search would work even if it starts or ends with letters. (Currently it has weird results)

The hard part is implementing it, what files and plugin/method should I extend in my own module to add this into the catalog product search?

[2019-09-09 04:41] LiamKarlMitchell commented on #797
So I've got something like this.
[code]

Ideally would map a sku.clean with only alpha numeric non analyzed/tokenized whatever its called.

Then wildcard search would work even if it starts or ends with letters. (Currently it has weird results)

[code]
Don't want it to be split up into ngrams as that seems to stuff up the partial search when using letters and numbers....

The hard part is implemen

[2019-09-09 05:45] LiamKarlMitchell opened #1536 "Partial SKU search"
Partial SKU search is something that has been considered not to implement due to performance reasons. Previous tickets talking about this appear to have been closed, this is unsatisfactory.

Could the stance on this please be reconsidered?

- A partial search can be done with a wildcard on a clean version of the SKU field.
- It can work fast, for example Mirasvit Elastic Search Ultimate has pulled

[2019-09-09 07:14] romainruaud commented on #1486
@androshchuk @serg6854 can you provide a working example for this question ?

Of course, if it's not working, please report it as being an issue.

[2019-09-09 07:47] androshchuk commented on #1486
Hello @LittleBigDev .
I used the following construct to query via API.
![virtual_categoty](https://user-images.githubusercontent.com/5081718/64511950-09cd2700-d2ee-11e9-9736-80f7badd1635.jpg)

I hope this helps you.
Let me know if you have any questions.
Regards

[2019-09-09 09:42] romainruaud commented on #1486
@androshchuk it's not exactly what was requested.

He is asking how to do this programmatically : inside a PHP script on Magento 2. Probably on a setup class or something like this I guess.

regards

[2019-09-09 14:50] androshchuk commented on #1518
Hello @southerncomputer.
I can't reproduce this problem.
elasticsuite module doesn't have a file named 'date_range_picker.phtml' (only with name date_range_switcher.phtml)  http://joxi.ru/D2P0jEEiqVbwR2
I checked the work of Base64 in file vendor/smile/elasticsuite/src/module-elasticsuite-analytics/view/adminhtml/templates/report/date_range_switcher.phtml.
It works.

Please provide more informatio

[2019-09-10 00:02] jesse-thomas commented on #1502
I sent you two emails, you might have responded. I am on a few mailing lists and could have deleted the email. I'd be happy to send another if you have time to respond?
thanks!

[2019-09-10 13:15] Chacalbis opened #1538 "Are indices supposed to be automatically deleted ? How ?"
We recently noticed on one of our server that with a reasonable amount of indexes (less than a thousand), we were running out of RAM for an ES cluster.

After taking a look at wiki, indices and their horodated pattern, we asked ourselves if horodated pattern's only purpose is to garantee uniqueness of its index.

From our side, ES is indeed creating unique **stacking** indices based on horodated p

[2019-09-10 13:36] romainruaud commented on #1538
Hello,

there are two types of indices :

- indices containing objects data : product, categories, CMS page (if using the module dedicated to this), and thesaurus.

- indices containing users interactions (used to draw the Search Analytics dashboard in the BO).

**Data related indices :**

There is supposed to be always **one index per store view and per entity type**. This index **is deleted duri

[2019-09-10 14:18] serg6854 commented on #1486
Hello @LittleBigDev
To create rule programatically you can use this code:
[code]

Hope, this will help you.
Regards

[2019-09-10 14:43] romainruaud commented on #1536
Hello @LiamKarlMitchell

if you did not read it previously, I can suggest you to have a look on the _Holy Bible of searching by SKU_, written by @rbayet here : https://github.com/Smile-SA/elasticsuite/wiki/SearchingBySkuBasics

Jokes aside, your implementation could be problematic depending to the store business it's used on :  let's say I'm running a video store, and someone is searching for the

[2019-09-10 14:46] romainruaud commented on #1526
@bernd-reindl is the provided answer enough to you ?

Regards

[2019-09-10 14:47] romainruaud commented on #1520
@jburel-clever-age any news ?

[2019-09-10 14:48] romainruaud commented on #1507
Please provide a copy of your index mapping @leonardovilarinho so that we could investigate a bit more.

Regards

[2019-09-10 14:49] romainruaud commented on #1521
@serg6854 please try to reproduce this one with Dima

[2019-09-10 14:50] romainruaud commented on #1517
@Tjitse-E anything else needed on this issue ? If not, I'm gonna close it.

Regards

[2019-09-10 14:53] romainruaud commented on #1505
Ok so if I understand correctly, we are showing disabled categories in the autocomplete box.

@androshchuk @serg6854 can you check by reproducing the scenario from @perrivdb with the two different store views, and a different category tree per store view ?

Regards

[2019-09-10 14:56] romainruaud commented on #1509
@deckside I'm seeing a lot of "Out of memory" errors in your Elasticsearch log...

How is your clusted sized ?

Also, what is the size of your catalog (number of storeviews and products) ?

[2019-09-10 14:57] romainruaud commented on #1504
@leonardovilarinho is the provided answer enough for you ?

Do you need more informations ?

[2019-09-10 14:59] romainruaud commented on #1500
@wmwnuk did you manage to fix it by yourself ?

[2019-09-10 15:01] leonardovilarinho commented on #1504
@romainruaud  I tried, with most attributes gone right. But now I have problems trying to index images, when the product has more than one image only the main image is indexed in Elastic.

I would like to index all product images in an array, Magento has the media_gallery attribute that stores all product photos, even if you change the attribute settings the media_gallery tutorial does not appear

[2019-09-10 15:01] romainruaud commented on #1488
Sorry for the delay on this one, but if I understand correctly, we are not merging children data into the parent data when indexing, if parent product has a value for an attribute that also exists on its children.

Or maybe we do override the children value by the parent value later in the indexing process.

@androshchuk and @serg6854 can you try to reproduce this one and to provide a fix ?

[2019-09-10 15:10] Tjitse-E commented on #1517
@romainruaud my question is answered, thanks. I'll close the issue.

[2019-09-10 15:10] #1517 closed

[2019-09-10 15:15] Chacalbis commented on #1538
Thank you Romain for the quick and detailed answer

As regards data related indices, we had reindexing errors recently, which may indeed explains why indices were not cleared.

Concerning user interaction indices, our elasticsuite module version is 2.6.9 (with Magento 2.2.9), so it seels we don't have access to this configuration field.

After further investigations on our side, i will certainly u

[2019-09-10 15:33] romainruaud commented on #1538
You're right, on ElasticSuite 2.6.9 you'll not have the configuration field for retention delay, but you'll not have the search analytics feature either. So if you are not considering upgrading to latest ElasticSuite for now, you can shutdown the tracking feature once and for all, and re-activate it later when you'll update.

We're waiting for the result of your investigations,

regards

[2019-09-10 15:35] romainruaud commented on #1439
I'm closing this since the question has been answered.

Regards

[2019-09-10 15:35] #1439 closed

[2019-09-10 15:36] romainruaud commented on #1417
Ooops, looks like this issue was missed by everyone.

Sorry about that @amenk

Is it still up-to-date ? Any other informations that you can provide us since this issue was happening ?

[2019-09-10 15:39] amenk commented on #1417
It's still on our backlog but not prioritised. We can try to reproduce it again, have to check back with the customer.

[2019-09-10 15:40] romainruaud commented on #1438
@davidsiemers maybe we should flush the DDL cache after adding the colum (I thought it was automatic), or maybe there is another cache to flush related to attribute Data.

As a workaround, you can do like this after creating the attribute :  https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/Setup/CatalogSetup.php#L285

[2019-09-10 15:59] romainruaud commented on #1423
I'm closing it since issue has been acknowledge by Magento as core issue.

Regards

[2019-09-10 15:59] #1423 closed

[2019-09-10 16:47] davidsiemers commented on #1438
Thank you! I will look into doing that :).

[2019-09-10 17:54] southerncomputer commented on #1518
![image](https://user-images.githubusercontent.com/6178967/64637789-86d1cc80-d3d2-11e9-9bca-113b7a3b6486.png)

did you try with both yes and no to javascript calendar?

[2019-09-11 08:41] androshchuk commented on #1518
Yes. I checked it. Elasticsuite module doesn't have a file named 'date_range_picker.phtml'.
Maybe you are using some other third party modules?
Unfortunately, I can't reproduce this bug.
Please provide more information and screenshots of the bug

[2019-09-11 08:44] Tjitse-E opened #1539 "Is flat catalog still recommended when using Smile elasticsuite and Magento 2.3?"
**Is your question related to a problem? Please describe.**
What is the recommended setting for flat catalog in Magento 2.3.x + Smile Elasticsuite? Magento said in their devdocs that it is no longer best practice to enable flat catalog, due to native elasticsearch. Is the same valid for elasticsuite?

**Additional context**
More info about Magento's statement [here](https://docs.magento.com/m2/ce/

[2019-09-11 09:49] romainruaud commented on #1518
@androshchuk can you check the Datepicker in the Search Analytics Dashboard page is still working if you set the Configuration Option "Use Javascript Calendar" to both Yes, and No ?

If I understand properly, that's what is saying @southerncomputer

[2019-09-11 10:30] southerncomputer commented on #1539
to piggyback - what about eav indexer? is this required for elasticsuite?
![image](https://user-images.githubusercontent.com/6178967/64690097-9ba77200-d45d-11e9-9f20-db0584deb20c.png)

[2019-09-11 10:31] androshchuk commented on #1518
I changed the configuration option "Use Javascript Calendar" from section  Configuration>Catalog>Catalog>Date & Time Custom Options  . cleared cache and checked page  Search Usage Analytics http://joxi.ru/xAeOGEEfRk3Gqm .
In both cases everything works fine

[2019-09-11 10:53] southerncomputer commented on #1518
Could be my javascript screwing up because the data picker just doesn't work as it should on these fields.. Sorry I will look into my patches to see what might be causing this strangeness!

[2019-09-11 12:13] romainruaud commented on #1539
@Tjitse-E I would say that we have no special recommendations about using or not the flat catalog. Zero parts of ElasticSuite is assuming that the flat catalog is active or not, so feel free to follow the Magento recommendation and to stop using it.

@southerncomputer  I'd say that EAV indexer is probably not necessary to have Elasticsuite running properly : the data built by this index is used to

[2019-09-11 12:13] #1539 closed

[2019-09-11 14:22] elfeffe commented on #1391
I'm having the same problem with Hebes theme

[2019-09-13 11:30] nsiebler-dm commented on #819
@pkbhadkoliya @afoucret
The "AND / OR" feature would be really great on the roadmap. One thing to consider is how to present this visually if there are mixed types in use. It could be confusing for the visitor. So from the user perspective it would be even more flexible and feature rich to let the visitor intuitively choose which type he wants to apply.

We have a few clients which asked for this

[2019-09-13 13:42] LittleBigDev commented on #1535
Hello @romainruaud,
Thank you for your answer.

The problem is that when building filter block or when applying the filter, some dependencies rely on an attribute model (Swatches renderer for instance). But the given "field to filter" ('label') is not a product attribute. When these dependencies try to use `\Magento\Catalog\Model\Layer\FilterFilterInterface::getAttributeModel()` result, it gives a

[2019-09-13 14:49] romainruaud commented on #1521
@paulpartington-cti can you post a screenshot of your store configuration ? The screen where all the websites and associated store views are listed.

[2019-09-13 18:44] ivanvart opened #1541 "Optimizer/Rule conditions > Invalid security or form key. Please refresh the page."
Creating new optimizer settings in the seccition "Apply to products" any options that you select get the messages "Invalid security or form key. Please refresh the page."

### Preconditions

Magento Version : 2.3.2

ElasticSuite Version : from composer   "branch-alias" : { "dev-master" : "2.9.x-dev"  }

Environment : Developer

Third party modules :

### Steps to reproduce

1. Go Optimizer
2. Add

[2019-09-16 08:23] androshchuk commented on #1541
Hello, @ivanvart
Unfortunately, I couldn't reproduce the bug.
Please provide more information (steps to reproduce, screenshots and logs)

Regards

[2019-09-16 08:31] PierrickOlivier opened #1542 "Ability to hide a filter with only 1 value"
**Is your feature request related to a problem? Please describe.**

On Decathlon Pro website, we have some pages with a filter with only one value, example:

MARQUE
 - Nabaiji (7)

The reason is that the page shows 8 products and there is 1 product with the an empty attribute "brand".

It's a problem because the filter "brand" is not really relevant in that case.

**Describe the solution you'd lik

[2019-09-16 14:49] romainruaud commented on #1542
For me, this is not an issue.

We already have a mechanism to hide non-relevant filters : this mechanism is triggered when clicking on a filter would result in an unchanged product list. It could be the case if the 8 products were from the brand Nabaiji.

But on your example, the brand filter is relevant : you have 7 Nabaiji products, and 1 which has a different brand. So it could be relevant to f

[2019-09-17 07:43] PierrickOlivier commented on #1542
ok !

[2019-09-17 08:07] nuzil opened #1544 "Layered Navigation Filterable Attributes and Optimiser"
## Problem
We have Optimiser rule that uses one of attributes as criteria to put some product on top on category view page.
Then Admin set this attribute to "Use in Layered Navigation: NO".
Reindex everything

Products are not anymore displayed on a category page on a frontend and also user see an error on Category Edit page in the backend

Problem is caused by this attribute is not indexed anymor

[2019-09-17 08:17] romainruaud commented on #1544
It's possible actually. It's a bit hacky, but setting such attributes as "is used for promo rules : yes" allow to use them in optimizers.

Probably we could add another boolean flag that is dedicated to enable/disable an attribute for being used by optimizers.

[2019-09-18 09:55] romainruaud commented on #1503
@androshchuk @serg6854 can you handle this one ?

[2019-09-18 13:59] mtkumar82 commented on #1114
I have the same problem. I resaved category_ids and visibility attributes from magento2 backend.
Steps:-
1) Login to Admin.
2) Store->attributes->product.
3) Search category_ids and save it.
4) Than search visibility and resave it.

[2019-09-20 06:47] pushpendra07 commented on #1249
Hello @romainruaud,

It's showing same issue when search.

`Exception #0 (LogicException): catalog_product index does not exist yet. Make sure everything is reindexed.`

[2019-09-20 12:22] #1529 closed

[2019-09-20 13:54] rbayet opened #1546 "Product sorter (and optimizer ?) preview : product is not correctly re-ordered"
On a category affected by an optimizer, with several products already positioned at the first 3 slots and 2 of them blacklisted, an initially "automatically" sorted product which is manually sorted is not re-positioned at its original position when it is switch back to "automatic sort".

### Preconditions

Magento Version : CE 2.3.2

ElasticSuite Version : 2.8-x (reproduced on http://demo.magento-

[2019-09-20 19:25] KholdenSP opened #1547 "Frontend - Portion of Categories Missing Layered Navigation"
I'm trying to finalize install and I'm getting a handful of categories (about 20%) that seem to be missing layered navigation.

- I see the issue on multiple category levels.
- All products listed are configurable
- I'm on version 2.8
- Magento 2.3.1

Here is a "broken" category
![image](https://user-images.githubusercontent.com/53538134/65353024-f4cf7e00-dba0-11e9-9c8e-c04df348b6c2.png)

Here is

[2019-09-20 19:50] #1547 closed

[2019-09-20 19:51] KholdenSP commented on #1547
We found a conflict with Mageplaza SEO URL extension. Closing this. Thanks.

[2019-09-24 06:59] Nightcrowe opened #1549 "product filter for in stock out of stock"
Hello
maybe this issue already been adressed ( But i do not find it)
Is it possible to filter products as in stock out of stock using any easy way using elasticsuite?

[2019-09-24 07:51] romainruaud commented on #1549
Hello @Nightcrowe

do you mean this : https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/Model/ResourceModel/Product/Fulltext/Collection.php#L354

?

[2019-09-24 11:17] southerncomputer commented on #1536
I have found disabling spellcheck and phonetic search to increase the hit rate on sku's for some reason not sure why!

[2019-09-24 12:31] romainruaud commented on #1503
I'll review PR #1550 but in the meantime @YannBergonzat can you check that PR #1550 is also fixing the issue on your environment ?

Regards

[2019-09-24 21:55] LiamKarlMitchell commented on #1536
Yes, mostly B2B that wants it, although one client sells to everyone that wants parts and the parts are often just looked up by SKU but people might not always have an exact match e.g. barcode or marking on original part got damaged somehow which would make fuzzy searching or spell check useful too..

Only do SKU search when given a SKU, if they have spaces in their input don't do sku search.
Lett

[2019-09-25 01:31] volanar opened #1551 "Can an extension create custom pages that display search results for specific queries?"
Can an extension create custom pages that display search results for specific queries? Or does elastic suite not have this feature?
For example, you can create a page ‘Samsung blue mobile phones’. It will look like a regular catalogue page. But product list will return search results by query ‘Samsung blue mobile phones’.

[2019-09-25 01:41] volanar opened #1552 "Correct results for incorrect keyboard layout"
I have noticed that users often type the product name with the wrong keyboard layout from Cyrillic to Latin characters. For example instead of the word "bed" they are gaining "rhjdfnm". It would be great if elasticsuite could identify these words automatically, as it does in the Punto Switcher.

[2019-09-25 08:44] capm4 opened #1553 "bug in rendex elasticsuite_categories_fulltext"
When is reindex elasticsuite_categories_fulltext for multi store.
There is bug  when create index in elasticsearch.
Because  wrong quary builds to databases.
vendor/smile/elasticsuite/src/module-elasticsuite-catalog/Model/ResourceModel/Category/Indexer/Fulltext/Action/Full.php
method addIsVisibleInStoreFilter
http://joxi.ru/Q2K1G96cL1pBkr.jpg
So if you have rootCategoryId = 2
query will be 'e.path

[2019-09-25 09:57] yrudiuk opened #1554 "Indices duplicates"
Elasticsuite creates indices duplicates if not able to load data from the existing index. This causes CPU load, high memory usage and as the result 503 errors.

### Preconditions
Magento Version : 2.2.7 Commerce
ElasticSuite Version : 2.6.4
Environment : production

### Steps to reproduce
Issue happens when elasticsuite can't read data from the elasticsearch index in any way

[2019-09-25 12:08] romainruaud commented on #1553
Seems to be still the case on recent ElasticSuite versions.

@androshchuk @serg6854 can you handle this one ?

regards

[2019-09-25 12:09] romainruaud commented on #1554
@yrudiuk I'm sorry but your issue is no qualified enough.

Can you propose a more detailed scenario so that we'd be able to reproduce this anomaly ?

Best regards

[2019-09-25 12:17] romainruaud opened #1555 "Swatches images not applied in catalogsearch"
When filtering with a visual swatch attribute, Magento displays the product images associated with the selected variant.

Eg in a category filtered on "color = blue" : http://demo.magento-elastic-suite.io/index.php/men/tops-men/jackets-men.html?color=Blue

The blue version of all products is displayed.

It works on category pages, but not on search result pages : http://demo.magento-elastic-suite.

[2019-09-25 12:35] rbayet commented on #1552
Hello @volanar,

I tried an [online version](https://winreview.ru/punto-switcher-online-onlajn-smena-raskladki-teksta/) of Punto Switcher (not sure it's official) to try to understand the situation.
By typing "rhjdfnm", it gives me "кровать" which is indeed "bed" in russian.

So, please confirm I understand your feature request example :
- a user is using a Cyrillic keyboard on a system with a alt

[2019-09-25 14:49] #1507 closed

[2019-09-25 14:49] #1520 closed

[2019-09-25 15:29] datasolution75 opened #1557 "Disabling Categories Merchandising"
Hi,

I would like to know if you added an option to disable the Categories Merchandising feature as it's replacing the Magento one : https://docs.magento.com/m2/ee/user_guide/marketing/visual-merchandiser.html

It would be nice to be able to use the standard one.

[2019-09-25 15:46] volanar commented on #1552
Yes, everything is correct

[2019-09-25 15:49] #1500 closed

[2019-09-25 15:49] #1509 closed

[2019-09-26 09:57] romainruaud commented on #1552
@androshchuk @serg6854 could you give a rough estimate on this one ?

I guess it would be expensive to do, but if it's an easy-to-do, we might consider doing it. If there is too much work needed, we'll leave it open and wait for someone in the community willing to implement it.

Regards

[2019-09-26 10:18] androshchuk commented on #1553
Hello, @capm4.
Thank you for your issue.
Problem was indeed present and we fixed it thanking you.

Regards

[2019-09-26 10:18] #1553 closed

[2019-09-27 08:14] roman204 commented on #1442
there is also a version 3.0 now
[code]

[2019-09-27 08:33] romainruaud commented on #1442
@roman204 as far as I know there is no 3.0 version.

Where did you find it ?

[2019-09-27 08:54] roman204 commented on #1442
![image](https://user-images.githubusercontent.com/584168/65756330-2f8f6400-e115-11e9-8a21-d66f5c7faeda.png)

[2019-09-27 09:00] romainruaud commented on #1442
It's elasticsuite here... not magesuite...

[2019-09-27 09:01] roman204 commented on #1442
oh thanks.. wrong issue

[2019-09-27 14:14] Quazz opened #1560 "Category links in autocomplete are incorrect due to storeview"
### Preconditions

Magento Version : CE 2.3.2

ElasticSuite Version : 2.8

Environment : Production

Third party modules : Too many to list, though the problem seems unrelated. The problem only occurs for autocomplete. Everything else works normally.

### Steps to reproduce

1. Enable categories autocomplete
2. Go to categories and switch to a storeview
3. Change the name of a child category (Root

[2019-09-27 17:48] KholdenSP opened #1561 "Zero Results when All Categories are Virtual?"
I recently created one of my stores to be all virtual. The root category of the store is manual, but the categories below that are not.

![image](https://user-images.githubusercontent.com/53538134/65790297-349fe380-e114-11e9-8bbd-cdb9d104df3d.png)

This search query should return several results, and returns zero:
https://icelandicdesign.com/catalogsearch/result/?q=sweater

This site does not use

[2019-10-01 08:25] #1541 closed

[2019-10-01 15:06] sedax90 opened #1562 "Filters in custom page with custom layer doens't respect product collection"
I've created a custom controller with a custom layer following this guide:
https://webkul.com/blog/how-to-create-layered-navigation-on-custom-page-in-magento-2/

I've added to my frontend/di.xml some modifications following elasticsuite-catalog module:

[code]

The page now show correct products besed on the filtered collection defined in layer but products count and filters are wrong.
Do I still

[2019-10-02 15:34] madonzy opened #1563 "When to re-index?"
Hi, during the developments process I often change files `elasticsuite_analysis.xml` and `elasticsuite_indices.xml`. Is it required to reindex the Magento after doing so or cleaning cache is enough?

[2019-10-03 07:07] robin31 opened #1565 "Smile_ElasticsuiteAnalytics missing in documentations module enable list"
In the documentation page https://github.com/Smile-SA/elasticsuite/wiki/ModuleInstall there is a command to enable the Elasticsuite modules. This command is missing the new Smile_ElasticsuiteAnalytics module. As a result the new Search Usage dashboard is missing.

### Preconditions
Install the latest elasticsuite 2.8.x in an already installed Magento 2.3.x environment.

Magento Version : CE & EE

[2019-10-03 07:10] romainruaud commented on #1565
Hi @robin31 , you are right.

I updated the wiki page, thank you for noticing this !

Regards

[2019-10-03 07:10] #1565 closed

[2019-10-03 08:26] avenicus opened #1566 "Searching by variant attribute"
By default Smile elastic suite returns configurable product when searching by variant sku.

For example if configurable sku is=100 and variant sku is=101, when I use search and type in "101", I get shown with search results containing the configurable product with sku=100. This is a great feature.

However, is it possible to copy this functionality to any other custom created attribute? I've tried

[2019-10-03 08:59] ubarenroom opened #1567 "Preview in Optimizer BO not works."
### Preconditions

Magento Version : EE 2.3.1

ElasticSuite Version :2.8.2

Environment :Production Mode and developer

Third party modules :

### Steps to reproduce

The Preview in BO don't take my optimizer, in FO seems to be OK
1.Create an optimizer
2.boost value to -99
3.rules conditions for a specific sku (ex: 2991770)

### Expected result

1.I want to my product with specific sku are in bott

[2019-10-03 13:58] YannBergonzat commented on #1503
It seems to be fixed, indeed 🙌:tada: ! Thank you!

[2019-10-03 14:12] rbayet commented on #1567
@romainruaud Shouldn't we wait for the #1528 related PR merge ?

[2019-10-03 20:07] volanar commented on #1552
Unfortunately, I'm not good at programming, but I think that the algorithm should be simple. You want to write code that will always assume the letters on the keyboard are the equivalent. That is,  й=q, ц=w, у=e  and so on. Then the correct result will be displayed, as in search engines. Can it be implemented technically or will it fail?

[2019-10-04 06:29] romainruaud commented on #1567
Yes, in my opinion this one should be fixed by #1528

[2019-10-04 14:33] LilyBergonzat commented on #1503
Oops, my bad, I only checked the swatches!

The category filter doesn't seem to be fixed. It has the same bug, [as my comment states](https://github.com/Smile-SA/elasticsuite/issues/1503#issuecomment-520554086).

Can you look into that please? @androshchuk @serg6854 @romainruaud

[2019-10-04 15:05] androshchuk commented on #1503
Hello, @LilyBergonzat

Could you please provide steps to reproduce this bug with category filter?

Regards

[2019-10-04 15:22] LilyBergonzat commented on #1503
Hello @androshchuk

The steps are almost the same, except at step 1, you set a category filter instead of a swatch:

The values of the category filter won't respect the order defined in the attribute administration (for example: number of results).

Magento Version : 2.3.2
ElasticSuite Version : 2.8.1
Environment : Production
Third party modules : None (tested in a vanilla Magento, with just Elast

[2019-10-05 22:02] jameskendy commented on #1213
I have seen some good ways to fix RSS feed errors define here https://wpitech.com/how-to-fix-wordpress-rss-feed-errors/ . I have implemented the second option and it works for me as the issue was one of my content feed plugin.

[2019-10-07 01:59] vutrankien commented on #748
@danrcoull yes, you are right, change the value of the param max_input_vars over 200000 then it works fine :) thanks you for suggest.

[2019-10-07 12:35] androshchuk commented on #1503
Hello @LilyBergonzat

Unfortunately, I can't reproduce the issue, because I don't have attribute type "category filter" http://joxi.net/a2XGVDDIwX4ddm .

I think you confused the subcategories with the filter (this is subcategory http://joxi.net/Q2KBn44CLDwpdm and they aren't sorted by Name or Result count).

Sample data has an attribute that simulates categories (Category Gear), but it's really m

[2019-10-07 14:50] romainruaud commented on #1503
I think @LilyBergonzat is speaking about the `category_ids` attribute.

This attribute is a bit special in Magento (it's a system attribute), and it's highly probable that when building the category filter we are not using the configuration that could exist in the `category_id` attribute because the Category facet is not built from an attribute like the other filters :

a "legacy" filter, based on

[2019-10-07 19:35] LilyBergonzat commented on #1503
It is, indeed! I will create another ticket, thank you :) !

[2019-10-07 19:35] #1503 closed

[2019-10-07 19:37] LilyBergonzat opened #1569 "Categories not displayed in the right order in the filters"
The values of the category filter won't respect the order defined in the category_id attribute administration (for example: number of results).

Magento Version : 2.3.2
ElasticSuite Version : 2.8.1
Environment : Production
Third party modules : None (tested in a vanilla Magento, with just ElasticSuite enabled, and Luma theme)

### Steps to reproduce
1. Set the category_id attribute values sort ord

[2019-10-07 19:37] LilyBergonzat commented on #1569
@romainruaud I created a new issue :) !

[2019-10-08 13:46] anthonyherve opened #1570 "Search into a text field with a substring"
Hello,

I have installed and configured an index following your documentation : https://github.com/Smile-SA/elasticsuite/wiki/Indexing. It works but I notice some inconsistencies in my search results, and I think there may be a problem in my setup.
I have a field containing the following value "Solution product" and I want a result if I type "Solute" or "Solution" in my search bar.
Currently only

[2019-10-08 14:41] jaxtheking commented on #896
If I may add a comment... I too am looking for this feature. Why not being able to look at shirts and jumpers at the same time??
Under an SEO standpoint, does it really matter to have also the `?cat=xx` param (since a canonical metatag is set on category pages anyway)?

More importantly, currently for me the Categories facet disappears once I've selected a category - even if that category contains

[2019-10-08 15:57] SamKTaylor opened #1571 "Error "The attribute model is not defined" when searching"
Magento: 2.3.2.
Elastic Suite: 2.8.0
Elasticsearch: 6.7.2

After enableing elasticsuite in as "catalog/search/engine" every search returns the following error:
"The attribute model is not defined."

Here is the system log for a search:

[code]

[2019-10-09 08:01] #1549 closed

[2019-10-09 09:34] #1513 closed

[2019-10-09 10:11] #1505 closed

[2019-10-09 10:13] perrivdb commented on #1505
Thanks for the fix!

[2019-10-09 13:14] #1532 closed

[2019-10-10 10:13] timovanhilst commented on #1482
I'm sorry I didn't respond.
I can make a conection with the Elastic cloud but I get the following error

{"error":{"root_cause":[{"type":"remote_transport_exception","reason":"[tiebreaker-000000002][172.17.0.30:19700][indices:admin/create]"}],"type":"illegal_argument_exception","reason":"Unknown filter type [phonetic] for [phonetic]"},"status":400}

[2019-10-10 10:30] jsterling commented on #1482
You need to enable the analysis-icu and analysis-phonetic under 'Elasticsearch plugins and settings' when managing your Elastic Cloud deployment.

[2019-10-10 12:15] #1555 closed

[2019-10-10 12:30] timovanhilst commented on #1482
It was a bit of a hassle to find out where these settings can be found.
Thanks for the help!

Go to your deployment -> Edit page -> Manage plugins and settings.
Enable analysis-icu & analysis-phonetic

[2019-10-10 12:30] #1482 closed

[2019-10-10 13:15] #1554 closed

[2019-10-10 17:36] southerncomputer commented on #1266
any progress on this?

[2019-10-10 18:23] southerncomputer opened #1573 "If a disabled part with a subset of a search term of an enabled product - search will fail?"
Say i have a disabled product - out of stock named HEW-W1A52A ..
and another product named HEW-W1A52A#BGJ - enabled and in stock.

both with mfgpartno of W1A52A#BGJ (searchable).

Elasticsuite will not get a direct hit on search term W1A52A until I delete or rename the disabled part from my catalog. Once i fix the disabled product, one hit matching occurs again..

Any thoughts on why this might be

[2019-10-11 20:22] joeldavuk opened #1574 "Visible section not found magento 2.3.3"
This is just a placeholder for anyone else facing this issue.

### Preconditions
Magento 2.3.3

Magento Version : CE

ElasticSuite Version :  2.8
Environment : Development
Third party modules : MSP Devtools

### Steps to reproduce
1. Attempt to login to the admin, any link will logout the user and return to login screen, apache/magento logs do not indicate any error.

### Expected result
1. Once l

[2019-10-11 20:23] #1574 closed

[2019-10-11 22:46] rbostan opened #1575 "Attribute with ID: "virtual_rule" does not exist"
### Preconditions

Magento Version : 2.2.3

ElasticSuite Version : ~2.6.0

Environment : Production

Third party modules :

### Steps to reproduce

1. Install extension
2. run setup:upgrade

### Expected result

1. Working normally

### Actual result

1. Attribute with ID: "virtual_rule" does not exist

[2019-10-14 12:47] shiva12121 commented on #215
hi i tried install opensmile on visual studio 2010 and win 8.1 64 bit but when i writ this cod : SMILExtract_Release -c has errors that see it :
pleases help me
![66717994-c59cdd00-edeb-11e9-9b6f-d10eb24951f3](https://user-images.githubusercontent.com/48890275/66752344-110fc380-ee9e-11e9-96cc-1ce9c75115bb.png)

[2019-10-14 22:27] masb74 opened #1576 "Backend virtual category slow loading"
In Magento 2.3.2 I created some virtual category, now it takes a long time to load the category in backend if I need to open and modify. Is there a cache to activate?

[2019-10-15 08:54] #1528 closed

[2019-10-15 09:15] robbertstevens opened #1577 "Is it possible to have indexes based on customer group?"
**Is your question related to a problem? Please describe.**

Is it possible to index the products based on customer group, for example if there a products not available for certain customer groups, or if prices differer per customer group?

[2019-10-15 12:38] JavierMaking opened #1578 "Range price slider doesn't work in mobile"
Range price slider doesn't work in mobile

### Preconditions

Magento Version :  2.1.12

ElasticSuite Version : 2.3.x

Environment : Production

### Steps to reproduce

1. Enter in https://www.dideco.es/libros/primeros-anos/texturas-y-sonidos#77479 (the issue is in all pages with products)
2. Move the extreme dots in range price slider in mobile

### Expected result

1. In desktop you can move the

[2019-10-15 13:28] vahir2016 opened #1579 "How sorting products in categories is working ?"
Bonjour,

Je travaille sur un projet qui va charger une collection de produits à partir d'une catégorie et on a remarqué que le tri disponible dans l'admin n'était pas appliqué.
J'ai donc appliqué sur la collection le tri tel qu'il devrait être dans l'admin mais je m'y prends peut être de la mauvaise façon ?

J'ai vu que la fonctionnalité native de tri par position avait été remplacée par votre mo

[2019-10-15 16:04] dufrygrant opened #1580 "Have the elasticsuite tracker hit return the empty HTTP/200 response to the client, asynchronously performing the recording of the hit, to improve performance"
We are currently using the Elasticsuite product on a Magento 2.2.x site.

Each page is performing a hit to the h.png file (in reality, the tracker URL), but this ordinarily takes ~1.5 seconds to return the empty HTTP/200 response to the user.

Can this in future be refactored to return the HTTP/200 response to the user 'early' (ie not synchronously waiting for the recording of the hit with Elastic

[2019-10-15 19:42] rbayet commented on #1567
Not sure the #1528 fix has taken into account this issue.

[2019-10-16 10:22] #1488 closed

[2019-10-16 11:28] denis-zyk opened #1581 "VirtualCategory with no rules doesn't load in backend (HTTP 500) w/ Medium size catalog"
VirtualCategory with no specific rules (i.e. rule value serialised in DB table `catalog_category_entity_text` looks like `{"type":"Smile\\ElasticsuiteVirtualCategory\\Model\\Rule\\Condition\\Combine","attribute":null,"operator":null,"value":"1","is_value_processed":null,"aggregator":"all"}`) cannot be loaded in Catalog -> Categories admin backend causing HTTP 500 error.

### Preconditions
Magento

[2019-10-16 11:49] ityetti opened #1582 "Collision with another 3rd-party extensions"
**Is your feature request related to a problem? Please describe.**
I use your extension with another 3rd-party extensions, and got collision in the file vendor/smile/elasticsuite/src/module-elasticsuite-catalog/etc/frontend/di.xml

If any another extension use node **virtualType** with the same name **categoryFilterList** you will get error like ```Type Error occurred when creating object: Company

[2019-10-16 12:44] rbayet commented on #1567
The issue is still present.
It seems to be related/limited to the negative boost score and the category preview.

On Luma + EE 2.8.x, with a rule
[code]
Boost value : -99

Previewing the search for "Gear", it works as intended :
![search_preview](https://user-images.githubusercontent.com/2353374/66920083-e438e900-f022-11e9-8b26-567485d26bbe.png)

Previewing the "Gear" category, the bag products sc

[2019-10-16 12:55] ubarenroom commented on #1567
hi,

No, the score is same, and results is not optimized.
And I've this issue on catalog product search.

![Capture du 2019-10-16 14-54-22](https://user-images.githubusercontent.com/37840765/66921236-09c6f200-f025-11e9-8010-1c482eb0a93b.png)

[2019-10-16 12:56] ubarenroom commented on #1567
hi,

No, the score is same, and results is not optimized.
And I've this issue on catalog product search.

[2019-10-16 13:17] rbayet commented on #1567
@ubarenroom did you intentionnally close this issue or was this a mistake ?

[2019-10-16 13:33] ubarenroom commented on #1567
It's a mistake sorry

Le mer. 16 oct. 2019 à 15:17, rbayet <notifications@github.com> a écrit :

--
Bruno MOREAU

[2019-10-16 13:38] rbayet commented on #1567
@ubarenroom Two additional questions :

- does the preview works if the boost value is positive ?
- have you tried using / could you try using the exact same rule in a virtual category and see what happens ?

I would be curious to know if the preview also fails in the category edit screen (and works in front).

@androshchuk Can you start looking at it ? Considering there might be two separate issu

[2019-10-16 13:40] ubarenroom commented on #1567
the results is same if value is positive, i've not tried with virtual category

[2019-10-16 15:25] rbayet opened #1583 "FPC related PHP warning (might block) when deleting an Optimizer with search terms limitations"
### Preconditions

Magento Version : EE 2.3.0, 2.3.2

ElasticSuite Version : 2.8.2 and 2.8.x

Environment : Developer

Third party modules : N/A

### Steps to reproduce

1. Make sure to enable the default FPC in admin
2. Create an optimizer applicable on the catalog product search container and with search query terms limitations
3. From the optimizers grid, try to delete the optimizer

### Expect

[2019-10-16 16:42] rbayet commented on #1563
Hello @madonzy,

Sorry about the delay.
Performing a full reindex after a change to `elasticsuite_indices.xml` is required for your changes to be taken into account as it is not possible to update the mapping of a live index.

Considering `elasticsuite_analysis.xml`, you can change *some* settings of a live index, but if you alter the analyzers, which are used both at indexing and search time, the

[2019-10-16 17:25] rbayet commented on #1567
OK, @androshchuk, please ignore my confirmation (https://github.com/Smile-SA/elasticsuite/issues/1567#issuecomment-542681636) and hint of a distinct issue : my problem is non-existent.

In my case, I had assigned a fixed position in the "Gear" category to the 3 products which end up with a "0.01" score. So yes, the 3 bag products' score is impacted, but the score is the secondary sort order when p

[2019-10-16 17:29] rbayet commented on #1567
@ubarenroom Can you provide us with the full configuration of your optimizer ?
That is :
- the search containers this boost applies to
- if there are search terms restrictions
- if there are category restrictions
- and **most importantly** what happens when your search for that product SKU in the optimizer preview and in front :
    - does the product appear in the search results (or are you redir

[2019-10-17 00:13] rjsag opened #1585 "Failed to load resource: the server responded with a status of 500 (Internal Server Error) - Virtual Category"
I am using Magento CE 2.3.3 with ElasticSuite  2.8.0 and after fresh installation, Catalog -> Category page stuck at spinner and doesn't load. While inspecting browser, at console it gives below error.

Failed to load resource: the server responded with a status of 500 (Internal Server Error) on below page which is related to virtualcategory

/admin/virtualcategory/category_virtual/preview/ajax/1/

[2019-10-17 04:01] rjsag commented on #1585
I am able to resolve this with help of solution on different issue reported back in March.  Issue was with conflicting module Icecatlive where I changed etc/di.xml and commented out the line that replaced Magento\Catalog\Model\Category, recompiled di and everything started working.

Related issue.#1345

[2019-10-17 04:01] #1585 closed

[2019-10-17 08:49] rbayet commented on #1571
Hello @SamKTaylor,

It's related to a search layer navigation filter failing to get a hold on the corresponding attribute model, but the error is thrown in Magento_Catalog, so you should have encountered that error before on any M2 search engine implementation relying on the native code.

Could you check your database for any invalid 'attribute_model' column value in your product attributes ?

The

[2019-10-17 08:59] SamKTaylor commented on #1571
Hi rbayet

Thankyou for your reply.

I definitely didn't get any problems with the default search engine implementation before switching to elastic suite.

I am currently taking a small break from our M2 setup to work on other things. I will check this out when I head back to M2 related things.

[2019-10-17 09:17] rbayet commented on #1561
Hello @KholdenSP,

Having all your categories tree be made out of virtual categories (except of course the root) is actually not recommended at all.
You can read why [on this comment by Romain](https://github.com/Smile-SA/elasticsuite/issues/1244#issuecomment-460552991) wrote for another issue related to virtual categories performance.

I'll add another element to Romain's comment : if all your ca

[2019-10-17 09:44] #1583 closed

[2019-10-17 09:52] rbayet commented on #1578
Hello @JavierMaking,

I've tried on my mobile, I was able to move the dots.

Granted, it's not super intuitive: you first have to tap one of the dot and each tap on the slider move that dot.
You can then switch to the other dot, tap it, and tap where you want to move it.

But I can confirm than you cannot drag and drop the dots as in desktop.

Regards

[2019-10-17 10:40] JavierMaking commented on #1578
Thank very much for your answer

Regards

El jue., 17 oct. 2019 a las 11:52, rbayet (<notifications@github.com>)
escribió:

--

*Javier Martin*

Front Developer

 +34 91 309 02 09

Calle López de Hoyos 135, 3º · 28002 Madrid
<https://goo.gl/maps/5RuH7a4owSL2>

¡No te pierdas nuestro próximo desayuno!

*Google Marketing Platform*
¡Inscríbete! <https://bit.ly/2OM5tf0>

*Este mensaje y, en su caso, c

[2019-10-17 11:01] Quazz commented on #1560
Thank you for looking into this!

I'll try to implement!

[2019-10-17 12:19] rbayet commented on #1578
You're welcome,

Regards

[2019-10-17 12:19] #1578 closed

[2019-10-17 14:06] rbayet commented on #1571
Ok @SamKTaylor, feel free to come back after checking out and if needed, re-open the issue if it gets automatically closed.

[2019-10-17 14:38] ityetti commented on #1582
@rbayet CompanyName\ModuleName\Model\Layer\FilterList extends Magento\Catalog\Model\Layer\FilterList

[2019-10-17 15:38] southerncomputer commented on #1580
might be your backend is congested.. I'm only seeing avg 80ms response!

![image](https://user-images.githubusercontent.com/6178967/67024520-8c59bb00-f0d2-11e9-9723-5ad9ac99732f.png)

[2019-10-17 15:42] southerncomputer commented on #1577
Elasticsuite does load prices per customer group already!

But I had to modify their shared_catalog module to support per-group product availability to exclude items in 1 store to specific users.

It is not functionality that is currently supported with CE edition but is supported with B2B modules if you want to go with EE+B2B version of Magento!

[2019-10-17 15:45] datasolution75 commented on #1557
No news ?
Anything wrong with my issue ? I can update if needed.

[2019-10-17 16:03] KholdenSP opened #1586 "Zero Search Results on Catalogsearch while Autocomplete Works"
We run a multi-store install of Magento 2. All of our other sites run the search just fine. However, this particular URL shows zero results when you hit the catalogsearch page. Looking for some reasons as to why that would occur. Autocomplete works, so there is an index of some kind.

### Preconditions
Magento Version : 2.3.1
ElasticSuite Version : 2.8
Environment : Production

### Steps to reprod

[2019-10-17 16:07] KholdenSP opened #1587 "Hide Magento Default Product List on Category Pages"
**Is your feature request related to a problem? Please describe.**
In the sorting of Magento product on a particular category, the product list is shown both from Smile and Magento Default. The SORTING appears to be controlled by Smile. This creates confusion when some may go in and attempt to sort by the Magento Default list.

**Describe the solution you'd like**
Hide the Magento sorting list, on

[2019-10-18 07:19] rbayet commented on #1580
Hello @dufrygrant,

@southerncomputer points something I thought about yesterday : are your crons running correctly ?

There may be a situation where the events are stacking into the dedicated DB `elasticsuite_tracker_log_event` table without being flushed regularly into the Elasticsearch dedicated indices.

Regards,

[2019-10-18 07:39] rbayet commented on #1570
Hello @anthonyherve,

I'm guessing the store locale/language where you are performing this search is en_*/english ?

Regards,

[2019-10-18 08:41] rbayet commented on #1582
ok @ityetti, **if I wanted to get cheeky**,  I'd say that `CompanyName\ModuleName\Helper\Data` contructor could simply accept a `Magento\Catalog\Model\Layer\FilterList` parameter instead of a `CompanyName\ModuleName\Model\Layer\FilterList` parameter. :imp:
Of course, it would not solve at all your problem because that helper would probably not work at all like expected.

I can't promise we will lo

[2019-10-18 09:07] rbayet commented on #1569
Hello @LilyBergonzat,

The issue is that even though `category_ids` is visible in the product attributes admin grid, we ignore it completely (as does pretty much any search engine implementation) as an attribute when building the layered navigation.
Whatever value you switch `is_filterable` / `is_filterable_in_search` to, the category filter **will** be there (provided the current category has chi

[2019-10-18 09:18] ityetti commented on #1582
@rbayet Thank you. I send similar request to the 3rd module team too. They said that will be investigate how to fix this problem.

[2019-10-18 11:49] gewaechshaus commented on #1577
Hey,

@southerncomputer - do you have any informations how you did realize this in detail? We wan't to have a small amount of items to be visible only for one customer group in a B2C scenario.

Thanks + Cheers
Jan

[2019-10-18 13:00] southerncomputer commented on #1577
Since we don't use EE B2B - we had to create a table 👍 `describe shared_catalog_product_item;
+-------------------+--------------+------+-----+---------+----------------+
| Field             | Type         | Null | Key | Default | Extra          |
+-------------------+--------------+------+-----+---------+----------------+
| entity_id         | int(11)      | NO   | PRI | NULL    | auto_increment

[2019-10-19 15:28] Ketika commented on #1403
Hi there,

Any solution for this issue? I am also facing the same in my Magento commerce cloud project. Please suggest.

[2019-10-20 09:40] rbayet commented on #1587
Hello @KholdenSP,

Such a visual merchandiser (the upper part of your screenshot) is not supposed to show up when using Magento 2 + Elasticsuite.
The module takes care of hiding the "Position" column of the native Products grid/dynamic rows component which we keep visible for the purpose of letting the merchant add/remove products (for non-virtual categories).

Here what it is supposed to look lik

[2019-10-20 09:56] rbayet commented on #1586
Hello @KholdenSP,

Considering your feature request #1587, I would have been tempted to point a problem to a third party extension/module messing with the `catalogsearch/result` page, but it should also impact your other sites as well.
Could you provide us anyway with a list of third party extension ?

Can you clarify that they are not affected at all ?
Can you clarify if the situation on icelandi

[2019-10-20 10:25] xpoback opened #1588 "Can `elasticsuite_tracker_log_event` be truncated without consequences?"
We've recently got a project with tracking enabled.
The size of the database is arount 5.5Gb where over 4.5Gb is just one table: `elasticsuite_tracker_log_event`.

I cannot see the oldest entry, because it has almost 5 millions entries, date is not indexed and the IDs don't seem to be ordered by date. By I suppose it has never been cleaned.
It's basically impossible to work with it dues to the hug

[2019-10-20 10:58] rbayet commented on #1588
Hello @xpoback,

Not knowing which version of the module you are using, here are answers considering the recent releases (2.8.x), your actual mileage may vary.

- The function of that table is to temporarily (not kidding) hold the JS tracker hits which tracks searches, product views, category views, product added, etc before the dedicated cronjob comes and consolidates the data in dedicated Elasti

[2019-10-20 11:36] xpoback commented on #1588
@rbayet Thank you very much such a quick and full answer.

The version of the module is 2.6.9, so there are some differences, like no data purge.
But I now can see where the problem is: `elasticsuite_index_log_event` appears to be not running at all (for some not yet know reason) and therefore the data is never processed and deleted.
I guess the whole tracking can be disabled, since there has been

[2019-10-20 11:36] #1588 closed

[2019-10-20 13:52] rbayet commented on #1581
Hello @denis-zyk,

I can somehow reproduce this issue on a CE 2.3.2 + Elasticsuite 2.8.1 with Luma + the medium performance toolkit profile (44k products in the catalog).

What is strange is that :
- there are no errors when initially saving such a category
- there are no errors when the category edit form is displayed again and the switch to virtual category is performed and saved

But indeed, if

[2019-10-20 14:13] rbayet commented on #1576
Hello @masb74,

How many products do appear in the merchandiser preview screen ?
How many products in total would you say are targeted by your virtual rule ?

Regards,

[2019-10-20 14:29] rbayet commented on #1557
Hello @datasolution75,

We have noticed your question and discussed it briefly internally, but we haven't managed to get the time to offer a proper answer, because it is a tricky matter.

The simple way to disable Elasticsuite categories merchandising feature would be to disable the `smile/module-elasticsuite-virtual-category` module, but of course you're losing the benefit of Elasticsuite Virtual

[2019-10-20 15:20] masb74 commented on #1576
hello @rbayet it depends by the category, but we have about 150/200 products each virtual category. I  created about 50 virtual categories, but I need to create other 150 more. It seems that the module send an ajax call that takes 20 minutes to be completed
thanks a lot

[2019-10-21 07:23] simonrl commented on #1403
Problem for me was that I had removed the Multi Source Inventory from my shop. The modules need to be enabled.

[2019-10-21 08:02] rbayet commented on #1576
OK, by "some", I thought you meant "a few" :)

If your existing virtual categories are arranged into a tree (children of each other) and you do plan to add 150 more such virtual categories, I'd like to warn you about the implication and performance issues that might appear.
Please refer to this recent [comment of mine](https://github.com/Smile-SA/elasticsuite/issues/1561#issuecomment-543085410) in

[2019-10-21 08:03] anthonyherve commented on #1570
Hello @rbayet
Thank you for your answer.
I have two stores : one with fr_FR language and other with en_US language.

Regards,

[2019-10-21 08:39] rbayet commented on #1570
Hello @anthonyherve,

So, to get right to the point : in Elasticsuite we no longer use the _edge n-gram_ analyzer (which jobs is to partially match words) which we used for the autocomplete search in our Magento 1 module.
**BUT** there is still a possibility to partially match word if your search query matches the "stem" (racine in french) of a word as determined by the _stemmer_.

I've check with

[2019-10-21 09:02] anthonyherve commented on #1570
Please find below mapping and settings for my french index:

Mapping:
`{
   "magento2_fr_attachment_product_20191016_152006":{
      "mappings":{
         "productattachments":{
            "_all":{
               "enabled":false
            },
            "properties":{
               "autocomplete":{
                  "type":"text",
                  "fields":{
                     "shingle":{

[2019-10-21 15:24] datasolution75 commented on #1557
There are quite a few fonctionalities wich are interesting :

- A larger choice of options to sort the products in the category.

![image](https://user-images.githubusercontent.com/39830829/67218163-32d0f380-f426-11e9-8630-85a8eb61b2f5.png)

- The list system is very simple and intuitive.

![image](https://user-images.githubusercontent.com/39830829/67217787-9c043700-f425-11e9-8ac9-88fb95baafbb.png

[2019-10-21 17:06] rbayet commented on #1569
Hello @LilyBergonzat,

The crux of this subject is that the category filter [loops on the current category children categories](https://github.com/Smile-SA/elasticsuite/blob/d683099601c45db323bee07cf1b4690804091230/src/module-elasticsuite-catalog/Model/Layer/Filter/Category.php#L134) (hence in the relative children categories order) and picks data from the categories aggregation.

So, if the actua

[2019-10-22 15:20] ryanisn commented on #1002
jeez, having protocol in the host url would break the installation, removing http(s) from url in config fixed it for me.

[2019-10-23 09:11] rbayet commented on #1573
Hello @southerncomputer,

I don't see a reason why the disabled product will by its mere lack of presence in the Elasticsearch index but presence in your catalog prevent you from getting hits on the other enabled and in stock product.
Especially if there are no links between the two products.

Can you clarify the situations (all of them) when you get hits and when you don't ?

Regards,

[2019-10-23 10:43] southerncomputer commented on #1573
Well I believe the disabled product was in elasticsuite index..

When I say direct hit I mean the option to redirect to product on single match. This fails when the disabled product and enabled product are both present.

Which makes me wonder what happens when a disabled product and enabled product both hit on a search - is the disabled product considered still valid for search in elasticsuite or

[2019-10-23 12:32] androshchuk commented on #1575
Hello @rbostan
I checked this issue with Magento 2.2.3 CE and ElasticSuite ~2.6.0 (I checked with 2.6.0 and 2.6.9)
Everything is fine for me.
setup:upgrade was executed without errors and attribute "virtual_rule" was created in the database.

Could you give me more information about your steps to reproduce the issue.

Regards

[2019-10-23 15:15] rbayet commented on #1573
Ah, ok, it makes more sense now.
So when the redirect DOES NOT happen, how many search results are displayed in the search results page ?
One or two ?

Well it all depends on your definition of disabled.
For you is it only out of stock ? And do you show out of stock products in the catalog ?

Regards,

[2019-10-23 16:58] southerncomputer commented on #1573
So when the redirect DOES NOT happen, how many search results are displayed in the search results page ?
One or two ? It falls back to a spellchecked search that returns more than 1 listing.. not exactly what a customer expects when they put in perfect match part number (SKU)..

My definition of disabled is catalog_product_entity_int.STATUS=2 - which is stored in index of elasticsuite - this produ

[2019-10-24 07:36] bernd-reindl opened #1589 "Use of Magento\Catalog\Block\Product\ProductList\Random"
Like in the block Magento\Catalog\Block\Product\ProductList\Random i have added a "random sort" expression to my product collection.
But in Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Fulltext the sort order will be changed in _afterLoad(). This might be correct for an query whitch is not random. But for an random query this destroys the random order.

### Preconditions

Magento CE 2.3.3

[2019-10-24 08:42] Quazz opened #1590 "Replace jquery/ui with the new modular approach"
**Describe the solution you'd like**
Replace each instance of jquery/ui dependency with the relevant modular approach.

The reason this is desirable is that it improves performance, especially on lower end devices. (less javascript to process is alway good!)

**Additional context**
Magento 2.3.3 changed jquery-ui to be split up into seperate modules. Extensions should now update their scripts to n

[2019-10-24 08:53] rbayet commented on #1573
Disabled products are not indexed in Elasticsuite.

They are filtered out at indexing time when they are absent of the 'catalog_category_product_index' table, see `\Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Indexer\Fulltext\Action\Full::getSearchableProducts` and `\Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Indexer\Fulltext\Action\Full::getCategoryProductIndexTable`.

Out of

[2019-10-24 09:02] stb opened #1591 "500 Error on show more filter results 1.6M skus"
### Preconditions

Single instance (Apache2, Percona, Elasticsearch), 14 CPU's | 64GB RAM | SSD
Magento Version : 2.3.2 CE
PHP: 7.2
Elasticsearch min_heapsize: 16 GB
PHP memory_limit: 2048 MB
1.6M simple products

ElasticSuite Version : 2.8.2

Environment : Developer

We have around 1.6 M sku's with 4-6 active layered navigation filters with each between 100 - 600 entries. When your result set is

[2019-10-24 10:26] southerncomputer commented on #1573
But what happens when status=2 disabled on mysql db and status=1 in elasticsuite?

does the mview partial indexer then delete the part from elasticsuite?

I'm using 2.3.2 with 2.8 elasticsuite ..

[2019-10-24 12:39] rbayet commented on #1573
Hello @southerncomputer,

Yes, it status is changed to 2 in the DB, the mview indexer gets notified, that's the native behavior, see vendor/magento/module-catalog-search/etc/mview.xml :
[code]

So the product is reindexed, and Elasticsuite deletes the pre-existing documents before reindexing,

See \Magento\CatalogSearch\Model\Indexer\Fulltext :
[code]

and \Smile\ElasticsuiteCore\Indexer\GenericIn

[2019-10-24 12:55] romainruaud commented on #1589
Hello,

first of all, you have to remain that the workflow when retrieving a product list from the engine is :

The workflow here is actually the following :

    1 : aggregating all filters (if any) and all sort orders (if any)
    2 : compute this into the Elasticsearch query
    3 : ask Elasticsearch for matching product Ids
    4 : put these product Ids into the SQL query filter
    5 : return

[2019-10-24 12:58] romainruaud commented on #1590
Good catch @Quazz !

Any chance you provide some help on this one ? :)

[2019-10-24 13:04] romainruaud commented on #1577
Two things to consider :

- this is doable with Magento B2B Shared Catalog modules, out of the box, and if you use the elasticsuite shared catalog module : https://github.com/Smile-SA/magento2-module-elasticsuite-shared-catalog

- otherwise, you'll have to go with a custom solution (like @southerncomputer suggested). Smile can provide you technical assistance or guidance through customer services

[2019-10-24 13:04] #1577 closed

[2019-10-24 13:17] romainruaud commented on #1582
Supporting third party paid extension is not part of our community support commitment. Especially considering this extension is providing something similar to ElasticSuite by plugging (badly) into the same legacy piece of code. You can contact us for commercial support if it is critical for you.

Feel free to send an email to romain.ruaud@smile.fr if you are interested in this kind of commercial s

[2019-10-24 13:17] #1582 closed

[2019-10-24 13:18] southerncomputer commented on #1573
yeah will all cron indexers ran - and up to date. I have a status=2 (disabled) in mysql DB and status=1 in elasticsuite index.. That is odd! I will have to run tests to see why they are in a disconnect!

[2019-10-24 13:29] bernd-reindl commented on #1589
Hello,

But „$collection->getSelect()->order('rand()');“ is also used in core code like in Magento\Catalog\Block\Product\ProductList\Random (Row 67) and breaks this too.

I'm not familiar enough with elasticsearch to change such things.

Mit freundlichen Grüßen

Bernd Reindl
Engineering & Development

 <https://www.2mountain.com/> logo

Gewerbestraße 10
A-4963 St. Peter am Hart

 <tel:+43772264277

[2019-10-24 13:44] Quazz commented on #1590
@romainruaud Haven't fully tested it, but as far as I can tell, just replace jquery/ui with jquery-ui-modules/widget in the following locations:

https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/view/frontend/web/js/range-slider-widget.js#L18

https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-core/view/frontend/web/js/form-mini.js#L24

I

[2019-10-24 14:13] rbayet commented on #1557
Hello @datasolution75,

`smile/module-elasticsuite-virtual-category`  overrides the `category_form.xml ` container node 'assign_products_container' of `magento/module-visual-merchandiser`, so it's not possible at this point to have both components in the admin.

Moreover `smile/module-elasticsuite-virtual-category` stores products positions and blacklist status in a dedicated table `smile_virtualc

[2019-10-24 15:10] rbayet commented on #1579
Hello @vahir2016,

**I / How to sort by category position a Elasticsuite fulltext collection**

Elasticsuite indexes a product's category relation and position in the following form in the index ;
[code]
=> the product is visible in categories 2 (root), 3/Gear and 4/`Gear>Bags` with a manual position (2) on that last category.
When on that category, to sort by position, the request contains a sort

[2019-10-24 15:52] KholdenSP opened #1592 "Request for Better Optimizer Configuration Options"
**Is your feature request related to a problem? Please describe.**
This is a feature request to be able to work more efficiently against several search terms that need optimizers. It's difficult to have to create several optimizers for a single search term or set of search terms.

**Describe the solution you'd like**
Offer either a "Duplicate Optimizer" option to avoid selecting multiple settings

[2019-10-24 15:58] KholdenSP commented on #1586
Sorry for slow reply. I'd be also tempted to blame a third party extension. Additionally, we've found that this is working correctly on staging, which tells me it's a setting or another extension causing the issue. Working with my developers to determine the root of the cause and will report back if it's something significant.

[2019-10-24 20:57] jesse-thomas opened #1593 "Smile Related Category Attributes not saving after new migration"
After running data migration on a fresh install (2.3.3) Category Attributes from the smile module will not save

Ex :
In the admin when changing the value for "Use Category Name in product search",  "Virtual Category" (and related fields)  then clicking save. The data for those fields is not saved. Other fields save fine, the success message is displayed and no errors are in the logs.

**Additiona

[2019-10-24 21:41] jesse-thomas commented on #1593
I have compaired eav_attrinute and catalog_eav_attribute without finding any differences.

[2019-10-25 00:17] jesse-thomas commented on #1593
if anyone has this issue, it can be fixed (worked around) in the eav_entity_attribute table. The data migration script created a new eav_attribute_set for categories (entity_type_id = 3 for me) and it conflicts with the original attribute set. Adding the smile attributes to the set that is missing them makes things work as expected. I dont think it has anything to do with Smile's code and probably

[2019-10-25 05:14] rbayet commented on #1573
If none of the indexers are locked and you know the crons run correctly without error (and your indexers are indeed in "Update by Schedule") then look under the hood to see what happens when you manually change a status directly in DB :
- are the changelog table correctly updated ?
- are those DB triggers still there ?

Good hunting.

[2019-10-25 09:55] stb commented on #1591
Thanks I just checked the sort order for all fields, which is set to default (result count). But you are damn right, it's the sort that makes the problem! I just changed it to admin sort and it loads the filters instantly. The question now is how can it be solved so that it works with sort. I checked with sort by name and relevance enabled - also the same issue. Should I open a new issue for that?

[2019-10-25 13:27] rbayet commented on #1591
I was totally not shooting in that direction, but glad I hit something nonetheless...

If it's entirely related, there is no need.
So, to be clear, the "show more/search" ajax calls generate 500 errors even when limiting the buckets max size to 200
- when the facet sort order is Result count, Relevance, Name
- but not when the facet sort order is Admin sort

Are your positive about that ?

Regards

[2019-10-25 16:42] jesse-thomas commented on #1593
found it
https://github.com/magento/data-migration-tool/issues/664

[2019-10-25 16:42] #1593 closed

[2019-10-26 17:31] rbostan commented on #1575
Hello,
I tried many times with different combinations with (production-developer mode, upgraded magento to 2.2.8) no chance.

Usual way, i've run `composer require smile/elasticsuite ~2.6.0` without errors.
But when i tried to run `setup:upgrade`still giving `Attribute with ID: "virtual_rule" does not exist` at `Module 'Smile_ElasticsuiteVirtualCategory':
Upgrading data..`step

[2019-10-26 18:11] rbostan commented on #1575
Upss, my bad. There was some old records about this module in setup_module table. deleted these entries and tried reinstall, everything worked fine. closing.

[2019-10-26 18:11] #1575 closed

[2019-10-27 20:09] stb commented on #1591
No I have not changed the bucket size. I have just increased the number of shards to 20.
If the facet sort order is set to Admin sort I do not actually see any additional ajax request when pressing the "show more/search" only when the sort order is set to Result count, Relevance or Name do I see an additional ajax request which returns a 500 error.

[2019-10-28 11:06] romainruaud commented on #1590
@androshchuk can you check that the proposed replacement is working ?

[2019-10-28 13:28] datasolution75 commented on #1557
Ok thank you, but in doing so we will not be able tu use virtual categories anymore ?

Are you planning to make an update in order to allow the usage of both Magento Visual merchandiser and virtual categories ?

[2019-10-28 14:15] dufrygrant commented on #1580
Which one would be doing the flushing, specifically?

Neither the elasticsuite_categories_fulltext or the elasticsuite_thesaurus cron jobs (both of which are running) flush the table in question, it seems (both run, no size change).

(That table's currently 3.8Gb in size in one of our divisions)

[2019-10-28 14:27] romainruaud commented on #1580
This cronjob should empty the table regularly : https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-tracker/etc/crontab.xml#L20

But can you please give us the detailed version of ElasticSuite you are using ?

[2019-10-28 14:32] dufrygrant commented on #1580
(Sorry for the deleted message; I'm running that now and will let you know)

[2019-10-28 14:37] romainruaud commented on #1557
@datasolution75 : I'm not sure how we could allow the usage of both components. We do not plan to do it for now at least.

I don't understand what you mean by "He does not want to have to sort all the products one by one"

[2019-10-28 14:38] romainruaud commented on #1563
Closing since answered

[2019-10-28 14:38] #1563 closed

[2019-10-28 14:56] KholdenSP commented on #1586
Here is what the debug is showing...

icelanding search log:
{"image":"h.png","page":{"store_id":"5","type":{"identifier":"catalogsearch_result_index","label":"Quick Search Form"},"product_list":{"page_count":"1","product_count":"0","current_page":"1","sort_order":"relevance","sort_direction":"asc","display_mode":"grid"},"search":{"query":"sweater","is_spellchecked":false},"site":"icelandicdesign.

[2019-10-28 15:08] datasolution75 commented on #1557
I don't see a way to sort products inside the category except from using manual sort and sort them one by one (like all the default sorting Magento ee provide in the list). Maybe there is an other way i did not saw.

And you could add an option to just disable the virtual merchandiser without having to disable virtual categories.

[2019-10-28 17:47] rbayet opened #1595 "Boolean navigation filters not showing anymore"
### Preconditions

Magento Version : 2.3.2

ElasticSuite Version : 2.8.x CE or EE

Environment : Developer/Production

Third party modules : N/A

### Steps to reproduce

1. Enable a boolean attribute for navigation filtering
2. Give it a low enough facet coverage or use a category `Display settings >  Layered Navigation Filters ` configuration screen to set it always visible
3. Make sure enough pr

[2019-10-28 17:52] rbayet commented on #1595
Created by https://github.com/Smile-SA/elasticsuite/commit/d11266d47f5372bde215e31f58e6dba3e59aeeb8

[2019-10-28 18:18] LilyBergonzat commented on #1569
Thank you @rbayet, that solution works perfectly :D !

[2019-10-29 07:52] #1595 closed

[2019-10-29 09:18] rbayet commented on #1586
@KholdenSP

Those logs are not relevant, they are tracker related logs, not actual search requests/responses.
(And the differences between them are natural : those are "Site URL" dependent data).

I should have pointed it better, but the lines that interest you are those containing at the beginning an URL with "/product/_search?pretty.true", like :
[code]
The line matching this condition will be a

[2019-10-29 09:33] denis-zyk commented on #1581
Any updates on this one, @rbayet? How can we fix it, or possibly workaround with the current virtual categories which couldn't be opened in the admin backend anymore?

[2019-10-29 10:42] rbayet commented on #1581
Hello @denis-zyk,

This issue has been a bit de-prioritized since we cannot systematically reproduce it.

As a workaround for your categories which are locked, I would advise switching the `is_virtual_category` attribute value back to `0` directly in the database.

First identify the attribute id :
[code]

Then delete or change the value for that attribute for any problematic category :
[code]
or

[2019-10-29 13:25] romainruaud commented on #1551
@volanar you can achieve this with the virtual categories : https://github.com/Smile-SA/elasticsuite/wiki/VirtualCategories

Regards

[2019-10-29 13:25] #1551 closed

[2019-10-29 13:49] vahir2016 commented on #1579
Hello,

Thanks you a lot for the answer. Unfortunately I have to deal with urgent tickets on my project but I will check for your answer as soon as possible.

[2019-10-29 14:52] rbayet commented on #1581
Hi @denis-zyk,

Are you definitely positive that you also face the issue in **production mode** ?
Because so far, I only have manage to reproduce this in developer mode.

Regards,

[2019-10-29 16:46] rbayet commented on #1581
Caused by aggs. resolving refactoring and #1458 which re-introduced the legacy behavior of the pageSize handling in the collection : `\Smile\ElasticsuiteCatalog\Plugin\Ui\Category\Form\DataProviderPlugin::getAttributes` generates a fulltext collection loading of all valid products.

[2019-10-29 17:16] rbayet commented on #1591
Could it be somehow linked to #1581 ie also impacted by 30a8d87abc1f69bdbc5046a26a6926f109dd12cd ?

[2019-10-29 17:26] KholdenSP commented on #1586
So the issue got solved in one of two ways. Both changes happened around the same time so I'm not sure which one solved it.
1) We had an empty virtual category (nothing met the requirement). The devs moved it back to a non-virtual category and it seemed to work.
2) We had a layered navigation module enabled. For whatever reason, we had disabled this in staging, but it was enabled in production. I

[2019-10-29 17:26] #1586 closed

[2019-10-30 06:31] rbayet commented on #1581
Looking back on it, it's probably the overhead of the developer mode that makes it "faster" to occur with regards to the catalog size.
Please ignore @denis-zyk.

Regards,

[2019-10-30 07:30] romainruaud commented on #1557
If you want to achieve things like "Put the special price on top", you can do it by creating Optimizers instead of locking products to the top of the list manually (or by fixing them to a specific position like the visual merchandiser is doing).

Maybe I'm wrong but if I remember correctly, the Visual Merchandiser is setting "hardcoded" position to products. So that if you select "special price on

[2019-10-30 07:30] #1557 closed

[2019-10-30 08:26] androshchuk commented on #1590
@romainruaud it's working.

@Quazz thank you for your help.

Regards

[2019-10-30 09:24] rbayet commented on #1590
BC with EE/CE M2 2.3.* to be tested.
I don't fancy introducing a bug for everyone but people using the 2.3.3.

[2019-10-30 09:28] Quazz commented on #1590
Perhaps the 'delegated dependency' that the tweet mentions is the better approach then?

`Magento_Ui/js/modal/modal` instead of `jquery/ui`

[2019-10-30 10:10] fbkaasa opened #1601 "Visual Merchandiser with sorting field"
**DISCLAIMER: Feature request added by request from our client, as discussed on MLEU**

**Is your feature request related to a problem? Please describe.**
This feature request is related to Visual Merchandiser, and lack of functionality compared to Magento Commerce Merchandising.

**Describe the solution you'd like**
As a customer, I want to be able to sort visual merchandising products with numbe

[2019-10-30 10:54] #1581 closed

[2019-10-30 15:56] rbayet commented on #1591
Managed to reproduce it with both a virtual and physical category containing all of a 42K catalog organised with :
[code]
Same symptoms as #1581 : an Elasticsearch request is sent with a pagination size of 24827, and the fulltext collection tries to load all the products.

[2019-10-30 22:18] KholdenSP opened #1605 "Optimizer Rule - Special Price treated as String versus Number, like Price"
When attempting to create a new optimizer, I was trying to move items with a special price to the bottom of a category. When I selected "Special Price", the value is treated as a string, rather than a numerical value.

### Preconditions
Magento Version : 2.3.1
ElasticSuite Version : 2.8
Environment : Production

### Steps to reproduce
1. Create a new Optimizer
2. Select Category Product View
3. Ap

[2019-10-31 08:53] ngtuan96lc commented on #644
Hi @afoucret
I have the same problem. When switching back from elasticsearh to mysql -> go to Catalog Listing page. I recived an error :
1 exception(s):
Exception #0 (LogicException): Index provider not configured
<pre>#1 Magento\Framework\Search\Adapter\Mysql\Adapter->query() called at [vendor/magento/module-search/Model/SearchEngine.php:42]
#2 Magento\Search\Model\SearchEngine->search() called a

[2019-10-31 09:46] romainruaud commented on #1605
Hello @KholdenSP

if you plan to boost (or bury) products that are actually discounted, you'd rather use the "Only discounted product" sub-rule.

That being said, I have the same issue as yours with special price being treated as a string BUT the "Special Price" should not be used (and available) in any cases here because it is simply not indexed into the Elasticsearch server : we only have a "pri

[2019-10-31 10:03] rbayet commented on #1605
That is, use an "AND" combination ("ALL those rules ...") with both a rule on "Only discounted products" and a rule "Price is less than 50".

[2019-10-31 12:11] gewaechshaus commented on #1274
Hi @romainruaud,
Hi @tomekjordan,

we are facing this issue also, the autocomplete is kind of slow and unresponsive if you compare it with the mirasvit one. Maybe it would be an option, to implement a backend configuration to choose a external payload which doesn't bootstrap the complete system.

[2019-10-31 12:30] gewaechshaus commented on #1274
@romainruaud

There must be a bottleneck somewhere in the controller.
I did some quick tests in one of our clients installations:

We are using http2, so this if faster as every test in the demostore

[2019-10-31 12:58] romainruaud commented on #1274
For me the bottleneck is the price rendering done in PHP, and the fact that it's done via a Magento controller.

If we could :

- move this to a REST Api endpoint
- just return some JSON and let the frontend render them properly

It would be a significant improvement.

And of course, if we were able to completely bypass the Magento stack, it would also be waaaay faster of course.

[2019-10-31 13:01] androshchuk commented on #1590
@rbayet I checked way use Magento_Ui/js/modal/modal instead of jquery/ui in  M2 CE 2.3.0 and M2 CE 2.3.3.

Everything works fine.

[2019-10-31 13:01] gewaechshaus commented on #1274
@romainruaud - I just inspected the wyomind one, the are sending a POST request to a payloader located under http://elasticsearch.wyomind.com/elastic.php

Did somebody ever kind of a profiling to find the bottleneck?

[2019-10-31 13:03] gewaechshaus commented on #1274
And for sure, many thanks for your fast reaction! Thumbs up.

[2019-10-31 13:08] gewaechshaus commented on #1274
So in conclusion we should build an external loader bypassing m2 combined with frontend rendered json...

[2019-10-31 13:10] romainruaud commented on #1274
yes, but you cannot "bypass" M2 easily. At least, there is something you don't want to bypass, it's the ES query building made by Elasticsuite, because it will :

- add any synonyms if accurate
- append optimizers function scoring to the query
- do a pre-fetch termVectors call to ES to know if the query should be fuzzy or not

And this Query building is made.. in a low-level PHP code wrapped into