[2018-11-19 10:37] romainruaud commented on #1166
I close this one, since it has been answered.

Regards

[2018-11-19 10:37] #1166 closed

[2018-11-19 10:38] romainruaud commented on #1163
Hello @cft-mike

Thank you for submitting it.

We'll have a look on this one.

Regards

[2018-11-19 10:40] romainruaud commented on #1088
I'll close this one for now since tracking indexes will be refactored in later version, feel free to open another issue if you are still facing issues.

Best regards

[2018-11-19 10:40] #1088 closed

[2018-11-19 10:42] romainruaud commented on #1159
I'm not sure this one is required to be processed during each setup upgrade.

It's probably needed to process this on first module install at least. Did you give a try to disabling it on your MECE environment ?

Regards

[2018-11-19 10:50] romainruaud commented on #1179
Hello @amenk

If you enable the **Debug Mode** as explained here : https://github.com/Smile-SA/elasticsuite/wiki/ModuleInstall#elasticsearch-client

The module will then produce logs through the Magento default logging system.

Regards

[2018-11-19 10:50] #1179 closed

[2018-11-19 10:55] amenk commented on #1179
@romainruaud yes I was having debug mode on, but no trace with the CURL lines is created. The `$this->trace` is just a NullWriter

[2018-11-19 11:05] romainruaud commented on #1186
@rbayet can you have a look on this one ?

The PR #1187 obviously fixes it on latest Magento version (2.2.6 and 2.3.0 beta) but I'd like to have something more smooth and of course something able to deal with backward compatibility.

Not sure it's possible actually ..... Maybe we can rely on something hacky for now, and fix it definitely later when we'll decide to drop support of Magento versions

[2018-11-19 11:16] romainruaud opened #1189 "Dropdown attributes values not displayed in adminhtml"
According to this commit : https://github.com/magento/magento2/commit/2f057f74a651db2ee5bf689fdb0c5b66ac61489f#diff-5ab37ddfe3a4d9011d97bb9f7e4375bf

The JS part responsible of attribute editing in Back-Office have been completely reworked by Magento.

This seems to cause attributes values not being displayed in adminhtml according to #1169

The proposed fix is not what we should achieve.

Instead

[2018-11-19 11:50] amenk commented on #1179
@romainruaud
There is also $this->debug->info() around the above line. So it's supposed to log the request twice.
Once as debug, once as trace.

I am seeing the debug request as well.

The trace is an actual `curl` console command. So are you seeing a line that can be easily pasted to `bash` to replay the request?

If not, it's not working for you :-)

[2018-11-19 11:55] amenk commented on #1179
Whoops .. the code is actually inside the elasticsearch library:

vendor/elasticsearch/elasticsearch/src/Elasticsearch/Connections/Connection.php:401

I did not see that ...

So it's more like, elasticsuite does not connect the trace log stream instead of "somebody implemented that in elasticsuite and did not document it".

Still would be interesting though how to get the curl commands logged, but

[2018-11-19 11:56] romainruaud commented on #1179
You are right, I'm only having this actually (on system.log) :

[code]

So I think the `$this->log->info()` is fine, but yeah, `$this->trace` is not actually working.

[2018-11-19 12:00] romainruaud commented on #1179
Got it,

just adding `$this->client->setTracer($this->logger)` in `Smile\ElasticsuiteCore\Client\ClientBuilder` is enough to produce traces.

[2018-11-19 12:02] amenk commented on #1179
Cool, should we add that to the core module? Maybe making the log on/off setting a log level setting for off, debug, trace ?

[2018-11-19 12:12] romainruaud commented on #1179
For now, I think we can add it "as is" to the core module and schedule it for a release onto the next minor version.

Log level should be managed internally by Magento since we pass an implementation of LoggerInterface.

[2018-11-19 12:14] amenk commented on #1179
true, great :-)

[2018-11-19 13:42] rbayet commented on #1186
Actually, I don't see the change being done in the tag 2.2.6 yet, but the changes have definitely been made in the 2.2-develop branch.
Following the BC approach described in https://github.com/magento/magento2/pull/16582 should do the trick.

[2018-11-20 11:01] rbayet commented on #1186
@romainruaud I focused on a smooth M2 2.2.x approach in PR #1190 but it will *not* work on 2.3 where the "old : new " path mapping is absent in Magento_Search.
I don't see a way to have a common hack working for both 2.2.x and 2.3.x : introducing ourselves the path mapping would work in 2.3x, probably do nothing in versions >= 2.2.7, but break in 2.2.6 and before.

So it looks like a new branch is

[2018-11-20 11:12] wouter-toppershops commented on #1186
@rbayet could you please make that branch with only this fix for now?
magento will release 2.3 very soon. this year according to the planning.

[2018-11-21 07:49] romainruaud commented on #1186
Hello,

so the issue is actually solved for 2.2 version of Magento, and BC compliant for all 2.2.x

If we do not find an hybrid or hacky way to get it working on Magento 2.3.0, I'm okay to have a different fix of this one being implemented into master branch (future 2.7.0 major), knowing that it would leverage our requirements to Magento > 2.3.0.

In the meantime, we will also contact Magento to e

[2018-11-21 14:00] rbayet opened #1192 "Unchanged order of layered navigation filters not the same as in admin"
In CE 2.3.0-beta32, the ability to change the relative position of layered navigation filters for a category works as expected **but** when no changes are applied, the default order of attributes show in admin **is not** the one applied to the attributes related layered navigation filters.

### Preconditions

Magento Version : CE 2.3.0-beta32 + sample data

ElasticSuite Version : 2.6.3

Environmen

[2018-11-21 15:39] romainruaud commented on #1179
Implemented in #1193

[2018-11-21 15:48] #1186 closed

[2018-11-21 15:48] #1189 closed

[2018-11-21 16:51] rbayet commented on #1192
OK, this one is a bit weird.

It is definitely linked to the PR #1164 made for https://github.com/Smile-SA/elasticsuite/issues/1153 which introduces **only in admin** a SQL join on *eav_entity_attribute* to apply a condition on the  (relevant) attribute_set_id(s), which in turns adds a GROUP BY on the attribute_id.
(Because the same attribute could belong to several attribute sets, for instance: p

[2018-11-22 12:56] rbayet opened #1195 "(2.3.x) Magento_Search/form-mini not found"
Issue #1186 pointed to some web JS file relocations that occured in Magento 2.2.x and have been forward ported to Magento 2.3.x.
The PR #1190 merged on the 2.6.x branch makes sure that the code is compliant with the BC approach of the 2.2.x line.
The forward port of the JS files relocations in 2.3.x is no longer BC, though.

### Preconditions

Magento Version : CE 2.3.0-beta32 + sample data

Elast

[2018-11-22 13:18] rbayet commented on #1195
@romainruaud Merging 2.6.x on master is required before fixing / merging this one (or a conflict will occur).

[2018-11-23 10:06] rbayet opened #1196 "Support for Multi-Source Inventory (MSI) coming in 2.3.x"
2.3.x introduces MSI (https://github.com/magento-engcom/msi/wiki) which allows to define different stock (stock_id) for different websites and inventory sources in (but probably not limited to) multi-websites environment.
When it is the case, it is not longer possible to rely purely on *legacy* tables cataloginventory_stock_* for indexing into ES the stock status of products, but there is a need t

[2018-11-23 10:19] romainruaud commented on #1196
Let me know if it's doable directly on ElasticsuiteCatalog module.

Maybe something on the Stock Datasource that would be able to :

- for a given website/store : be able to deduce how the stock is managed : legacy (it's unclear for me how relevant are legacy stock data & tables on Magento 2.3) or MSI
- then compute stock information for the proper table
- index it

If it's not possible to handle

[2018-11-23 12:34] romainruaud commented on #1192
Fixed by #1194

[2018-11-23 12:34] #1192 closed

[2018-11-23 12:35] romainruaud commented on #1195
Ok, I merged 2.6.x into master

[2018-11-23 12:43] romainruaud commented on #1185
Ok, so we probably found what is responsible of this one during a live coding session :

- products are having a `null` value for the `color` attribute.

`null` values are removed by this line when preparing them : https://github.com/Smile-SA/elasticsuite/blob/master/src/module-elasticsuite-catalog/Model/Product/Indexer/Fulltext/Datasource/AttributeData.php#L91

BUT, on this next line, we keep add

[2018-11-24 11:20] Swahjak opened #1198 "M2.3.x ES2.6.x Category position indexing"
### Preconditions

Magento Version : 2.3.x

ElasticSuite Version : 2.6.x

Environment : developer

Third party modules : -

### Steps to reproduce

1. Index product fulltext

### Expected result

1. Category position is supplied

### Actual result

1. Category position is not supplied

Side note; We are in the process of migrating from 1.9.3.10 to 2.3.x.

I'm not sure if this is a bug or a migrati

[2018-11-26 11:41] romainruaud commented on #1198
Unfortunately, it's by design that products positions are saved into `smile_virtualcategory_catalog_category_product_position` instead of being stored into the legacy table.

So actually, you'd better copy/paste product position data into this table during your migration process if you want to rely on them.

And this table is probably here to stay because we plan to allow to merchandise product po

[2018-11-26 12:44] bhupendra-patidar opened #1200 "Include Custom Product Types in Indexing"
### Preconditions

Magento Version : Magento EE 2.2.3

ElasticSuite Version : ElasticSuite **2.6.x**

Environment : Developer

Third party modules : Porto Theme

### Steps to reproduce

1.  I have create a module to add Custom Product Types in Magento 2 like (https://www.classyllama.com/blog/custom-product-types-magento-2) it is working fine with mysql and magento default Elasticsearch module but

[2018-11-26 12:46] romainruaud commented on #1200
There are no filters on product type with Elasticsuite.

But there is a filter on visibility, and website affectation.

Can you please detail how are your products created ? Do they have proper visibility, and are also affected to the correct website ?

Regards

[2018-11-26 12:57] bhupendra-patidar commented on #1200
![screenshot_2018-11-26 products inventory catalog magento admin](https://user-images.githubusercontent.com/44673131/49015342-c8c5b500-f1a8-11e8-9745-c6471cc8cb86.png)

See the attached screen-short i have added new type (service) product,

[2018-11-26 13:05] bhupendra-patidar commented on #1200
![screenshot_2018-11-26 latin dance products inventory catalog magento admin](https://user-images.githubusercontent.com/44673131/49015754-0aa32b00-f1aa-11e8-9f9e-2242f8ab01d7.png)

Visibility : Catalog,Search
Website : Assign to multiple website and also checked with single website

[2018-11-26 14:38] romainruaud commented on #1200
Ok, it's probably due to the fact that your product does not appear to be attached to any categories actually.

[2018-11-26 14:55] bhupendra-patidar commented on #1200
Still getting same problem when product assigned to categories :

![screenshot_2018-11-26 modern dance products inventory catalog magento admin](https://user-images.githubusercontent.com/44673131/49021728-4f828e00-f1b9-11e8-8448-fe7c0693027d.png)

[2018-11-26 14:59] tukker01 commented on #401
Same isseu here after installing Comwrap_ElasticsuiteBlog
HTTP ERROR 500 error on every search query
When disable Comwrap_ElasticsuiteBlog it works fine.
Same isseu with module CMS Search

[2018-11-26 15:19] Swahjak commented on #1198
Actually Magento 2.3.x has 'new' tables allowing positions per store (something that is already taken into account in Elasticsuite). As an example we have the following tables:
- catalog_category_product_index
- catalog_category_product_index_replica
- catalog_category_product_index_store1
- catalog_category_product_index_store1_replica
- catalog_category_product_index_store2
- catalog_category_pr

[2018-11-27 09:00] denissdubinin opened #1201 "Support for composer elasticsearch 6.x"
In composer.json file version ~5.1 of elasticsearch/elasticsearch is required. Which means supported versions are 5.1.0 - 5.1.9. So package cannot be installed using composer for the project that use ES 6.x.

Magento Version :
2.2.6

ElasticSuite Version :
2.6.3

Environment :
Developer

### Steps to reproduce

1. Open CLI
2. Do `composer require smile/elasticsuite ^2.6.0`

### Expected result

1.

[2018-11-27 15:02] bhupendra-patidar commented on #1200
@romainruaud - Did you get chance to review and find the solution?

[2018-11-27 19:09] tukker01 commented on #401
Same isseu here is there a solution?

[2018-11-28 10:17] rbayet commented on #1198
Hello @Swahjak

The new tables do really not allow positions per store.
This index table structure merges catalog_category_product data (products assignment to categories + their position) which is defined globally *and* the **visibility** ("Catalog", "Search", "Catalog/Search", etc) of the products which can be defined at the store view level, hence the store_id column in the table structure.
Thi

[2018-11-28 13:51] Swahjak commented on #1198
@rbayet I think you can ignore the comment about `smile_virtualcategory_catalog_category_product_position` being empty. I'm pretty sure that is related to the 'order' of things in (our) migration.

This is indeed what I expected the table to be since there is a union on the base select and the virtual select. Whether or not that expectation is correct I leave up to Smile to decide, but it's the or

[2018-11-28 15:33] #560 closed

[2018-11-28 15:40] Grek1981 opened #1203 "Price not updated on search pages result vs M2 BO"
Price not updated on search pages result vs M2 BO

### Preconditions

Magento Version : 2.2.2

ElasticSuite Version : 2.5.12

Environment : Production

Third party modules :

### Steps to reproduce

Price updated for all store views in BO

Clear cache + reindex

### Expected result

Price on pagelist resuls appears as in BO

### Actual result

Previous price is showing

[2018-11-28 15:44] romainruaud commented on #1203
Hello @Grek1981

Elasticsuite is - on a legacy base - not responsible of the data which are displayed in front.

To be completely exact, the workflow is the following :

- we take the current context (current search query, or current category, it depends on the page).
- we process a query to the Elasticsearch engine.
- we get **only the product ids**
- and then a standard Magento collection is ini

[2018-11-28 15:55] rbayet commented on #1198
Hello @Swahjak,

**Short version** Actually `Smile\ElasticsuiteVirtualCategory\Model\ResourceModel\Product\Indexer\Fulltext\Datasource\CategoryData` works as intended.
The PR you proposed would make what is indexed and what is visible in the product sorter/merchandizer inconsistent.
If in your project, a lot of custom positioning has been applied to products in `catalog_category_product`, then as

[2018-11-29 06:40] badev-ajay opened #1205 "Category Pages serverd from ElasticSearch indexes"
Hi ElasticSearch Team,

Can we be served fully category page from ElasticSearch currently product list is coming from the database?

[2018-11-29 11:17] rbayet commented on #1201
Hello @denissdubinin,

I reckon you are using a Magento Open Source (CE) version ?
As it is not possible to install/require ~6.0 version of elasticsearch/elasticsearch on EE 2.2.6 due to conflicting requirements with the native EE magento/module-elasticsearch module.

Regards,
Richard.

[2018-11-29 13:56] rbayet commented on #1196
Fixed by PR #1202

[2018-11-29 13:56] #1196 closed

[2018-11-29 14:16] rbayet commented on #1188
Hello @philsouza2016,

Did you encounter the problem on a classic category or on a virtual category, or both ?

Regards,

[2018-11-29 15:51] rbayet commented on #1188
So far, I have not been able to reproduce this issue.

The only way to get close to that is to :
- have indexers in "Update by schedule"
- having crons disabled
- removing products assigned to *standard* category and simply saving the category

If the crons are not run, the category is not reindexed and
- the removed products are still indexed as assigned to the category in ElasticSearch
- and so

[2018-11-29 16:09] rbayet commented on #1201
I'll leave this issue opened. The docs https://github.com/Smile-SA/elasticsuite/wiki puts forward compatibility with ES 6.x (see https://github.com/Smile-SA/elasticsuite/wiki/ServerConfig-6.x), so it's only logical that composer requirements reflect that.

**Even if** it means that on a EE version, native magento/module-elasticsearch module will prevent installing elasticsearch/elasticsearch 6.0

[2018-11-30 10:39] #1195 closed

[2018-11-30 12:51] Swahjak commented on #1205
I think that is the question; can we retrieve the entire product list from Elasticsearch instead of from the database. Skipping the database could have some interesting benefits.

[2018-11-30 12:55] Swahjak commented on #1198
@rbayet Thank you for the comprehensive explanation. I understand your argument / explanation and will close the issue.

[2018-11-30 12:55] #1198 closed

[2018-11-30 13:01] romainruaud commented on #1205
I agree, it could probably be a nice performance gain on frontend.

Probably quite easy to do since we have the source of any document in the search response actually.

It would require replacing/skipping the `_loadAttributes` of the collection to use data coming from Elasticsearch (and fallback to the legacy SQL query based on many many JOINs if an attribute is not indexed/retrieven).

BUT :

- d

[2018-11-30 13:18] rbayet commented on #1201
Closing as Elasticsuite does not need the 6.x elasticsearch PHP client to run correctly with a 6.x server, hence the dependency to the 5.x client as it stands today.
In that context, the risk that CE and EE users run different versions of the elasticsearch PHP client is not worth taking.

The docs should probably clearly states that the Elasticsuite composer requirements are self-sufficient, wheth

[2018-11-30 13:18] #1201 closed

[2018-11-30 14:01] chaundy opened #1208 "Magento 2.3 and php7.2"
Hi,
I am just trying out the Magento 2.3 in a development area running PHP7.2. I have had errors as below when i try to install the ElasticSuite Version : 2.6.0. I am not sure if this errors are because its not supported in PHP7.2 does anyone know if it is supported?

Magento Version : 2.3
ElasticSuite Version : 2.6.0
Environment :Developer
Third party modules : none fresh install
### Actual resul

[2018-11-30 15:10] rbayet opened #1209 "[2.3.x] Not possible to delete/reorder attribute options in admin"
### Preconditions

Magento Version : CE 2.3.0-beta32 + sample data

ElasticSuite Version : 2.6.3

Environment : Developer

Third party modules : N/A

### Steps to reproduce

1. Edit a dropdown attribute in admin
2. Re-order attribute options (or delete an attribute option)
3. Click on "Save attribute" or "Save and continue"

### Expected result

1. Attribute options are re-ordered (or the option i

[2018-11-30 15:17] rbayet commented on #1209
Next iteration of #1189 ?

[2018-11-30 22:33] giraclion opened #1211 "XSS Vulnerability when filtering PLP"
In combination with Magento 2 unescaped HTML code in layered navigation state PHTML template, the Smile ElasitSuite feature, where multiple filter attributes are represented as human readable values in the URL - you can perform an XSS attack.

### Preconditions
Magento Version: v2.2.5
ElasticSuite Version: 5.5
Environment: Production
Third party modules: None

### Steps to reproduce
1. Open Firefo

[2018-12-03 11:00] vanpoppel opened #1212 "php Undefined store_id error on tracker log indexing"
Magento Version : 2.2.7
ElasticSuite Version : 2.6.3 and ElasticSuiteCMS 2.2.1
Environment : Production
Third party modules : a lot.

### Steps to reproduce
1. Have lines like this in elasticsuite_tracker_log_event:
`INSERT INTO `elasticsuite_tracker_log_event` (`event_id`, `date`, `data`)
VALUES ('ce6ef8485edc507a6b3efcd95848a652', '2018-07-19 11:43:56', '{\"image\":\"h.png\"}');`
2. Enable cron

[2018-12-03 11:15] romainruaud commented on #1211
Hello @giraclion

Thanks for submitting it,

Something is unclear for me, if the problematic file is `vendor/magento/module-layered-navigation/view/frontend/templates/layer/state.phtml ` it's not Elasticsuite responsibility, since this file is coming directly from Magento.

Do you have the same error on legacy Magento installation without Elasticsuite ?

Regards

[2018-12-03 11:20] romainruaud commented on #1212
Hello @vanpoppel

thanks for submitting this one.

I agree, it's strange that events are generated without any store Id, and we'll have to dig more to find where it can be the case.

But it should be easy to fix this one actually by discarding events that do not have any store.

Thanks

[2018-12-03 11:48] #1209 closed

[2018-12-03 13:23] evilprophet opened #1213 "Fatal Error on RSS feed for category"
When I go to rss for category I got fatal error intead of xml feed.

### Preconditions
Magento Version : 2.2.6, reproduced also on 2.2.2
ElasticSuite Version : 2.6.2, reproduced also on 2.5.14
Environment : Developer and Production

### Steps to reproduce
1. Enable RSS in Stores>Configuration:
[code]
2. Disable "Display Out of Stock Products"
[code]
3. Go to /rss and open one of the category, for

[2018-12-03 17:15] rbayet commented on #1186
@wiardvanrij 2.6.4 is going to be released very soon, probably next Thursday (CET).

[2018-12-03 17:47] rbayet commented on #1213
Confirmed on 2.6.x, same type of PHP fatal error :

[code]

[2018-12-03 18:35] rbayet commented on #1213
Note that I find it strange that in 2.5.x, when `cataloginventory/options/show_out_of_stock => 1`, there is not also a fatal error due to method `addSortFilterParameters` missing.

This only means that :
1. neither `if (!$searchQuery->getQueryText() && $layer->getCurrentCategory())` nor `elseif ($searchQuery->getId())` are satisfied
2. the magento installation does not have any attributes used for

[2018-12-03 22:16] cft-mike commented on #1163
Thank you for looking into this.
I've found that our indexers appear to be in the incorrect order for some reason (TBD).
catalogsearch_fulltext is coming before cataloginventory_stock
I've noticed magento added CatalogInventory to the  CatalogSearch module Sequence,
I'm expecting that to resolve my issue, i will test tomorrow.

[2018-12-04 08:57] evilprophet commented on #1213
Confirmed, 2.5.x, after change `cataloginventory/options/show_out_of_stock => 1` errors still aprear.
Will you fix it also on 2.5.x or only on 2.6.x?

[2018-12-04 10:00] romainruaud opened #1216 "GraphQL Support"

[2018-12-04 12:06] rbayet commented on #1213
Hello @evilprophet,

I'll check with @romainruaud, I don't know if we plan to release additional 2.5.x versions as the 2.7.x (M2 2.3.x compatibility) are coming.

PS: thanks for the report, btw !

Regards,

[2018-12-04 12:16] evilprophet commented on #1213
@rbayet No problem, if not then I'll prepare a patch for myself ;)

[2018-12-04 15:48] kweij opened #1217 "Release (tag) for Magento 2.2.7 support"
A fix has been applied for a change that happened in the latest Magento 2.2.7 release: https://github.com/Smile-SA/elasticsuite/issues/1195

This fix is scheduled to release with a 2.7 branch that seems to require Magento ^2.3, however this fix also needs to become available for Magento 2.2.7. So I suppose a 2.6.4 reelase should be created to continue support for Magento 2.2.7, because currently i

[2018-12-04 15:53] kweij commented on #1217
Ah, I see this is in progress: https://github.com/Smile-SA/elasticsuite/projects/33

[2018-12-05 09:41] romainruaud commented on #1217
Yes, we plan to release this one tomorrow, to be completely transparent. It will be a double release of Elasticsuite 2.6.4 and Elasticsuite 2.7.0.

Regards

[2018-12-05 09:41] #1217 closed

[2018-12-05 09:42] romainruaud opened #1218 "Include new Magento Marketplace Extension Quality rules."
Based on their latest tag : https://github.com/magento/marketplace-eqp/releases/tag/2.0.0

[2018-12-05 09:46] badev-ajay commented on #1205
Hi Team,

When We can aspect this feature or please give some clue about that sho i can change myself

[2018-12-05 16:39] romainruaud commented on #589
Please create a new branch (from master) which is embedding this module code source from our internal POC. We'll then iterate on this feature branch before the final merge on master.

[2018-12-05 17:13] #1213 closed

[2018-12-06 10:12] #1185 closed

[2018-12-06 12:53] husseycoding opened #1219 "Dev environment install"
### Preconditions

Magento Version : 2.2.6

ElasticSuite Version : 2.6.0

Environment : Developer

Third party modules : None that are relevant

### Steps to reproduce

1. Install extension in environment without elasticsearch installed on the server
2. Run any Magento tool from the command line

### Expected result

1. The command runs successfully

### Actual result

1. You get the error 'Source

[2018-12-06 13:43] rbayet commented on #1213
Hi @evilprophet,

The issue has been fixed in both 2.6.4 and 2.7.0 releases that were published today.
Unfortunately, we will not release additional 2.5.x versions.

But I've just tested, you can indeed patch/apply the fix on a 2.5.14 version without issue if you decide to stick with that version on your 2.2.2 install.
But I would recommend to upgrade to 2.6.4 in both your M2 environments.

Regard

[2018-12-06 14:22] rbayet commented on #1219
Hello @husseycoding,

I would not advise anyone to have a development environment which an architecture or a collection of active modules different than what is deployed in the staging or production environment, it's just asking for karma to hit you hard in the face.

Anyway, the extension assumes that it is there to be used, so installing ElasticSearch beforehand is indeed a requirement (as indic

[2018-12-06 14:33] husseycoding commented on #1219
Thanks for the reply @rbayet , ideally don't want to introduce the requirement to have elasticsearch installed in all local dev environments as there are quite a few most of which never need search functionality.  Also some of the environments are pretty locked down in terms of what can and can't be installed, might be that it's just not possible to have elasticsearch installed any time soon, or a

[2018-12-06 14:55] romainruaud commented on #1219
Hello,

good practice is to have dev environments which are ISO to your prod environments, otherwise you will not be able to anticipate issues and will be blind about what you are delivering to the next step of your pipeline. It's just an advice but you should think about it. Especially since Elasticsearch is used for all frontend rendering (product list & search result pages).

That being said, y

[2018-12-06 14:55] #1219 closed

[2018-12-06 15:09] husseycoding commented on #1219
Hi @romainruaud, don't worry we have 2 staging environments in front of production and a dedicated testing team who tests only in these environments (where elasticsearch is installed).  This is in reference to local dev environments only where the only testing that is needed is on the feature currently being worked on which regularly will have nothing to do with elasticsearch/category listings etc

[2018-12-06 15:11] r0umi commented on #1087
Hello,
I've got the same issue too.

**Preconditions :**
Magento Version :2.2.6
ElasticSuite Version : 2.6.4
ElasticSearch Version : 5.3.2

**Steps to reproduce : **
Go to magento CLI
Run php bin/magento indexer: reindex
Gives error on terminal

**Expected result : **
Design Config Grid index has been rebuilt successfully in 00:00:01
Customer Grid index has been rebuilt successfully in 00:00:01
Pr

[2018-12-06 16:03] rbayet commented on #1087
Hi @edward-simpson,

Could you also give me the version of your ElasticSearch ?

Regards,

[2018-12-06 16:10] r0umi commented on #1087
Hello,

He's got the same version : v5.3.2 according to his last comment.

Regards, Romain

[2018-12-06 16:15] rbayet commented on #1087
Hello @r0umi, v5.3.2 is the version of its ElasticSearch PHP client (elasticsearch/elasticsearch).
I updated my comment to clarify that I'm interested in the ElasticSearch **server** version.

Regards,

[2018-12-06 16:34] evilprophet commented on #1213
Thanks @rbayet

We will upgrade environments soon, but good to know that I can apply patch without a problem.

Best regards

[2018-12-07 08:27] robert-schmidt opened #1220 "magento 2.2.7 - Cannot modify header information - headers already sent"
### Preconditions

php 7.1, litespeed, mariadb latest, redis for sessions stoare, litemage for page cache

Magento Version : 2.2.7, CE

ElasticSuite Version : 2.6.4

Environment : Production

Third party modules : nothing relevant

### Steps to reproduce

Just upgraded to magento 2.2.7 and I started to get these error warnings in /var/report/:

`{"0":"Warning: Cannot modify header information - he

[2018-12-07 14:16] romainruaud commented on #1182
Closed for being inactive more than 2 weeks.

Feel free to open a new issue if still encountering the problem.

[2018-12-07 14:16] #1182 closed

[2018-12-07 14:16] romainruaud commented on #1173
Closed for being inactive more than 1 month.

Feel free to open a new issue if still encountering the problem.

[2018-12-07 14:16] #1173 closed

[2018-12-07 14:17] romainruaud commented on #1163
Considering this one resolved since it was probably specific to your project/environment

Feel free to open a new issue if still encountering the problem.

[2018-12-07 14:17] #1163 closed

[2018-12-07 14:20] romainruaud commented on #217
Search API was fully integrated in latest 2.7.0 release. I close this one.

[2018-12-07 14:20] #217 closed

[2018-12-07 16:36] bjoern-flagbit commented on #1205
If you want to have the full catalog from ES you should maybe check this open-source stuff here:
https://github.com/lizards-and-pumpkins/catalog

[2018-12-07 18:10] mdroidian opened #1221 "Add additional default sort before entity_id"
Magento Version : 2.2.3

ElasticSuite Version : 2.59

We tried changing the default 'Product Listing Sort by' to [[custom int attribute]] but ran into the issue where it would override some of our boosts.

IE - Boost (On Sale) 10% should be at the top of Catalog Pages, but based on the [[custom int attribute]] values, this might not be the case.

Product 1 - [[custom int attribute]] = 1
Product 2

[2018-12-08 02:53] minhluan259 opened #1222 "Can not install Elasticsuite 2.7.0"
Cannot instantiate interface Magento\InventorySalesApi\Api\StockResolverInterface

### Preconditions

PHP 7.1.24, Elasticsearch 6.5

Magento Version : 2.3.0 CE

ElasticSuite Version : 2.7.0

Environment : Production

Third party modules : none

### Steps to reproduce

After require and add config Elasticsuite follow wiki document
run command `bin/magento setup:upgrade`

### Expected result

1. Ins

[2018-12-08 13:01] Swahjak commented on #1222
This seems to be related to your installation. `Magento\InventorySalesApi\Api\StockResolverInterface` should be available in `vendor/magento/module-inventory-sales-api/Api/StockResolverInterface.php` on a Magento 2.3 installation (and mapped in `vendor/magento/module-inventory-sales/etc/di.xml` to `<preference for="Magento\InventorySalesApi\Api\StockResolverInterface" type="Magento\InventorySales\

[2018-12-08 15:41] Swahjak opened #1223 "[BUG] ES 2.7 M 2.3 InventoryData loads all products"
### Preconditions

Magento Version : 2.3

ElasticSuite Version : 2.7

Environment : develop / production

Third party modules :

### Steps to reproduce

1. Try reindexing after upgrading to ES 2.7
2.
3.

### Expected result

1. Products are loaded into the index

### Actual result

1. Products only return a stock status and only the final batch is actually complete. The entire index before the las

[2018-12-08 16:09] Swahjak commented on #1223
Created two slightly different pull requests since there was some room for improvement that wasn't directly related to fixing the bug. Up to the maintainers to merge the one they want ;)

[2018-12-10 07:50] badev-ajay opened #1226 "configurable products attributes not showing in layered navigation"
Hi Team,

configurable products attribute not showing in layered navigation anyone faced this issue in elasticsuite

[2018-12-10 08:42] rbayet commented on #1222
Re-opening the issue as in the course of the dev, an additional module was created with correct extra dependencies.
Those extra dependencies were **not** reported to Smile_ElasticsuiteCatalog when the additional module was dropped.

[2018-12-10 08:50] rbayet commented on #1223
Hello @Swahjak,

I'll look into it. I don't know why the issue didn't popped up.
What is your catalog size ?

I'll close your second PR, it actually breaks MSI support.

Regards,

[2018-12-10 08:56] Swahjak commented on #1223
Hi @rbayet our catalog size is roughly 8000 sku's. But anything > 1000 products (batch size) should have this problem.

Why would the second PR break MSI? It's the same as the original query, but removes the unnecessary dependency on  `catalog_product_entity`. I don't see how that is required for a successful query.

[2018-12-10 09:40] rbayet commented on #1223
Hello @Swahjak,

OK, I'll look into it.

See my comments in the second PR (https://github.com/Smile-SA/elasticsuite/pull/1225#discussion_r240123786).
You need to declare additional inventory sources and stocks to see the problem.

[2018-12-10 10:44] Swahjak commented on #1223
@rbayet Ah, Magento always has some trick up its sleeve to throw you off :joy: never expect the obvious. It's still a riddle to me as to why they are so keen on the SKU being used for everything.

[2018-12-10 10:49] Swahjak commented on #1205
@rbayet @romainruaud As insiders, could you make an estimation of the work it would take to make this happen? I would consider spending some time on this, but without an in depth knowledge of ES it's hard to make an estimation on the time this would cost. If size isn't a problem we could replace / modify the flat tables to use elasticsearch as a backend.

[2018-12-10 10:54] Swahjak commented on #1205
@bjoern-flagbit That's an interesting options. But to me it seems they aim to have a 'broad' support for catalogs while I think a Magento 2 specific solution would allow for full Magento 2 capability.

[2018-12-10 11:07] romainruaud commented on #1226
@badev-ajay

I close your issue, since you did not respect the issue template.

Please open a new issue and fill all requirements about components versions if you want us to investigate.

Regards

[2018-12-10 11:07] #1226 closed

[2018-12-10 11:13] rbayet commented on #1223
@Swahjak concerning the main issue, it's indeed quite obvious on the sample data with a batch size of 10.

With the default batch size of 1000 and the sample data, something _funny_ happens : the only products with an indexed "name" attribute are the 181 visible products (simple, bundle, configurable), while the affected products are all the "not visible individually" products.
Hence why it's not

[2018-12-10 12:40] badev-ajay opened #1227 "configurable products attributes not showing in layered navigation"
Hi Team,

I have a lot of configurable products and configurable attribute is size attribute.   Size attribute is indexed in ElasticServer as but is not showing in layered navigation.

Example: Size Attribute is a global attribute only child products is selectable of configurable products. if i see in the database configure product size field has blank but its child product have size value

### Pr

[2018-12-10 15:01] romainruaud commented on #1227
First question here : is your "Size" attribute set to be use in layered navigation ? https://github.com/Smile-SA/elasticsuite/wiki/Attribute-configuration

[2018-12-11 06:42] badev-ajay commented on #1227
Hi Team ,

I am sharing screenshots

![image](https://user-images.githubusercontent.com/42803285/49782896-f4ff3b00-fd3d-11e8-948c-a0763b6bb05b.png)

![image](https://user-images.githubusercontent.com/42803285/49782909-fe88a300-fd3d-11e8-9ade-c69f79762664.png)

![image](https://user-images.githubusercontent.com/42803285/49782919-06484780-fd3e-11e8-87b5-20abc8d11843.png)

![image](https://user-image

[2018-12-11 17:02] duffner opened #1230 "Categories & Products Missing result collection"
### Preconditions (*)

1. Migrated store from 1.9.0.1 to 2.3.0
2. Magento version 2.3.0
3. ElasticSuite  "version": "2.7.0",
4. Multiple Categories Created, with Sub Categories, previously set to "is_anchor" in Magento 1
5. Parent Category has 215 products, approx 145 active

### Steps to reproduce (*)

1. Migrate Data from Magento 1 to Magento 2 (w/o settings) on Vanilla Magento Install
2. Config

[2018-12-11 19:33] duffner commented on #1230
Hmm looks interesting, catalog size is 19,000 visible simple products.

No complex products

[2018-12-11 20:40] duffner commented on #1230
I applied the commit as a patch and it works as expected!  Thanks for the hint @rbayet

[2018-12-11 21:38] rbayet commented on #1223
Re-opened for visibility until 2.7.1 actual release.

[2018-12-12 09:41] TheoGranier opened #1231 "too_many_clauses after M2 and ES upgrade"
After M2 and ES version upgraded, it's not possible to do queries to elasticsuite anymore. Result is : too_many_clauses and reason "maxClauseCount is set to xxx"

### Preconditions

PHP Version : 7.0.32
Elastcsuite Version : 2.6.4
Elasticsearch Version :  v5.3.2
Magento Version : 2.2.5 EE

Current application mode : production (even developper)

### Steps to reproduce
[code]

### Expected result
A

[2018-12-12 10:56] badev-ajay commented on #1227
Hi Team, I think the issue was in the product. now it resolved please close this ticket.

[2018-12-12 11:18] #1227 closed

[2018-12-12 11:52] liamjtoohey opened #1232 "[Question] Query text matching a product from a comma separated string attribute value"
Query text matching product from comma separated string attribute value
-----------

Hi!

First of all, forgive me, I am new to elasticsuite! I have a question in regards to query text matching a product from a comma separated string attribute value. I was wondering how this would work?

Example below (`alternative_items` being the product attribute containing comma separated string):

**Example p

[2018-12-12 13:10] badev-ajay commented on #1205
Hi Swahjak,
i have enabled product listing from backend now I am getting bellow error

1 exception(s):
Exception #0 (Exception): Notice: Array to string conversion in /var/www/html/m23/vendor/magento/module-catalog/Model/View/Asset/Image.php on line 188

Exception #0 (Exception): Notice: Array to string conversion in /var/www/html/m23/vendor/magento/module-catalog/Model/View/Asset/Image.php on lin

[2018-12-12 14:54] rbayet commented on #1223
Fixed by PR #1224

[2018-12-12 14:54] #1223 closed

[2018-12-12 14:55] rbayet commented on #1230
Hello @duffner,

You're welcome.
Closing this issue as we've just released 2.7.1 which embeds the fix for #1223

Regards,

[2018-12-12 14:55] #1230 closed

[2018-12-12 14:56] rbayet commented on #1222
Fixed by PR #1229 in release 2.7.1

[2018-12-12 14:56] #1222 closed

[2018-12-12 16:33] Swahjak commented on #1205
@badev-ajay This was by no means meant as a 'out of the box' working PR. We've got a very specific environment for development so I currently do not have a 'vanilla' Magento environment for testing. This is a very (very) rough sketch of what could be.

On a general note (@romainruaud) first tests (based on the Smile Debug Toolbar) do not really seem to have a performance improvement. But then agai

[2018-12-13 06:25] truelogicapp opened #1233 "How to Create Nested Objects"
@romainruaud

I would like to Create Nested Objects like category and price for my Attributes without define in elasticsuite_indices.xml

Is it possible to create Nested Objects mapping into code?

### Preconditions
Magento Version : 2.1.3

ElasticSuite Version : 2.4.6

Environment : Production

Third party modules : No

### Steps to reproduce
[code]
how to achieve the above Nested Objects without

[2018-12-13 07:45] rbayet commented on #1231
Hello @TheoGranier,

What were the previous versions of your M2 / ES / ElasticSuite before upgrading ?
Had you previously that much searchable attributes with a weight > 1 ?

Regards,

[2018-12-13 11:12] TheoGranier commented on #1231
Hello @rbayet ,

Thank you for your answer,
this is the previous versions used :

PHP Version : 7.0.32
Elastcsuite Version : 2.5.8
Elasticsearch Version : v2.3.2
Magento Version : 2.2.1 EE

I don't have modified anything to the datebase, database is the same except magento's modifications done during the upgrade

Regards

[2018-12-13 11:49] rbayet commented on #1220
Hello @robert-schmidt,

I tested on a vanilla CE 2.2.7 + luma in production mode with a doc_root on pub, with FPC enabled (either the built-in or Varnish), and did not get that kind of errors when being logged for instance, which triggers setting the X-Magento-Vary cookie in the native `\Magento\PageCache\Model\App\Response\HttpPlugin` plugin.

Nothing odd strikes me in the code HTTP response plug

[2018-12-13 11:57] rbayet commented on #1231
OK, so you also upgraded the ElasticSearch server as required, so I guess you performed at least several full reindexes, correct ?

When upgrading ElasticSearch, did you purge the server configuration file (`/etc/elasticsearch/elasticsearch.yml` on a Debian) and index/nodes data (`/var/lib/elasticsearch/...` on a Debian) ?

[2018-12-13 12:44] wouter-toppershops opened #1234 "Search Suggestion doesnt work"
### Preconditions

Magento Version : 2.3

ElasticSuite Version : 2.7.1

Environment : DEVELOP

Third party modules :

### Steps to reproduce

1. search in bar, and wait for search suggestion
2.
3.

### Expected result

1. error on the suggestion controller (https://pastebin.com/DTBfZwj9), our custom attribute does not have a `type` => `termBucket` but its `0` => `termBucket` caused by `Smile\Elast

[2018-12-13 12:46] wouter-toppershops commented on #1234
See https://github.com/Smile-SA/elasticsuite/pull/1235

[2018-12-13 14:19] TheoGranier commented on #1231
@rbayet Yes full reindexes has been executed the server configuration file and index/nodes seem to be purged when docker is restarted, i am using docker and my configuration file is in  /usr/share/elasticsearch/config/...
It contains only :

script.inline: on
script.indexed: on

It was where i ajusted the index.query.bool.max_clause_count: 10000
but it doesn't solve the problem

[2018-12-13 16:03] siimm opened #1236 "Unable to index categories, ES 6.5.3, ElasticSuite 2.7.1"
### Preconditions

Magento Version :2.3

ElasticSuite Version :2.7.1
ElasticSearch Version: 6.5.3

Environment : Developer/Production, does not matter

Third party modules :

### Steps to reproduce

1. Reindex elasticsuite_categories_fulltext **php bin/magento i:reindex elasticsuite_categories_fulltext**
2.
3.

### Expected result

1. Categories indexed in Elasticsearch

### Actual result

1. No c

[2018-12-13 16:51] rbayet commented on #1234
Confirmed on M2 2.3.x and 2.7.x / developer mode

[2018-12-13 17:23] rbayet commented on #1236
Hi @siimm,

Yes, https://github.com/Smile-SA/elasticsuite/wiki/ModuleInstall should be updated, as the server install wiki page (https://github.com/Smile-SA/elasticsuite/wiki/ServerConfig-6.x) pushes to an 6.x installation.

On a Open Source/CE 2.3.0 + Luma with ElasticSuite 2.7.1, I could not reproduce you issue with a 6.5.3 ElasticSearch server (Debian).

On what system are you ?
Do you have cus

[2018-12-13 17:37] siimm commented on #1236
Hi,

We are running Magento Commerce 2.3 on Ubuntu
The problem appeared with the default category attribute 'is_active'.. probably others would follow if only this one was fixed.

It can be that this is something our setup specific, I haven't yet had a chance to try this on a fresh installation of Magento 2.3. But I will try to do that

Anyways, output from ES server is as follows:
`{
  "name" : "

[2018-12-14 07:40] rbayet commented on #1236
Hello @siimm,

Thanks for the extra information.
Did you migrate your project to Magento 2.3 ?
If so, from which version of Magento 2 ?

Can you also provide us with the result of ` composer info | grep elastic` ?

Regards,

[2018-12-14 08:54] siimm commented on #1236
Hi,
We came from version 2.2.5
The output from from composer info|grep elastic is as follows:

[code]

I will try to test with a clean installation today, maybe I am barking at the wrong three here :)

Regards,
Siim

[2018-12-14 13:12] galanis-a commented on #431
Hello all,

@PieterCappelle have solve this issue, cause I'm in that position myself right now. My custom sorting doesn't work after I started using ES.

Thanks

[2018-12-14 13:46] wouter-toppershops commented on #1234
See New Pull: https://github.com/Smile-SA/elasticsuite/pull/1237

[2018-12-14 14:02] rbayet commented on #1234
Hello @wouter-toppershops,

I've seen it, thanks !

Regards

[2018-12-15 04:39] Yamaha32088 commented on #1222
@rbayet I am having the same problem even after installing the 2.7.1 version of ElasticSuite.

[code]

[2018-12-15 09:53] Swahjak commented on #1222
https://github.com/Smile-SA/elasticsuite/blob/2.7.1/composer.json#L33

Are you running with `MAGE_MODE=production`?  Because you are running through `vendor/magento/framework/ObjectManager/Factory/Compiled.php(108)` which would suggest you have compiled Magento using `bin/magento setup:compile`.

[2018-12-17 00:17] justinharris1986 opened #1238 "2.6 & ES 6.5.3 position sorting not working without drag/drop interface"
### Preconditions
Magento Version : 2.2.6 CE

ElasticSuite Version : Not sure where the version is, but assuming 2.6.4. Installed via command: ```composer require smile/elasticsuite ~2.6.0```
and is currently updated:
[code]
Environment : ```production - but happens in developer too```
Third party modules :
[code]
ElasticSearch version:
[code]

other misc stuff:
[code]

[code]

[code]

[code]

###

[2018-12-17 06:46] rbayet commented on #1238
Hello @justinharris1986,

Nice digging !
To know your exact `smile/elasticsuite` version, you can look it up in the composer.lock file or simply view it via `composer info | grep -i elastic` : you will see the versions of all elasticsearch related modules.
Given your `composer require` command, I'll assume you're on a 2.6.4, please contradict me if need be.

**Onto your issue** : Yes, if you disab

[2018-12-17 14:46] justinharris1986 commented on #1238
nice! I didn't know about the composer info command - I have been manually rooting around in composer.json files
[code]
Let me look in to the issue you mentioned about migrating the data over to the virtual category thing. they do a LOT of manual sorting on HUGE categories (product wise), so I am not 100% sure this is the best route, but I will give it a try. Let me know if you find anything on yo

[2018-12-17 18:30] Yamaha32088 commented on #1222
@Swahjak yes it is running in production mode and I do run `bin/magento setup:compile`

[2018-12-18 11:47] gjportegies opened #1239 "Price attribute comparison options not showing as expected"
### Preconditions

Magento Version : 2.2.6 CE

ElasticSuite Version : 2.6.4

Environment : Developer

### Question

In our Magento webshop we have two attributes margin_relative and margin_absolute. The attribute type of those attributes is 'price'. For both attributes I've enabled 'Use in Search' so the attributes are visible when creating a virtual category rule. But when choosing one of the att

[2018-12-18 14:36] rbayet commented on #1238
Hello @justinharris1986,

I've tried to reproduce your issue on a 2.2.6 CE, to no avail : the generated ES queries bear the correct nester filter on the sort order :
[code]

It is applied to the collection by \Smile\ElasticsuiteCatalog\Plugin\LayerPlugin.
In catalog navigation context, it's at line 93 :
[code]

When the query is built, the path is :
- `\Smile\ElasticsuiteCatalog\Model\ResourceMode

[2018-12-18 15:32] rbayet commented on #1239
Hello @gjportegies,

The test on the attribute_code of `price` has been there since the Virtual Categories were first implemented.
I could not tell you why this is not working by default, there might be an historical reason that is no longer relevant.

Testing on a 2.2.6 CE with Luma, I don't see any problem with indeed allowing attributes like 'cost' and 'msrp' from being used as numeric input in

[2018-12-18 15:57] gjportegies commented on #1239
Thanks for quick answer @rbayet ! I do not want to change any code in the vendor directory and keep as less plugins as needed. So would like to help fixing it with a PR. I'll start testing it in the context Search Optimizers while waiting on the answer of @romainruaud

Thanks!

[2018-12-18 16:54] rbayet commented on #1221
Hi @mdroidian,

The sorts by _score and and entity_id are applied deep down in `\Smile\ElasticsuiteCore\Search\Request\SortOrder\SortOrderBuilder::addDefaultSortOrders`
[code]

The fact this method is in `Smile\ElasticsuiteCore` means those default sort orders will applied be to any entity (categories, products, etc).
But of course, you can conditionally apply the sort order according to `$mapping

[2018-12-18 18:20] justinharris1986 commented on #1238
So - I have already disabled all the modules and dropped to the Luma theme, Still had the same issue.
Taking a look at this code:
```\Smile\ElasticsuiteCatalog\Plugin\LayerPlugin line 93```
[code]

$searchQuery->getQueryText() is returning a value:
```string(1) " "```
and the entire $searchQuery->debug():
[code]
Now for reasons I cannot explain, there is a search for a space just chillin' out in m

[2018-12-18 19:03] justinharris1986 commented on #1238
I went to go blow out the offending record in production, and I realized that the time is newer, so it definitely happened again. Server logs aren't much help. This particular customer got an autosuggest list, and then somehow wound up at https://www.blahblahblah.com/catalogsearch/result/?q=
Navigating there manually didn't trigger the space.

@rbayet I would be curious to see if manually pushing

[2018-12-18 19:03] mdroidian commented on #1221
Thanks Richard!

[2018-12-18 19:03] #1221 closed

[2018-12-18 19:49] rbayet commented on #1238
Hello @justinharris1986,

OK, I'll try that tomorrow and see if that generates the issue, and if so, why it "leaks" there in a catalog navigation context.

Regards,

[2018-12-19 10:02] TheoGranier commented on #1231
Hello @rbayet ,
I add some news about the problem,
I tired to put indices.query.bool.max_clause_count: 400000

And I obtain the right result but with a very long time :
{"took":140500,"timed_out":false,"_shards":...}

We can't use this method because in frontend it can't long like this otherwise we have an error "504 Gateway Time-out" ...

I add also we are in Magento B2B version and i installed m

[2018-12-19 13:02] refueledinc opened #1240 "Update Uninstall Docs"
Please update uninstall docs https://github.com/Smile-SA/elasticsuite/wiki/ModuleUninstall

### Preconditions

Magento Version : 2.2.5 CE

ElasticSuite Version : 2.6.3

Environment : Developer

### Steps to reproduce

1. Install ElasticSuite
2. Try uninstalling using the details here https://github.com/Smile-SA/elasticsuite/wiki/ModuleUninstall

### Expected result

1. Everything should be removed

[2018-12-20 09:58] rbayet commented on #1231
Hi @TheoGranier,

Yes, of course, augmenting max_clause_count is not a solution here considering the time it takes for the query to be executed.

Are you sure that the errors come from a simple query as
[code]
?

I mean, when you execute this, you can see the error popup in the elasticsearch server logs ?
If so, can you provide the full trace that is being logged there ?

Regards,

[2018-12-20 11:15] #1234 closed

[2018-12-20 16:24] TheoGranier commented on #1231
Hi @rbayet ,
Thank you for your response,

Yes I am sure , this request is the request that magento send to eslasticsearch I've intercepted it.

This is the full trace logged :

[code]
Thanks,

Best regards,

[2018-12-20 22:35] justinharris1986 commented on #1238
Good afternoon @rbayet !
Interesting. Good info to know!
Yes my catalog/search/min_query_length is still set to 1.

the 2 times this query popped in I was not able to re-create it from the logs. the first user was actually me in testing - I was searching for something with no space in it, and the 2nd user had some weird autosuggest issue which appears to be unrelated to this.

I pulled that offend

[2018-12-21 00:27] justinharris1986 opened #1241 "Incorrect index pricing when "Special Price from" is specified, but not "special price""
This is actually a Magento bug that I created: [https://github.com/magento/magento2/issues/19915](https://github.com/magento/magento2/issues/19915)

However, I wanted to give you a heads up, in case if you wanted to put in a work around

[2018-12-21 17:14] SamRogal opened #1242 "Errors While Indexing in Magento Cloud Environment"
Products fail to appear in categories and search due to failing indexes. Catalog Search and Elasticsuite Cms Page Indexing in particular are prone to becoming stuck and add constant load to the server as the cron tries to reprocess them.

### Preconditions

This issue occurs in both our "staging" and production environments which share a resources in the Magento Cloud.

`.magento/services.yaml`
[c

[2018-12-21 20:17] rbayet commented on #1242
Hello @SamRogal,

Are you sure the ElasticSearch server is available at localhost:9200 ?
I may be wrong, but from memory, on a previous Magento Cloud project, the ElasticSearch server was available at "http://elasticsearch.internal:9200".

PS: You are right that the staging and production environment share the elasticsearch instance, hence the need to have a different index alias configured in adm

[2018-12-22 03:05] deckside opened #1243 "Does ElasticSuite work with Magento 2.3?"
Does ElasticSuite work with Magento 2.3?

[2018-12-22 07:35] djenvert commented on #1243
Yes.
“If your project is based on Magento 2.3.x, you can start working with ElasticSuite today using the latest 2.7.x release”

[2018-12-22 08:18] rbayet commented on #1243
Hello @deckside,

As confirmed by @djenvert and indicated in the README, ElasticSuite works with Magento 2.3 starting from the 2.7.0 release.
You can install the latest 2.7.x release with `composer require smile/elasticsuite ^2.7.0`.

Regards,

[2018-12-23 01:32] husseycoding commented on #1222
Seeing this issue with Magento 2.3 and module version 2.7.2.  Worth noting that this is actually an issue with reindexing, it shows during installation as data setup runs a reindex.

[2018-12-29 11:20] andy17612 commented on #1243
Hi @rbayet @djenvert but i getting this error when i php bin/magento setup:upgrade .how to fix it? thank you

Fatal error: Uncaught Error: Cannot instantiate interface Magento\InventorySalesApi\Api\StockResolverInterface in /home/XXX/public_html/vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:50 Stack trace:

[2018-12-30 00:40] andykim commented on #1222
I upgrade to Magento 2.3 and install elasticsuite v2.7.2 and when i run php bin/magento setup:upgrade

Module 'Smile_ElasticsuiteCore':
Module 'Smile_ElasticsuiteCatalog':
Installing data... PHP Fatal error:  Uncaught Error: Cannot instantiate interface Magento\InventorySalesApi\Api\StockResolverInterface in /hdd/www/v2.gsmpartscenter.com/vendor/magento/framework/ObjectManager/Factory/Dynamic/Deve

[2018-12-30 05:34] tmp2000 commented on #1243
installed no problem for magento 2.3 with "composer require smile/elasticsuite ^2.7.0" .

[2019-01-02 09:21] Swahjak commented on #1243
Duplicate of https://github.com/Smile-SA/elasticsuite/issues/1222 ?

[2019-01-02 11:23] TheoGranier commented on #1231
Hello @rbayet ,

We still have the issue , do you have an idea to get rid of the problem ?
Is it the full trace logged you were expecting ?
Thank you

Regards

[2019-01-02 14:21] Swahjak opened #1244 "M2.3.x ES2.7.1 | Performance admin category edit"
We experiencing some 'extreme' performance issues on the category edit page in Magento 2.3.0 (but I assume this happens in other versions as well).

### Preconditions

* ~10k products
* ~3k categories
* 1 root category

Magento Version : 2.3.0

ElasticSuite Version : 2.7.1

Environment : Developer and production

Third party modules :

### Steps to reproduce

1. See preconditions

### Expected res

[2019-01-02 14:31] SamRogal commented on #1242
Looks like everything is on localhost.
[code]

[2019-01-03 14:36] Swahjak commented on #1236
We are having the same issue. Doing some further investigation.

[2019-01-03 14:53] Swahjak commented on #1236
Could this be due tot the fact that `is_active` is not converted / retrieved as a boolean value?

The error:
[code]

The input:
[code]
The mapping:
[code]

[2019-01-03 15:56] ibeschastnaya commented on #1182
Hello,

We have the same issue.

Preconditions: Bundle product has fixed price.

Steps to reproduce:

Open storefront.
Enter query to the search field to search for your bundle with fixed price
Pay attention to the price of the Bundle in quick search drop-down.
Actual result: Price range is shown.
Expected result: Fixed price should be shown.

This issue probably related to the fact that for produ

[2019-01-03 23:42] SamRogal commented on #1242
After talking with Magento's Cloud support, I updated the shard and replica settings in the admin to match the environment. These had been switched back and forth previously, and didn't seem to have a direct impact on whether reindexing succeeded.

Magento also increased the heap size of Elastic Search (https://www.elastic.co/guide/en/elasticsearch/guide/current/_limiting_memory_usage.html).
This

[2019-01-04 09:39] liamjtoohey commented on #1232
@rbayet Thanks a lot for the info! This information is really useful. Will give this a test with my actual SKU format.

[2019-01-04 14:42] romainruaud commented on #1242
Hello @SamRogal

"old indices" like you are experiencing can occur when the index process is failing to terminate.

You can delete them without issues with cURL like you did, yes.

And no, you should not change the pattern. This pattern is mandatory to ensure we are creating indices with unique names. Once a full reindex is done, the alias is pointed to the new indice, and the old index is dropped

[2019-01-04 15:00] bjoern-flagbit opened #1246 "Remove aroundAddProduct in QuotePlugin"
Hello Guys,

normally we should try to avoid around plugins (at least this is written in magento2 docu), because of that i changed the class of the quote plugin on my local project. I just leave the changed content here because maybe you want to merge it into your module.

**Path to file**
src/vendor/smile/elasticsuite/src/module-elasticsuite-tracker/Plugin/QuotePlugin.php

**Changed Content**
[co

[2019-01-04 15:32] TheoGranier commented on #1231
Hi @rbayet ,

I finally found where the problem come from,
In the query (request) I posted in the body of this topic, The problematic part is :
`{"match":{"sku":{"query":"fd96918d, 60ed0824, a4ebedd4, daad0894, 5d94b922, 3174946c","minimum_should_match":"100%","boost":1}}`
This condition come from one of our virtual category who has a virtual rule on 6 products
If I delete this rule (or I delete t

[2019-01-04 16:48] SamRogal commented on #1242
Yep, the environment started working after the ElasticSearch heap size was increase to 2GB.
Based on the result of `curl -XGET 'http://localhost:9200/_cat/nodes?v'` it looks like site is currently using ~65% of the heap.

After some further testin, I wasn't able to reproduce the "Old Indices" issues, so everything is looking good.

[2019-01-06 20:02] justinharris1986 commented on #1238
So I have not seen it pop in for the last 3 weeks. Also I noticed that I was able to search for spaces in my old Magento 1 install, and that entry in the database did copy over. I am just going to call it "bad data migrated from magento 1 to magento 2".

For anyone reading this thread, TL;DR: ```DELETE * FROM search_query WHERE query_text = " ";```

[2019-01-06 20:02] #1238 closed

[2019-01-07 11:41] VincentJorge commented on #1243
Hello Guys,

Anyone have a news about this issue ?

Thank's

[2019-01-07 14:01] JamesAllwood opened #1248 "Dropdown attributes not saved in admin in 2.2.7"
Ref: #1169

When adding values to attributes of either dropdown, or multi-select type in Magento admin, the values are not saved.

### Preconditions

This was fixed for core 2.2.6, as mentioned in the release notes, and I've confirmed that the fix was successful, but after upgrade the Magento core to 2.2.7, the problem persists.

Magento Version : 2.2.7

ElasticSuite Version :  2.6.4

Environment

[2019-01-08 02:10] LiamKarlMitchell commented on #318
Same problem.

[2019-01-08 02:20] LiamKarlMitchell commented on #1007
Same problem with composer require smile/elasticsuite ~2.6.0

[2019-01-08 02:51] LiamKarlMitchell opened #1249 "catalog_product index does not exist yet"
Don't know why.

This is a fresh install of elasticsuite on an existing Magento site.
Wanting to improve the speed of search as its too slow.

Magento 2.2.5
composer require smile/elasticsuite ~2.6.0

[code]
Does not show a magento2_default_catalog_product* entry.

There are lots of products, how can I have it create the index?
Reindex all works but same problem.

[code]

[2019-01-08 13:29] ibeschastnaya opened #1250 "Bundle product with fixed price is in-correct in autocomplete"
We noticed the same issue as described here: https://github.com/Smile-SA/elasticsuite/issues/1182

### Preconditions
Create bundle product with fixed price.

Magento Version : EE 2.2.6

ElasticSuite Version :  "2.6.4",

Environment : Magento Cloud in production mode

Third party modules :

### Steps to reproduce
Open storefront.
Enter query to the search field to search for your bundle with fixed

[2019-01-08 16:25] jfgalano opened #1251 "Unable to install Elasticsuite on Magento Cloud"
### Preconditions

Magento Version : MAgento Cloud Commerce 2.2.5

ElasticSuite Version : 2.6.0

Environment : production

Third party modules :

### Steps to reproduce

1. update the services.yaml file
2. try to deploy
3. fail to compile

### Expected result

1. elasticsuite installed

### Actual result

1. fail on compile with error on these lines:
configuration:
        plugins:
            - a

[2019-01-09 00:38] joshmcoffman commented on #1243
@romainruaud Your hunch is correct.

Make sure you have the following enabled:

`php bin/magento module:enable Magento_Inventory Magento_InventoryApi Magento_InventoryCatalogApi Magento_InventorySalesApi Magento_InventoryConfigurationApi Magento_InventoryReservationsApi Magento_InventorySourceDeductionApi Magento_SalesInventory Magento_InventorySales Magento_InventoryMultiDimensionalIndexerApi Mag

[2019-01-09 08:42] grebbekevin opened #1252 "disable tracking_log"
Magento Version : 2.2.5
ElasticSuite Version : 2.6.1
Environment : Production mode

### Steps to reproduce
1. Setup elastic suite.
2. Go to Stores -> Configuration -> Elasticsuite -> Tracking
    Set the option enabled to false.
3. Let people search
4. The table is filling up with tracking logs and I can't disable the log events.

### Expected result
1. No tracking logs were send to bonsai.io

###

[2019-01-09 10:59] ibeschastnaya commented on #1251
We had the same issue that related to default ElasticSuite settings that look to localhost, so we need to  update config.php to look on Cloud Elasticsearch instance:
`'catalog' => [
                'search' => [
                    'elasticsearch_server_hostname' => 'elasticsearch.internal',
                    'elasticsearch_server_port' => '9200',
                    'elasticsearch5_server_hostn

[2019-01-09 11:02] djenvert commented on #1251
Have you read the documentation?

https://github.com/Smile-SA/elasticsuite/wiki/MeceInstall

[2019-01-09 12:44] grandpalacko opened #1253 "RequestMapper incorrectly extracts filters from search criteria"
### Preconditions
Magento Version: Magento Community Edition 2.3.0
ElasticSuite Version: 2.7.2
Environment: Developer

### Steps to reproduce
1. Create a Search API request with price filter (from and to condition types)

[code]

### Expected result
1. Items in the results set will have a price between 50 and 100

### Actual result
1. The `from` filter is ignored, items will have a price between 0

[2019-01-09 12:57] AnatoleRozan commented on #1243
Hello,
Any news?

I have this issue:
Fatal error: Uncaught Error: Cannot instantiate interface Magento\InventorySalesApi\Api\StockResolverInterface in /home/XXX/public_html/vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:50 Stack trace:

Thank's

[2019-01-09 13:32] jfgalano commented on #1251
Yes of course, but the compile command fails on these line:
configuration:
        plugins:
            - analysis-icu
            - analysis-phonetic

[2019-01-09 17:04] hectorrojas4 commented on #1222
If the class `Magento\InventorySalesApi\Api\StockResolverInterface` can not be instantiated, it is possible that the module is disabled in `app/etc/config.php` file. Make sure that the Inventory modules are enabled:

[code]

[2019-01-09 17:43] minhluan259 commented on #1222
I found the cause of the problem because upgraded magento 2.2 to magento 2.3 incorrectly.
Follow this guild
https://devdocs.magento.com/guides/v2.3/release-notes/backward-incompatible-changes/index.html
to resolved the issue.
Hope this can help.

[2019-01-09 20:02] shochdoerfer opened #1256 "eav_attribute_options sort_oder not respected"
### Preconditions
Magento Version : 2.2.7
ElasticSuite Version : 2.6.4
Environment : Developer

Elasticsuite does not respect the sort_order defined in eav_attribute_options when populating the attributes in the resulting document. The attributes (ids & values) will always be sorted by id.

[2019-01-10 12:46] romainruaud commented on #1246
Hello @bjoern-flagbit

thank you for contributing, always appreciated !

would you mind submitting a PR containing this change ? I'd gladly merge it.

Regards

[2019-01-10 12:49] romainruaud commented on #1249
Hello @LiamKarlMitchell

If you are installing Elasticsuite on top of an existing Magento2 website, you'll have to check if Elasticsuite is properly set as search engine in the Back Office (Stores > Configuration > Catalog > Catalog Search).

An old value can exist in case the config has been already saved previously.

Can you check this and give us more details ?

Regards

[2019-01-10 12:53] romainruaud commented on #1256
Hello @shochdoerfer

what do you mean by "in the resulting document" ? You mean the document inside the Elasticsearch index ?

What's your goal with having the options sorted propely inside the document ? Are you querying the Elasticsearch index directly ?

Regards

[2019-01-10 12:54] romainruaud commented on #1251
@jfgalano I don't understand your last comment.

Could you post a detailed error log so we can investigate further ?

Regards

[2019-01-10 12:57] romainruaud commented on #1244
We'll investigate on this one.

But it seems strange, because we have some websites at Smile with much more products and categories than yours, and afaik we did not face this problem.

But maybe something changed on Magento's core since 2.3.0

Regards

[2019-01-10 12:59] romainruaud commented on #1241
Hello @justinharris1986

you may probably have already noticed, but the issue https://github.com/magento/magento2/issues/19877  has a PR attached in, so this bug will be fixed upon a new Magento minor release.

We do not plan to introduce workaround for this one in ElasticSuite since we consider this is Magento's responsibility to index correct product prices.

Thank you for pointing this to us.

[2019-01-10 12:59] #1241 closed

[2019-01-10 13:33] romainruaud commented on #1239
Well that's probably a mistake by our side.

I do not see actually any counter-arguments to adding attributes having `$frontendInput === 'price'` being rendered as `numeric`.

Just one point, maybe it could be worth it to also check the `backend_type` of the attributes to display those having `backend_type=decimal` to be rendered as numerics.

I let you propose a PR if you want to @gjportegies

Th

[2019-01-10 13:42] romainruaud commented on #1231
It's known that using virtual rules to match on SKUs is under-performant.

If you want to have a category which has product explicitely attached to it by their SKUs, you should attach products directly via the legacy Magento's product grid and not define a virtual rule matching SKUS (which is implying a **fulltext** matching).

That being said, I'd like to have a look at the (clean) query, because

[2019-01-10 13:45] romainruaud commented on #1232
@liamjtoohey can we close this one ?

[2019-01-10 13:46] romainruaud commented on #1220
Closed for being inactive/stalled during one month.

Feel free to open a new issues with the needed details if still encountering this one.

Regards

[2019-01-10 13:46] #1220 closed

[2019-01-10 13:49] romainruaud commented on #1188
Closed for being not-reproduced by our side and inactive for more than one month.

Feel free to open a new issue with expected details if you are still encountering this one.

Regards

[2019-01-10 13:49] #1188 closed

[2019-01-10 13:50] romainruaud commented on #1174
Closed as duplicate of #49

[2019-01-10 13:50] #1174 closed

[2019-01-10 13:51] romainruaud commented on #998
We'll add a search field inside the merchandiser to be able to better deal with large catalogs.

For now we do not plan to implement a way to switch back to "old style", but we could definitely study a PR if anybody submit one.

Regards

[2019-01-10 13:53] romainruaud commented on #234
Will not be done via GA but implemented by #589 aka "Search analytics dashboard".

Regards

[2019-01-10 13:53] #234 closed

[2019-01-10 14:06] romainruaud commented on #1233
I'm afraid that a mapping will be mandatory if you created nested objects.

But mapping can be done either via XML, or via the datasource, see https://github.com/Smile-SA/elasticsuite/wiki/Indexing#dynamic-fields-provider

As stated in the documentation, if your field is "static" and will have always the same name, it's easier to add it with an XML config file. If it's something which is more dyna

[2019-01-10 14:07] romainruaud commented on #1175
Close for being stalled / not updated since more than one month.

Feel free to open a new issue with expected details if you still encountering the issue.

Regards

[2019-01-10 14:07] #1175 closed

[2019-01-10 14:55] liamjtoohey commented on #1232
@rbayet Thanks again for this information, I've since decided to add a new data source to copy the list of alternative products skus the indexed sku field (as mentioned above).

I was just wondering, how can I ensure the data for the `alternative_items ` attribute exists in `$indexData`? I fear that loading this attribute value within my `addData` function for each product would be inefficient.

[2019-01-10 16:13] rbayet commented on #157
Implemented in PR #1255 (based on PR #1183)

[2019-01-10 16:13] #157 closed

[2019-01-10 17:33] truelogicapp commented on #1233
Hi Romain,

Thanks for your reply.

But there is no example how to define nested objects using DynamicFieldProvider
interface

I am facing issue creating nested objects using this. We are able to
create each attribute configuration (defined via the Magento's Back-Office)
into an array but nested objects having error. Can you guide or give an
example of same.

Kind Regards
Raman

On Thu, Jan 10, 20

[2019-01-11 08:54] liamjtoohey commented on #1232
Ignore the above, found the relevant (and super useful) docs here: https://github.com/Smile-SA/elasticsuite/wiki/Indexing#dynamic-fields-provider

@romainruaud Happy for this one to be closed, thanks again!

[2019-01-11 08:54] #1232 closed

[2019-01-11 13:58] CRYX2 opened #1257 "Strange behaviour when search by SKU formed like: A0123456"
I have a problem with the search for some SKU codes formed by a letter and a series of numbers.
These products are simple products associated with grouped or configurable products.

The strange thing is that by looking for example for: C53208 are correctly found products that have inside them a product associated with SKU C53208, but at the same time many other products that have the letter C in t

[2019-01-14 08:36] rbayet commented on #1248
Hello @JamesAllwood,

On which version CE / EE did you encounter that issue ?

Regards,

[2019-01-14 09:41] JamesAllwood commented on #1248
@rbayet - sorry, it was OpenSource (CE)

[2019-01-14 15:47] rbayet commented on #1248
@JamesAllwood np, thanks for confirming it and reporting the bug :)

[2019-01-14 16:56] rbayet commented on #1252
Hello @grebbekevin,

Are you sure that with `smile_elasticsuite_tracker/general/enabled` set to false there is still new data added to the MySQL table elasticsuite_tracker_log_event ?
After clearing the config and FPC caches ?

I cannot reproduce it on a CE 2.2.7 in production mode with ElasticSuite 2.6.4 and the problem is that the code that ensures the boolean config param is taken into account

[2019-01-15 14:53] romainruaud commented on #1253
Confirmed (both the bug, and the associated fix).

Thank you for spotting this one and for contributing the solution.

Regards !

[2019-01-15 15:00] romainruaud commented on #1253
Closed by merging the associated PR.

Will be part of next 2.7.3 minor release.

Regards

[2019-01-15 15:00] #1253 closed

[2019-01-15 15:04] romainruaud commented on #1256
Main problem for me is that sorting data during indexing could impact index performances.

Do you have some metrics with/without your fix ?

Also, you are kinda hacking the system by using a fulltext search index as a data store :/

[2019-01-15 15:14] romainruaud commented on #1216
PR #1260 allow to use Venia PWA in front of a Magento 2.3 + Elasticsuite.

Confirmed working : GraphQL search endpoint when using Elasticsuite as search engine.

Autocomplete : on Venia it's querying the search endpoint too, so it's working. Might be necessary to expose a dedicated Elasticsuite endpoint for enhanced autocomplete (terms / categories / products).

For now, nothing seems to be built

[2019-01-15 17:58] shochdoerfer commented on #1256
In the current demo we have a few thousand products in the database and a lot of store views that expose part of the product catalog. The indexing did not get much slower, it is not really noticeable. If I am not mistaken, you are using caching anyways, maybe there's a option to cache that information as well.

Not sure if we are hacking the system, we don't only use it for search ;) It kind of ac

[2019-01-15 20:29] pioneerathletics opened #1262 "Elasticsuite-2.6.0 error after running setup:upgrade"
### Preconditions

Magento Version : Magento CE 2.2.6

ElasticSuite Version :~2.6.0

Environment : Production

Third party modules : ShipperHQ and AvaTax

### Steps to reproduce

1. composer require smile/elasticsuite ~2.6.0
2. php magento setup:upgrade
3.

### Expected result

1. After running setup:upgrade - module should install correctly

### Actual result

1. Receiving error when running setu

[2019-01-16 09:16] mrtuvn opened #1263 "Suite 2.7.2 can't setup upgrade with magento 2.3"
### Preconditions

Magento Version : 2.3.0

ElasticSuite Version : 2.7.2

Environment : Developer

Third party modules : None

### Steps to reproduce

1. Update composer with require elasticsuite 2.7.2
2. Run update composer

### Expected result

1. Successfully setup module

### Actual result

1. Error in console while setup
Fatal error: Uncaught Error: Cannot instantiate interface Magento\Invent

[2019-01-16 09:21] gjportegies commented on #1239
I'll create a PR asap!

[2019-01-16 11:08] romainruaud commented on #1233
I've never tried by myself but according to how it's done for the attributes :

https://github.com/Smile-SA/elasticsuite/blob/master/src/module-elasticsuite-catalog/Model/Eav/Indexer/Fulltext/Datasource/AbstractAttributeData.php#L204

And how the Field class is defined :

https://github.com/Smile-SA/elasticsuite/blob/master/src/module-elasticsuite-core/Index/Mapping/Field.php#L77

You should be ab

[2019-01-16 12:02] romainruaud commented on #1236
well, it took me a long time to understand this one.

Seems like you set many category attributes to be searchable, didn't you ?

I'm able to reproduce it if I manually set the `is_active` attribute to `is_searchable=1` on BDD (which is not the case on a legacy install).

I agree the attached fix in PR should fix this.

[2019-01-16 13:01] romainruaud commented on #1236
Associated PR has been merged and will be part of next 2.7.x minor release.

Regards

[2019-01-16 13:01] #1236 closed

[2019-01-16 13:14] romainruaud commented on #1246
Done in #1265.

Will be part of next minor release.

Thanks

[2019-01-16 13:14] #1246 closed

[2019-01-16 16:13] romainruaud opened #1266 "Spellchecker / Fuzzy queries refactoring."
There are functional holes in the spellchecking / fuzzy query building.

 - termVectors query is run against 'spelling' field, so only against 'is_used_in_spellcheck' fields.

 - if no results, a fuzzy query is built on 'spelling', and on all 'is_used_in_spellcheck' fields (having a weight > 1).

=> can cause 0 results for a query that should have some (value can exist on a field which is not 'use

[2019-01-16 16:33] romainruaud commented on #1243
According Magento :

"MSI is enabled for all fresh installations, and gets disabled for upgrade from early Magento versions to 2.3 unless it’s switched on manually"

So yes, issue is confirmed.

If you are upgrading, you should enable MSI modules manually. But this also require you to ensure to report any customization on CatalogInventory modules to MSI modules.

I'm afraid as an extension provide

[2019-01-17 07:54] bjoern-flagbit commented on #1246
Thank you 👍  Next time will do a PR

[2019-01-17 08:03] CRYX2 commented on #1257
sorry, does anyone have an idea if I can fix or if I have to change some settings?

[2019-01-17 08:53] romainruaud commented on #1244
@Swahjak can you post the full stack trace which leads to this specific line of code in your instance ?

Regards

[2019-01-17 08:56] ravichand2689 opened #1267 "Unknown filter type [phonetic] for [phonetic]"

[2019-01-17 11:13] romainruaud commented on #1267
Closed.

Please respect the issue template and fill all needed details.

Most probable answer to your problem is : you are missing the phonetic plugin for ES. please refer to the documentation : https://github.com/Smile-SA/elasticsuite/wiki/ServerConfig-6.x#installing-required-plugins

[2019-01-17 11:13] #1267 closed

[2019-01-17 11:45] romainruaud commented on #1244
And of course, @Swahjak , please tell me how much virtual categories you have across all your tree.

Because getCategorySearchQuery is basically :

- the initial category search query (can be a virtual rule, or a simple category_id matching)
- combination of all virtual categories rules found among children
- non-virtual childrens are ignored, since non-virtual categories are is_anchor = 1, so pro

[2019-01-17 12:00] romainruaud commented on #1240
Point 1 was correct, I added it to the wiki.

I did not reproduce point 2, most probably irrelevant since you suspect you already deleted the table.

Regards

[2019-01-17 12:00] #1240 closed

[2019-01-17 13:03] romainruaud commented on #1212
Fixed by #1269 that will be part of next minor release.

Regards.

[2019-01-17 13:03] #1212 closed

[2019-01-17 13:15] romainruaud commented on #1135
Fixed by associated PR, will be part of next minor release.

Thank you for pointing it !

Regards

[2019-01-17 13:15] #1135 closed

[2019-01-17 14:25] romainruaud commented on #1211
Fixed by #1271

Will be part of next 2.6.x and 2.7.x minor releases. We'll also update the demo website once they'll be published.

Regards

[2019-01-17 14:25] #1211 closed

[2019-01-18 08:39] andrewkett commented on #1002
I changed

` 'system' => [
        'default' => [
            'smile_elasticsuite_core_base_settings' => [
                'es_client' => [
                    'servers' => 'elasticsearch:9200',
                    'enable_https_mode' => '0',
                    'enable_http_auth' => '1',
                ]
            ]
        ]
    ] `

to

` 'system' => [
        'default' => [
            'smi

[2019-01-20 12:48] tomekjordan opened #1274 "Elastic Suite slow comparing to commercial extensions"
### Preconditions

Why Elastic Suite is so slow in autocomplete comparing to Elastic commercial extensions
from Amasty, Wyomind nad Mirasvit? which is blazing fast when you just try to search.
Even comparing to old mysql Instant Search from Itoris or Mageworx - its just slow.
Customers expect "algolia" style instant results, not results after 1-2seconds....

Magento Version :
2.3

ElasticSuite Ver

[2019-01-21 09:27] berwa opened #1275 "Multiselect attribute unable to add options"
### Preconditions
Magento Version : Commerce 2.2.7
ElasticSuite Version : 2.6.5 (and 2.6.4)
Environment :
- PHP7.1
- Elasticsearch-version: 5
- Magento-modes: reproducible both in default and production

Third party modules : none (reproducible in plain installation e.g. with sample data)

### Steps to reproduce
1. Open product attribute administration in Magento backend
2. Add new product attribu

[2019-01-21 12:00] djenvert commented on #157
Thanks!

[2019-01-21 14:35] romainruaud commented on #1274
Dear ElasticSuite user.

We are always pleased to hear constructive remarks about our product.

However, I'm not completely sure about the objectivity of this one. As you may have already noticed, we are providing this extension for free here.

Actually, ElasticSuite is embedded into more than 1200 Magento2 websites across the world, and we are very proud of it.

At Smile, we have it running on ma

[2019-01-21 14:35] #1274 closed

[2019-01-21 14:36] romainruaud commented on #1275
Duplicate of #1248

[2019-01-21 14:36] #1275 closed

[2019-01-21 16:21] romainruaud commented on #1249
@LiamKarlMitchell any update on this one ?

[2019-01-21 16:23] romainruaud commented on #1203
I close this one since it was not due to Elasticsuite and is now inactive for too long.

Regards

[2019-01-21 16:23] #1203 closed

[2019-01-21 16:24] romainruaud commented on #1145
Closed for being stalled/inactive for too long, and not reproduce by our side.

Feel free to open a new issue if still encountering the problem.

Regards

[2019-01-21 16:24] #1145 closed

[2019-01-21 16:34] romainruaud commented on #1087
I close this one for being inactive / stalled for too long.

Please open a new issue with all needed details if you are still encountering the problem.

Regards

[2019-01-21 16:34] #1087 closed

[2019-01-22 09:48] avnenkovskyi1 opened #1277 "Autocomplete/Search incorrect result"
### Environment
All test were did on the ElasticSuite demo store http://demo.magento-elastic-suite.io, but the same behaviour with next setup:

Magento 2.3 includes Sample Data (the issue reproduces with real products as well)
Elastisearch 6.5.4
ElasticSuite 2.7.x

### Steps to reproduce
1. Type search term (in our case it "Messe") which didn't search previously. Result not (see screenshot below).

[2019-01-22 12:40] romainruaud commented on #1277
Hello,

TL;DR version : this is working as intended, and it's done like this by design.

Detailed version :

**The autocomplete**

For now (but we may refactor this part on a near future), autocomplete is "self-learning", according exactly to the scenario you describe.

First type, you type "mess", no results, because it's unable to expand "mess" to a previously used search term (that could be "me

[2019-01-22 12:40] #1277 closed

[2019-01-23 08:35] adjogic opened #1278 "High JVM heap usage resulting in GC loop and unresponsive ElasticSearch"
### Preconditions

Magento Version : 2.2.6 EE (Cloud)
ElasticSuite Version : 2.6.4
Environment : Production
JVM Heap Size : 8G
ElasticSuite Config : ![config](https://user-images.githubusercontent.com/2088240/51589763-1312aa80-1f3c-11e9-9256-93bbe9eed4b4.PNG)

### Steps to reproduce
After the ElasticSearch service is running for a while JVM heap usage gets to 100% resulting in GC loop and unrespon

[2019-01-23 09:35] romainruaud commented on #1252
@grebbekevin any update on this one ?

[2019-01-23 09:54] grebbekevin commented on #1252
Dear Rbayet,

We are still having this issue.
We don't use the module with MYSQL but with bonsai.io and these tables are still filling up with those tracking information.
What kind of steps can I give you guys so you can reproduce?

[2019-01-23 10:33] romainruaud commented on #1252
Hello,

just to ensure you understand how the workflow is done.

When people navigate on the website, tracking data are stored (temporarily) on the MySQL table called `elasticsuite_tracker_log_event`. This should not be the case if the tracking is disabled.

@rbayet tested it, and on our instance, if the tracking is disabled in the back-office, this table does not get filled.

Then, the tracking d

[2019-01-23 10:47] grebbekevin commented on #1252
select * from core_config_data where path like "%elasticsuite%"
![query 1](https://user-images.githubusercontent.com/8779381/51601205-0b371400-1f04-11e9-83d7-7a98be4aa832.png)

select MAX(date) from elasticsuite_tracker_log_event
![query 2](https://user-images.githubusercontent.com/8779381/51601204-0a9e7d80-1f04-11e9-813e-f3b7e3c7e54c.png)

bin/magento config:show smile_elasticsuite_tracker/genera

[2019-01-23 10:50] romainruaud commented on #1252
Ok, I think I have some insights, most probably, the only events that continue to get registered are the "add to cart", since all the frontend tracking part is properly disabled if the config says so.

But the "add to cart" tracking is done in PHP and does not seem to be conditioned by the tracking enabling... Any other event tracked in PHP directly could lead to the same symptom.

I'll push a PR

[2019-01-23 11:19] romainruaud commented on #1252
#1279 will fix this issue.

[2019-01-23 11:31] grebbekevin commented on #1252
Hi @romainruaud ,
Thank you for your quick response.
Can you tell me when you make a tag for this fix?

[2019-01-23 11:35] romainruaud commented on #1252
Well I think we should release this 2.6.6 tag next week.

If that's too slow for you, you can use the 2.6.x-dev branch for now, that contains already the fix.

regards

[2019-01-23 16:22] pioneerathletics commented on #1262
Hi,
Yes I did run this directly on production. All I did was run composer require smile/elasticsuite ~2.6.0

[2019-01-23 16:44] rbayet commented on #1250
Fixed by
- #1281 for M2 2.2.x
- #1282 for M2 2.3.x

[2019-01-23 16:44] #1250 closed

[2019-01-23 16:46] rbayet commented on #1252
Fixed by
- #1279 for M2 2.2.x
- #1280 for M2 2.3.x

[2019-01-23 16:46] #1252 closed

[2019-01-23 17:40] gshail commented on #1243
I have all the modules copied from elasticsuite-master/src into /app/code/ but when I try to enable the module, I keep getting - Unknown module(s): 'Smile_ElasticsuiteCore'

I'm running the following command.
 /usr/local/php71/bin/php-cli bin/magento module:enable --clear-static-content Smile_ElasticsuiteCore

What am I missing here?
![screen shot 2019-01-23 at 18 40 27](https://user-images.github

[2019-01-24 10:25] amenk opened #1283 "How to make a custom image attribute searchable"
I added a custom Media Image attribute. How can I make that searchable?

### Preconditions

    smile/elasticsuite                                2.6.4
    magento/product-community-edition                 2.2.6

### Steps to reproduce
1. Go to product attributes
2. add attribute of type "Media image" code my_image
3. it's not searchable
4. I want to create virtual category based on that image (se

[2019-01-24 10:39] romainruaud commented on #1283
Hello @amenk

Yes, we put the "image" to :

- is_searchable : 0 . This prevent fulltext searching on this attribute (would have no sense to process a fulltext search on image name for most of merchants, it could probably add more noise than relevant results).

- is_used_for_promo_rules : 1. It's kinda hacky, but attributes used for promo rules are indexed into the Elasticsearch index, and can be u

[2019-01-24 10:41] romainruaud commented on #1262
Well... it's not recommended to run composer require directly on production. I guess it does not cleanup all the caches properly (especially configuration cache, and things like this).

You should install the module via composer require on your dev environment, then commit the changes into the app (composer.json, composer.lock, app/etc/config.php) and process a deployment on production again.

Reg

[2019-01-24 10:59] amenk commented on #1283
maybe that would make a good place in the function comment :-)

[2019-01-24 18:10] bbatista commented on #1262
Hi I am having a similar issue. I have a testing magento 2.2.6 instance, and I tried to install the version 2.6.0 exactly like described here on the first message. But when I try to run the *setup:upgrade* I am having an issue during the installation, and it is not installing correctly:
[code]
By the error message seems it is trying to access the ES cluster during the installation, but the ES is n

[2019-01-25 10:15] romainruaud commented on #1278
API calls should not bother Elasticsearch.

Could you please (if you have proper access to do this) how much indexes you are having actually in Elasticsearch ?

Can be done via `curl -XGET your-es-server:9200/_cat/indices?v`

Regards

And paste the results here.

[2019-01-25 17:25] valguss commented on #1278
We are having the same issue on Magento Cloud and the site has just gone down again becasue of it. Here's out output:

[code]

[2019-01-26 14:51] vishal-magento360 commented on #450
@vipingarg12  did you get any solution for this ? I am also experiencing same issue.

[2019-01-26 19:48] m9iqbal commented on #944
I'm also getting the same error and I'm pretty sure that I've both the plugins installed. Below is the out put of my `sudo bin/plugin list` command:

[code]

I'm running ElasticSuite Version 2.3.5 with Magento EE 2.1.3

[2019-01-28 06:35] qbo-tech opened #1285 "Autocomplete not rendering products properly in M2.3.0"
Autocomplete is finding products but not rendering products properly in M2.3.0 after fresh Install.

![image](https://user-images.githubusercontent.com/22456214/51818126-46826b80-2293-11e9-9c9e-3ee4d3191355.png)

Autocomplete block is rendering default Luma only (form-mini.js) instead of Smile's form-mini.js :
pub/static/frontend/Magento/luma/es_MX/Magento_Search/js/form-mini.js

![image](https://

[2019-01-28 10:59] haelbichalex opened #1286 "401 (Unauthorized) error when accessing the relevance configuration"
### Preconditions

MacOS Mojave, Docker

Magento Version : 2.3.0 EE

ElasticSuite Version : 2.7.4

Environment : developer

### Steps to reproduce

1. Backend --> Elasticsuite --> Search Relevance --> Relevance Configuration
2. Click on one of the option containers

### Expected result

1. No errors

### Actual result

1. I get an 401 Unauthorized error in console when accessing following url
[cod

[2019-01-28 14:57] stephan-cream opened #1287 "Magento core JS not extended but replaced entirely (This is wrong)"
A core file of Magento_Swatches is replaced entirely through requirejs-config.js.
magento/module-swatches/view/adminhtml/web/js/product-attributes.js
-> elasticsuite/src/module-elasticsuite-swatches/view/adminhtml/web/js/product-attributes.js

This goes agains the principles of Magento 2, mainly due to the fact that when changes occur to Magento's core, it will stop working when the core is upgrad

[2019-01-28 14:59] stephan-cream commented on #1287
As a sidenote, the reason i initially encountered this as a "problem" is because we patched 2.2.7 but this module broke functionality with saving attribute options on the module version 2.6.4 even though it was supposedly compatible with Magento 2.2.7.

[2019-01-29 06:07] rbayet commented on #1287
Hello @stephan-cream,

I agree with you wholeheartedly, the override on those two natives files are historic stones in our shoes (right and left feet).
For a while the pain was sustainable, but they have been numerous (non BC) changes in 2.x (for instance between 2.2.5, 2.2.6 and 2.2.7) for Magento to cover a range of issues.

We detected the changes in 2.3.x / 2.3.0, not the backport in 2.2.7.
Th

[2019-01-29 07:57] adjogic commented on #1278
The last time we had the issue, a week ago, there were more than 230 indexes.
After that, we disabled "Smile_ElasticsuiteTracker" module, updated Indices Name Pattern to {{YYYYMMdd}}, changed Shards per index to 1 and Replicas to 0. Not sure which one helped.

Thanks

[2019-01-29 09:09] romainruaud commented on #1287
Hello @stephan-cream

to be completely transparent, I was not aware of how to use mixins and how they could be valuable to fix such things.

So first of all, thank you, it's also for things like this that I do enjoy writing Open Source software, because of other users teaching me some tricks to improve our code.

Using a mixin seems way more efficient and less intrusive than our previous approach.

[2019-01-29 09:13] romainruaud commented on #1285
It seems that it's actually loading the "wrong" `form-mini.js` file and using the legacy one instead of the Elasticsuite one.

Did you override the theme prior to install Elasticsuite ?

Especially this file : https://github.com/Smile-SA/elasticsuite/blob/master/src/module-elasticsuite-core/view/frontend/templates/search/form.mini.phtml

You might have your own `form.mini.phtml` which was already

[2019-01-29 11:28] amenk opened #1288 "Dev Question: index related_skus and make sure the products are visible"
We have product relations where product A1, A2 have different spare parts via B, C, D.

Now I want to create a virtual category which contains only A1, A2 if any spare parts are assigned, AND those spare parts are enabled.

Where can I inject custom code to index just condition and how would A1 be updated if the part B, C or D becomes disabled (or enabled)?

[2019-01-29 12:38] stephan-cream commented on #1287
I will look at this later today to provide a PR.

[2019-01-29 15:18] DanieliMi opened #1289 "Dev Question: Filter for new Products"
We want a filter in layered navigation that filters for new products. Our idea is to base it on the magento default attributes `news_from_date` and `news_to_date`. I found an example in the wiki under [Query Filters](https://github.com/Smile-SA/elasticsuite/wiki/Querying#query-filters). But what is a good way to implement it?

[2019-01-29 16:15] qbo-tech commented on #1285
Thanks for your reply @romainruaud .

Well this is a default installation with no modifications on the theme at all.

Actually the file module-elasticsuite-core/view/frontend/templates/search/form.mini.phtml is being rendered, I double checked.

The problem seems to be more RequireJs related, since the quickSearch component -defined in the require-config.js file-  called in the template you mentio

[2019-01-29 22:18] qbo-tech commented on #1285
Well it seems like the issue appears only on **Magento default mode**. Switching to developer mode fixed the issue.

[2019-01-30 08:38] romainruaud commented on #1278
@adjogic : most probably, it can be due to the number of tracking indices. Changing the pattern like you did is discouraged because unicity of indices is not sure if "dd" is your lowest level of naming, and it has no effect on number of indices. And you should not set replicas to 0 because if you lose a node, no other node would be able to take the relay.

About the tracker, i'm not sure how we sh

[2019-01-30 08:45] valguss commented on #1278
Here are the indecies after a few days:
[code]

[2019-01-30 08:46] valguss commented on #1278
I suspect the issue is around the amount of indexes being created for tracking

[2019-01-30 08:56] romainruaud commented on #1278
Yep, I agree

Since for now, tracking data is not used, you can disable tracking and delete the indices.

But on next 2.8.0 version tracking data will be mandatory to be able to benefit from the search analytics dashboard ( #589 )

We'll deliver also a feature to enable automatic cleaning (maybe just closing them should be enough to reduce drastically their impact) of these indices.

Regards

[2019-01-30 08:59] valguss commented on #1278
Thanks. I've now disabled tracking and will look out for the new feature in the future. I'll report back here if we continue to see any issues.

Cheers

Tom

[2019-01-30 10:57] romainruaud commented on #1288
How are modelized relationships between your products ?

If they are standard magento relationships for composite products (configurable, bundle, grouped...etc) they should be already indexed properly via the chilren_ids.

If it's not like this, you could probably take some inspiration about how it's done here :

https://github.com/Smile-SA/elasticsuite/blob/master/src/module-elasticsuite-catalog/

[2019-01-30 11:01] romainruaud commented on #1278
Yes, tracking can be disabled properly via the back-office now, and the module can remains activated in config.php.

Self-reminder : https://www.elastic.co/fr/blog/elastic-stack-6-6-0-released

Probably the Frozen Indices feature is a good way to keep old data by reducing memory usage. Too bad it's only available with Elasticsearch 6.6.

[2019-01-30 11:07] amenk commented on #1288
Thanks for the answer, not it's related products, but I think it is a great starting point.

[2019-01-30 11:07] #1288 closed

[2019-01-30 13:04] rbayet commented on #1257
Hello @CRYX2,

Do you have other examples on your site ?
Because the two links you provided seem to contradict the following :

https://www.brignoliarmi.it/catalogsearch/result/?q=C53208 to me only shows products with exactly a product of SKU C53208 in them (2 products out of 2) and no other with only the C letter.

And https://www.brignoliarmi.it/catalogsearch/result/?q=53208 only displays a sing

[2019-01-30 13:12] CRYX2 commented on #1257
Hello, I've solved by creating a custom elasticsuite_analysis.xml file, this is the content:

`<analysis xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="urn:magento:module:Smile_ElasticsuiteCore:etc/elasticsuite_analysis.xsd">
    <filters>
        <filter name="word_delimiter" type="word_delimiter" language="default">
            <generate_word_parts

[2019-01-30 13:56] rbayet commented on #1257
Hi, @CRYX2

That's good news !

Looking at the SKU mapping in 2.7.x, and considering your initial request, my first hunch was indeed to fix the `reference_word_delimiter` filter of the `reference` analyzer to disable `split_on_numerics` and/or re-enable `preserve_original`.

The last changes on SKU search indeed went towards allowing "partial SKU search" (see  #810), which a `split_on_numerics = t

[2019-01-30 17:04] DanieliMi opened #1291 "Cookie Messages on Login Page not cleared when ElasticSuite Tracker is active"
### Preconditions

Full elasticsuite installed
Catalog is protected by login

Magento Version : 2.2.6
ElasticSuite Version : 2.64
Environment : Developer or Production
Third party modules : Quite some :-)

### Steps to reproduce

1. Login to the shop with a wrong password
2. Flash messages 'You did not sign in correctly or your account is temporarily disabled.' is shown
3. Login with right passwor

[2019-01-31 09:31] romainruaud commented on #1244
@GuiltyNL , @Swahjak

I understand that this issue is pretty annoying, **but** we'll need precise metrics and more details to investigate further.

So please again, can you provide :

- details about number of categories & virtual categories.
- do you have some virtual categories having a "virtual category root" set ?
- do you have some virtual categories that are having childrens (maybe virtual c

[2019-01-31 09:56] GuiltyNL commented on #1244
@romainruaud I'm willing to give you a backend login if you like.

- We have about 390 categories and about 145 virtual categories.
-140 virtual categories belong to a virtual main category, but it is not the root . We use virtual category 'Brands' and underneath we have all virtual categories per brand.
- I'm not a developer, so I'm not able to do anything with a stacktrace unfortunately.
- We ha

[2019-01-31 15:32] lewisje commented on #944
You might need to kill and restart Java, if killing and restarting processes named `elasticsearch` doesn't work to load in the plugins.

[2019-02-04 07:13] interequipment opened #1292 "Exception on brand page"
### Preconditions
Magento 2.3.0
php 7.2

Magento Version : 2.3.0

ElasticSuite Version : 2.7.0

Environment : Developer Mode

Third party modules : Mageplaza Shop by Brand (https://www.mageplaza.com/magento-2-shop-by-brand)

### Steps to reproduce

1. Select any brand from brand page (https://supplyapp.com/brand.html/)
2. It should display all the products for that selected brand (https://supplyap

[2019-02-04 07:46] Swahjak commented on #1244
@romainruaud I'm sorry for not being very responsive, had a little ski incident but I'm up (not yet running) again. Ever since we've been using virtual categories (in Magento 1 using another extension) we consider virtual categories to be the way to go. Currently ~500 out of 1300 categories are virtual, but our aim would be to have 1300/1300 categories. All these categories are part of a single ro

[2019-02-04 09:12] romainruaud commented on #1292
Hello @interequipment

Most probably and according to the stacktrace you gave, there is a major incompatibility between your module and Elasticsuite.

Mageplaza module is brining his own `Mageplaza\Shopbybrand\Model\Layer\Filter\Attribute` implementation, like Elasticsuite does.

It's not that surprising if we consider both modules are working on the same functional parts of the layered navigation

[2019-02-04 09:12] #1292 closed

[2019-02-04 09:57] interequipment commented on #1292
hi @romainruaud ,

Is is possible to disable ElasticSuite layered navigation on my brand pages?

[2019-02-05 08:32] romainruaud commented on #1244
Okay, that's concurrent with what I was guessing.

Several points to note here :

Virtual categories should have been named "marketing categories", since their initial purpose was to allow our customers to define some "specific" categories based on rules, like "discounted products", "this is blue week, here are all the products having color blue", or even "it's mother's day, take a look at this se

[2019-02-05 09:48] romainruaud commented on #1251
@jfgalano please append an update to this issue otherwise we'll have to close it for being inactive for too long.

regards

[2019-02-05 09:49] romainruaud commented on #1249
I close this one for being stalled / inactive for too long.

Feel free to open a new issue if you are still encountering a problem.

Regards

[2019-02-05 09:49] #1249 closed

[2019-02-05 09:53] frostblogNet commented on #1222
Hello @minhluan259

I have followed this guide but I ran into the same problem. Can you tell me want exactly was the solution.

Thanks in advance
Jens

[2019-02-05 12:23] romainruaud commented on #1233
I close this once since I answered.

Regards

[2019-02-05 12:23] #1233 closed

[2019-02-05 15:49] romainruaud commented on #1244
Nope, the so called `smile_virtualcategory_catalog_category_product_position` only contains the product positions for a given category (that can be virtual or not... and for this, this table is very poorly named).

In fact, this table is filled only when you merchandise a product inside a category (if you drag and drop it, pin it, or blacklist it). Rest of time the table is empty.

About your usec

[2019-02-05 15:56] romainruaud commented on #1286
Actually I do not reproduce this issue.

Are you still facing it ? Which ACLs are associated to your admin account ?

Regards

[2019-02-05 15:57] romainruaud commented on #1231
@TheoGranier any update on this one ?

Regards

[2019-02-06 10:21] Swahjak commented on #1244
Ok, all things considered. Whether or not this should / can / will be part of this repository; To fix this issue we need an indexer that monitors category / product saves and indexes the category => product relations accordingly. Or that would be your initial suggestion. Am I correct? In my mind a 'virtual' tree can actually be materialized without to much trouble. The 'rules' you are talking abou

[2019-02-06 12:00] amenk opened #1294 "Question: Boost products where the search string is at the beginning"
We have products as following

"Screw for Example Product"
"Mount for Example Product"
"Example Product 1"
"Example Product 2"

no when searching for "Example". the actual product, not the spare parts should be shown first.

Is there a boosting for products which are starting with the query string?

[2019-02-06 12:18] ngandara-summa commented on #1175
Hi @romainruaud ,  first say thank you for your answer. I wanted to tell you that I followed your advice and install ES in an EC2, the novelty is that I still have the same problem. I am a little disconcerted by this problem, and it is the second project that happens to me the same. Have you had experience with the same issue?

[2019-02-06 15:44] amenk opened #1295 "Dev-Question: Reuse the product search in an own function"
We have a custom autocomplete where we want to utilize the elasticsearch product search.

In our own constructor we inject:

        \Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\Collection\Provider $collectionProvider,

And get the product collection like this:

        $productCollection = $this->collectionProvider->getProductCollection();

Now the following happens: The Catalog visibili

[2019-02-07 17:16] romainruaud commented on #1294
Hello @amenk

Unfortunately, such way to boost products does not exists, and I'm afraid it's not as simple as that. It could fit your usecase but would probably bother other users.

Maybe you could have a generic Optimizer which is always applied on "real products" and not on "spare parts" (according there is a way to differentiate them, like their attribute set maybe ?). It should not necessitate

[2019-02-07 17:17] romainruaud commented on #1295
How are you building your custom autocomplete ?

If it's an API call, please note that the collection processors are injected only in **frontend** DI, meaning they are not injected in other areas (adminhtml, webapi_rest, webapi_soap).

Regards

[2019-02-07 17:18] amenk commented on #1295
Yes it is an API ...

[2019-02-08 08:53] amenk commented on #1295
Was able to solve it by copy & paste

in my global di.xml

    <virtualType name="Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\Collection" type="Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">quick_search_container</argument>
        </arguments>
    </virtualType>

    <type n

[2019-02-08 14:33] amenk opened #1297 "Dev-Question: Filter only by SKU in Autocomplete Query"
For a while I am trying now to only filter by SKU in autocomplete

My requirement is to search for partially typed SKUs.

So i have 123456 (a Yoga Whatever) in the catalog and want to find it by typing 123

This works:

        /** @var \Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\Collection\Provider */
        protected $collectionProvider;
        $productCollection = $this->collectionP

[2019-02-08 16:00] valguss commented on #1278
so, 9 days on and no crash. But to be fair we are no longer on the cloud. Hopefully I haven't spoken too soon
Thanks
Tom

[2019-02-10 14:35] overjolted commented on #217
Hello, thank for a great suite, that you guys have developed.
I do have a question though:

How do I create a virtual category and set rules for it via API?

PS To see what it might look like, I manually created a virtual category and set rules for it, but when I retrieve info about this category via API, 'virtual_rule' value is just an empty list. Why is that? Where do I find en example for setti

[2019-02-10 14:37] overjolted opened #1298 "How to set rules for virtual category via API in Magento 2?"
Hello, thank you for a great suite, that you guys have developed.
I do have a question though:

How do I create a virtual category and set rules for it via API?

PS To see what it might look like, I manually created a virtual category and set rules for it, but when I retrieve info about this category via API, 'virtual_rule' value is just an empty list. Why is that? Where do I find en example for s

[2019-02-11 10:34] romainruaud commented on #1298
Hello @overjolted

thank you for supporting us :)

Just to be sure, do you mean "with the REST admin API" when speaking about "via API" ?

Regards

[2019-02-11 10:39] overjolted commented on #1298
yes, I mean REST API

[2019-02-11 10:40] overjolted commented on #1298
Yes, I mean REST API

[2019-02-11 11:48] romainruaud commented on #1294
@amenk can this be considered as anwered (and then closed) ?

Let us know if you need more details,

Regards

[2019-02-11 11:50] amenk commented on #1294
We probably go for a "real product" distinction and boost them.
Anyways, do you think and option to boost matches where the search string is at the beginning is possible (programmatically) and/or would make sense as an option to be delivered with the package (to not bother other users) ?

[2019-02-11 11:51] romainruaud commented on #1297
Did you give a try to your `like` workaround without the `%` ? Or maybe the `fulltext` filter operator.

I did not test it, but the filter is transformed into an Elasticsearch query here : https://github.com/Smile-SA/elasticsuite/blob/master/src/module-elasticsuite-core/Search/Request/Query/Filter/QueryBuilder.php

From what I can see, `%` is not needed.

Regards

[2019-02-11 11:58] amenk commented on #1297
So you mean a like, but without "%" ?

[2019-02-11 11:58] amenk commented on #1297
Will try...

[2019-02-11 15:10] romainruaud commented on #1295
The nicer way would be that we do this copy inside etc/di/webapi_rest/di.xml file of Elasticsuite directly :)

But since there is no autocomplete endpoint in the legacy Magento 2 API, we did put this only on the `frontend` DI.

We'll have a look at this one for next minor release I guess.

Regards

[2019-02-12 12:59] romainruaud commented on #1278
To be honest, having several dozens of indices of <1Mb each should be nothing for a properly sized Elasticsearch cluster... not sure how it's handled in Magento Cloud but it might need improvements...

Another strange thing is the high % of indices indicated as "yellow" on your previous listing, meaning these indices are trying to have a replica but are not able to get it. It might be due to the f

[2019-02-12 13:11] amenk opened #1299 "Boost Products in QuickSearch"
So following #1294 I added an optimized.

Turns out I can only optimize the normal search results, quick search is missing here?

![image](https://user-images.githubusercontent.com/1087128/52637620-05639b80-2ed0-11e9-9e10-031610ae5c8c.png)

    smile/elasticsuite 2.6.4 Magento 2 merchandising and search engine built on ElasticSearch
    magento/product-community-edition 2.2.6 eCommerce Platform fo

[2019-02-12 13:44] romainruaud commented on #1299
In fact on versions <2.8 (which is the next major, not released yet), the autocompletion container has been removed. I'm not sure why, because it was done by my former teammate.

So on your current version, "Catalog Product Search" will boost the autocomplete box and also the search results.

When you'll update to ElasticSuite 2.8, you'll see a dedicated request type for the autocompletion, allowi

[2019-02-12 13:48] amenk commented on #1299
I do not have a need to boost autocomplete and search results differently. In fact, this would be confusing to end-users.
But it does not to seem to boost the autocomplete box in my case ...

[2019-02-12 14:18] amenk commented on #1299
Ah wait, this is related to #1295 - I am talking about my own custom quicksearch-reuse

So the question is how to use the optimizers in an API route

[2019-02-12 14:44] amenk commented on #1299
@romainruaud but it seems to be a different cause from that in #1295 -> the di.xml of module-elasticsuite-catalog-optimizer is all global `vendor/smile/elasticsuite/src/module-elasticsuite-catalog-optimizer/etc/di.xml`

[2019-02-12 15:07] romainruaud commented on #1299
Yes, they should be triggered in any cases.

Does your optimizer boost the search results pages ? (if you can access this frontend page).

There was many known issues on 2.6.x versions about wrong cache policy for optimizers (not properly cleared when saving an optimizer, see https://github.com/Smile-SA/elasticsuite/pull/1063 )

Maybe you are in this case, try a complete cache clean and see if it'

[2019-02-12 15:09] amenk commented on #1299
Search result page + normal quicksearch is working fine. I did a bin/magento cache:flush several times :-)

[2019-02-12 15:12] amenk commented on #1299
- Updating smile/elasticsuite (2.6.4 => 2.6.6)

problem persists ..

[2019-02-12 15:16] nuzil opened #1301 ""Index on Schedule" some products are not visible"
### Preconditions

Magento Version : 2.2.5

ElasticSuite Version : 2.5.15
Elasticsearch: 2.4.6

Environment : Production

### Steps to reproduce
0. Indexes is set on "Schedule", cron running every minute
1. Products are imported via Magento REST API -> PUT /V1/products/{SKU}
2. Some products are not visible on a frontend in categories and in search, but some are fine
3. After full reindex All prod

[2019-02-12 15:24] romainruaud commented on #1299
Well then check on `Smile\ElasticsuiteCatalogOptimizer\Plugin\QueryRewrite` that you are passing on the aroundCreate (this plugin will rewrite the query to add the optimizers).

If yes, then check `Smile\ElasticsuiteCatalogOptimizer\Model\Optimizer\ApplierList` on :

- applyOptimizers
- getFunctions

where you are losing data.

But when writing this, I'm unsure about what is used as the current st

[2019-02-12 15:34] amenk commented on #1299
public function applyOptimizers(ContainerConfigurationInterface $containerConfiguration, QueryInterface $query)
    {
        $functions = $this->getFunctions($containerConfiguration);

seems to return the proper one ... let me see what's the executed query

[2019-02-12 15:57] amenk commented on #1299
![screenshot_auswahl_003](https://user-images.githubusercontent.com/1087128/52648663-2e435b00-2ee7-11e9-954b-2d9e3cc931fe.png)

QuickSearch and my API seem to work completely different ...

I am doing this:

        $productCollection = $this->collectionProvider->getProductCollection();
        $productCollection->setSearchQuery($title);

But maybe it's also the DI config in the background...

[2019-02-12 15:58] amenk commented on #1299
The rest of the query is identical --- boost function etc. is there

[2019-02-12 16:05] romainruaud commented on #1301
They should be reindexed on the fly when using On Schedule indexing.

Are you sure they are put inside the `_cl` table during import ? They should, since it's managed by a DB trigger, but it could be a first point to investigate.

Also, are there any error in the /var/log/elasticsearch/elasticsearch.log file ?

[2019-02-12 16:16] amenk commented on #1299
I was able to fix that by replacing

        $productCollection->getSelect()->limit(self::MAX_RESULTS);

with

        $productCollection->setPage(1, self::MAX_RESULTS);

Seems that directly accessing the select is a bad idea.

So ElasticSearch wise the correct result was returned, then all messed up

[2019-02-12 16:16] #1299 closed

[2019-02-12 16:16] amenk commented on #1299
Thanks a lot for your support @romainruaud

[2019-02-12 16:21] romainruaud commented on #1299
Difference between both query is imho explained by the fact that default behaviour of quick_search is to append **several** search terms (because it injects all search terms related with the current term the user is typing). See https://github.com/Smile-SA/elasticsuite/blob/master/src/module-elasticsuite-catalog/Model/Autocomplete/Product/Collection/Filter.php#L76 which returns always an array.

T

[2019-02-13 09:29] romainruaud opened #1303 "Elasticsearch 7 support & Elasticsearch 5 deprecation"
Elasticsearch 5.x will be EOL on March 11.

Since we support ES 6, it's not a major issue, and customers will be able to upgrade smoothly.

We'll have to implement ES 7 support, and flag ES 5 as deprecated, and to be removed on a later version.

In parallel, maybe we should contribute ES 6 support to Magento legacy Elasticsearch implementation to ensure their framework will allow installing the El

[2019-02-13 10:31] Swahjak commented on #1244
@romainruaud for now we decided that (for us internally) it makes more sense to develop a separate module to handle "dynamic categories" including the indexer. It has no ties to ElasticSuite. We might publish it at some point, but for now we're keeping it internal until we have done some proper testing. Speaking for myself; this issue can be closed if there is no intention to integrate this featur

[2019-02-13 10:56] Shimon2 opened #1304 "Tracking pixel slowing down load of all pages"
The tracking pixel is now slowing down the load of all product pages.  It was not a problem until recently.  Now it add 1.5 to 5 seconds on the page load

How can I disable it

### Preconditions
Magento 2.2.2

Magento Version : 2.2.2

ElasticSuite Version :

Environment : Production

Third party modules :

### Steps to reproduce

1. Go to a product page using tools.pingdom to see load time of all

[2019-02-13 14:32] romainruaud commented on #1304
@Shimon2

Tracking pixel to external Smile domain has been removed a long time ago.

We totally agree that it was not a glorious idea, but we needed to be able to know who was using our module so ...

We gracefully accepted to put out our eyes and removed it in version 2.5.9 .

I deduce that you are using a Elasticsuite version <2.5.9 which is therefore way outdated. You should upgrade to a more r

[2019-02-13 14:32] #1304 closed

[2019-02-15 14:21] #1283 closed

[2019-02-15 14:21] #1251 closed

[2019-02-15 14:22] romainruaud commented on #1231
Closed for being inactive/stalled for too long.

[2019-02-15 14:22] #1231 closed

[2019-02-15 14:23] romainruaud commented on #1287
any news @stephan-cream ?

[2019-02-15 14:24] romainruaud commented on #1256
we do not plan to fix this actually, since we consider it a very specific need.

Considering you found a workaround, I close this one.

Best regards

[2019-02-15 14:24] #1256 closed

[2019-02-15 14:26] romainruaud commented on #1285
Most probably something related to the global requirejs-config.json file not being rebuilded after your first ElasticSuite install.

May I close this one ?

[2019-02-15 14:38] stephan-cream commented on #1287
@romainruaud My apologies, it is quite busy here so i don't really have time to look into this.
However i am pretty sure the above mentioned code is quite close to the actual solution.
Perhaps look at
`vendor/magento/module-catalog/view/adminhtml/web/js/components/use-parent-settings/toggle-disabled-mixin.js`
and
`vendor/magento/module-catalog/view/adminhtml/requirejs-config.js`
for the example of

[2019-02-18 09:19] romainruaud commented on #1286
@haelbichalex any update ?

[2019-02-18 09:23] haelbichalex commented on #1286
Hi @romainruaud. The issue is still there, but we think it's because of our varnish password protection. I'll close this issue for now, as I installed your module on another Magento 2 instance and couldn't reproduce this.
I'll let you know when I found a solution 👍

[2019-02-18 09:23] #1286 closed

[2019-02-18 11:26] #1285 closed

[2019-02-18 11:26] #1262 closed

[2019-02-18 12:30] FredRaym opened #1307 "The model "Based on attribute value" accepts decimal attributes, but not integer"
Thanx first for your wonderful Suite and job !

I have tried the brand new model "Based on attribute value". I have noticed this : you can configure attribute targeting attributes with "decimal validation" but you can't target attributes with "integer validation" (validate digit option).

Could you please add this use case ?

Thanx again !

Magento Version : Magento commerce 2.2.5
ElasticSuite Ver

[2019-02-18 12:52] FredRaym opened #1308 "Optimizer: category preview is (still) not working"
Hi,

Perhaps duplicates the now closed issue #1092 ...

Once the optimizer is well configured, the category preview displays loader but the preview area reamins empty. It works fine with the search preview

XHR log :
?isAjax=true => 200
Response :
`{base_products: [], optimized_products: [], size: 0}`
`base_products: []`
`optimized_products: []`
`size: 0`

Magento Version : Magento commerce 2.2.5

[2019-02-18 13:07] FredRaym opened #1309 "[ENHANCEMENT] Optimizer : do not propose "preview" for not selected request types"
Hi !
When editing Optimizer configuration, you can select **request types** : Catalog Product Search AND/OR Category Product View.

It should not be possible (given that it is not relevant) to preview a request type that has not been selected in the configuration above. In other words, if Catalog Product Search is **not** a selected request type, then it is not previewable.

Regards

![2019-02-18-

[2019-02-18 14:50] FredRaym opened #1310 "Optimizers : problem with escapement of attribute name"
Hi,

When editing Optimizer from admin, if you add a rule condition on attribute, there is a small problem with escapement of attribute names (capture joined)

![2019-02-18_154823](https://user-images.githubusercontent.com/47741932/52958645-d39d7980-3394-11e9-8c99-edbd9fb3376a.png)

Magento Version : Magento commerce 2.2.5
ElasticSuite Version : 2.6.3

Regards

[2019-02-18 15:00] FredRaym opened #1311 "[Enhancement] Display attribute name with attribute Magento code"
Hi,

On large catalogs, it happens that we use several times the same name for different attributes (that refer to different attribute sets for example). Then, it is difficult to select the right attribute in Rule condition list (cf. capture)

I propose to display attribute code either next to the attribute name, or in a tooltip. For example : **<attribute name> [<attribute code>]**

Regards

![20

[2019-02-18 15:13] FredRaym opened #1312 "Optimizers: configuration of boolean attributes to be usable in rule conditions"
Hi

There is something weird on boolean attributes that is different from other types of attribute...

To make any attribute visible and usable in Rule condition list, you have to set the Storefront property named **"Use for Promo Rule Conditions"** to **Yes**.
But for boolean attributes, you have to **"Use it in layered navigation"**, that is something you might not want.

**Steps to reproduce**

[2019-02-19 13:02] romainruaud commented on #1312
When building the available attribute lists for rules, we only check if the associated field in the ES mapping is "filterable" or "searchable" : https://github.com/Smile-SA/elasticsuite/blob/master/src/module-elasticsuite-catalog-rule/Model/Rule/Condition/Product/AttributeList.php#L139

It's wrong because a field can be in the mapping even if not "searchable" or not "searchable" : if it's only "us

[2019-02-19 17:06] damek132 opened #1316 "Magneto 2.3+ Ultimo2.8 Search Bar Solution"
### Preconditions

I've noticed a lot of users have got issues with the ultimo theme and the missing search bar and featured product so, here is a solution that fixes that issue.

Magento Version : 2.3

ElasticSuite Version : 2.7.1

### Steps to fix missing search bar

1. Create a new file `app/design/frontend/Infortis/base/Smile_ElasticsuiteCore/templates/search/form.mini.phtml` or under your own

[2019-02-19 17:08] #1316 closed

[2019-02-20 11:17] Ahmed-Ayman commented on #858
for anyone who is facing the same issue and coming from a docker-compose background!
just change the `'servers' value in `app/etc/env.php` to `<your elasticsearch image name>:<the port>` in my case it was `elasticsearch:9200` since my docker-compose was like

[code]

[2019-02-20 11:17] Ahmed-Ayman commented on #1002
for anyone who is facing the same issue and coming from a docker-compose background!
just change the `'servers' value in `app/etc/env.php` to `<your elasticsearch image name>:<the port>` in my case it was `elasticsearch:9200` since my docker-compose was like

[code]

[2019-02-20 13:14] rbayet commented on #1287
Hello @stephan-cream,

Unfortunately, the mixin approach you described will not work in this case, because `vendor/magento/module-swatches/view/adminhtml/web/js/product-attributes.js` returns a function which does not return anything and not an object (which would have the `extend` method).

The alternative mixin syntax/approach pointed by the docs and used in https://github.com/magento/magento2/b

[2019-02-20 13:46] romainruaud commented on #1287
So maybe we could propose a PR to Magento in order to cleanup the mess on this area, and to allow third-party extension developers to extend it easily :)

[2019-02-20 15:37] rbayet commented on #1310
Occurs both in optimizers and category virtual rules.
Does not occur in native rules (sales rules and widget rules).

[2019-02-20 16:51] rbayet commented on #1308
Hello @FredRaym,

Cannot reproduce this issue on EE 2.2.5 and with ElasticSuite 2.6.3 or later 2.6.x versions.
Could not either reproduce on your specific project (dev) environment.

Was it occuring in an environment setup in production mode ?

Regards,
Richard.

[2019-02-20 18:21] rbayet commented on #1310
As simple as being due to `\Smile\ElasticsuiteVirtualCategory\Block\Adminhtml\Catalog\Category\VirtualRule::_toHtml` and `\Smile\ElasticsuiteCatalogOptimizer\Block\Adminhtml\Optimizer\RuleCondition::_toHtml` (see below) ?
[code]

Comparing `src/module-elasticsuite-catalog-rule/view/adminhtml/templates/product/conditions.phtml` (template of these blocks' renderer  - `\Smile\ElasticsuiteCatalogRule\

[2019-02-20 20:28] lewisje opened #1319 "Excluding a short word (like "red") from being considered a stopword"
### Preconditions

Magento Version : CE 2.2.7

ElasticSuite Version : 2.6.6

Environment : Production

Third party modules :

* Adfab_Gdpr
* Amasty_Base
* Amasty_CommonRules
* Amasty_Conditions
* Amasty_ShippingArea
* Amasty_Shiprestriction
* Amasty_Xnotif
* Anowave_Package
* Anowave_Sort
* Apptrian_FacebookPixel
* Apptrian_ImageOptimizer
* Apptrian_Minify
* Bss_CustomProductAttributeExport
* Comp

[2019-02-21 02:26] duffner opened #1320 "Category Filtering, Navigation Issue - Feature / Bug"
One of the weaknesses of ElasticSuites layered navigation is if you’re on a child category you can’t see it’s parents in the left navigation.  As an example, if you have parentCategory -> childCategory -> subChildCategory.  and you go to the subChildCategory, there is no way to go back to childCategory or parentCategory without using Magento's main navigation or the browser's back button.  In stoc

[2019-02-21 07:39] Wohlie opened #1321 "JS errors and non working search with enabled ublock origin"
Hi,

i use chrome with enabled ublock origin as adblocker with this configuration:
![ublock](https://user-images.githubusercontent.com/329240/53151258-058c2700-35b3-11e9-9d32-fa42d2dab70c.png)

In this case is get js errors, because the js file `...Smile_ElasticsuiteTracker/js/tracking.js` is blocked:
![jserrors](https://user-images.githubusercontent.com/329240/53151519-bbf00c00-35b3-11e9-90d5-cbf

[2019-02-21 07:55] Mathiu opened #1322 "Prices are not being indexed and sorting by price is not working"
Hi,

I have a problem where sorting products inside category by price is not working at all. I have dig a little and can see that prices are not being indexed in elasticsearch which I think is related because as far as I digged into the code sorting is done inside the query to elasticsearch.

Here is what I get when I request: http://localhost:9200/magento2_default_migrated_catalog_product_2019022

[2019-02-21 09:39] rbayet commented on #1321
Hello @Wohlie,

Can you provide the version of Magento2 and ElasticSuite you are using (I know it might not relevant, but still) and on which Chrome version/platform you are using ?

On M2 2.3.0, I can reproduce the first issue with ublock origin installed in Chromium 65 on Ubuntu **but** the autocomplete search is not blocked.
Can you detail that additional error ?

Regards,

[2019-02-21 10:33] rbayet commented on #1159
Hello @berwa,

Have you tried @romainruaud suggested action ?

Regards

[2019-02-21 10:49] FredRaym commented on #1308
Yes it is, Production mode.

Regards

[2019-02-21 11:18] rbayet commented on #1308
Confirmed on EE 2.2.5 + ElasticSuite 2.6.3 + Luma in **production mode**

[2019-02-21 15:31] rbayet commented on #1308
For reference, queries being sent to ES

<details>
<summary>developer mode</summary>

[code]

</details>

<details>
<summary>production mode</summary>

[code]

</details>

In **production mode**, it looks like there is a fallback on the quick search container
* there is no longer a sort on category position
* the category path query filter is missing
* the visibility filter is the one pertaining t

[2019-02-21 16:56] abbatis commented on #1322
I had the same issue. Might be solved with this one: https://github.com/Smile-SA/elasticsuite/pull/1313 - you should give it a try.

[2019-02-21 16:58] rbayet commented on #1308
This is due to the following code in `\Magento\Framework\ObjectManager\Factory\Compiled::create` which has a problem with :
* providing a `$queryText = null'
* while `\Smile\ElasticsuiteCatalogOptimizer\Model\Optimizer\Preview::__construct` has default value for `$queryText` of ` ` (empty string)

[code]

where `$args` contains the constructor arguments **description** and `$arguments` contains th

[2019-02-22 08:01] Mathiu commented on #1322
@abbatis Thanks, but I'm not exactly sure what does this fix or how should I use this method.

I have spent some more time and learned today that if reindexing doesn't finish properly the elasticsearch index is not actually updated.

Now if I use "catalog_product_index_price_idx" instead of "catalog_product_index_price" the sorting is working but on a DESC sort direction its broken because some of

[2019-02-22 09:12] rbayet commented on #1322
Hello @Mathiu,

Considering the name of your index (`magento2_default_migrated_catalog_product_X_X`) what is the context of your project ? Is this a migration from M1 to M2 ? Or a migration from M2 2.0 or 2.1 to 2.2 ?

Regards

[2019-02-22 09:24] Mathiu commented on #1322
@rbayet

Its migration from M1 to M2.

I think I have already found the reason why its not working. I will make a pull request with description in a bit.

[2019-02-22 09:50] Mathiu commented on #1322
@abbatis You might try out #1326, run `bin/magento setup:upgrade` and then `bin/magento indexer:reindex` and check if its fixes the issue for you as well.

[2019-02-22 09:52] abbatis commented on #1322
@Mathiu Cool, did that work for you? Will test it right now.

[2019-02-22 10:03] Mathiu commented on #1322
@abbatis Yes, its working for me.

[2019-02-22 14:41] rbayet commented on #1289
Hello @DanieliMi,

There are several steps if you want to take inspiration on the wiki page you mentioned.

**A "by the book" approach is a bit complex...**

A filter in the layered navigation is represented by two components : a layer filter model and its layer filter renderer (in M1, it was a block)
The layer filter renderers are children block of the layer `Navigation` block and displays what t

[2019-02-22 15:40] rbayet commented on #1320
Hi @duffner,

It's more a design choice than a bug IMHO.

I'm not saying this is perfect, for instance on Luma, if I'm filtering the ["Women > Tops" category to have only blue products in the price range "25 - 66"](http://demo.magento-elastic-suite.io/index.php/women/tops-women.html?color=Blue&price=25-66) and clicking on the category filter item "Tees (5)", I'm not really expecting to reach a pag

[2019-02-22 16:00] rbayet commented on #1319
Hello @lewisje,

Could you give us more information about your catalog and your expectations ?
For instance, what is your catalog size : only visible products in search and total size - for instance including not visible simple products assigned to a configurable production ?

What is the percentage of products that have the term `red` (and only `red`, not `colored`) in those two groups ?

Have yo

[2019-02-22 16:02] lewisje commented on #1319
Sorry, the real problem was a native Magento setting: I just realized that I had set the minimum search query to be 4 characters long, and when I lowered it, the search worked as expected.

[2019-02-22 16:02] #1319 closed

[2019-02-25 13:07] dooblem commented on #1278
Hello,
We are experiencing similar problems too. (hosted on magento cloud too)
We have currently 173 indices in ES (with prod and staging indices on the same instance).

[2019-02-25 13:20] abbatis commented on #1322
@Mathiu Your PR doesn't solve this issue for me. It seems that these XML definitions are already present in Magento core. I found out that my issue relates to uppercase sort direction. So using `DESC` instead of `desc` would cause Elasticsearch (at least v2.4.x) to default to `asc`. I created PR https://github.com/Smile-SA/elasticsuite/pull/1333/files for this.

[2019-02-25 13:36] Mathiu commented on #1322
@abbatis I'm glad you fixed your issue!

Could you mind sharing what Magento version are you running and is it a migration from M1 to M2?

The XML definitions I added are in core since 2.2.6 but they don't apply for adminhtml scope when running `bin/magento indexer:reindex` which is the problem in my case, but I'm waiting for a review.

[2019-02-25 13:37] berwa commented on #1159
Hello @romainruaud,
thank you for your answer and sorry for my late reply.

We played around with a plugin that basically removes "$this->configHash->regenerate();" from RecurringData.php, it worked for us, but we could not determine if that would cause any side effects in other circumstances.

Best regards

[2019-02-25 13:39] abbatis commented on #1322
@Mathiu In my case it's a migration from v2.1.12 to v2.2.7. Good luck!

[2019-02-25 16:39] rbayet commented on #1322
Hello @Mathiu,

Could you provide use with additional details about your configuration ?
Do you have several websites ? Stores ?

Regards,

[2019-02-25 17:24] Mathiu commented on #1322
@rbayet

I'm happy to provide anything I can here.

There are currently 2 stores in the database right now but only one contains products. I think this is because of migration from M1, one is a default store (left over from the Magento setup) and another is migrated store created during the migration process.

Other than that its a single store with only a single domain.

There are ~25k configurab

[2019-02-26 09:09] dooblem commented on #1278
We disabled tracking yesterday. The number of indices is now about 80. But it went down again this morning. As I'm writing I'm waiting for Magento Cloud to restart ES.
What is weird is the total size of indices is rather small (bellow 300M). And we have a cluster of 3 nodes with 10G each ! All full.
If you know of any command or what to look to have more insight of ES memory usage, you'll make my

[2019-02-26 09:23] adjogic commented on #1278
If you check elasticsearch.log you'll probably something similar to this:
[code]

[2019-02-26 09:48] rbayet commented on #1322
Hello @Mathiu,

Could you provide us with the result of the following SQL query ?
`show tables like 'catalog_product_index_price%';`

Regards,

[2019-02-26 10:08] dooblem commented on #1278
I got exactly the same this morning. But though memory heap usage was high, I see no OutOfMemoryError in the log for this morning.
Looking into the logs you sent and I got too, it really seems like a network problem: "transport disconnected".
If so this issue has nothing to do with elastic suite...

Some interesting thread I found: https://discuss.elastic.co/t/possible-causes-for-transport-disconn

[2019-02-26 10:30] Mathiu commented on #1322
Hi @rbayet

I get same result when no crons are running and after a full reindex (with `bin/magento indexer:reindex):

[code]

The reason why prices are not indexed in elasticsearch for me is that Magento is using "catalog_product_index_price" table (which is empty) instead of "catalog_product_index_price_ws2" which contains all the data.

[2019-02-26 10:53] rbayet commented on #1322
Hello @Mathiu

Thanks for your answer.

It seems, you are indeed using some index segmentation (which the price table `\Magento\Catalog\Model\Indexer\Product\Price\PriceTableResolver` and the index scope `\Magento\Framework\Indexer\ScopeResolver\IndexScopeResolver` resolvers provide) and it's not simply a matter of prices being "stuck" in `catalog_product_index_price_idx` and not being copied/inde

[2019-02-26 11:17] rbayet commented on #1322
Actually, running `php bin/magento indexer:show-dimensions-mode` should give you
[code]
Could you confirm @Mathiu ?

If so, it means you could probably dispense of the DI introduced plugins with a simple
 `php bin/magento indexer:set-dimensions-mode catalog_product_price none`

Indeed :
- https://community.magento.com/t5/Magento-DevBlog/Indexers-parallelization-and-optimization/ba-p/104922
- https

[2019-02-26 11:31] Mathiu commented on #1322
@rbayet Wow, spot on! It indeed says:

[code]

I guess it is kind of my bad in the end, because I remember after updating to 2.2.6 I was trying to configure indexers to use parallel mode and probably set it by accident not knowing what it does.

Anyway, looking forward for the fix, as I assume it still a case where prices should be indexed, regardless of this mode.

Thanks again!

[2019-02-26 16:27] Mathiu commented on #1322
@rbayet Just wanted to confirm that changing the dimensions mode to none fixes sorting issue without any changes in any module.

[2019-02-26 16:34] rbayet commented on #1322
Thanks for the feedback @Mathiu !

[2019-02-27 11:25] codefueluk opened #1334 "Mana Dev AJAX Navigation Issues"
When installing the elastic search module there is a conflict with Mana Dev AJAX Navigation.

### Preconditions

Magento Version : 2.3.0

ElasticSuite Version : 5.2.2

Environment : Developer

Third party modules :  ManaDev

### Expected result

1. PHP Fatal error:  Uncaught Error: Call to undefined method Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Fulltext\Collection\Interceptor::loadF

[2019-02-27 14:37] romainruaud commented on #1334
Hello @interequipment

Most probably and according to the stacktrace you gave, there is a major incompatibility between your module and Elasticsuite.

It's not that surprising if we consider both modules are working on the same functional parts of the layered navigation.

Since compatibility with third-party modules is out of the scope of our Open Source support policy provided here, there is not

[2019-02-27 14:37] #1334 closed

[2019-02-27 14:40] romainruaud commented on #1278
I agree, as I said before, hundreds of indices containing 1 or 2Mb each is nothing for Elastiscsearch to handle, especially on a three node cluster.

But this is only true if the cluster is properly dimensioned and designed by the hosting company.

From our personal experience at Smile (we are also an hosting company), we do not face such issues for our customers hosted in our "bare metal" servers

[2019-02-27 15:30] valguss commented on #1278
Sorry to be flippant but I'd say "badly"

[2019-02-27 17:08] #1308 closed

[2019-02-28 11:19] hirenrk4 opened #1338 "Catalog Search indexer and ElasticSuite Category Indexing indexer process unknown error"
When run the bin/magento indexer:reindex command got following issue

Catalog Search indexer process unknown error:
{"error":{"root_cause":[{"type":"mapper_parsing_exception","reason":"No handler for type [text] declared on field [search]"}],"type":"mapper_parsing_exception","reason":"No handler for type [text] declared on field [search]"},"status":400}
ElasticSuite Category Indexing indexer proce

[2019-03-01 07:12] romainruaud commented on #1310
If legacy rules are not broken, I'd think that this escaping is not relevant anymore.

Can you try to remove it and submit a PR ?

Thanks

[2019-03-01 07:12] romainruaud commented on #1307
Fixed by associated PR, will be part of next minor releases 2.6.7 & 2.7.5

[2019-03-01 07:12] #1307 closed

[2019-03-01 07:12] romainruaud commented on #1312
Fixed by associated PR, will be part of next minor releases 2.6.7 & 2.7.5

[2019-03-01 07:12] #1312 closed

[2019-03-01 07:12] romainruaud commented on #1309
Fixed by associated PR, will be part of next minor releases 2.6.7 & 2.7.5

[2019-03-01 07:12] #1309 closed

[2019-03-01 07:13] romainruaud commented on #1311
Fixed by associated PR, will be part of next minor releases 2.6.7 & 2.7.5

[2019-03-01 07:13] #1311 closed

[2019-03-01 07:14] romainruaud commented on #1321
Fixed by associated PR, will be part of next minor releases 2.6.7 & 2.7.5

[2019-03-01 07:14] #1321 closed

[2019-03-01 07:14] romainruaud commented on #1297
any update on this one ?

[2019-03-01 07:17] romainruaud commented on #1295
Closed as being answered.

In any cases, we won't add this DI into the webapi_rest since on a legacy Magento+Elasticsuite install you are not supposed to have webapi_rest endpoint for autocomplete.

If people want to build it by themselves, they'll have to add the DI as you did, so it' non-blocking for people to build on top of Elasticsuite.

Regards

[2019-03-01 07:17] #1295 closed

[2019-03-01 07:18] romainruaud commented on #1239
Fixed by associated PR, will be part of next minor releases 2.6.7 & 2.7.5

[2019-03-01 07:18] #1239 closed

[2019-03-01 09:12] amenk commented on #1297
Did not work I think. I currently went with

        $sku = (string) (int) $sku; // quickfix, disallow non-number numbers, see #41689
        $productCollection->setSearchQuery($sku);

[2019-03-01 13:50] rbayet commented on #1338
Hello @hirenrk4,

Can you run the `composer info | grep -i elastic` command for your **site 1** with `"^2.5.0"` too ?
Can you also give me your ElasticSearch server version `curl http://your.es.server:9200` ?
And the Magento versions for **site 1** ?

To sum it up :
- If you are using a 2.5.x release, you cannot go further than ElasticSearch 5.x but you can still use an ElasticSearch 2.x server
-

[2019-03-01 14:01] romainruaud commented on #1322
Fixed by associated PR, will be part of next minor releases 2.6.7 & 2.7.5

[2019-03-01 14:01] #1322 closed

[2019-03-01 14:02] romainruaud commented on #1297
Ok, I close this one since it has been answered.

[2019-03-01 14:02] #1297 closed

[2019-03-01 14:31] Mathiu commented on #1322
Thank you so much @romainruaud @rbayet!

[2019-03-01 14:43] #1218 closed

[2019-03-01 16:09] rbayet commented on #1291
Confirmed on EE 2.2.6 with a basic "Private Sales" website restriction applied  :

![ee226_website_restriction](https://user-images.githubusercontent.com/2353374/53650288-7e8b1e80-3c44-11e9-9fd3-e7de484458a4.png)

![ee226_private_sales_postlogin](https://user-images.githubusercontent.com/2353374/53650377-b1351700-3c44-11e9-9872-a949fa3f1181.png)

[2019-03-01 16:19] romainruaud commented on #1310
Closed by associated PR. Will be part of next minor releases.

[2019-03-01 16:19] #1310 closed

[2019-03-04 06:22] hirenrk4 commented on #1338
please check curl https://prnt.sc/msv3ne both site are same configuration.

**actually my question is If i upgrade ElasticSearch ElasticSearch **6.x** on the server, will it cause an issue with smile/elasticsuite: "^2.7.0"?**

smile/elasticsuite: "2.7.0" compatible with ElasticSearch ElasticSearch **6.x**?

[2019-03-04 09:59] rbayet commented on #1338
Hello @hirenrk4,

I answered you on the compatibility of smile/elasticsuite 2.5.x and ElasticSearch 6.x : they are **not compatible**.

Regards

[2019-03-04 10:38] #1338 closed

[2019-03-04 10:47] dharake commented on #1086
Hi guys,

I can chime in here with a similar scenario to you.

I've got a M2.3 CE in development, running LEMP w/ Varnish, and elastic-server on a seperate VM.

All seemed to be running fine for a while, then today I start getting the following in my exception.log. Like @kanduvisla I'm running multiple store fronts.

`[2019-03-04 08:59:08] main.CRITICAL: {"error":{"root_cause":[{"type":"resource_a

[2019-03-05 15:33] romainruaud commented on #1289
Closed as being answered

[2019-03-05 15:33] #1289 closed

[2019-03-06 22:15] shrinet commented on #877
Hello,
  I am still getting this error, my environment is
Magento Version : 2.2.7 CE
ElasticSuite Version : 5.6.15
Environment : Production

Stack Trace:
`[06-Mar-2019 22:11:12 UTC] PHP Fatal error:  Uncaught Error: Call to a member function getCategorySearchQuery() on null in /home/rfs/readyforshop.com/vendor/smile/elasticsuite/src/module-elasticsuite-virtual-category/Model/Preview.php:105
Stack

[2019-03-07 06:51] Zyles commented on #228
If you look at Aheadworks layered navigation they have ajax solved and that is an extension that does not modify your theme.

Refreshing page and moving the browser to the top is problematic with a lot of content so ajax would be a huge benefit.

[2019-03-07 06:59] Zyles opened #1344 "Active filters as horizontal buttons"
**Is your feature request related to a problem? Please describe.**

It would be great if you can add a horizontal filter list. It is more user friendly than having it to the left IMO. Consider users who are not tech savy. Having the active filters in their face in the main content area rather than on the side makes it easier for them to notice it.

**Describe the solution you'd like**

A horizonta

[2019-03-07 09:57] shrinet opened #1345 "Getting error with Admin category and all products in each category"
Hello,
  I am getting this errors on admin side as well as frontend, Admin side Category editing page not opening due to error and on frontend every product shows in every category.

my environment is

### Preconditions
Magento Version : 2.2.7 CE
ElasticSearch Version: 5.6.15
ElasticSuite Version : 2.6.0
Environment : Production

### Steps to reproduce

1. composer require smile/elasticsuite ~2.6.

[2019-03-07 10:20] gjportegies commented on #1239
@romainruaud the solution with ```in_array($frontendClass, ['validate-digits', 'validate-number'])``` didn't work for my attributes.

Although if I check for the `backend_type` like you mentioned it works for my attributes.

I can make a pull request with the following additions (if you agree?):

```$backendType = $subject->getAttributeObject()->getBackendType();```

```if ($backendType === 'decim

[2019-03-07 11:20] dooblem commented on #1278
One of the nodes went down this morning again, saturating the heap space (10G).

I found an interesting thread: https://discuss.elastic.co/t/overhead-and-heap-issues/117888

Then I red this insightful page: https://www.elastic.co/fr/blog/how-many-shards-should-i-have-in-my-elasticsearch-cluster

I should also had red more carefully the comment in this issue. It appears that we had 3 shards per ind

[2019-03-07 16:05] Quazz commented on #1345
I get the same thing using

ElasticSearch Version: 5.2.2
ElasticSuite Version : 2.7.5
Environment : Production

https://github.com/Smile-SA/elasticsuite/pull/880 was supposedly the fix for it (and/or raising php max_input_vars), but it seems that changes since may have caused a similar/new/same problem here.

[2019-03-07 17:41] shrinet commented on #1345
Thanks @Quazz for update, could you Please elaborate how other module caused issue and solutions.

Thanks

[2019-03-08 09:53] Quazz commented on #1345
@shrinet Because the Category model was being overwritten by another model, it wasn't returning what elasticsuite expected it to return, the data it required not being present it returns a "null" value.

By commenting out the lines I mentioned, I noticed in the error log (after reloading admin category page) one particular line that caught my eye:

`Smile\\ElasticsuiteVirtualCategory\\Controller\\

[2019-03-10 10:34] vdloo opened #1346 "Dead link in ServerConfig wiki page"
The wiki page doesn't seem to be part of the repo so I can't create a PR, but on https://github.com/Smile-SA/elasticsuite/wiki/ServerConfig-5.x and https://github.com/Smile-SA/elasticsuite/wiki/ServerConfig-6.x it links to https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-service.html which 404s

[code]

[2019-03-11 11:09] romainruaud commented on #1344
I agree that on an UX point of view, it's better to display filters like this.

However, for now we did just rely on the Magento's legacy way to display filters and we'll probably not go any further on this topic.

We do not want to constraint our users to have a different display from legacy Magento and since such a behavior is easy to customize, we won't introduce it but rather let Elasticsuite

[2019-03-11 12:03] Zyles commented on #1344
You could support both. The sidebar filters don't have to be replaced nor disabled while having this functionality.

[2019-03-11 16:57] harrigo opened #1347 "500 Error when saving categories with invalid layout update xml - Method Magento\Ui\TemplateEngine\Xhtml\Result::__toString() must not throw an exception, caught Error: Call to a member function getCategorySearchQuery() on array"
Some categories throw 500 error upon saving from admin:

`[11-Mar-2019 16:45:56 UTC] PHP Fatal error:  Method Magento\Ui\TemplateEngine\Xhtml\Result::__toString() must not throw an exception, caught Error: Call to a member function getCategorySearchQuery() on array in /home/sites/magento/testing_html/vendor/magento/module-ui/Component/Wrapper/UiComponent.php on line 0`

I have seen similar issues

[2019-03-12 12:57] pedrosousa13 commented on #1243
Is there no way to have the MSI disabled and still have elasticsuite?

[2019-03-13 08:36] Emanuel-23 opened #1348 "How to save "manual sort order" in category programmatically?"
I would like to set and save "manual sort order"s for some specific categories in a Magento 2.2 Shop *programmatically*. What is the best and easiest way to achieve this?

**Additional context**
We have some categories, that differ from the default categories in Magento 2 and show some kind of ranking for a range of products. Until now, we have set our custom order ranking by saving our custom pos

[2019-03-13 09:01] nuzil commented on #1301
Hi @romainruaud
Thanks for the ideas. Currently we are covered it with logs, and research why sometimes its still happens.

[2019-03-13 12:35] martijnrmediact commented on #1347
We are encountering the same issue after using ElasticSuite.

[2019-03-13 12:37] martijnrmediact commented on #205
We are encountering the same issue also when flat categories are disabled.

[2019-03-13 13:56] romainruaud commented on #1348
Probably the good entry point should be here : https://github.com/Smile-SA/elasticsuite/blob/master/src/module-elasticsuite-virtual-category/Model/ResourceModel/Category/Product/Position.php#L119

You'll have to previously set the products on the category via `setSortedProducts()` and `setBlacklistedProducts()`

[2019-03-13 14:08] jeroenkosse opened #1349 "swatches.css load in catalogsearch_result_index"
In the catalogsearch_result_index from the module-elasticsuite-swatches source there is a head tag to add the <css src="Magento_Swatches::css/swatches.css"/>. This files is not longer existing in the Magento 2.3 version and should be removed from this xml to prevent errors when trying to add the swatches.css to the layout.

### Preconditions
We use nginx with php7.

Magento Version : CE 2.3

Elast

[2019-03-13 14:30] harrigo commented on #1347
This is also happening on my live version now although different categories to ones which were failing on my testing environment.

[2019-03-13 18:22] HannesJa commented on #1301
We are currently looking into this as well, although our Magento's version is 2.1.9, and Smile Elasticsuite 2.3.11.

However, after some looking around, it seems that this is not an issue with Smile Elasticsuite, but could be with Magento's way of handling the changelogs.

I found a couple of reported issues about this, and they seem to be related. Take a look at these for example, should they be

[2019-03-14 06:19] flexsingit commented on #829
we have installed and set up elasticsuite with Magento 2.3 and elastics search is working pretty good when we tested with some SKU. but there are some instances of the search in which it is not returning the result as expected. For example, when we search with the ISD-TN450 it is returning the correct results but when we search with the ISD-TN45 it is not returning any result.

We have checked the

[2019-03-14 07:08] flexsingit opened #1350 "SKU search is not returning result correctly"
### Preconditions

Magento Version : 2.3.0

ElasticSuite Version : 2.7.0

Environment : Default

Third party modules : No

### Steps to reproduce

1. we have installed and set up elasticsuite with Magento 2.3 and elastics search is working pretty good when we tested with some SKU. but there are some instances of the search in which it is not returning the result as expected. For example, when we s

[2019-03-14 07:21] flexsingit commented on #361
@madonzy I am facing the same issue.

when we search with the ISD-TN450 it is returning the correct results i.e 3 products but when we search with the ISD-TN45 it is not returning any result.

We have checked the demo at http://demo.magento-elastic-suite.io/ and search with the keyword WT09 it is returning the exact result but when we search with the keyword WT0 it is not showing any result. but t

[2019-03-14 09:22] romainruaud commented on #1350
Short version : It's working as intended and as provided by ElasticSuite legacy.

Actually, since every merchants have a different needs about how SKU-based searches should be handled, we cannot cover all cases on the legacy module.

@rbayet will write a small guide to explain whan can/cannot do the legacy implementation, and how it can be customized to fit any customer's needs.

That being said,

[2019-03-14 09:45] harrigo opened #1351 "Layered Navigation does not show within Advanced Search"
I have no layered navigation showing within my advanced search results making for a very poor experience within advanced search.

### Preconditions
Magento Version : 2.2.7
ElasticSuite Version : ^2.6.0
Environment : Developer / Production

### Steps to reproduce
1. Navigate to advanced search on site
2. Search for a product

### Expected result

1. List of products shown with layered navigation to

[2019-03-14 11:39] harrigo commented on #1347
Im not gonna pretend like a fully know what is going on here but I changed the category object temporarily to pull the category from repo rather than the $category object currently used and my actual error was shown I believe.

[code]

Maybe Magento changed validation with the layout update xml there  as was not witnessing errors on previous versions however.... Some error checking is failing when

[2019-03-14 13:52] romainruaud commented on #1351
Hello,

there is no layered navigation on the legacy Magento2 Advanced Search.

We did not add it either on Elasticsuite and will not introduce this.

However, you could achieve it by yourself easily with some custom development.

Regards

[2019-03-14 13:52] #1351 closed

[2019-03-14 13:58] romainruaud commented on #1347
Most probably a duplicate of #1345

Do you have any third-party or custom modules that are actually extending/overriding the legacy Category module ?

[2019-03-14 14:12] harrigo commented on #1347
I have had a look and cannot see anything that is extending or overriding Magento\Catalog\Model\Category which is what seems to be the problem in that question posted and it does seem to be the $category object that is not as expected. I ran grep -r "Magento/\Catalog/\Model/\Category" accross app/code and vendor folders which returned no results from custom modules.

[2019-03-14 14:32] harrigo commented on #1347
This is my trace I cannot see anything other than elasticsearch and legacy magento code in there:

[code]

[2019-03-14 17:52] PieterCappelle commented on #1347
I'm having the same issue, very strange.
`Fatal error: Method Magento\Ui\TemplateEngine\Xhtml\Result::__toString() must not throw an exception, caught Error: Call to a member function getCategorySearchQuery() on string in /home/x/magento2/vendor/magento/module-ui/Component/Wrapper/UiComponent.php on line 0`

[2019-03-15 09:32] romainruaud commented on #1347
Ok, I took some time on this one.

My mistake, I did not understand previously the things related to submitting an invalid layout update.

So :

NOT reproduced on Magento 2.3

BUT I reproduce it exactly on Magento 2.2.x

So most probably, something has changed Magento side to better deal with these sort of errors. I'll see if we can provide a quickfix into Elasticsuite 2.6.x version. Probably the

[2019-03-15 10:48] harrigo commented on #1347
Thanks Romain! I got myself out of trouble here but would be good to get an official fix rather than loading category from repo that I have done to fix this category not loading properly when errors shown.

[2019-03-15 14:52] amenk commented on #1294
This question came up with another customer. I think it is quite common that people expect the results to start with the string typed.
In that case a generic booster on such products is not possible.

How can this be implemented? (as on configuration option, or custom module?)

Open for advice :-)

[2019-03-18 11:26] romainruaud commented on #1347
Erratum : reproduced in Elasticsuite 2.6.x AND 2.7.x.

Appears to be due to the fact that when the form contains an error, previous data is set back to the current category as an array for the "virtual_rule" field, which causes this error.

Will dig more on this one.

Regards

[2019-03-19 08:45] chombe opened #1353 "Virtual category rule with "is one of" option"
Hi there.
If someone can help me please.

I'm using latest 2.7.5 Smile elasticsuite with 2.3.0 magento version.
Is ElasticSuite able to create virtual category rule with "is one of" option?
Currently, if i want to create virtual category rule which takes more then one product i need to use multiple contains options like this:

![image](https://user-images.githubusercontent.com/2380250/54591482-9de

[2019-03-19 09:20] romainruaud commented on #1353
@chombe there is no point on using virtual categories to map a list of SKUS.

To be honest, I'm thinking about removing it.

If you wanna build a category based on a list of products, just use the legacy grid, it's made for this.

For any other attributes, the "is one of" operator is available for multiple options based attributes.

Regards

[2019-03-19 09:20] #1353 closed

[2019-03-19 10:10] chombe commented on #1353
@romainruaud  thanks for answer.

For "legacy grid" you mean Magento products grid?
![image](https://user-images.githubusercontent.com/2380250/54596718-882ec780-4a35-11e9-85a1-9bd7495f099a.png)

If so, then this category wouldn't be virtual.
We are thinking using this virtual category rule for a marketing purpose.
This virtual category rule is so cool feature because category is not assigned to a

[2019-03-19 12:11] denissdubinin opened #1354 "Custom special attributes doesn't work for optimizer"
I've added some custom special attributes for the rule selector, and on the backend they works correctly, but for the search page they have no affect.

`di.xml`:
[code]

`elasticsuite_indices.xml`
[code]

Special Attribute class `PatternGroup.php`
[code]

It's very complicated and also wiki has no good explanation of this. I was debugging query generation and on the frontend search page i see that

[2019-03-19 12:14] denissdubinin commented on #1354
For the `curl -XGET 'localhost:9200/magento2_gl_catalog_product_20190319_114318/product/_mapping'` request i've got next. From what i see, mapping works correctly there:
[code]

[2019-03-19 13:14] romainruaud commented on #1354
For me there is something completely unclear.

Where does the data come from ? (Collaboration, Dot, Fruits, etc...)

If it's already in a product attribute with existing data, there is no need to implement a special attribute. You just have to set it as "is_used_for_promo_rules" to make it appear on the optimizer form.

Special attributes is to design complex or "non existing as attribute data" ru

[2019-03-19 13:27] denissdubinin commented on #1354
@romainruaud, sorry, this is product attributes. I just checked, and it works with 'is_used_for_promo_rules`. Thank you.

[2019-03-19 13:27] #1354 closed

[2019-03-19 14:49] EstebanSerfe opened #1357 "Problem with layered navigation - Custom backend model - Always visible configuration"
We have an attribute (varchar) that has a custom backend model (which was added on DI)
If we go to a category and select the option "Always visible" for that value there is an error when navigating the view.

### Preconditions
Magento Version : CE 2.2.6
ElasticSuite Version : 2.6.7
Environment : Developer
Third party modules :

### Steps to reproduce
1. Add an attribute (varchar) wich has a model

[2019-03-20 05:30] LavanyaCS opened #1358 "i have download smile elasticsuite where should i place.inside app/code folder or vendor folder.by which name should i place"
### Preconditions

Magento Version :2.3

ElasticSuite Version :2.7

Environment :Developer

Third party modules :Yes

### Steps to reproduce

1.If i have added in app/code showing error called alive cluster is not found
2.i want to know to configure inside the magento 2.3 where should place by which format
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2019-03-20 07:43] LavanyaCS commented on #1002
i am also facing same issues

[2019-03-20 07:43] LavanyaCS commented on #1002
I dono have idea

May I know the proceduere

[2019-03-20 07:44] LavanyaCS commented on #1002
Module 'Smile_ElasticsuiteCore':
Module 'Smile_ElasticsuiteCatalog':
Installing data... No alive nodes found in your cluster

[2019-03-20 07:45] romainruaud commented on #1358
Please refer to the documentation : https://github.com/Smile-SA/elasticsuite/wiki

[2019-03-20 07:45] #1358 closed

[2019-03-20 09:35] romainruaud commented on #1345
@shrinet did you investigate more ?

Could you please also provide a list of third party modules you use ? So far we do not reproduce this issue on a vanilla Magento + Elasticsuite.

Regards

[2019-03-20 09:36] romainruaud commented on #1301
great investigation @HannesJa , thank you for contributing.

@nuzil do you have additional elements ?

Regards

[2019-03-20 09:39] romainruaud commented on #1243
@pedrosousa13 actually, there is no way to achieve such things.

I'm considering it, but for me it's unclear what is the future of the legacy CatalogInventory module.

It's a lot of (ugly) code to write to support both "Magento with MSI" and "Magento without MSI" and we should nearly consider these instances as additional versions of Magento (we already have to consider both CE and EE versions).

[2019-03-20 13:49] Ahmed-Ayman commented on #1002
check out the comments @LavanyaCS

[2019-03-20 15:14] romainruaud commented on #1357
Hello @EstebanSerfe

for commodity of reproducing your bug, can you provide :

- the exact backend model of your attribute (even if it's only for validation)
- what's exactly on the `catalog_eav_attribute` and `eav_attribute` for this specific attribute

And some details about the attributes : is it a select or a multiselect ? things like this.

Regards

[2019-03-20 17:01] EstebanSerfe commented on #1357
Hi @romainruaud:
One of the validation model has:
[code]

The backtrace has issues on the bearing_width attribute which has the following configuration:
**eav_attribute**
[code]
**catalog_eav_attribute**
[code]

I've added the following into the module di.xml:
[code]

If I leave the setting in "auto" and set facet on 0, the attribute appears. Only when the "always visible" option is activated is w

[2019-03-20 18:35] ulftietze commented on #205
Hey,

i can relate this issue too in version 2.2.6 with installed Magento 2.2.6.
I'm looking forward to get some more debug information.

[2019-03-20 18:39] ulftietze commented on #877
Can confirm.

[2019-03-20 18:43] shrinet commented on #1345
Thanks for your response, I did investigation and found that there was a module calling collection directly creating issue, Now I'm testing it again after removing that extension.

Will update soon. Thanks

[2019-03-20 18:48] ulftietze commented on #205
Hey Guys,

debugged myself into this and found a possible bug/solution.
In my projekt i was extending the Magento\Catalog\Model\Category and replaced it with a <preference .../>

Removing this preference, clearing all caches and generated classes, this works like a charm ^^

[2019-03-20 18:49] ulftietze commented on #877
Hey Guys,

debugged myself into this and found a possible bug/solution.
In my project i was extending the Magento\Catalog\Model\Category and replaced it with a <preference .../>

Removing this preference, clearing all caches and generated classes, this works like a charm ^^

[2019-03-21 07:30] rbayet commented on #1349
Fixed by #1359

[2019-03-21 07:30] #1349 closed

[2019-03-21 08:03] rbayet commented on #1346
Changed both https://github.com/Smile-SA/elasticsuite/wiki/ServerConfig-5.x and https://github.com/Smile-SA/elasticsuite/wiki/ServerConfig-6.x with specificly versioned links.

[2019-03-21 15:57] romainruaud commented on #1346
Great ! Thank you guys

[2019-03-21 15:57] #1346 closed

[2019-03-21 17:00] romainruaud commented on #1344
Yes we could. But we won't, because :

- we don't want to tie customers on "our" design implementation (if you notice, we provide nearly nothing for frontend, except the autocomplete, and our custom slider filter).

- implementing this would then require putting a config setting to enable/disable horizontal layered navigation filter (disabled by default for legacy customers), which is kinda bloaty

[2019-03-21 17:00] #1344 closed

[2019-03-22 17:00] kolaente commented on #1289
So, we added our filter via a custom plugin with `elasticsuite_search_request.xml`. The filter works pretty good, however, we're having trouble to add it to the layered navigation. We tried plugging `Smile\ElasticsuiteCatalog\Block\Navigation::getFilters`, but it looks like `getFilters` returns an array of filter items which are strictly tied to attributes, which we don't have.

We tried something

[2019-03-25 10:50] romainruaud commented on #1347
Fixed by PR #1355

[2019-03-25 10:50] #1347 closed

[2019-03-27 03:02] lewisje opened #1361 "[ES2.6.7] `Invalid scope type 'containers_stores'` error in category and search-result pages after updating Magento CE 2.2.7 to 2.2.8"
When I go to a category page or use the site search, I get the error `Invalid scope type 'containers_stores'`; this does not happen on the home page or on a product page, or in the admin area.

### Preconditions

Magento Version : CE 2.2.8

ElasticSuite Version : 2.6.7

Environment : Developer (I first noticed this in the Production site, leading me to temporarily disable the module.)

Third party

[2019-03-27 07:53] xi-ao commented on #1278
Hui @dooblem, did your changes made a significant improvement in your case? We had exactly the same issue on Magento Cloud and tried what you suggested but even though the crashes happen less frequently, they still do, and for the same reason (heap space overflow).

Interested in getting your feedback after 20 days.

For information, here's our ES health:
[code]

[2019-03-27 09:55] lingwooc commented on #1361
I can second this. It also breaks the auto suggest search box.

[2019-03-27 10:58] mropanen commented on #1361
I'm also getting this on the Categories page in admin.

[2019-03-27 12:16] pmsteil commented on #1350
I just found ElasticSuite today and considering it for use on our new Magento system for our client.  Looks like a great project with lots of great functionality!

I saw this open issue and the answer and I am wondering if I am missing something.

It seems to me that @flexsingit is just asking for the end user to be able to do a "fuzzy" search on the SKU.  Shouldn't that be something that is enabl

[2019-03-27 16:49] romainruaud commented on #1361
And ... another BC change on a minor version... great ...

Thank you for reporting it quickly, we gonna release a minor version to handle this change asap.

@mropanen I think you pointed the correct file. We'll have a look.

Thank you guys ! We keep you in touch

[2019-03-27 17:02] romainruaud commented on #1361
It appears that the code is only in 2.2 for now and has not been forward-ported to 2.3 (which is very bad ..).

Anyway, we should fix it on both Elasticsuite 2.6 and 2.7.

[2019-03-28 09:08] rbayet opened #1363 "EE 2.2.8 / 2.3.1 : officially allow elasticsearch/elasticsearch 6.1"
Up until M2 EE 2.2.7 and M2 2.3.1 (both CE and EE), the highest `elasticsearch/elasticsearch` requirement of `magento/module-elasticsearch` was "~5.1", so was ours, even if ElasticSuite is compatible with ElasticSearch server in version 6.x (since 2.6.0).
We should have used "~5.1|~6.1" which would have not been a problem with ElasticSuite being installed post-Magento2 EE installation.

With EE 2.

[2019-03-28 09:22] amenk commented on #1297
please reopen .. quickfix does not help, if you have enter a number that is also part of the product name

[2019-03-28 09:47] amenk commented on #1297
This works when sending to elasticsearch, but I have no clue how to construct such a wildcard query using the smilesa elastic module:

	{
	  "size": 25,
	  "sort": [
	    {
	      "_score": {
		"order": "desc"
	      }
	    },
	    {
	      "entity_id": {
		"order": "desc",
		"missing": "_first",
		"unmapped_type": "keyword"
	      }
	    }
	  ],
	  "from": 0,
	  "query": {
	    "bool": {
	      "

[2019-03-28 11:47] KEVWISNIEW commented on #1361
Hi,

here is a workaround with around plugin for temporary fix error `Invalid scope type 'containers_stores'' with Magento 2.2.8 C.E

`<?php

namespace [Vendor]\[Module]\Plugin\Framework\App\Config;

use InvalidArgumentException;
use Magento\Framework\App\Config\ScopeCodeResolver as ConfigScopeCodeResolver;
use Magento\Framework\App\ScopeResolverPool;
use Magento\Store\Model\StoreManagerInterface;

[2019-03-28 13:25] #1363 closed

[2019-03-28 13:47] rbayet commented on #1361
Hi @KEVWISNIEW,

I updated your comment to fix the code block rendering, but I didn't reviewed it.
A minor release of ElasticSuite will be published today with our fix (#1362)

Regards,

[2019-03-28 13:48] rbayet commented on #1361
For future reference :
- source 2.2.x PR https://github.com/magento/magento2/pull/16940
- potential forward port in 2.3.x PR https://github.com/magento/magento2/pull/21633

[2019-03-28 14:28] #1361 closed

[2019-03-28 15:14] rbayet opened #1368 "Optimizer preview no longer showing results side by side (FF)"
### Preconditions

Magento Version : 2.3.1 CE/EE + Firefox

ElasticSuite Version : 2.7.x-dev

Environment : Production

Third party modules : N/A

### Steps to reproduce

1. Use Firefox and connect to admin
2. In admin, create a new Optimizer applicable to catalog and/or search
3. Try to preview the optimizer changes

### Expected result

1. The preview area shows 2 series of catalog/search result

[2019-03-28 15:31] rbayet commented on #1368
Not reproduced on CE/EE 2.2.8 (production mode)

[2019-03-28 15:32] kevwis commented on #1361
the di.xml used for the plugin

`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     <type name="Magento\Framework\App\Config\ScopeCodeResolver">
        <plugin name="vendor_module_app_config_scope_code_resolver" type="[Vendor]\[Module]\Plugin\Framework\App\Config\ScopeCodeReso

[2019-03-28 17:04] rbayet opened #1369 "Virtual Categories Root select : default/root category not pre-selected anymore"
In M2 2.2.8 and 2.3.1, when creating a **new** virtual category, the "Virtual Category Root" select does not pre-select anymore the store default/root category.
In 2.2.8, the select displays/has pre-selected a "Select..." option.
In 2.3.1, the select displays/has pre-selected a "Entity with ID: 0 doesn't exist" option.

### Preconditions

Magento Version : 2.2.8 and 2.3.1 (CE and EE)

ElasticSuite

[2019-03-29 08:01] elvinristi commented on #625
Hello.

I'm not worried about Smile to get the data but I'm more worried that it sends on each customer request request to elasticsuite/tracker/hit/image/h.png which is executed thru Magento controller and adds one entry to elasticsuite_tracker_log_event and second to elasticsuite_tracker_log_customer_link .

Similar behaviour was on MAgento's customer logging and is known bottleneck for issues.

[2019-03-29 08:17] GuiltyNL commented on #625
@elvinristi just disable the tracking module. The tracker in in a separate Magento Module and can be disabled.

[2019-04-01 09:54] gjportegies commented on #1239
Should this issue be reopened @romainruaud @rbayet  ?

[2019-04-02 06:08] spanatiy opened #1370 "Category product collection empty if I put container div.sidebar.main before main in 2columns-left.xml"
I tried to load div.sidebar.main container before main container  in custom theme but got an issue.

Magento 2.3
Php-fpm 7.1
Percona 5.7

Magento Version : CE
ElasticSuite Version : elasticsearch 6.2.4

Environment : Developer

Third party modules :
Smile_ElasticsuiteAdminNotification
Smile_ElasticsuiteCore
Smile_ElasticsuiteCatalog
Smile_ElasticsuiteCatalogRule
Smile_ElasticsuiteCatalogOptimizer

[2019-04-03 11:13] JamesAllwood opened #1371 "Text based swatches returning incorrect results in layered navigation"
When using a text based swatch in the layered navigation, if a store contains values that all start with the same value followed by a space, selecting one of them, selects all of them, and the parameter in the URL only contains the first section.

For example, if I'm listing shoes, and have the values `13` and `13 Child` available in my text swatch, clicking on the `13 Child` in the layered naviga

[2019-04-04 09:53] #1301 closed

[2019-04-04 09:53] #1348 closed

[2019-04-04 15:57] dooblem commented on #1278
Funny thing @xi-ao and me are working in the same company. We are both talking about the same project.

But yes as stated by @xi-ao we are still experiencing the ES crashes on magento cloud even with the shard number reduction.

Magento Cloud support keep telling us that as we are not using m2 elasticsearch official module, they can't help us.

The thing is we are using elasticsuite on many other

[2019-04-05 07:52] PierreLeMaguer opened #1372 "Forgot of some operators for multiselect attribute for virtual category"
### Preconditions

Magento Version : 2.3.1

ElasticSuite Version : 2.7.6

Environment : Dev/Prod

### Steps to reproduce

1. Have a product attribute multiselect
2. Check the operators for this attribute when creating/editing a virtual category (is one of/is not one of)
3. Check the operators for cart rules (is one of/is not one of/contains/does not contain)

### Expected result
1. have the same o

[2019-04-05 16:59] #1345 closed

[2019-04-07 08:36] bhargavmehta commented on #1220
Getting the same error
{"0":"Warning: Cannot modify header information - headers already sent by (output started at \/srv\/public_html\/vendor\/zendframework\/zend-http\/src\/PhpEnvironment\/Response.php:114) in \/srv\/public_html\/vendor\/magento\/framework\/Stdlib\/Cookie\/PhpCookieManager.php on line 148","1":"#0 [internal function]: Magento\\Framework\\App\\ErrorHandler->handler(2, 'Cannot mod

[2019-04-08 09:35] romainruaud commented on #590
Discarded from Open Source version.

[2019-04-08 09:35] #590 closed

[2019-04-10 12:49] josefbehr commented on #551
We get this (I guess) issue now too, since we use both of these extensions. This situation is not very great.

[2019-04-12 07:49] romainruaud commented on #1350
Please refer to : https://github.com/Smile-SA/elasticsuite/wiki/SearchingBySkuBasics

Regards

[2019-04-12 07:49] #1350 closed

[2019-04-12 07:50] romainruaud commented on #1257
This one looks stalled and might have been already solved (writing custom analysis is the good thing to do)

I'm closing it, since now everything you need to know about SKU is explained on the wiki : https://github.com/Smile-SA/elasticsuite/wiki/SearchingBySkuBasics

Best regards

[2019-04-12 07:50] #1257 closed

[2019-04-12 07:52] romainruaud commented on #589
implemented

[2019-04-12 07:52] #589 closed

[2019-04-12 07:53] romainruaud commented on #710
Discarded, we won't implement this for reasons explained above.

[2019-04-12 07:53] #710 closed

[2019-04-12 08:05] romainruaud commented on #995
I'm closing this one since it's unclear/outdated.

Feel free to open a new issue with more details if you still want any help on this one.

Regards

[2019-04-12 08:05] #995 closed

[2019-04-12 08:07] romainruaud commented on #1320
We'll implement this to be working exactly the same as legacy Magento does : no-redirect on category filter usage.

I can bet it was doing a redirect on older Magento 2 versions, that's why we implemented it the same way.

Most probably we did not notice the change.

Regards.

[2019-04-12 08:07] romainruaud commented on #263
Will be worked upon #1320

[2019-04-12 08:07] #263 closed

[2019-04-12 08:11] romainruaud commented on #188
@sumitgithub I know it's a pretty old issue but since everybody should be using at least Elasticsearch 5 for now, can you test it again ?

Regards

[2019-04-12 10:02] romainruaud commented on #1372
This one has been answered outside of this Github am I right ?

What's the next steps ?

[2019-04-12 12:09] romainruaud commented on #1140
Hello @amenk

I see the stackexchange attached thread has been resolved (vanilla Magento bug).

May I close this question ?

Regards

[2019-04-12 13:54] rbayet commented on #1372
@romainruaud awaiting for PierreLeMaguer that everything is working as expected.
I haven't be able to reproduce. We can close the issue and re-open it later if need be.

[2019-04-12 13:54] #1372 closed

[2019-04-12 13:58] romainruaud commented on #1371
Confirmed.

We'll try to address this one on next 2.7 minor.

Regards

[2019-04-12 15:05] #1140 closed

[2019-04-12 15:13] romainruaud commented on #1371
Closed by associated PR, will be part of 2.6.9 and 2.7.7

Thank you for reporting it

[2019-04-12 15:13] #1371 closed

[2019-04-12 15:28] duffner opened #1378 "Layered Navigation Filters not displaying on top-level category"
### Preconditions

Magento Version : 2.3.0

ElasticSuite Version : 2.7.6

Environment : Production

Third party modules :
ElasticSearch

### Steps to reproduce

1. Have Child of Root Level Category
2. Look at Layered Navigation Options
3.

### Expected result

1.  I should be able to select what attributes to display on the category

### Actual result

![screencapture-dev-gibuys-admin_fbxw54-catal

[2019-04-15 09:54] romainruaud commented on #1378
I'm nearly sure it's due to a mistake of mine : https://github.com/Smile-SA/elasticsuite/blob/2.7.x/src/module-elasticsuite-catalog/Plugin/Ui/Category/Form/DataProviderPlugin.php#L121

Should be `>= 2` and not `>2`.

I guess you have the issue on first level of categories only ?

Regards

[2019-04-15 11:25] duffner commented on #1378
@romainruad, yes it’s only with that level and your reference makes sense! I was just hoping this wasn’t expected behavior.  Thanks for looking.  Do you know what version the fix will be available?

[2019-04-15 11:59] romainruaud commented on #1378
next minor version since I pushed the PR #1379 that fix this issue.

Sorry for the inconvenience it caused.

Regards

[2019-04-15 12:00] romainruaud commented on #1378
PR merged so I close the issue

[2019-04-15 12:00] #1378 closed

[2019-04-15 12:47] duffner commented on #1378
@romainruaud, let me know once this is available via composer and I'll test for you.

[2019-04-15 15:35] real34 opened #1380 "Cannot override field mapping properties from a custom module"
### Preconditions

Magento Version : 2.3.0 and 2.3.1

ElasticSuite Version : 2.7.6

Environment : I tried with both

### Steps to reproduce

1. create a new module with the following sequence:

[code]

2. create an `elasticsuite_indices.xml` file in this new module, with the following content:

[code]

3. reindex `./bin/magento cache:flush && ./bin/magento index:reindex`

### Expected result

I wo

[2019-04-16 05:29] real34 commented on #1243
From a quick benchmark, disabling MSI modules improves response times by 25% for headless REST API calls…

It would be great to see a path to support both implementations indeed.

[2019-04-16 14:13] real34 commented on #1380
For information, it seems indeed to be a limitation of the format used (if I understand correctly). It struggled to find more information about the merging syntax…

We would need additional ids in https://github.com/Smile-SA/elasticsuite/blob/10e30ee0c4cf0b6734e162dbc1795b384f8210cb/src/module-elasticsuite-core/Index/Indices/Config/Reader.php#L48 (I haven’t found a test case in https://github.com/

[2019-04-17 12:46] diwipl opened #1381 "Filtering product collection by exact SKU returns wrong results when SKU contains special characters"
\Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Fulltext\Collection is not filtering collection properly when SKU condition is used and passed SKUs contain special characters

This might be related to changes done in SKU searching described in wiki:
https://github.com/Smile-SA/elasticsuite/wiki/SearchingBySkuBasics
https://github.com/Smile-SA/elasticsuite/wiki/SearchingBySkuDetailled

Never

[2019-04-17 13:19] romainruaud commented on #1243
PR #1382 contains necessary deprecation mechanism to work without MSI modules.

Please everybody note the following two things :

- We did not want to provide such things and intentionally discarded such a deprecation mechanism when we wrote MSI support.

- Legacy implementation of Magento_CatalogInventory **will be removed** by Magento. We don't know when, but all merchants and integrators should

[2019-04-17 13:19] #1243 closed

[2019-04-17 13:42] ivankakurov opened #1383 "How to change catalog search reslut ordered?"
I need to sort result in catalog search by exact rules
Example :  I search from "Pencil", result need to ordered:
1. If product name started whit exact search string . - first "name like  #"{string}" "
2. If product name contains exact search string.  - second "name like "{string} %" "
3. If product search string is start of another string in name. "name like "%{string} %"
4. If product search str

[2019-04-17 14:00] romainruaud commented on #1380
On my dev environment, the merge appears to be correct.

I have a module ( I did testing directly in another module I have) which is having this `module.xml` :

[code]

And this `elasticsuite_indices.xml` :

[code]

So it's quite close to your example imho.

If I log `$typeConfigData` at this exact line (https://github.com/Smile-SA/elasticsuite/blob/2.7.x/src/module-elasticsuite-core/Index/Indices

[2019-04-17 14:07] romainruaud commented on #1383
Short answer : you can't.

I close this one for being a duplicate of #1294

[2019-04-17 14:07] #1383 closed

[2019-04-17 14:58] ivankakurov commented on #1294
In 99% in situations when customers search something, they expect to see items have name is starting with search query.
Everything else is a bug or unwanted functionality. But in official response from ADOBE they call this "marketing".

But because of this marketing , many buyers do not come back to my store.

[2019-04-17 15:02] amenk commented on #1294
@ivankakurov why so grumpy? Which offical repsonse from Adobe are you talking about? SmileSA is not Magento/Adobe

I am still very interested in this issue.

[2019-04-17 15:17] ivankakurov commented on #1294
@amenk i say just this is very very big problem in all magento2 stores.
I know for that is SmileSA is not a Adobe, but i have hope for this plugin.

Anywere created very limited solution only for mysql, whithout fulltext search.
But that solution worked fine when use 3-4 searchable filed.
prat of that is here:
https://github.com/Smile-SA/elasticsuite/issues/1383

[2019-04-17 15:19] amenk commented on #1294
@ivankakurov ah, okay, got it :-)

[2019-04-17 15:32] romainruaud commented on #1357
Quick update : I reproduced the same attribute as yours.

For now, what I can clearly see is that the attribute is not added to the Elasticsearch index mapping, and no value is indexed at all in any products, most probably explaining the issue you are encountering.

I'll investigate more.

[2019-04-17 15:43] romainruaud commented on #1357
So, I did re-create the same attribute as yours, only difference is that I did set a frontend_model which equals to `null` since I do not have your frontend model.

Result in a category is the following, so no problem for me :

![Sélection_678](https://user-images.githubusercontent.com/15340849/56301335-e4216480-6137-11e9-84b3-ae2b20357bee.png)

Are you sure you cleaned up the cache and processed

[2019-04-17 16:03] romainruaud commented on #1294
Imho this feature is something very tied to merchants business :

- the "spare part" example given by @amenk is completely relevant to me

- but on the other hand, at Smile we have now tons of Magento 2 projects, and I never heard of any similar need.

What are you selling on your shop @ivankakurov ?  Can you also give me a detailed use case where the displayed search results are not fitting your

[2019-04-17 16:07] amenk commented on #1294
@romainruaud actually our customer did not only mention that with spare parts --- it just feels very natural to him, that beginsWith matches are expected higher in the results, especially during autocomplete typing.

[2019-04-17 16:09] romainruaud commented on #1294
For the autocomplete, I might agree, I'm not sure about the search result page.

[2019-04-17 19:39] onepack commented on #710
Not implementing partial search is like running a car that only drives straight. clients have product names that are hard to remember or too long to write for some customers. Hemoglobin will be searched like Hemo. Not giving any results is like not caring about your customers. Frankly i'm angry. I just implemented elasticsearch on 8 shops as search by mysql is stopping. Now what to do?
How can I e

[2019-04-17 20:38] real34 commented on #1243
Thanks for your openness! It will make the migration path much smoother.

[2019-04-18 06:30] real34 commented on #1380
Thanks for your answer. I finally could dig deeper… and found my mistake.
It was a [PEBCAK](https://www.urbandictionary.com/define.php?term=PEBCAK)… :disappointed: everything I wrote above is incorrect.

**TL;DR:** The following XML works perfectly on 2.3.1:

[code]

Sorry for this false alert, and thanks again for your time!

<details>
  <summary>Here is what happened if interested (`3615 MYLIFE`

[2019-04-18 06:30] #1380 closed

[2019-04-18 06:51] DanieliMi commented on #1289
@rbayet Do you maybe have an idea for a solution?

[2019-04-18 08:08] DanieliMi commented on #1289
For our Filter we used so `\Smile\ElasticsuiteCore\Api\Search\Request\Container\FilterInterface` so far I think that's a point we need to change to add it to `\Smile\ElasticsuiteCatalog\Block\Navigation::getFilters`

[2019-04-18 09:32] ivankakurov commented on #1294
@romainruaud We selling office equipment form toilet paper to servers. In my case customers searching for "laptop" but in result page they view  first "Bag for laptop","Cleaning set for laptop" etc. On 4-5 page customers see "Laptop HP ...". This is not a problem only on Smile, i see this problem on every shop using magento2. In 90% on situations customers searching from name and description on pr

[2019-04-18 09:59] romainruaud commented on #1298
For now I have implemented the **read** part. Attribute is now showing up like this in REST response :

[code]

[2019-04-18 11:51] DanieliMi commented on #1289
Current attempt:
We have out Filter implementing `\Smile\ElasticsuiteCore\Api\Search\Request\Container\FilterInterface`
I implemented the method `addFacetToCollection()` based on `\Smile\ElasticsuiteCatalog\Model\Layer\Filter\Attribute::addFacetToCollection`
I inject in the filter `\Magento\Catalog\Model\Layer\Category` to be able to get a ElasticSuiteProductCollection

I plugin into `\Smile\Elast

[2019-04-18 12:38] romainruaud commented on #1294
Ok it's clearer for me know.

One workaround I see, is the same I proposed to @amenk previously :

- You might identify a common pattern between your "accessories" or "spare parts" products : "cleaning set for XXX", "bag for XXX".

- This common pattern could be categories, or even a custom attribute that you'd like to put on all these kind of products (might be an attribute set also).

If somethi

[2019-04-18 14:16] ivankakurov commented on #1294
@romainruaud  in my case i can't. All products, attributes and categories are added by different applications. I have no control over what the attributes of a given product will be.
Another big issue is a `search by phrase`.  People expects to get first the results with a 100% match, then results where phrase is part of the name or description. I know this is possible in elastic but not sure how t

[2019-04-18 16:37] romainruaud commented on #1298
Implemented in PR #1384

format to be used when creating/updating a virtual category is the same that I showed on previous comment.

Anyway, I'm not sure it's an easy step for anyone to create such kind of complex objects through an API... But I took insipiration from the Magento SalesRule API and mimiced it.

Regards

[2019-04-23 08:30] romainruaud commented on #1298
Fixed by associated PR. Will be part of next minor 2.7 release.

Thank you for reporting it.

[2019-04-23 08:30] #1298 closed

[2019-04-23 13:27] TexnikTexnolog opened #1387 "Virtual Category"
Good day.
I have a problem with the Virtual Category.
I want to add to the Virtual Category a few SKU http://prntscr.com/nfrp0w  http://prntscr.com/nfs676
It looks like this “3M-BR-500142-1100, OB-50P13-L-XS” Is this possible?
Here you can download the video, how I eat do it
https://fex.net/s/zobsbay

[2019-04-23 14:15] romainruaud commented on #1320
#1388 will implement your need.

Since we do not want to bother any existing users, it will rely on a Configuration settings :

** Stores > Configuration > ElasticSuite > Catalog Search > Use URL Rewrites for Category Filter in category navigation**

Default will be "Yes", which means the legacy behavior will remain by default. If set to "No", you'll be able to have a category filter which behave

[2019-04-23 14:15] #1320 closed

[2019-04-23 15:16] duffner commented on #1320
You rock!  I'll give this a shot.

[2019-04-23 15:33] romainruaud commented on #1387
As I previously said : what's the point in creating a virtual category based on a list of SKUS ?

If you plan to map some products into a category directly, you should used the legacy grid to assign them.

Regards

[2019-04-23 16:15] TexnikTexnolog commented on #1387
I create a temporary category  for shares for 2-3 days.
And add (and then delete) the desired product in the virtual category by
listing the SKU is very convenient.
And I saw there the opportunity. I just can not understand why the
functionality does not work.
So far did so http://prntscr.com/nfusss
and thought like that you can http://prntscr.com/nfuuk2

------

Я создаю временную категорию и под

[2019-04-24 09:20] martijnrmediact commented on #899
Any news if this feature will be implemented soon?

[2019-04-24 09:23] gabs77 opened #1390 "Module or extension to index content attachments"
If a product has some pdf files or doc files in attachment, we can index the content to optimize the query's result.

The result can be display in the autocomplete to list all products

[2019-04-24 10:58] Garde85 opened #1391 "Error on css compilation with themes that not inherit from luma"
If applies to frontend a theme that not has as parent theme luma, static content compilation goes wrong.

### Preconditions
Magento Version : Magento CE 2.3.1
ElasticSuite Version : 2.7.6
Environment : Developer mode

Third party modules : Porto theme

### Steps to reproduce

1. Install smile-SA suite to magento 2
2. Install porto theme or every other child theme that not has luma as parent
3. App

[2019-04-25 13:05] romainruaud commented on #1391
`@autocomplete-item__border` is part of blank theme.

Please see : https://github.com/magento/magento2/blob/2.3-develop/app/design/frontend/Magento/blank/Magento_CatalogSearch/web/css/source/_module.less#L12

Closed as being duplicate of #91 #222 #933

[2019-04-25 13:05] #1391 closed

[2019-04-25 13:12] rbayet commented on #1369
I cannot find the related issue on magento2 tracker so I cannot say it's written in stone and true for every category attribute, but it seems now that upon the category creation, the category attribute `virtual_category_root` is written to the DB with its configured defaut value (`0`), which is ignored by the DataProvider plugin.

[2019-04-25 14:47] romainruaud commented on #1381
Yes it's actually due to the fact that using `in` will result in a `terms` query : https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-term-query.html

Please pay attention to the "Why doesn’t the term query match my document?" part especially.

Since the `sku` field is analyzed during indexing, it's impossible to match it with a `term` query if it contains dashes.

From what

[2019-04-25 15:32] #1369 closed

[2019-04-26 08:46] rbayet commented on #1368
Not reproduced on CE 2.2.8 production or developer mode.
Reproduced on CE 2.3.1 production and developer mode (Firefox only).

[2019-04-26 12:34] rbayet commented on #1381
Hi @romainruaud,

No basically, for correct exact value filtering, the sku should indeed be declared as filterable so its mapping inherits the `untouched` subfield.
I have no issue with that, the only impact would be the index size.

It will not affect what I described in https://github.com/Smile-SA/elasticsuite/wiki/SearchingBySkuBasics and https://github.com/Smile-SA/elasticsuite/wiki/SearchingB

[2019-04-26 13:56] #1368 closed

[2019-04-26 13:57] romainruaud commented on #1387
PR #1394 is fixing this behavior by allowing rule with several SKUs to work properly.

[2019-04-26 13:57] #1387 closed

[2019-04-26 14:30] romainruaud commented on #1381
Sounds good to me, so PR #1396 will fix this issue.

Regards

[2019-04-26 14:30] #1381 closed

[2019-05-01 20:40] evagabond commented on #1391
@romainruaud - I've installed the latest version of ElasticSuite and still getting the similar error, in spite of applying the solutions at [#91](https://github.com/Smile-SA/elasticsuite/issues/91) [#222](https://github.com/Smile-SA/elasticsuite/issues/222) [#933](https://github.com/Smile-SA/elasticsuite/issues/933)

I am using **Magento 2.3.1** & **Porto Theme 3.1.8**

**I am getting the followin

[2019-05-02 07:58] mbuchert commented on #1391
I've edited the file`app/design/frontend/<vendor>/<theme>/Magento_CatalogSearch/web/css/source/_module.less` and added
[code]
Then I ran command `rm -rf var/di/* var/generation/* var/cache/* var/log/* var/page_cache/* var/session/* var/view_preprocessed/* generated/* && php bin/magento cache:clean &&php bin/magento cache:flush && php bin/magento setup:upgrade && php bin/magentosetup:di:compile &&

[2019-05-02 11:25] evagabond commented on #1391
@mbuchert - Yes tried all that, but still not working. Even contacted Porto support, but they said that this issue doesn't fall within their theme-support, and that I contact extension developer for any support.
:-(

[2019-05-02 15:53] #1357 closed

[2019-05-02 22:16] italo1983 opened #1402 "Empty suggestion results but correct size count"
Ajax suggestion search return empty results but the size count is right!
Magento Version :
Magento CE 2.3.1
ElasticSuite Version :
elasticsuite 2.8.0
Environment :
Developer mode

`{"results":[{},{},{},{},{}],"info":{"size":9,"url":"http:\/\/test.machesconto.it\/index.php\/it\/catalogsearch\/result\/?q=Iphone"}}`

[2019-05-03 22:07] italo1983 commented on #1402
Solved, incompatible with Sebwite/Magento2-SmartSearch extension

[2019-05-03 22:07] #1402 closed

[2019-05-06 11:43] philippsander commented on #1086
This issue is really annoying for us unfortunately

We are setting up the projects quite often to execute the unit-tests.
So if someone would try to solve this I would be super happy

[2019-05-08 01:00] faisalirfan361 opened #1403 "Indexer handler is not available: elasticsuite"
I have recently updated to magento 2.3.1 and I updated elasticsearch suite too:
I am running elastic search on same instance (this is a dev machine). I get following error:

 output for php bin/magento config:show | grep elasticsuite

and output for composer info | grep elasticsearch

any suggestions please?

[2019-05-09 12:41] romainruaud commented on #1403
What's the output of `curl localhost:9200` ?

[2019-05-09 12:50] faisalirfan361 commented on #1403
here is the curl output:

thanks

[2019-05-10 10:57] CristinaNicoleta opened #1404 "advanced search broken for 2.8.x"
### Preconditions

Magento Version : 2.3.1

ElasticSuite Version : 2.8.0

Environment : prod

### Steps to reproduce

1. Go to advanced search page from demo: http://demo.magento-elastic-suite.io/index.php/catalogsearch/advanced/
2. Search for "bag" or any other product listed
3. The link build for the search is: http://demo.magento-elastic-suite.io/index.php/catalogsearch/advanced/result/?name=ba

[2019-05-15 14:43] amenk commented on #866
We had this issues mentioned in #1140 and https://magento.stackexchange.com/questions/247097/price-filter-returns-wrong-results-price-ist-stored-as-0-insteal-of-null-and-i with the price index in 2.1.6 -- now we are on 2.1.8 and believe the price index is in a bit better shape

Simples work fine now, but configurables are wrongly tagged as is_discounted

* min_price and max_price seem to be right

[2019-05-16 19:29] aliomattux opened #1406 "Fresh 2.3.1 stock install and suite, admin/site not responsive 100% cpu usage"
### Preconditions
Ubuntu Bionic server, Stock 2.3.1 install, elasticsearch 6, suite downloaded using composer require

ElasticSuite Version : 6
Environment : developer

Third party modules : none

### Steps to reproduce
1. After install/configure of extension in the command line site is nearly completely unresponsive. CPU maxed out on 2 cores 100% the whole time. Restarting server/services as soon

[2019-05-17 02:33] aliomattux commented on #1406
Not sure what the issue was, I redid everything and the issue did not happen again.

[2019-05-17 02:33] #1406 closed

[2019-05-19 10:50] interequipment commented on #682
How can I hide product price from autocomplete list??

[2019-05-19 10:54] interequipment commented on #1404
I'm having same issue on ElasticSuite 2.8.0 (Magento 2.3.1)

[2019-05-20 10:12] TexnikTexnolog opened #1407 "Output order"
** Output order **
Good day.
Day after day I have been thinking about the order of withdrawal of goods in the catalog.
I want on the site in categories to raise up a popular product.
So that the best-selling product is from the top

Ex:
sku FT-ACP do first
sku VD-FSO-NEO-H to make the second
sku LV-GS-1 make third
If there is a promotional price to put above the first

But this product is very, ve