[2021-06-24 15:30] ganesh-ecsion commented on #2181
Hi @vahonc,
Thanks for the response,

I have disabled the third-party module Amasty Improved Sorting and checked the grouped product sort by price functionality, But still, it's not working.
Grouped products are using the lowest priced product in the group for the price sort. We want it to be sort based on whole grouped product price, not depend on the lowest price of product associated with that

[2021-06-24 19:06] hershkoy commented on #2180
It is still the same error:

![image](https://user-images.githubusercontent.com/13259380/123318903-6687e900-d538-11eb-8196-a61b017ebe61.png)

[2021-06-24 21:18] hershkoy commented on #2180
I tried it also with `elasticsearch-host=elasticsearch` (which is the name of the elasstic docker service, [for which curl work](https://github.com/Smile-SA/elasticsuite/issues/2180#issuecomment-867461836))

![image](https://user-images.githubusercontent.com/13259380/123333608-a3f57200-d54a-11eb-8631-0d835056b93a.png)

[2021-06-24 22:28] damienwebdev commented on #2180
@MarcusSchwarz

This isn't correct.

Magento v2.4.2 uses these flags.

[code]

Whereas this module's code uses:

[code]

https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-core/Setup/ConfigOptionsList.php#L126
https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-core/Setup/ConfigOptionsList.php#L40

[2021-06-25 15:28] ia-gaurav commented on #2142
@romainruaud  - it worked for me also but i just noticed that it is confliction it manual sort i used, is there way to remove manual sort in case product goes out of stock

[2021-06-26 04:26] vivekcoder007 opened #2183 "Conflict due to Categories Merchandising and Behavioral Search optimizations"
**Preconditions**

- Magento 2.4
- Smile Elastic Latest Version

**Steps to reproduce**
1: Use Mannual sorting for Category
2: Set first 2 products in Mannual sorting - Out of stock
3: Create Optimizer rule to show Red color first

**Expected result**
1: Out of stock products should show as bottom as per optimizer rule

Actual result:
1: Out of stock still shows on top 2 products

[2021-06-28 08:05] aniruddharay commented on #2178
@vahonc Is this a genuine problem I am having or there is something I have missed ?

[2021-06-28 09:12] vahonc commented on #2178
@aniruddharay,

Could you please provide us more details (screenshots) for setting up your Optimizer rule?

BR,
Vadym

[2021-06-28 09:20] aniruddharay commented on #2178
Hello @vahonc ,

I am using the following optimizer.
![screenshot-loopify local-2021 06 28-14_47_38](https://user-images.githubusercontent.com/69155933/123612325-0fc42d00-d820-11eb-8d5a-59fea2b25b50.png)

[2021-06-28 09:21] vahonc commented on #2183
Hello @vivekcoder007,

Please refer to our [Wiki](https://github.com/Smile-SA/elasticsuite/wiki/ProductSorting#creating-an-optimizer), I think that you need to add one more condition to your Optimizer rule like "Only in stock products" to display immediately products that matched your condition (Color is Red) for showing the results on top of your product list.

BR,
Vadym

[2021-06-28 09:32] vahonc commented on #2178
It could be some conflict with manual sort in the case when products go to Out of stock.

I'll discuss it with my team and come back to this later.

BR,
Vadym

[2021-06-28 12:03] jnouelccn commented on #2179
Hello @vahonc

Thank you for your support.

We proceeded with the suggestions but nothing changed.  Next are the results of indexing:

`green open stagingjumbo_bonostoreviewx_catalog_product_20210625_213927     yKOtCADqS_iYfHTF4JBXyQ 1 0   0 0    208b    208b
green open stagingjumbo_almacen_catalog_product_20210625_213927            OR9l2MPDQn-g5eGNdY3u-A 1 0   0 0    208b    208b
green open stagi

[2021-06-28 12:54] romainruaud commented on #2183
@vivekcoder007 this is by design.

Manual products will always take precedence on optimizers, so if you pin an out-of-stock product to the top of the list, the product will remain here (if your store is configured to not hide out-of-stock products).

[2021-06-28 12:54] #2183 closed

[2021-06-28 12:56] romainruaud commented on #2180
You are right @damienwebdev

That's _legacy_ : initially, Magento was not offering anything to set the ES configuration during install, so we ended up proposing our own parameters set. It turns out that nowadays Magento finally introduced a way to configure Elasticsearch, but the parameter's name is different.

I suggest we go with supporting **both** syntax for now, to avoid confusion but also to

[2021-06-28 13:00] romainruaud commented on #2179
HI @jnouelccn

All your **catalog_product** indices are empty according to the information you provide : they have a size of 0, and no documents at all inside.

If nothing is triggered in the logs during indexing by magento, maybe there is something in the Elasticsearch log files. Can you check if you have access to them ? They should be somewhere like /var/log/elasticsearch/

[2021-06-28 13:20] romainruaud commented on #2176
@diybook did you test to add the ACL that was indicated by Vadym ? Did it help ?

[2021-06-28 13:24] damienwebdev commented on #2180
The more BC the better!

[2021-06-28 13:24] #2164 closed

[2021-06-28 13:27] vahonc commented on #2179
Hi @jnouelccn,

Also, check the configuration of your websites, maybe there are some issues with assigned categories and products to these websites or enable/disabling or smth like that, 'cause it's very weird that all your indexes have a size of 0.

BR,
Vadym

[2021-06-28 13:27] romainruaud commented on #2177
I think #2156 was the only fix to be merged : it was required for PHP 7.4 compatibility with magento 2.4.2

You should be able to give it a try by using the 2.9.x branch locally, until we publish the next 2.9 stable release.

Thank you

[2021-06-28 13:30] romainruaud commented on #2178
That's not doable : **optimizers are applied only when the default _Position_ sort order is used in frontend**.

We do like this to avoid any confusion :

- if an end user sort by price, he expects to see cheapest products first, not some promoted product
- the same does apply for alphabetical order of course.

[2021-06-28 13:33] romainruaud commented on #2181
Hi @ganesh-ecsion

Is your "grouped_price" attribute indexed in Elasticsearch ? That's the first thing to do. It should also be "sortable".

Then you'll need to use specifically this field when sorting by price, otherwise the engine will use "price" which might be incorrect in your case if I understand properly.

regards

[2021-06-28 13:33] romainruaud commented on #2181
Hi @ganesh-ecsion

Is your "grouped_price" attribute indexed in Elasticsearch ? That's the first thing to do. It should also be "sortable".

Then you'll need to use specifically this field when sorting by price, otherwise the engine will use "price" which might be incorrect in your case if I understand properly.

regards

[2021-06-28 13:36] romainruaud commented on #2182
Hello @ganesh-ecsion

What is "categories" ? Is this an attribute ? I guess this attribute is defined for parent products bu also for children products, right ?

If that's the case, your issue is due to the fact that **children attributes are merged in parent data when indexing**, that's happening here : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/Pro

[2021-06-28 14:11] diybook commented on #2176
I'll can check it tomorrow. I'll give you feedback then. Sorry for the delay.
BR Gerald

[2021-06-28 14:37] TheRealHunzik opened #2184 "Allow Single Select Layered Navigation to Specfic Attribute"
- We are using smile elasticsuite in our Magento site, it is allowing multi-select in layered navigation but now I can only one attribute to restrict to single select not multi select  how I can do this please help me thank you

if any fellow developer or core team help to locate where i can override this feature please let me know Thank You

[2021-06-29 04:54] aniruddharay commented on #2178
@romainruaud  My basic requirement is to show out of stock products at the end, irrespective of the sort option. If there are any other way to do this other than optimizers, please do let know. Thanks

[2021-06-29 07:21] #2169 closed

[2021-06-29 13:07] vahonc commented on #2184
Hello. @TheRealHunzik,

Sorry, but your issue is a little bit blurry for me. Could you please add more details (version of Magento and ElasticSuite, screenshots, steps for reproducing)?

At this moment I can only suggest to you check the configuration (properties) of your attribute like Catalog Input Type, etc in Magento BO, and check if all is reindexed.

BR,
Vadym

[2021-06-29 21:24] jnouelccn commented on #2179
Thank you @romainruaud  and @vahonc  for the follow up and support.
There are no ElasticSearch logs at the location indicated.

We double check the configuration.  It's ok.  We are proceeding to create a new staging environment based on production environment to test this again.

[2021-06-30 07:53] #2162 closed

[2021-06-30 08:15] diybook commented on #2176
I've tested as recommended. I wonder the screen Vadym has sent. Because I do not have "Role Scopes". Is there anything messed up with my installation?

The problem is, that it do not work with resource access "all" either. It's not only with a custom role.

Any ideas?

BR Gerald

[2021-06-30 08:34] vahonc commented on #2176
Hi Gerald,

Sorry if my screenshot confused you. On it ElasticSuite it's just a Custom User Role and my Custom Admin User is `elastic`.

![Screenshot from 2021-06-30 11-18-09](https://user-images.githubusercontent.com/67791361/123927328-6acb6080-d995-11eb-84a9-32cd48c12fcc.png)

![Screenshot from 2021-06-30 11-18-38](https://user-images.githubusercontent.com/67791361/123927345-6f901480-d995-11eb-8

[2021-06-30 09:05] diybook commented on #2176
Hi Vadym,

thanks for your fast reply. I'm using magento 2.4.2. the problem exist on dev as well as on production. I'll check if there are any overwrites. Can you give me a hint what files I have to check. I'm sure I did not implement any overwrite, but I'll check 3rd party modules.

BR Gerald

[2021-06-30 09:12] vahonc commented on #2176
@Gerald, are you using Magento 2.4.2 EE or CE version?

It's hard to say where exactly could be a problem in the code. But you are right, firstly you should check 3rd party modules.

Also if it's suitable for you, you could fix your problem with the hack that you showing above:

<pre>
 /**
     * @SuppressWarnings(PHPMD.CamelCaseMethodName)
     * {@inheritDoc}
     */
    protected function _isAl

[2021-06-30 09:27] vahonc commented on #2176
Also according to this error message:

try to remove an old generated files on your dev env. using `$ rm -rf var/generation/*` command (rm -rf generated/* for the Magento >=2.2) from the magento root directory and maybe also remove the `page_cache, cache, view_preprocessed, static folders`, because magento pre-generates all class files with their constructors.

Then run this commands:
<pre>
$ bin/

[2021-06-30 13:22] ganeshp29 commented on #2182
HI @romainruaud
Yes "categories" is the custom attribute defined for Parent and child products.

I have checked the link you shared, As you stated that, children attributes are merged in parent data when indexing, and that is happening due to the code defined in line 146. So for testing, I have commented out the code defined in "addRelationData" function and re-run the indexing. But still it not w

[2021-06-30 13:58] adamj88 commented on #2145
We're also suffering with the same problem on 2.4.2-p1 (Commerce), just to provide some more information on the specific error logged:

In the system.log the below message is logged:

[code]

And the full trace:

[code]

[2021-06-30 14:27] ganeshp29 commented on #2181
Hi @romainruaud
The "grouped_price" is not an attribute, It's a custom field that I have created in the "catalog_product_entity" table using install schema.

After opening the link - http://localhost:9200/magento2*/product/_search?pretty, I got the following result. please check the screenshot below -

![image](https://user-images.githubusercontent.com/33414084/123974267-20200780-d9da-11eb-9875-a6

[2021-07-01 07:44] #2155 closed

[2021-07-01 08:52] #2090 closed

[2021-07-01 10:58] diybook commented on #2176
We use 2.4.2 CE. Sorry that I forgot that.

Caches and genereted files were all deleted. But I'll check the third party modules. If noone else do have this problem it has to do with my installation and modules enabled. Very strange.

In the meantime I leave it with the little hack. Thank you for your really really  good support.

with best regards,
Gerald

[2021-07-01 13:14] Intellicore-Harshil opened #2188 "Issue Regarding the Triggers"
### Preconditions

Magento Version :

ElasticSuite Version :

Environment :

Third party modules :

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2021-07-01 13:14] Intellicore-Harshil opened #2189 "Issue Regarding the Triggers"
### Preconditions

Magento Version :

ElasticSuite Version :

Environment :

Third party modules :

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2021-07-01 13:30] #2189 closed

[2021-07-01 14:07] gerrits-ecommerce opened #2190 "Hide products from child categories"
Is it possible to only show the products in the currently selected category and not products included only in child categories?

[2021-07-01 14:24] romainruaud commented on #2190
Nope that's not possible out-of-the-box.

[2021-07-01 14:24] #2188 closed

[2021-07-01 14:27] romainruaud commented on #2182
Sorry, the merge of child data into parent data is occuring in "addChildData" : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/Product/Indexer/Fulltext/Datasource/AttributeData.php#L116

In "addRelationData" we only add data that modelizes the relation between parent and child.

So, if you do not want the merge at all, you can override and replace the "a

[2021-07-01 14:27] #2182 closed

[2021-07-01 14:32] romainruaud commented on #2181
Hello,

first of all, you have to remain that the workflow when retrieving a product list from the engine is :

The workflow here is actually the following :

    1 : aggregating all filters (if any) and all sort orders (if any)
    2 : compute this into the Elasticsearch query
    3 : ask Elasticsearch for matching product Ids
    4 : put these product Ids into the SQL query filter
    5 : return

[2021-07-01 14:40] romainruaud commented on #2178
I'm afraid that's hard to do, optimizers are used to influence products "scores", which is the internal field used for sorting when no particular sort order is set (or when the current sort order can be missing for some products, like sorting by category position).

Considering that all products have a price, when you sort by price, the engine will never fallback to the "score" sorting.

Maybe you

[2021-07-02 07:11] gerrits-ecommerce commented on #2190
Is there a route to make this possible, either as a planned feature for this project or by modifying the code ourselves?

Would you be interested in accepting a pull request that adds this functionality or do you not believe this functionality to be feasible

[2021-07-02 08:22] romainruaud commented on #2190
Maybe you can try setting all your categories to `is_anchor=0` instead of `is_anchor=1` which is the legacy default behavior we introduced years ago.

But I doubt this will work "everywhere", eg. I have no clues about how it will behave in a search results context.

Regards

[2021-07-02 08:22] #2190 closed

[2021-07-02 11:03] braders commented on #2176
Hi all,

I have just started using ElasticSuite of 2.4.1 on Commerce (enterprise). So far the module seems great, but I am also experiencing this issue. I am logged in as a full admin user, and have seen the issue on multiple environments. I'll try and work around the problem and will update this ticket if I find anything of relevance.

[2021-07-02 11:51] braders commented on #2176
Ok, I seem to be getting somewhere. It seems to be some sort of issue in the order in which Magento is loading modules.

If I copy the following code from `vendor/smile/elasticsuite/src/module-elasticsuite-virtual-category/etc/di.xml` to my own module's `di.xml` the issue is resolved

[code]

Having dug deeper, I'm slightly worried that other classes are suffering in the same way. For example, run

[2021-07-02 12:56] #2165 closed

[2021-07-02 13:25] radub opened #2192 "Can't install Magento 2 Smile_ElasticsuiteCatalog module"
Trying to install "creativestyle/magesuite": "^7.0" via composer.

### Preconditions

LEMP - PHP 7.4

Magento Version : 2.4.2 CE - clean Magento 2 install

ElasticSuite Version : Elasticsearch 7.13
[code]
ElasticSearch installed plugins
[code]

Environment : Developer

Third party modules : The Smile_ElasticsuiteCatalog is installed as part of "creativestyle/magesuite" dependencies.

### Steps to

[2021-07-02 13:42] aniruddharay commented on #2178
@romainruaud  I tried your suggestion , and it works! Thank you so much.
Created plugin `aroundSetCollection` on `Magento\Catalog\Block\Product\ProductList\Toolbar` as subject. Changed the `_current_grid_order` is_in_stock, and `_current_grid_direction` desc. After proceed , I set order by price.

This changes the listing, all products appear by their price, and out of stock products shows at last

[2021-07-02 13:56] #2178 closed

[2021-07-02 13:56] #2174 closed

[2021-07-02 14:57] TdAmi opened #2193 "Pagination doesn't work on Magento 2.4.2 EE"
### Preconditions

Wampserver - PHP 7.4.9

Magento Version : 2.4.2 EE - Recently upgrade from 2.3.5-p1 EE

ElasticSearch Version : 7.7.0

ElasticSearch plugins :
`
analysis-icu
analysis-phonetic
`

ElasticSuite Version : 2.10.4

Environment : Developer

Third party modules : /

### Steps to reproduce

1. During navigation on a product listing, page number and items per page are ignored. Pagination

[2021-07-02 15:52] braders opened #2194 "elasticsuite_analysis.xml analyzer entities are not merged"
I've been trying to adjust Elasticsuite to make use of n-gram analysis. I understand that Elasticsuite made the decision not to use n-gram's a number of years back, however for the site I am working on out testing has identified n-grams provide better results.

I have been trying to do this through `elasticsuite_analysis.xml`. I would expect to be able to do the following:

[code]

Based on how ot

[2021-07-02 17:32] ia-gaurav commented on #2183
@romainruaud  can you help me with way for any workaround as if top pinned products are out of stock it looks bad experience

[2021-07-05 06:41] romainruaud commented on #2192
This occurs when the "analysis-phonetic" plugin is missing from Elasticsearch. I see that you are saying that you installed it. Did you reboot the Elasticsearch server after installing it ?

[2021-07-05 07:14] vahonc commented on #2193
Hello @TdAmi,

Are you using some custom theme?

Could you switch to the default theme (Luma) and check it out again?

BR,
Vadym

[2021-07-05 07:24] vahonc commented on #2183
@ia-gaurav could you explain more what exactly you expected in your case.

BR,
Vadym

[2021-07-05 07:27] ia-gaurav commented on #2183
@vahonc  - i have set few products in top via Categories Merchandising, but i want that if that product goes out of stock they should move to last and follow the optimizer rule.

So i want optimizer should override - Categories Merchandising in case of out of stocks, showing first product out of stock is not good approach

[2021-07-05 07:49] TdAmi commented on #2193
Hi @vahonc,

Yes i'm using a custom theme. I have tried to switch to Luma theme and Blank theme as you said and i'm facing the same issue using them.
The items counter looks wrong too.

![2021-07-05 09_41_51-Produits _ Comptoir des pros](https://user-images.githubusercontent.com/68944547/124436112-f407dc00-dd75-11eb-8218-1274a76e225b.png)

Regards,
Anthony

[2021-07-05 07:50] vahonc commented on #2183
@ia-gaurav,

As said @romainruaud above, "Manual products will always take precedence on optimizers" so for now there no solution from out-the-box and it definitely required some custom development. You could try workaround configuring to hide out-of-stock products on your site or to remove manual sort in case product goes out of stock. As for the last solution, we think it is an interesting idea,

[2021-07-05 07:52] ia-gaurav commented on #2183
thanks noted - do can u let me know file responsible for manual sorting so i could check any easy workaround

[2021-07-05 08:22] vahonc commented on #2193
@TdAmi,

It's strange, previously we have some issues with pagination but they were fixed. You could check how it work on our [demo](http://demo.magento-elastic-suite.io/index.php/men/bottoms-men.html) site.

Have you checked if there no any overrides for this?

Also, please check this setting in Magento BO:

![07-05-2021 configuration settings stores magento admin](https://user-images.githubuserc

[2021-07-05 08:52] radub commented on #2192
Yes, I have restarted the elasticsearch container.

[2021-07-05 09:28] romainruaud commented on #2193
Yep, I cannot reproduce it either on our demo site : http://demo.magento-elastic-suite.io/index.php/men/tops-men.html

[2021-07-05 09:36] romainruaud commented on #2192
What's the output of a `/_cat/plugins` in the Elasticsearch container ?

[2021-07-05 09:46] radub commented on #2192
[code]

[2021-07-05 09:49] radub commented on #2192
Below is the docker-compose.yml file:
[code]

[2021-07-05 09:58] vahonc commented on #2192
Hello @radub,

Is there a need to use a command `bin/magento setup:upgrade` with this `--keep-generated` option?

By default, `magento setup:upgrade` clears compiled code and the cache. Typically, all use `magento setup:upgrade` to update components and each component can require different compiled classes.

<pre>
magento setup:upgrade --keep-generated
</pre>

The optional `--keep-generated` optio

[2021-07-05 10:13] mehdichaouch commented on #2190
I'm also looking for [this kind of feature](https://github.com/Smile-SA/elasticsuite/issues/2190#issue-934886745) and I'm interested to get more info/tips on how this could be accomplished (if it's possible)?

Regards

[2021-07-05 12:22] vahonc commented on #2194
Hello @braders,

Please refer to our [Wiki](https://github.com/Smile-SA/elasticsuite/wiki/Indexing#custom-analysis--filtering-of-fields).

Also, you can read more about this topic in the [Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/analysis-analyzers.html) documentation.

BR,
Vadym

[2021-07-05 12:55] radub commented on #2192
@vahonc I'm using it just for performance reasons, but point I'll remove it.

[2021-07-05 13:26] TdAmi commented on #2193
@vahonc,

I have checked in our Magento BO, this setting is ok.

We have many overrides but aparently none about this. I have tried to remove some of thems, with no effect.

Maybe it can be due to the use of Magento Commerce and not the open source version ?

[2021-07-05 15:21] vahonc commented on #2193
I've checked the pagination issue on both my local environments with Magento 2.4.2 CE and EE versions and ES 2.10.4.

In all cases, I can't reproduce any issue with it. pagination and items counter are worked as expected.

BR,
Vadym

[2021-07-06 08:50] mibesoft commented on #1658
@emrahuyanik it's working for me on magento CE 2.4.2-p1

[2021-07-06 10:03] vahonc commented on #2177
@harrigo,

We've added a [fresh release](https://github.com/Smile-SA/elasticsuite/releases/tag/2.9.6) of our module that includes a fix for compatibility with PHP 7.4.

BR,
Vadym

[2021-07-06 15:19] #2177 closed

[2021-07-07 07:51] romainruaud commented on #2192
Please show a capture of the **Store > Configuration > Elasticsuite > Elasticsearch Client Settings** screen, to ensure you are pointing to the correct location.

Also please share the exact command lines which are launched by your build process, especially the setup:install line.

regards

[2021-07-07 07:52] romainruaud commented on #2163
PR was merged and published into 2.10.5 version.

[2021-07-07 07:52] #2163 closed

[2021-07-07 07:54] romainruaud commented on #1648
Fixed by #2138

[2021-07-07 07:54] #1648 closed

[2021-07-07 10:03] bojandavkov opened #2199 "Smile elasticsuite has conflict with Amasty Quick Order for Magento 2"
While using Amasty Quick Order i`m encountering this error. Is this know issue or something that can be fixed?

TypeError: Argument 1 passed to Smile\ElasticsuiteCore\Search\Adapter\Elasticsuite\Request\Mapper\Interceptor::buildSearchRequest() must be an instance of Smile\ElasticsuiteCore\Search\RequestInterface, instance of Magento\Framework\Search\Request given, called in /var/www/html/magento2/

[2021-07-07 11:17] radub commented on #2192
@romainruaud I can't attach the screenshot you are requesting because the module fails to be installed (see bin/magento setup:upgrade logs in the initial bug report).

Please find below the install command:
[code]
Please let me know if you require additional details. Thanks!

[2021-07-07 12:13] vahonc commented on #2192
@radub, look at this [comment](https://github.com/Smile-SA/elasticsuite/issues/2180#issuecomment-867994165) and try to add options for the pre-configuring Elasticsearch and ES settings to your install command, maybe it will help you.

BR,
Vadym

[2021-07-07 14:42] romainruaud commented on #2192
yes, as pointed by Vadym you might want to have a look at the comment in the other issue.

This is definitely due to the fact that you are using legacy Magento parameters `--elasticsearch-host` and `--elasticsearch-port` which is **not mapping configuration for Elasticsuite** : you have to use our own ``--es-hosts`` parameter until we are compliant with legacy magento syntax.

The proper command w

[2021-07-08 09:54] radub commented on #2192
Adding the `--es-hosts="localhost:19200"` to the install command results in the following error:
<img width="307" alt="Screenshot 2021-07-08 at 12 52 00" src="https://user-images.githubusercontent.com/60108/124902327-7f3dd780-dfeb-11eb-92ee-343a2a720920.png">

[2021-07-08 17:19] jnouelccn commented on #2179
Hello everyone.

We have created a new STAGING Environment and proceded to implement Elastic suite but we are having the same results.  Also, the logs for Elastic are not being generated for some reason.  Please find attached below an image of the Basic Settings where we have enabled Debug mode.

Thank you.
![ELASTICSUITE_DEBUG_MODE](https://user-images.githubusercontent.com/86262436/124964462-0d6

[2021-07-09 09:29] radub commented on #2192
Individually installing `smile/elasticsuite` first and then `creativestyle/magesuite` solved the issue.
Thank you for your assistance! :)

[2021-07-09 09:31] #2192 closed

[2021-07-09 11:01] rikwillems commented on #2193
@TdAmi I'm running into the same issue. I've disabled `Anowave_Ec` module and that fixes the issue. Now I will start  research on what the exact issue is.

[2021-07-11 08:07] ia-gaurav commented on #2199
@bojandavkov  please raise issue with Amasty

[2021-07-11 08:11] ia-gaurav opened #2202 "Filter By quantity_and_stock_status not workig"
**Preconditions**
Magento 2.4
Smile Elastic Latest Version
Select In Layered Navigation as yes for **quantity_and_stock_status**

![image](https://user-images.githubusercontent.com/63009790/125187493-849a5c80-e24d-11eb-90f8-aa8e9aab3dac.png)

**Issue :**
It must show in filter

**Expected**
Quantity should show in filter

[2021-07-11 08:13] nuovecode commented on #173
Thanks, you helped me a lot

[2021-07-12 06:34] vahonc commented on #2202
Hello @ia-gaurav,

That's not possible, this is not a "real" attribute in Magento actually, having it displayed as a layered navigation filter would require more work since it would be needed to create a filter based on the stock.is_in_stock field.

BR,
Vadym

[2021-07-12 07:42] vahonc commented on #2179
Hello @jnouelccn,

What is output of `$ ls -la /var/log/elasticsearch`? You don't have any log records in this place?

If you activate the Debug mode of Elasticsuite all queries will be logged into the `system.log` in Magento logs folder `<magento_root>/var/log`

Did you use local or cloud hosting? Are you sure that Elasticsearch was properly installed and configured in your environment?

You can

[2021-07-12 09:13] bojandavkov commented on #2199
@ia-gaurav They have told me the opposite, to raise issue with Smile :)

[2021-07-12 09:28] ia-gaurav commented on #2199
@bojandavkov  - as Amasty is paid module so you can ask them to provide compatibility issue in support.

[2021-07-12 12:52] vahonc commented on #2199
Hello @bojandavkov,

Did you try to disable the Amasty module? Did you notice your issue in this case?

Also could you please provide more details about what exactly you try to do and after what operations you got this error?

BR,
Vaym

[2021-07-12 13:02] sky-hub commented on #2103
@romainruaud , PR has been updated.

PS: I am still waiting for your opinion on my last comment.

[2021-07-12 14:06] TdAmi commented on #2193
@vahonc @rikwillems Thanks for your replies.

I finally found that disabling `Trustpilot Reviews` module fixes the issue. Trustpilot have released a new version of this module (2.6.560) that solve this issue.

[2021-07-12 14:06] #2193 closed

[2021-07-12 14:16] vahonc commented on #2193
@TdAmi, I'm glad that you found the cause of your problem.

Yes, this is good advice: always check all third-party modules that are installed in your stores and make sure that they are up-to-date.

BR,
Vadym

[2021-07-13 03:05] cha80 opened #2203 "magento 2.2 catagory product can't dispaly in front-end"
### Preconditions

Magento Version :magento ce 2.2.11

ElasticSuite Version :2.6.10

Environment : developer mode

Third party modules :

### Steps to reproduce

1.
2.
3.

### Expected result

1.
![image](https://user-images.githubusercontent.com/56351661/125382885-19759500-e3c9-11eb-8228-a3bd0258c2f0.png)

### Actual result

1. [Screenshot, logs]
We can't find products matching the selection
![im

[2021-07-13 08:32] vahonc commented on #2203
Hello @cha80,

According to your description, it's not really clear which operations caused your issue. So, we need more details, like do you use an early ES module or just installed it, are you faced with this bug the first time, are you noticed this issue in all categories or just in one specific, have you installed some 3rd-party modules, etc.

For this moment I can only suggest you try to do t

[2021-07-13 11:26] cha80 commented on #2203
and now i solve the previos problem
and i face the problem like below

![image](https://user-images.githubusercontent.com/56351661/125443897-c0bc864d-258f-4f77-882b-e91161681010.png)

[2021-07-13 11:58] vahonc commented on #2203
@cha80, I suppose that you are using some custom theme. You could try to switch to the default Luma theme to see if it's a theme bug, but don't forget to flush your cache, re-index all, and re-run `php bin/magento setup:static-content:deploy`

Here's a [similar issue](https://github.com/Smile-SA/elasticsuite/issues/91). Most likely you need to solve the styles conflicts in your custom theme by you

[2021-07-13 14:38] jnouelccn commented on #2179
Hello.

Thank you for the follow up.  It seems the issue has been solved.  I will answer your questions and give you also the solution.

No we did not have any log records in /var/log/elasticsearch.  Since you mentioned that logs will be saved to system.log when  activating Debug mode we went there and found information that pointed us to the right direction.

`[2021-07-12 15:10:16] report.ERROR:

[2021-07-14 01:27] jnouelccn commented on #2179
Hello.
Now we have another problem.  When we compile Magento (run setup:upgrade and compile) Search tries to find the Elastic Server in locahost:9200 instead of the defined server which is correctly configured in env.php and it shows on Basic Settings in Configuration.
This is really confusing.
Thanks for you help.

[2021-07-14 06:25] cha80 commented on #2203
i use Porto theme   ------------------&nbsp;原始邮件&nbsp;------------------
***@***.***&gt;
发送时间:&nbsp;2021年7月13日(星期二) 晚上7:58
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [Smile-SA/elasticsuite] magento 2.2 catagory product can&#39;t dispaly in front-end  (#2203)

[2021-07-14 09:52] dmanners opened #2204 "Only SKUs with "-" show up"
I have seen some odd behaviour with regards to search with the following versions:

[code]

I have set up two products.

1. With SKU: something-nn44-something
2. With SKU: somethingnn44something

When I search for nn44 I would expect both to show up. I have noticed your article on what is and what isn't covered by SKU search and I am wondering if I have something wrong with my configuration on the

[2021-07-14 09:53] vahonc commented on #2179
@jnouelccn, as I understand you are using a non-default port (8080) for your Elasticsearch instead of a default 9200. I'm not sure if it's a good practice and I don't know why you don't want to use the default port. It looks like you want to find a unicorn ;-)

However, you should be sure that your Elasticsearch is properly installed and configured. For this could you show the output of this comma

[2021-07-14 13:15] #2184 closed

[2021-07-14 13:29] jnouelccn commented on #2179
Hello @vahonc
Thank you for the follow up and support.

I confirm we are using port 8080.  Also, please know that after compilation of Magento when the error of "no alive nodes" happens when it tries to search using locahost:9200, if I go to BASIC SETTINGS for ElasticSuite in Magento Admin Configuration and just click SAVE then ElastiSuite works again.

Please see requested output of the curl comm

[2021-07-14 13:43] vahonc commented on #2179
@jnouelccn,

The "No alive nodes found in your cluster" error message is usually means that Elasticsearch cannot be joined.

Have a look at your elasticsearch.yml:

<pre>
# ---------------------------------- Network -----------------------------------
#
# By default Elasticsearch is only accessible on localhost. Set a different
# address here to expose this node on the network:
#
network.host: "lo

[2021-07-14 14:16] jnouelccn commented on #2179
Hello @vahonc
Yes, but that YML file is the configuration file in the ElasticSearch Server.  Not on the Magento Server.  FYI.

Changed the port to 8080 and this message appeared after trying to start the service:
`Job for elasticsearch.service failed because the control process exited with error code. See "systemctl status elasticsearch.service" and "journalctl -xe" for details.`

The executed the

[2021-07-15 07:30] vahonc commented on #2179
@jnouelccn, according to elasticsearch.log provided by you it looks like you have a conflict with ports.
<pre>
[2021-07-14T09:46:41,270][ERROR][o.e.b.Bootstrap          ] [ip-10-0-0-172] Exception
org.elasticsearch.http.BindHttpException: Failed to bind to 127.0.0.1:8080
.
.
.
[2021-07-14T09:46:41,293][ERROR][o.e.b.ElasticsearchUncaughtExceptionHandler] [ip-10-0-0-172] uncaught exception in thread

[2021-07-15 13:13] romainruaud commented on #2203
Hello @cha80

This topic is already covered in #91 and #1112

Regards

[2021-07-15 13:13] #2203 closed

[2021-07-15 13:14] romainruaud commented on #2202
Duplicate of #1924

[2021-07-15 13:25] romainruaud commented on #2179
@jnouelccn that's very strange what happens after compilation. Can you check the content of your env.php and core_config_data table for settings related to elasticsuite after doing the setup:upgrade and the compilation ?

[2021-07-15 13:59] #2144 closed

[2021-07-15 18:16] ia-gaurav commented on #2202
@romainruaud  can this be done with some workaround

[2021-07-15 22:31] jnouelccn commented on #2179
Hello @vahonc and @romainruaud
Thank you both for your support and follow up on this.

What you indicate could be a conflict of ports has the IP address 127.0.0.1 and the elasticsearch server is located on another server as you can see below in env.php.  Apache is not running on the Elastic Server hence not using port 8080.

Please see env.php with elastic settings in this image:
![envphp_ElasticS

[2021-07-16 06:47] frostblogNet commented on #2097
Hello we have seen similar problems. The query that gives us the most trouble is the one in the backend when you go to the categories overview. Apparently all categories are fetched there with one ES query. We had Eleastic Search 7.12 in use so far after an update to 7.13 there were failures of Eleastic Search when someone in the backend accessed the category overview. Only a downgrade to ES 7.12

[2021-07-16 07:29] ds-mukeshsoni opened #2206 "Having Issue in save selected attribute values in virtuat category rule"
Hi Support,

I am editing virtual category rule in magento category but when I am selecting attribute in rule like "brand" is one of ... I am able to select multiple values from multiselect field but when I click on save category values are not saved it shows only previous selected attribute options. Also here brand attribute is Dropdown type attribute defined in attribute. This is also not workin

[2021-07-16 10:30] vahonc commented on #2206
Hello @ds-mukeshsoni,

As I can see your project have a lot of customizations and 3rd-party modules (Amasty, etc). Perhaps some of them could be affected on your problem.

I've tried to edit a virtual category rule for the Brands category and the behaviour was strange, sometimes it adds a new option that I selected sometimes not added after saving the category. Maybe it is related to the configura

[2021-07-19 06:36] ds-mukeshsoni commented on #2206
Hi Support,

List of third party modules which are used to customization in site are as below:
	'Amasty_BannersLite' => 1,
	'Amasty_Base' => 1,
	'Amasty_Geoip' => 1,
	'Amasty_CheckoutGraphQl' => 1,
	'Amasty_Conditions' => 1,
	'Amasty_CommonTests' => 1,
	'Amasty_CommonRules' => 1,
	'Amasty_CronScheduleList' => 1,
	'Amasty_CrossLinks' => 1,
	'Amasty_Feed' => 1,
	'Amasty_Checkout' => 1,
	'Amasty_Gift

[2021-07-19 10:52] braders opened #2207 "Categories displaying wrong products if "Display Category Filter" set to "No""
_This is related to https://github.com/Smile-SA/elasticsuite/issues/1925, and possibly a duplicate However, I am opening a new ticket as that ticket is closed, and the problem exists on the latest plugin version._

We were experiencing an issue where each category was displaying the full catalog (i.e. not just the products within that category). Sorting by "Position" moved the products in the cate

[2021-07-19 11:05] vahonc commented on #2207
Hello @braders,

We need more details about your environment. Are you using some custom theme or 3rd-party modules that can be affected on your issue?

BR,
Vadym

[2021-07-19 11:17] braders commented on #2207
Hi Vadym,

Thanks for the quick response.

We're using a custom theme (built on top of blank), and a number of custom modules.

We have a number of custom modules, but the two that seem most relevant are Mageplaza_AjaxLayer and Amasty_Xsearch (which provides some optimised UI for the search page and autocomplete).

Thanks,
Bradley

[2021-07-19 11:23] vahonc commented on #2207
@Bradley, could you try to disable these modules (if it's possible) and check again if your issue is still relevant?

BR,
Vadym

[2021-07-19 11:28] jucar21 opened #2208 "Issue after reindex the indexer"
### Preconditions
Ubuntu 18.04
PHP 7.3
Magento Version : Magento CE 2.3.7
ElasticSuite Version : ~2.9
ElasticSearch Version : 6.6.1
Environment : Development

Magento has been upgraded from 2.2.11 to 2.3.7
### Steps to reproduce
1. service elasticsearch restart
2. php bin/magento indexer:reindex elasticsuite_categories_fulltext

### Expected result
1. successful reindex

### Actual result
1. Elast

[2021-07-19 15:28] vahonc commented on #2206
@ds-mukeshsoni as I told you before your project has a lot of customizations and 3rd-party modules. Therefore it's hard to say what exactly could cause this issue.

According to the lists of the 3rd-party modules provided by you, I think that one of them - Dotsquares_Extendvirtualcategoryrule could somehow be affected on this. Could you please try to disable it and check again your issue?

BR,
Vad

[2021-07-20 05:37] ds-mukeshsoni commented on #2206
Hi Vadym,

I have tried to disable all customizing extensions including Dotsquares_Extendvirtualcategoryrule but new options added in virtual rule is not saving.
Please suggest if any other thing which can fix this issue.

Thanks
Mukesh

[2021-07-20 09:06] Cloudy777 commented on #1452
If we set the position via import on a category via setPostedProducts it would be neat if elasticsuite would sync this. Is there any implementation or plan to implement an observer or a an after Plugin for that?

[2021-07-20 09:50] jucar21 commented on #2208
Hi,

I am trying to figure out the attribute that is failing, at the moment I am getting the following printing some information of the attribute that fails:

[2021-07-20 10:37] vahonc commented on #2208
@jucar21, could you provide the configuration (screenshots) of this attribute in Magento BO?

BR,
Vadym

[2021-07-20 14:58] ganeshp29 commented on #2181
Hi @romainruaud

I have followed the workflow you suggested for sort by grouped_price. but it's not working properly. The products not getting sort by the custom field "grouped_price".

I have implemented it to overridden Toolbar.php using the plugin concept. Please check the following code implementation.

**di.xml**

[code]

**Toolbar.php**

[code]

Could you please check and suggest what is wro

[2021-07-20 20:26] scottsb commented on #2199
Noting that we ran into this issue as well and also brought it up with Amasty support. This was their response:

So basically the status quo is that these two modules cannot be used together. (In our case, we are invested in using ElasticSuite, so it's Amasty's module that will have to go by the wayside.)

[2021-07-21 06:54] romainruaud commented on #2181
Hi, you did not follow what I've explained in my previous comment. Especially this :

And therefore this :

To summarize : don't use SQL for sorting, let the engine do the job.

I close the issue since it's way too far from just providing Open Source support. If you are interested in dedicated (paid) support through professional services, please send a mail to elasticsuite@smile.fr

Regards

[2021-07-21 06:54] #2181 closed

[2021-07-21 10:04] kiber commented on #1465
I had the same issue and the solution was enabling Tracking and running **elasticsuite_index_log_event** cronjob

[2021-07-21 10:15] t-eichmann opened #2209 "Creating the AutoComplete input field using the createBlock-function produces an exception"
### Preconditions

We use Magento 2 with a custom theme.

Magento Version : 2.4.2

ElasticSuite Version : 2.10.5

Environment : both

Third party modules : custom theme, other modules not relevant for this bug

### Steps to reproduce
In one of our template files we want create and render the input field using the createBlock()-function of the layout, like this:
[code]

### Expected result
Instanti

[2021-07-21 10:59] bartoszkubicki opened #2210 "Elasticsuite 2.8.5 and higher is not compatible with magento 2.3.1, but it should be according to readme"
### Preconditions

Magento Version : EE, 2.3.1

ElasticSuite Version : 2.8.5 / 2.8.6 and higher

Environment : dev mode

Third party modules : yes, but it doesn't matter

### Steps to reproduce

1. require specific version of elasticsuite 2.8.5 or higher
2. clear generated and flush cache
3. run setup:di:compile

### Expected result

1. nothing happens it works as stated in https://github.com/Smil

[2021-07-21 16:08] vahonc commented on #2210
Hello @bartoszkubicki,

Please be aware of the warning that was added to our [2.8.5 release note](https://github.com/Smile-SA/elasticsuite/releases/tag/2.8.5).

We had to introduced a `>= Magento 2.3.2` requirement by relying on the native class `\Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplier` which does not exist in 2.3.0 and 2.3.1 and generating the following

[2021-07-21 20:51] jnouelccn commented on #2179
At the end, the cache:clean solves the issue after compilation.
We managed to implement Elastic.
Thank you all.

[2021-07-21 20:51] #2179 closed

[2021-07-21 21:31] bartoszkubicki commented on #2210
Hello @vahonc , I have already checked that and locked version on 2.8.4. It is not always possible to upgrade magento. Version matrix should be extended by adding that information.

[2021-07-22 05:08] muksSoni commented on #2206
Hi Vadym,

Have you got the chance to check the issue cause. Please provide some suggestion regarding issue fix for files need to check for this. There is no error in javascript console but preview ajax is running for some attribute options and not working for other options in same attribute. Once this preview ajax is run then changes reflect otherwise not.

Thanks
Mukesh Soni

[2021-07-22 07:23] romainruaud commented on #2210
I updated the matrix. Thank you for reporting it. Regards

[2021-07-22 07:23] #2210 closed

[2021-07-22 07:29] romainruaud commented on #2204
Hi David,

could you please also share any customization you made on Magento/Elasticsuite side ? Especially regarding ``elasticsuite_indices.xml`` files.

The SKU should use the particular "reference" analyzer as seen here : https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/etc/elasticsuite_indices.xml#L32

That does not look to be the case in your mapping as per

[2021-07-22 07:29] romainruaud commented on #2209
Hi @t-eichmann

good catch, can you submit a PR to branch 2.10.x for this one ?

Regards

[2021-07-22 07:31] romainruaud commented on #2202
@ia-gaurav you can find an abandoned implementation of this feature in this (very old) PR : https://github.com/Smile-SA/elasticsuite/pull/133/files

It's probably not gonna work as a charm with recent Elasticsuite version but it should give you some guidelines about implementing it by yourself.

Best regards

[2021-07-22 07:31] #2202 closed

[2021-07-22 07:34] romainruaud commented on #2160
Sorry but we do not plan to implement this. To be honest, we found out that manual positioning is rarely used, except for very small catalogs, due to the amount of manual work it requires. And on very small catalogs, it's not an issue to merchandise each category without inheritance.

Regards

[2021-07-22 07:34] #2160 closed

[2021-07-22 07:39] t-eichmann commented on #2209
I would like to, but I am new to working with Github and have no clue how to do that.

[2021-07-22 07:42] ia-gaurav commented on #2202
@romainruaud  thanks can it be added in todo list for future

[2021-07-22 08:32] romainruaud commented on #2209
Okay, @vahonc can you propose a PR for this one then ? Should be an easy one.

Regards

[2021-07-22 08:55] vahonc commented on #2209
Ok, I'll take care of it.

BR,
Vadym

[2021-07-22 13:23] romainruaud commented on #2199
I close the issue, according to community (we cannot see the sources of Amasty module since it's proprietary), there is an incompatibility between both modules.

I'm afraid you'll have to choose between us or them.

Regards

[2021-07-22 13:23] #2199 closed

[2021-07-22 13:38] vahonc commented on #2206
@muksSoni, I was able to reproduce this bug even on the latest version of ES module, seems that's something that we could miss from the beginning. I'll try to play a workaround on this and investigate this issue deeper.

BR,
Vadym

[2021-07-22 14:41] #2127 closed

[2021-07-22 14:46] gusdemayo opened #2213 ""array_merge Expects Parameter 1 To Be An Array" During Reindex"
I'm not sure if this is a bug or an issue with our data, but when I run the catalogsearch_fulltext reindex I get the error

Warning: array_merge(): Expected parameter 1 to be an array, string given in vendor/smile/elasticsuite/src/module-elasticsuite-catalog/Model/Product/Indexer/Fulltext/Datasource/AttributeData.php on line 132

It looks like some of our data being processed by the addChildData m

[2021-07-23 07:23] achatpc opened #2214 "Errors in system.log when reindex"
### Preconditions

php 7.4
apache 2.4
mysql 8
varnish 6

Magento Version : 2.4.2-p1

ElasticSuite Version : 2.10.5

Environment : production

Third party modules :

### Steps to reproduce

1. bin/magento index:reindex
2.
3.

### Expected result

1. reindex without error

### Actual result

1. [2021-07-22 21:09:08] main.ERROR: {"error":{"root_cause":[{"type":"x_content_parse_exception","reason":"[1

[2021-07-26 07:35] jucar21 commented on #2208
Hi,

I couldn't find how to figure out what attribute is on backend, What I have done is a control before the issue checking if the first option of $optionTextValues is string or array. and if is array just jump it.

That allows me to reindex with no issues, as it jumps that attribute, but I am not sure if that could have any consequence.

Regards

[2021-07-26 09:36] ramindas commented on #1735
Hi,

This works for me, thanks Ali

cd /usr/share/elasticsearch
bin/elasticsearch-plugin install analysis-phonetic
bin/elasticsearch-plugin install analysis-icu
sudo service elasticsearch restart

Thanks, Raminda

[2021-07-26 13:03] romainruaud commented on #2214
Hi @achatpc

It looks like documents are rejected by the engine. Could you please enable debug mode of Elasticsuite (**Stores > Configuration > Elasticsuite > Basic settings > Enable Debug mode**).

After that, you should see more details in debug.log describing which documents have been rejected during indexing.

Regards

[2021-07-27 07:36] Nuranto opened #2215 "Use Parent Category Settings for Filters"
Would be nice to have a setting `Use Parent Category Settings` as the one in `Design` tab, but for filters configuration.

I think it's quite often that we have the same filters configuration in child categories.

A button "Import settings from parent category" could be a quicker solution that would help too.

[2021-07-27 10:44] abhisheksdckap commented on #704
I have tried this but still products are not sorting by inventory on category product view page.
Magento version : 2.4.1
Elasticsuite version : 2.10.0

[2021-07-27 15:04] speller opened #2216 "Reindexation from the Admin UI"
I've just changed the ElasticSearch host setting in the Stores -> Configuration -> ElasticSuite -> Base settings. And now I need to reindex everything. How can I do that without SSH access?

[2021-07-27 15:17] romainruaud commented on #2216
You should just clean the cache and go to Index Management, select the "Catalogsearch Fulltext index", the "Elasticsuite categories fulltext" and "Elasticsuite Thesaurus" and choose the "Invalidate" action in the action menu.

This will trigger a reindexing the next time your crontab will run. Of course this requires to have enabled the Magento crontab.

Regards

[2021-07-27 15:17] #2216 closed

[2021-07-28 13:36] rafallmmw commented on #2145
Hello,

we have this same problem. All our magento 2.4.2 and 2.4.2-p1 commerce editions projects which use smile are affected.

I updated smile to the newest version but it didn't help.

Do you know more or less when the fix will be available ? Our customers need that feature :(

[2021-07-28 18:00] #2213 closed

[2021-07-29 08:32] achatpc commented on #2214
Thank you for your feedback. Below are some examples of error giving the details of the request

[2021-07-29 08:25:23] main.WARNING: Request Failure: {"method":"POST","uri":"http://149.202.154.75/magento2_fr_catalog_product/_search","port":9200,"headers":{"Host":["149.202.154.75"],"Authorization":["Basic ZWxhc3RpYzpBYmNkZWYxMDE1NTEwMQ=="],"Content-Type":["application/json"],"Accept":["application/

[2021-07-29 13:05] romainruaud commented on #2214
It does not look like indexing requests. It's rather search queries occuring in front-office.

Some aggregations are not built properly :

KO (notice the "field" : null).

[code]

OK :

[code]

Could you share more details about the configuration of the problematic attributes ?

[2021-07-29 15:26] achatpc commented on #2214
Thank you.

Yes, sure:

Exemple for i_connectivity_techno_1655_1

![image](https://user-images.githubusercontent.com/17496183/127519767-7cc3f40f-8645-4058-be86-74d74a4f1f5f.png)
![image](https://user-images.githubusercontent.com/17496183/127519876-947d837d-795d-4ee9-b211-a8e463d5715f.png)

[2021-07-29 15:29] romainruaud commented on #2214
That's very strange, if those attributes are "Used for layered navigation = No" and "Is filterable in search = No", they should not be injected in the search query aggregations.

Did you edit them recently ? if that's the case, you have to proceed with a full reindex after.

regards

[2021-07-29 15:56] gustadev84 opened #2218 "Product don't include anchor category in multistore Magento"
When I have a category only enabled in a single store of a multistore Magento, the product in the sub-category is not being listed on the anchor category.

### Preconditions

Magento Version : CE 2.3.5-p2
ElasticSuite Version : 2.9.6
Environment : Production Mode

### Steps to reproduce
Magento has five stores created.

A category and its subcategories are only enabled in one of the stores and dis

[2021-07-29 16:47] achatpc commented on #2214
This is precisely my problem. When I change these two parameters, it generates errors and then the two parameters are automatically deactivated

[2021-07-29 17:03] achatpc commented on #2214
My goal is to use all attributes in the attached CSV file for layered navigation.

1. Import of parameters into the database.

2. I can see these attributes in the navigation.
[attributs.txt](https://github.com/Smile-SA/elasticsuite/files/6902227/attributs.txt)

3. After reindexing or for a while, the attributes are deactivated.

[2021-07-30 06:49] romainruaud commented on #2214
Elasticsuite does not deactivate anything.

The errors are generated **because these attributes are disabled after having been enabled once**.

For the moment I have no idea what could cause their deactivation. Could you please share also the list of any third-party module enabled in your website ?

Regards

[2021-07-30 07:55] achatpc commented on #2214
Hello,

Yes, sure:

   'modules' => [
        'Magento_AdminAnalytics' => 1,
        'Magento_Store' => 1,
        'Magento_AdobeIms' => 0,
        'Magento_AdobeImsApi' => 0,
        'Magento_AdobeStockAdminUi' => 0,
        'Magento_MediaGallery' => 1,
        'Magento_AdobeStockAssetApi' => 0,
        'Magento_AdobeStockClient' => 0,
        'Magento_AdobeStockClientApi' => 0,
        'Magento_

[2021-08-02 12:04] benyatesayko commented on #2208
@vahonc I've attached an export of the attribute data as I can't view this data category attributes in the admin (or at least AFAI!) [landing_page.csv](https://github.com/Smile-SA/elasticsuite/files/6916607/landing_page.csv)

The output of `$this->getIndexOptionsText($attribute, $storeId, $value)` returns a multidimensional array which as expected would cause an error in `array_diff(array_map('tri

[2021-08-02 15:04] OvalMedia commented on #2013
2.10.5 / magento 2.4.2-p1: problem persists.

[2021-08-02 15:05] OvalMedia commented on #414
2.10.5 / magento 2.4.2-p1: problem persists.

[2021-08-02 15:27] dambrogia commented on #2158
Do you have optimizers enabled? When you start adding queries, filters and optimizers it's very easy for the `score` of the result to be exponentially higher. Have you tried debugging this to see what the score is being returned? I would assume this is a configuration or data issue.

[2021-08-03 04:50] aardalich opened #2220 "All products showing on category pages"
When viewing a category page, all products are retreived.
Looking on similar issues I can find, all categories have is_anchor set to 1
Display category filter is set to Yes in Layered Navigation, and changing this to No has no effect.

Magento 2.4.2_p1 CE and 2.10.5 of ElasticSuite, both in dev and production

I have found if I comment out this within module-elasticsuite-catalog/etc/di.xml

`    <

[2021-08-03 06:26] vahonc commented on #2218
Hello @gustadev84,

Are you sure that your issue is linked to the ES module, maybe it's just a wrong configuration of multistore websites or something was not indexed by ES indices?

Did you try to disable or remove temporary our module? If so, what's the result which you get?

BR,
Vadym

[2021-08-03 09:46] PixelT commented on #2090
Did someone check this drag event on mobile?
It seems that it doesn't work...

[2021-08-03 09:57] vahonc commented on #2090
Hello @PixelT

Which version of the ES you are using?

Have you checked it on a real website and real mobile?

Have you clear/flush the cache and rebuild static content on your website?

BR,
Vadym

[2021-08-03 10:17] PixelT commented on #2090
I was checking it on the newest version - `2.10.5` on blank and luma theme - in both cases, I can't drag on slider - the `jquery.ui.touch-punch.min.js` file is loaded properly.
Yes I was testing on real website/devices.

[2021-08-03 12:00] benyatesayko commented on #2208
Ok, I think I've found the source of the issue, it looks to be data related

The landing_page attribute makes use of a source model, namely Magento\Catalog\Model\Category\Attribute\Source\Page. This class returns a collection cms blocks as opposed to cms pages for the getOptions method. Magento\Eav\Model\Entity\Attribute\Source::getOptionText($value) would normally find the value we're indexing in

[2021-08-03 12:11] #2207 closed

[2021-08-03 12:13] vahonc commented on #2208
@benyatesayko, good catch! Thank you for your investigation.

BR,
Vadym

[2021-08-04 15:28] romainruaud commented on #2180
PR #2223 will allow :

- to use --search-engine=elasticsuite when installing if you feel the need to
- to use only the Magento legacy parameters `--elasticsearch-host` and `--elasticsearch-port` without having to worry about our custom `--es-hosts`
- to use the `--elasticsearch-username` and `--elasticsearch-password` instead of our `--es-user` and `--es-password`

But there is an important thing

[2021-08-05 04:49] words2mahi commented on #2151
Hi Team,

 I am also facing issues while reindexing
**catalog_product index does not exist yet. Make sure everything is reindexed.**

Magento Version:Magento EE ver 2.4.1
Elastic search Version:7.7.1
smile/elasticsuite ~2.10.0

kindly support to fix this issue

[2021-08-05 11:36] vahonc commented on #2151
Hello @words2mahi,

We need more details about your environment. So please answer on my questions.

Have you also used Cloud Environment?

Have you environment with multistore websites?

Have you enabled a Debug Mode for ElasticSuite?

Have you tried to run a full re-index, what's the output of this command?

BR,
Vadym

[2021-08-05 13:02] romainruaud commented on #2180
I reopen this one, just to not forgot updating the wiki as soon as we release a new minor version.

[2021-08-05 13:03] refueledinc commented on #2220
As it turns out, this was a Anowave extension issue for me.

[2021-08-05 13:31] jean-bernard-valentaten commented on #2145
Hi,

we also ran into this problem and could find out, that this happens due to the file `catalogstaging_category_update_form.xml` missing in the subpackage `smile/module-elasticsuite-virtual-category`. As of Magento Commerce Edition 2.4.2 the existence of this file is mandatory. I tried to solve the issue by copying `vendor/smile/elasticsuite/src/module-elasticsuite-virtual-category/view/adminhtm

[2021-08-05 19:11] torhoehn opened #2226 "index_not_found_exception with multiple Elasticsearch servers"
### Preconditions

Magento Version : 2.4.2-p1

ElasticSuite Version : 2.10.4

Environment : Production mode

Third party modules :

### Steps to reproduce

1. Have one configured Elasticsearch server in `Elasticsearch Servers List`, e.g. `localhost:9200`
2. Run bin/magento indexer:reindex catalogsearch_fulltext, Index is rebuilt successfully
3. Configure a second Elasticsearch server in `Elasticse

[2021-08-06 05:38] gerrits-ecommerce opened #2227 "Virtual category string filter"
One of our customers extensively uses the virtual category features of Elasticsuite to create filtered brand categories. They do this by creating new Virtual categories based on the category they wish to filter and applying a virtual rule where the brand attribute should contain a certain value.

Since brand is a text attribute the virtual rule only gives the contains and does not contain options.

[2021-08-06 14:41] vahonc commented on #2226
Hello @torhoehn,

First, check if all is good with your Elasticsearch instances like `curl -i http://localhost:9200/` and `curl -i http://localhost:9202/` and if your Indices settings are properly configured according to this [refer](https://github.com/Smile-SA/elasticsuite/wiki/ModuleInstall#indices-settings).

Also, please show the output you get from `curl -XGET localhost:9200/_cat/indices?v` a

[2021-08-06 14:47] vahonc commented on #2220
@aardalich, please provide more details about your environment.

Are you using third-party extensions or custom theme?

BR,
Vadym

[2021-08-09 06:25] pointia commented on #2199
@romainruaud the problem here is that an "api-like" search raises the error. What I mean is that the following Magento code (even though it uses the api) throws the error:

[code]

[2021-08-09 14:17] vahonc commented on #2090
Hello @PixelT,

We've updated the ES module on our demo site to the latest version and looks like it works as expected, here's an [example](http://demo.magento-elastic-suite.io/index.php/men/tops-men/jackets-men.html).

Maybe there are some devices compatibility or cache issues, I've tested it on an Android device with a Chrome browser.

Could you check how it works on our demo site from your devi

[2021-08-09 14:27] vahonc commented on #2199
Hello @pointia,

Thanks for your point of view, but if you believe that there are some bugs in the ES module you should create a new issue and add all the necessary details and explanations.

BR,
Vadym

[2021-08-09 14:41] davidhiendl opened #2229 "Facet Dependencies (Require Facet A to have >= 1 value selected, before facet B is shown)"
When configuring facets it is currently not possible to configure dependencies between facets, eg. require that facet A has a value selected before facet B is shown.

**Describe the solution you'd like**
Option in Catalog Attribute Config to specific 1 or more required facets, before a facet is shown.

**Why is this useful:**
Some facets don't make any sense on their own or ambiguous when filterin

[2021-08-09 14:57] vahonc commented on #2227
Hello @gerrits-ecommerce,

It's the default behaviour for the attribute with inputType like `text`. As an easy solution, you could try to play a workaround by changing a type of your attribute to `Dropdown` or `Multiple Select` and then create a virtual category based on it.

On the other hand, it's not easy to implement as a core feature of our module because it required a lot of customizations a

[2021-08-10 08:42] gerrits-ecommerce commented on #2227
Hey @vahonc

Too bad this won't become a core feature. I've looked into it and found a workaround that works for us. By extending the getDefaultOperatorInutByType function in src/module-elasticsuite-catalog-rule/Model/Rule/Condition/Product.php and adding the '()' operator to the string input type we get access to the 'is one of' operator for strings. The name is a bit clunky as we do not enable t

[2021-08-10 08:42] #2227 closed

[2021-08-10 10:19] davidhiendl opened #2230 ""Has Image" Rule for Optimizers does not work with images that have no_selection set."
Some products seem to have a no_selection value for the image instead of an empty field. The current behavior of the HasImage filter only checks if the product "image" field exists. This obviously does not work.

### Preconditions
Magento Version : 2.4.2
ElasticSuite Version : 2.1.0.5
Environment : Prod/Dev
Third party modules : Unrelated

### Steps to reproduce
1. Setup magento + elasticsuite
2.

[2021-08-13 15:22] vahonc commented on #2229
Hello @davidhiendl

Thanks for this idea, we will try to look into it in the future.

For this moment (for your goals) you could try to use `Facet coverage rate` during the configuration of your attributes. And you could get some info from our [Wiki](https://github.com/Smile-SA/elasticsuite/wiki/Querying#facets) or from the official documentation of the Elasticsearch.

Also, you could look into th

[2021-08-16 08:04] rbayet commented on #2229
Hello @davidhiendl,

To clarify @vahonc's comment, the attributes provider modifiers pool would be one place to add a class responsible for blacklisting the presence of attributes (after facet coverage has been applied) depending on the current request parameters.

It might be a bit rough around the edge, because the attribute filter model is supposed to determine which request variable it is supp

[2021-08-16 09:31] davidhiendl commented on #2229
I will take another look at it later this week.

[2021-08-16 10:23] IbrahimS2 commented on #1601
@romainruaud I would add to that to be able to import positioning using native import/export module, and finally, when we install the module it should auto-import the existing positioning from the relevant table, why would I have to do it again or import it manually.

We have already reported this on more than one occasion.

[2021-08-17 06:40] cha80 commented on #2203
a plugin cause this problem when i remove it
it work fine

[2021-08-17 08:47] Dntelz opened #2233 "Error during installation"
Magento Version : Magento 2.4 CLI
ElasticSuite Version :  2.10.1
Environment : Developer
Third party modules :
- Bss_CustomProductAttributeExport
- Ebizmarts_MailChimp
- MagePal_Core
- MagePal_GoogleTagManager
- Mageplaza_Core
- Mageplaza_SocialLogin
- MultiSafepay_ConnectCore
- MultiSafepay_ConnectCatalogInventory
- MultiSafepay_ConnectAdminhtml
- MultiSafepay_ConnectFrontend
- MultiSafepay_Conne

[2021-08-17 09:13] rbayet commented on #2233
Hello @Dntelz,

My guess is you have removed the MSI modules with a composer `replace`.
Unfortunately, Elasticsuite needs the presence of the class `Magento\InventoryCatalogApi\Api\DefaultStockProviderInterface` in the code base, even you do not intend to use MSI.

Please make sure the MSI modules are correctly present in your installation, but feel free to **disable them if you don't plan to use

[2021-08-17 09:28] Dntelz commented on #2233
Hi @rbayet

Thank you for your very quick reply and your clarification.

Wat exactly are the MSI modules? Is my list complete? Could I install them (if they not excist in my composer file by running `composer require magento/InventoryCatalogApi` and enable them?

I've added a list of (what I think are the MSI modules,  my composer.json file and my config file.

#### MSI MODULES
Magento_CatalogInve

[2021-08-17 09:56] rbayet commented on #2233
Hello @Dntelz,

Yes, the MSI modules are the "Magento_Inventory*" modules.
But it seems you have some, so this might not be the source of the issue you're having.

Can you confirm that you're trying to install Elasticsuite 2.10.1 on a Magento 2 CE 2.4.0 ?

Regards,

[2021-08-17 10:00] Dntelz commented on #2233
Yes, I can confirm.

`composer2 require magento/inventory-composer-metapackage -W` gives the following:

    - magento/inventory-composer-metapackage 1.1.0 requires magento/module-inventory-indexer ^1.0.4 -> found magento/module-inventory-indexer[1.0.4, ..., 1.0.10] but it conflicts with your root composer.json require (^2.1).
    - magento/inventory-composer-metapackage 1.1.1 requires magento/mod

[2021-08-17 13:46] vahonc commented on #2233
Hello @Dntelz,

Have you tried to run `bin/magento setup:upgrade` before installing the ElasticSuite? Do you also detect this error?

BR,
Vadym

[2021-08-17 14:31] Dntelz commented on #2233
Hi @vahonc

I did and no error occured. Also tried removing the module trough composer, but after `bin/magento setup:upgrade` but the error remained. Also tried removing var folder and the following 'php bin/magento setup:upgrade && php bin/magento setup:static-content:deploy -f && bin/magento setup:di:compile && php bin/magento cache:flush`

[2021-08-17 17:38] rbayet commented on #2233
Hello @Dntelz,

I haven't been able to reproduce your issue on a CE 2.4.0 with sample data + Elasticsuite 2.10.1.

Your composer.json, especially the amount of "replace" tells me you simply checkout the magento project. This is not the proper way to install Magento, please refer to the [official documentation](https://devdocs.magento.com/guides/v2.4/install-gde/composer.html).

A proper installati

[2021-08-17 19:57] Dntelz commented on #2233
Hi @rbayet

Thank you for your reply! Suddenly, all my previous issue's all make sense...

A few months ago the json file was edited by my hosting-provider and I've never compared my orginal with the then new composer.json file. Guess I'll have to make a fresh installation and think of a way to export/import all my custom settings for the categories, product attributes, products enz. I'll dive int

[2021-08-18 05:56] rbayet commented on #2233
Hi @Dntelz,

No problem, I'm closing this issue, good luck in recovering your data.

Regards,

[2021-08-18 05:56] #2233 closed

[2021-08-18 11:08] gustadev84 commented on #2218
Hi @vahonc

Thanks for your answer and sorry for the late reply.

I sorted the issue and it's not related to Smile Elasticsuite, but the module is impacted by the issue.

Elasticsuite loads data from catalog_category_product_index, right? So, when it's created, if the anchor category is not enabled on the main store, the child category won't be indexed together in a not main store. The issue is on

[2021-08-18 12:48] #2208 closed

[2021-08-19 17:20] asrar7787 commented on #2093
not sure how far this was progressed but I was facing similar issue for one client
By looking into @Esteraa log the issue could be related to the topic described here https://magento.stackexchange.com/a/322623/50597

[2021-08-20 09:33] OvalMedia commented on #1890
Is there a fix for this? I am pulling my hair out here trying to find what causes this.

[2021-08-20 09:46] vahonc commented on #1890
@OvalMedia, unfortunately, there are no updates here at this moment. This issue is of low priority for us.

Maybe you have some ideas about this?

BR,
Vadym

[2021-08-20 12:11] OvalMedia commented on #1890
What version is you demo store (http://demo.magento-elastic-suite.io/) running on? It does not show this behaviour. But it also does not load any file by the name of form-mini.js. Confused I am.

[2021-08-20 12:29] vahonc commented on #1890
@OvalMedi, the version of ES on the demo store definitely is 2.10.5 or the newest.

BR,
Vadym

[2021-08-20 12:43] OvalMedia commented on #1890
I just upgraded to the latest version and still the focus on that field is forced back. Also the autocomplete list does not reappear when going back into that field.

[2021-08-20 14:42] davidwindell commented on #2199
We've just come across the same issue with Amasty Quick Order / Smile if anyone has any suggestions. Contacting Amasty now too.

[2021-08-20 14:58] OvalMedia commented on #1837
Since I am not getting any response in the other repository (https://github.com/Smile-SA/magento2-module-elasticsuite-rating/issues/14)  I am asking here: is the ratings module abandoned? It's installation currently fails.

Regarding the lagacy ratings: I think your assessment is wrong. Ratings and reviews are a core part of magento and, at least in our case, our customers often rely on it.

[2021-08-21 15:38] #2220 closed

[2021-08-21 15:38] #2226 closed

[2021-08-23 22:12] dambrogia opened #2234 "Conflicts with Magento's Native Elasticsuite Module?"
I'm running into indexing throughput issues when making updates to categories after updating to Magento 2.4 and smile/elasticsuite version 2.10.3.

I can replicate this by running the following in a development environment (using the `n98-magerun` tool for convenience/simplicity):

    n98-magerun db:query -- "INSERT INTO magento.catalog_category_product_cl (entity_id) VALUES (178)";

You can repl

[2021-08-31 13:21] davidtisn opened #2241 "Multi store, single index"
I have a single Magento instance with 5 stores. The catalog is 260k products. After I reindex, there seems to be 5 indexes, one for each store and each index is 700mb. Is it possible to have one index for the global scope?

[2021-08-31 17:42] fritzmg commented on #2208
We are having the same issue with the `brands` attribute from _MageSuite_. The `brands` attribute is a `Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend`, but `Smile\ElasticsuiteCatalog\Helper\AbstractAttribute::getIndexOptionsText` will return something like this for this attribute for a given product:

[code]

It does not appear to be related to invalid/missing references, as the referenc

[2021-08-31 17:46] gusdemayo opened #2242 "Catalog Search index process unkown error: Warning: array_merge()"
### Preconditions

Magento Version : 2.4.1

ElasticSuite Version : 2.10.6

Environment : Development

Third party modules :

### Steps to reproduce

1. php bin/magento indexer:reset catalogsearch_fulltext
2. php bin/magento indexer:reset catalogsearch_fulltext

### Expected result

Reindex of the catalogsearch_fulltext index

### Actual result

Catalog Search index process unkown error:
Warning: a

[2021-08-31 19:45] dambrogia commented on #2234
I wanted to give back some updates from what I've found after debugging this issue for a few days.

Yes and No.

There is another native plugin (`catalogsearchFulltextCategoryAssignment`) that will handle product/category assignments (the plugin originally mentioned handles category/products assignments). This means that as you add products to your non-virtual category, their native interceptor/pl

[2021-09-01 02:03] lytesaber opened #2243 "Virtual Categories: Products set with automatic sort are not visible on frontend"
Product automatic sort option is not working on virtual categories. Only by setting each product one by one with manual sort does the product then appear within the virtual category on the frontend.

### Preconditions
Magento Version : Open Source 2.3.7-p1
Elasticsearch Version: 7.9.3
ElasticSuite Version : 2.9.7
Environment : Production

Third party modules :
afterpay-global/module-afterpay
eway/

[2021-09-01 07:06] hostep opened #2244 "Smile\ElasticsuiteCore\Setup\RecurringData prevents config.php being parsed during installation"
### Preconditions
Hi

Sorry for the lack of details but I have little time and found out about this last week so I don't remember the fine details anymore.

Magento Version: Magento OS 2.4.2-p2

ElasticSuite Version : 2.10.5

Environment: both

Third party modules: many

### Steps to reproduce
1. Have an uninstalled Magento instance and an empty database
2. Install Smile ElasticSuite using compose

[2021-09-01 09:13] romainruaud commented on #2234
There should be no need to index something when saving/updating a virtual category : the rule belonging to the virtual category is computed real-time in frontend when accessing the category. And no association between product and the so-called virtual category is stored anywhere.

=> I don't understand why reindexing the products should be needed in this case ?

However, I have a feeling that some

[2021-09-01 22:35] jsifuentes commented on #2145
Hi, just adding our note that we've also run into the same issue on 2.4.2-p2 Enterprise when attempting to add a scheduled update to a category. We opted to writing a patch file that removes the `category_form.xml` file during build to unbreak the feature until this is resolved.

[2021-09-02 09:44] #2230 closed

[2021-09-02 09:45] romainruaud commented on #2218
May we close this one then ?

[2021-09-02 13:14] romainruaud commented on #2244
I will try to remove this file, honestly it's always been a bit blurry for me. We also have issue #1159 which is a very olf one that is linked to this file.

I don't think that's necessary anymore to expire the config hash.

I'll try to remove it and see if the install process of github actions is working properly.

Regards

[2021-09-02 13:30] romainruaud commented on #2180
Wiki has been updated, I close

[2021-09-02 13:59] vahonc commented on #2242
Hello @gusdemayo,

I've checked this issue on my test (fresh) Magento 2.4.1 EE and ES 2.10.6 and I didn't notice any problem during reset/reindex of catalogsearch_fulltext index. It looks like there is could be some issue with the data of your store.

Could you provide more details about your environment and data, maybe check attributes configuration or Magento logs. Any information or details hel

[2021-09-02 14:14] vahonc commented on #2243
Hello @lytesaber,

I tried but was not able to reproduce your issue. For my tests, I use fresh Magento CE 2.3.7-p1 with sample data and ES 2.9.7 and follow your steps.

![Screenshot from 2021-09-02 16-39-51](https://user-images.githubusercontent.com/67791361/131858494-7497ef41-d344-458d-b09b-dbdbd2e77f5e.png)

![Screenshot from 2021-09-02 16-40-10](https://user-images.githubusercontent.com/6779136

[2021-09-02 14:20] hostep commented on #2244
Thanks! #1159 does indeed sound very much like the same issue (my search in the open issues hadn't found it for some reason).

[2021-09-02 14:28] gusdemayo commented on #2242
@vahonc That was my thought as well, as I've been able to run the reindex all the way through on a smaller test environment, the error mostly happens on our staging environment. I've been trying to track down where the data is coming from that's running through the function in AttributeData that throws the error, is it just product attributes in the catalog_product_entity_* tables?

[2021-09-03 03:48] lytesaber commented on #2243
Hi Vadym,

Thanks for the reply, I'll do a bit more isolation testing on my side to get to the bottom of this to see if its a data, module or environmental issue and get back to you with the results. I've had the same issue across multiple data sets however we run a single / unified codebase across multiple M2 CE projects.

[2021-09-03 07:07] romainruaud commented on #2242
Yes, that's attribute data. I suggest you add some logging at the failing line, to see which attribute it is, and also what is the problematic value.

Regards

[2021-09-03 16:32] grudado opened #2247 "Displaying products not included on the category"
Categories pages are displaying products that is not included on that category and doesnt understand the reason.
Here a sample querie and result. I dont know if can fix that with a optimizer or if have any misconfiguration.
The product on the second position is not included on the category id 105 but its still appearing.
`{
    "size": 2,
    "sort": [
        {
            "category.position": {

[2021-09-03 21:56] gusdemayo commented on #2242
I ran a reindex logging which attributes it was failing on, and it looks like all of attributes were product SKUs, and the ones that failed happened to be multiple products that shared the same SKU, does that sound like the cause?

[2021-09-06 03:38] mattqiu opened #2248 "Display Settings can't save in backend"
cant' save Layered Navigation Filters in backend

### Preconditions

PHP 7.3.28,centos,Magento ver. 2.3.5-p1

Magento Version :
Magento ver. 2.3.5-p1

ElasticSuite Version :7.14

Environment :Developer

Third party modules :
Smile_ElasticsuiteAdminNotification
Smile_ElasticsuiteCore
Smile_ElasticsuiteCatalog
Smile_ElasticsuiteCatalogGraphQl
Smile_ElasticsuiteCatalogRule
Smile_ElasticsuiteCatalogOp

[2021-09-06 07:27] vahonc commented on #2247
Hello @grudado,

From your description of the issue, it's not with which conditions we could try to reproduce this case. You should provide us more details about your environment, versions of Magento and ElasticSuite which you are using, etc.

We'll be appreciated for any information that will help us better understand where exactly this problem may be.

BR,
Vadym

[2021-09-06 07:39] vahonc commented on #2248
Hello @mattqiu,

In your description of the issue you mention that you have `ElasticSuite Version :7.14` it's not correct, I guess it's related to the version of the Elasticsearch, you could get info about the version of ElasticSuite with this command:
`$ composer info | grep elasticsuite`.

Have you got any error messages during saving of the Display settings?

Have you tried to make clean/flush

[2021-09-06 08:10] mattqiu commented on #2248
smile/elasticsuite                                                2.9.7      Magento 2 merchandising and search engine built on ElasticSearch

[2021-09-06 10:35] vahonc commented on #2248
@mattqiu, I've tried to reproduce your issue according to your preconditions. So I use fresh Magento CE 2.3.5-p1 with sample data and ElasticSuite 2.9.7.

Unfortunately, I was not able to reproduce this one, everything works as expected. Probably your Magento instance has some specific data, attributes, or settings.

You should check if everything is reindexed, clear your cache, also please check

[2021-09-06 13:02] #2145 closed

[2021-09-06 13:13] romainruaud commented on #2242
That's still blurry for me.

Are you having an attribute that is called "sku" and which is storing data in catalog_product_entity_varchar table ?

[2021-09-06 14:44] mehdichaouch commented on #1677
I see many postpone from 2.9.3 (on 24 Aug 2020) to 2.10.7 (16 august 2021) by @romainruaud.

Will this feature ever see the light one day?

[2021-09-06 21:29] lbajsarowicz opened #2250 "Catalog > Categories - Category View fails, showing raw SQL query for large categories"
### Preconditions (*)
1. Magento 2.4.3
2. MySQL 5.7
3. PHP 7.4.23
4. ElasticSuite 2.10.6
5. Product Catalog with a Category that contains 100k+ SKUs

### Steps to reproduce (*)

1. Open Catalog > Categories
2. Head to the category with 100k+ SKUs

### Expected result (*)

1. I should be able to view Category details, including Products listed in the Category
2. Magento should never display a raw S

[2021-09-07 01:13] mattqiu commented on #2248
I check,it wasn't save data in table smile_elasticsuitecatalog_category_filterable_attribute when I edit in category page,how can I fix it?

[2021-09-07 02:17] mattqiu commented on #2248
didn't call the save data function,how can I check?

[2021-09-07 06:25] mattqiu commented on #2248
![image](https://user-images.githubusercontent.com/2038610/132294743-a1b28d78-1961-458f-b23b-23dea44b0c9a.png)
please tell me,where is the place to config the call function when I click save button?

[2021-09-07 07:20] romainruaud commented on #2250
I've seen the issue in Magento2 repo too :)

I guess it's an elasticsuite problem after all ? Did you trace what was triggering this query ? This looks like a call to `getSize()` somewhere in the code.

Regards

[2021-09-07 07:35] vahonc commented on #2250
@lbajsarowicz, you need to increase **max_allowed_packet**. For this, access to your Database, run this command:
`SHOW VARIABLES LIKE 'max_allowed_packet';` to check what it's value and then multiple it to 2 or 3 times as your wishes.

To perform it at a global level, you could run the command: `SET GLOBAL max_allowed_packet=xxx`

BR,
Vadym

[2021-09-07 07:54] OvalMedia commented on #1890
Ok, I just found the issue and your module is not the cause. But since you are extending vendor\magento\module-search\view\frontend\web\js\form-mini.js your module is inheriting the issue.

The focus is forced in line 95: `this.element.trigger('focus');`

Not sure yet why they are doing this. But if this nags you as much as it does me, you have a starting point to work around it.

[2021-09-07 10:11] mattqiu commented on #2248
hello ?

[2021-09-07 11:09] vahonc commented on #2248
@mattqiu, when you try to save the category by pressing on the Save button and if during this action somethings are wrong you should see an error message on a Category page, also you could check errors in the Console tab of your browser or check Magento logs.

**Have you noticed any error messages?**

Also, could you tell how many attributes do you have in Layered Navigations Filters? It could be

[2021-09-07 13:05] romainruaud commented on #2250
@vahonc is right, this should fix the issue. However, I'm still curious about any stack trace we could see for this one. I'm concerned if this is a legacy Magento2 bug or if that's pure Elasticsuite fault. We might optimize something if that's by our side.

@lbajsarowicz if you have any more details, feel free !

[2021-09-07 14:16] ioweb-gr opened #2251 "searching across store views"
**Is your question related to a problem? Please describe.**
I would like to know if it's possible to use elasticsuite to search for a product accross store views. Here's my use case

I have a website in 2 languages Arabic / English (2 store views under the same website)

I would like my search to provide results whether the user is searching in english product names or arabic product names. Curren

[2021-09-07 20:18] gusdemayo commented on #2242
Ok so I think I fixed the data that was causing the issue, but now I get the error "No alive nodes." I already confirmed I have the correct elasticsearch container URL and settings, the version of elasticsearch is 7.6.2, and the version of elasticsuite is 2.10. I can confirm the elasticsearch instance is running, and it can be connected to via the default Magento Elasticsearch module.

[2021-09-09 06:14] mattqiu commented on #2248
I found the issue,we overwrite     <preference for="Magento\Catalog\Model\Category"  type="Mbb\Url\Model\Category" /> this.How can I change it.in Mbb\Url\Model\Category,I just overwrite the getUrl() function,if I remove this function also can't save.but remove  <preference for="Magento\Catalog\Model\Category"  type="Mbb\Url\Model\Category" /> ,It works fine.how can I change it?

[2021-09-09 07:28] vahonc commented on #2248
@mattqiu, could you tell me where you find out this piece of code:

`> <preference for="Magento\Catalog\Model\Category" type="Mbb\Url\Model\Category" />` ?

BR,
Vadym

[2021-09-09 07:32] mattqiu commented on #2248
this code was from my module,

[2021-09-09 07:46] vahonc commented on #2248
@mattqiu, if I understood you correctly, the cause of your problem was the wrong code in your custom module.

Since we do not know what exactly your module does and why you needed to overwrite the getUrl() function, you will have to solve this conflict yourself or make a choice between your module and ElasticSuite.

You could try to remove our module and check again if you be able to save the Disp

[2021-09-09 07:49] mattqiu commented on #2248
`<?php
namespace Mbb\Url\Model;

class Category extends \Magento\Catalog\Model\Category
{

    public function getUrl($parent = false)
    {
        if($parent) return parent::getUrl();
        $baseUrl = $this->_storeManager->getStore()->getBaseUrl();
        return  $baseUrl.$this->replaceSpace($this->getName())."/c-" . $this->getId();
    }

    public function replaceSpace($string)
    {

[2021-09-09 08:02] vahonc commented on #2242
@gusdemayo, could you show the output of this command:

 `$ curl http://localhost:9200/_cat/indices?v`

Also, you could enable logging ES queries in:

`Stores -> Configuration -> Elasticsuite -> Base settings -> Elasticsearch Client -> Enable Debug Mode`

and then try to run a full reindex, all queries will be logged into the `system.log`.

BR,
Vadym

[2021-09-09 12:37] MarcusSchwarz opened #2255 "Virtual Categories ignore manual sorting"
### Preconditions

1. Magento Enterprise Cloud Edition 2.4.x
2. No additional modules beside smile/elasticsuite

Magento Version : 2.4.3

ElasticSuite Version : 2.10.6

Environment : Production

Third party modules :
n/a

### Steps to reproduce

1. create a fresh magento-installation with sample data, ce or ee doesn't matter
2. install the smile/elasticsuite module
3. *go to the database and set t

[2021-09-09 13:10] romainruaud commented on #2248
Hi,

could you try replacing ``<preference for="Magento\Catalog\Model\Category" type="Mbb\Url\Model\Category" />`` by ``<preference for="Magento\Catalog\Api\Data\CategoryInterface" type="Mbb\Url\Model\Category" /> `` ?

And also try to add the "implements Magento\Catalog\Api\Data\CategoryInterface" in your class ?

[2021-09-09 13:10] gusdemayo commented on #2242
Making a /_cat/indices request shows a bunch of default_catalog_product indices, most of which are over a gigabyte. I will run a full reindex with debug mode enabled.

[2021-09-09 13:25] gusdemayo commented on #2242
We actually had debug mode enabled already, so I looked at the logs, and see that it uses the same url all throughout without issue, and then there's suddenly a "Connection Reset By Peer" error followed by a bunch of "No alive nodes" errors. This might be an issue with the timeout/elasticsearch configuration of our host.

[2021-09-10 07:04] vahonc commented on #2251
Hello @ioweb-gr,

That's not possible, we create an index per each store view in the case of a multistore website. And elasticsuite searches for the data across the current store view.

BR,
Vadym

[2021-09-10 07:50] ioweb-gr commented on #2251
I see so to have this functionality only a workaround can be employed. Thank you for clarifying

[2021-09-10 08:41] romainruaud commented on #2251
Yes, maybe you'll want to add a loop for all store views here : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/Product/Indexer/Fulltext/Datasource/AttributeData.php#L45

This would allow you to merge data across all store views into each separate store index.

That's not the most elegant but it will allow you to have arabic and english values duplicated

[2021-09-10 08:41] #2251 closed

[2021-09-13 13:43] romainruaud commented on #2244
I removed this file in #2246

Could you check if that improves your case ? You can require the 2.10.x-dev branch directly when installing with composer.

Regards

[2021-09-13 13:48] #2141 closed

[2021-09-13 13:50] romainruaud commented on #2142
Actually not. Manual sort has always precedence, so if a product is pinned with manual sort, it will remain at the pinned position.

Regards

[2021-09-13 13:50] #2142 closed

[2021-09-13 13:51] romainruaud commented on #2151
@words2mahi @maureyz any update on this one ?

[2021-09-13 13:52] romainruaud commented on #2107
@davidandersson1 any update on this one ?

[2021-09-13 13:54] #1984 closed

[2021-09-13 13:59] gusdemayo commented on #2242
@vahonc I'm wondering if the size of bulk index API requests could cause the "Connection Reset By Peer" error, is there a setting for changing how many things get indexed at a time?

[2021-09-13 14:25] vahonc commented on #2242
@gusdemayo, "Connection Reset By Peer" means that something other than the client closed the connection. However, it wasn't Elasticsearch either: Elasticsearch keeps client connections open until the client closes them. This means whatever closed the connection, it must be between the client and Elasticsearch.

I think you should check the configuration of your environment, maybe this configuratio

[2021-09-13 14:41] romainruaud commented on #2242
Yes, bulk size can matter.

You may try to reduce this parameter : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-core/etc/config.xml#L33

[2021-09-14 01:49] mattqiu commented on #2248
ok.save action saved correct now.but I found in result page.
![image](https://user-images.githubusercontent.com/2038610/133181291-e4db5832-f6ca-42c0-8683-91c11ceae884.png)
didn't have content in here,can you tell me what the problem here?
thank you

[2021-09-14 05:44] davidandersson1 commented on #2107
Hi @romainruaud

Sorry but i do not have any clue for issue main.CRITICAL: Warning: call_user_func_array() expects parameter 1 to be a valid callback, first array member is not a valid class name or object in /vendor/smile/elasticsuite/src/module-elasticsuite-virtual-category/Helper/Rule.php on line 67

[2021-09-14 08:56] speller commented on #1088
I had this issue on my local installation when I didn't run `setup:di:compile` after upgrading the module.

[2021-09-14 13:30] gusdemayo commented on #2242
I tried reducing the bulk size by half and it still has the issue. The strange thing is that we're using the same managed hosting provider for the Elasticsearch 7.6 node in our staging environment where we're doing the upgrade as for the elasticsearch 6 node we'd been using before, and we've haven't seemed to have the specific "No alive nodes/Connection reset by peer" error occur there.

[2021-09-15 07:04] mattqiu commented on #2248
hello?

[2021-09-15 07:12] romainruaud commented on #2248
Hello @mattqiu

since we do not reproduce your issue, this is likely to be project-specific, and therefore out of scope of our Open Source support policy provided here.

In addition to that, you did not provide any debug as asked by @vahonc (log files, ...), so this makes us really blind to help in debugging here. Please give us more details if you want some help, and not just a picture.

And fina

[2021-09-15 09:17] romainruaud commented on #2255
Duplicate of #2005 I think, but we have to solve this.

[2021-09-15 09:20] romainruaud commented on #1941
Answer to the initial question has been given.

I close the issue for being more than one year old.

Feel free to open a new one if you are still facing problems.

Regards

[2021-09-15 09:20] #1941 closed

[2021-09-15 09:21] romainruaud commented on #1919
Fixed by #2138

[2021-09-15 09:21] #1919 closed

[2021-09-15 09:23] romainruaud commented on #1876
I believe the initial question has been answered.

Storage of events will be improved in future version by #2256

If any issue persists, please feel free to open a new ticket.

Regards

[2021-09-15 09:23] #1876 closed

[2021-09-15 09:24] #1533 closed

[2021-09-16 02:32] mattqiu commented on #2248
I didn't abusively bump topics,this is about the extension.I notice that you overwrite \Magento\Swatches\Block\LayeredNavigation\RenderLayered in \vendor\smile\elasticsuite\src\module-elasticsuite-swatches\Block\Navigation\Renderer\Swatches\RenderLayered.php,but it didn't run this file.why?

[2021-09-16 07:09] vahonc commented on #2248
@mattqiu, from your last screenshot I guess that you are using some custom theme? Have you tried to switch on the default Luma theme? To be honest, from this cut screenshot it's hard to understand what you wanted and what you expected to see.

And, please don't ignore our advice and requests for more details, if you have any problems with your website first of all you should check **logs**.

I tol

[2021-09-16 11:36] JithinJay commented on #551
Hi, does anyone come up with a solution? We are facing the same issue.

[2021-09-16 13:18] romainruaud commented on #2242
Hi @gusdemayo

You might have too much "ghost" indices as your comment "Making a /_cat/indices request shows a bunch of default_catalog_product indices, most of which are over a gigabyte" let me suppose.

This might "clog" your Elasticsearch server since each index will take an amount of RAM. That could potentially explain your issues. Probably each time you had an error during the catalog search

[2021-09-16 13:20] romainruaud commented on #2248
Just a quick addition to what Vadym said :

- initial topic is not reproductible : it might be due to the fact that it's project specific, or due to the fact that you did not provide the asked details (please refer to our previous posts to know what to provide).

- you have an issue with layered navigation : it's another topic, open a new issue for this one please, and don't pollute this one. We n

[2021-09-16 14:06] gusdemayo commented on #2242
Yeah, I've cleared out all the old indexes, and this is a new node that was spun up for the update

[2021-09-16 14:23] romainruaud commented on #2242
Do you have access to the Elasticsearch server logs ?

[2021-09-17 10:11] #2218 closed

[2021-09-17 13:58] #1933 closed

[2021-09-17 14:02] #2172 closed

[2021-09-17 14:34] romainruaud commented on #1159
We will remove this file in next minor release. I close.

[2021-09-17 14:34] #1159 closed

[2021-09-17 14:37] romainruaud commented on #819
Implement in 2.10.4 version (finally !) : https://github.com/Smile-SA/elasticsuite/releases/tag/2.10.4

I close

[2021-09-17 14:37] #819 closed

[2021-09-20 15:55] gusdemayo commented on #2242
I duplicated the environment I'd been having the issue in docker on my local machine - same MySQL version, Elasticsearch version, PHP, etc. and the reindex ran through without "Connection Reset By Peer," I think the issue is hosting configuration

[2021-09-20 18:20] hostep commented on #2244
Thank you Romain

It will take me a couple of weeks to properly test this out due to having no time, but as far as I remember by testing this earlier it should work fine for my case.

[2021-09-21 07:51] mehrdadhosseinzadeh commented on #187
@Nielex can you help me about this problem ?
please see Fatal error: Uncaught Error: Call to a member function getCategorySearchQuery() on null i

[2021-09-21 16:20] jmpedrosa opened #2258 "Smile_ElasticsuiteCatalog and Smile_ElasticsuiteThesaurus causing errors on setup:upgrade"
Having disabled all the modules I've proceeded to enable modules one by one and running setup:upgrade each time.

The modules that don't cause any problems are:
Smile_ElasticsuiteAdminNotification
Smile_ElasticsuiteCatalogGraphQl
Smile_ElasticsuiteCatalogRule
Smile_ElasticsuiteCatalogOptimizer
Smile_ElasticsuiteTracker
Smile_ElasticsuiteSwatches
Smile_ElasticsuiteIndices
Smile_ElasticsuiteAnalytic

[2021-09-21 16:33] #2258 closed

[2021-09-22 07:46] br1luca commented on #2077
Hello,
I have the same issue. Some weeks ago i opened a ticket to report the same problem, currently i cannot fint it.
My Magento version is 2.3.5 and this is the list of Smile modules i'm running on that istance.

| module                              | schema_version | data_version |
| --------  | ------------------- | --------------------- |
| Smile_ElasticsuiteAdminNotification | 0.0.1

[2021-09-22 09:08] sambolek opened #2259 "jquery.ui.touch-punch missing shim"
jQuery UI touch punch requires jquery UI to work. However, it seems that we have no shim set for jquery/ui.

### Preconditions

Magento Version : 2.4.3

ElasticSuite Version : 2.10.6

Environment : production

Third party modules : -

### Steps to reproduce

1. Open category page on mobile device or responsive web view (important thing to note is that touch has to be enabled)

### Expected result

[2021-09-22 09:55] NuggetsMaster opened #2261 "Virtual category error"
# Call to a member function getAllIds() on array

### Preconditions

Magento Version : Magento ver. 2.3.6-p1 CE

ElasticSuite Version : 2.9.7

ElasticSearch Version : 7.13.4

Environment : Production

### What happens

When i try to access to my virtual category page in frontend i got this error :

`2021/09/22 11:25:19 [error] 25671#25671: *434981 FastCGI sent in stderr: "PHP message: PHP Fatal er

[2021-09-23 13:14] vahonc commented on #2261
Hello @NuggetsMaster,

Could you please provide more details (screenshots) about your test case, how is configured your virtual category, which rule condition you are using, and what is displayed in the "Products List Preview" tab.

BR,
Vadym

[2021-09-23 14:34] NuggetsMaster commented on #2261
Hello @vahonc thanks for your reply,

### My test case is simple i try to access tu the catalog (listing) page of the virtual category in my case its :  https://m2.bud-racing.com/fr/nouveautes.html

Sometimes i got the same error when i try to use the search, when i got the error i go to the administration and i resave the root category and the problem is resolved but it doesnt work for the virtua

[2021-09-24 09:13] magentox opened #2264 "Autocomplete window is too small on Codazon Inifinit"
I managed to install Elasticsuite on latest Codazon Infinit theme. It works great after disabling mageworx/module-searchsuiteautocomplete and the native Layered Navigation included in the theme. My problem is the autocomplete window, it's really too small. Autocomplete goes to upper part of the bar. I can't figure out if it's related to Elasticsuite LESS files or my theme CSS files.
Did anyone man

[2021-09-24 09:44] #2264 closed

[2021-09-24 13:12] sambolek commented on #2259
We're using advanced bundling via r.js as per https://www.integer-net.com/magento-2-javascript-bundling-integer-net-2/

For bundles to function properly, it's important that shims are defined if "hidden" dependency exists, like this one, where we're using a function from jquery-ui-mouse inside jquery-ui-touch-punch.

I haven't tried to reproduce on a vanilla instance, but don't think having a shim

[2021-09-24 13:21] romainruaud commented on #2259
Ok that's more clear for me :)

I'll merge the PR, expect a minor release next week, regards !

[2021-09-24 13:21] #2259 closed

[2021-09-27 10:49] jg-development commented on #1274
+1

[2021-09-27 13:05] romainruaud commented on #2242
Hi @gusdemayo , it seems to be a network/hosting issue according to what you describes. Unfortunately if that's the case there is not that much we can do about this :/

Just to clarify (before closing), is the initial issue resolved ? it was due to a data problem by your side ?

[2021-09-27 13:37] vahonc commented on #2261
@NuggetsMaster according to this comment:

I guess that you have an environment with multiple websites or stores. If so, please check if everything is properly configured. Also you could check it on different websites or stores if your issue occurs on them too.

And the last, could you tell me if you are using a Flat Catalog (categories) in your environment?

BR,
Vadym

[2021-09-27 15:30] #2255 closed

[2021-09-27 16:24] #2242 closed

[2021-09-28 12:22] 4cpatrickgebhardt opened #2268 "How to get all Products of a virtual category programmatically"
Hi,

i'm trying to get all Products of a specified category programmatically but it does not work.

First i've tried:

[code]

I always get 0 items.

So i've tried:

[code]

But there are always no results.

So i've tried a dirty Solution:

[code]

With this solution I get products. However, I also get products which are not in the virtual category.

I also tried to set the StoreId and the Area wi

[2021-09-28 14:40] #2151 closed

[2021-09-28 14:40] #2158 closed

[2021-09-28 14:54] #2247 closed

[2021-09-30 07:22] NuggetsMaster commented on #2261
Hello @vahonc

Yes we have 2 websites,

- 1 website with 2 store both of them has the error
- 1 website with 1 store and it work properly without any error

Yes we use flat catalog for categories but not for product

Thanks for help
BR

[2021-09-30 14:28] vahonc commented on #2261
Hello @NuggetsMaster,

According to the Magento [Docs](https://docs.magento.com/user-guide/catalog/catalog-flat.html), using of a flat catalog is no longer recommended as a best practice. A detailed description and solution is available in their [Help Center](https://support.magento.com/hc/en-us/articles/360034631192?_ga=2.28679545.493004475.1632748673-1168946165.1623998361).

Therefore if it's po

[2021-09-30 17:59] achatpc opened #2270 "After 2.10.7, have some ghost indice."
Hello, after update to 2.10.7 last, i can see some ghost indice?

What can i do with ?

Thank you in advance.

![image](https://user-images.githubusercontent.com/17496183/135507079-ffe9565f-0d0b-461b-a2ef-6062283fd078.png)

[2021-09-30 19:51] romainruaud commented on #2270
That's not due to 2.10.7, according to the ghost indices creation date, they were created several months ago.

It happens when the reindexing process encounters an error.

You can delete them, directly through the Back-Office in the action column.

Regards

[2021-09-30 19:51] #2270 closed

[2021-10-01 05:44] achatpc commented on #2270
Thank you.

[2021-10-01 07:56] #2248 closed

[2021-10-03 21:51] lbajsarowicz commented on #1807
After doing some thorough investigation, looks like it's way easier to build a new Content-Type for PageBuilder that loads products asynchronously on the Storefront using GraphQL / REST API, than trying to customize or adjust the existing Products Widget.

I'm willing to schedule a call with any of Smile's representatives, to find a better solution that would work for all our clients, without rebu

[2021-10-04 07:05] NuggetsMaster commented on #2261
Hello @vahonc

I have tried to disable flat catalog for categories but now im getting the error

Thanks for help
BR

[2021-10-04 11:01] vahonc commented on #2261
Hello @NuggetsMaster,

Are you getting this error when you try to access your virtual category on the front?

Have you tried running these commands after disabling the flat directory for categories?
<pre>
$ bin/magento cache:flush or $ bin/magento cache:clean
$ bin/magento setup:di:compile
$ bin/magento indexer:reindex
</pre>

Also please provide an extract of the queries that are being sent to ES

[2021-10-04 12:08] NuggetsMaster commented on #2261
hello @vahonc
Yes i have tried all these commands and the problem is still here.

The problem is happening when i try to access to any category, classic or virtual

Here is some request send to ES for a classic category :

Another request :

And one for virtual category :

Thanks for help ,
BR

[2021-10-04 13:22] vahonc commented on #2261
@NuggetsMaster, I was trying to reproduce your issue on a similar test environment (Magento CE 2.3.7-p1 and ES 2.9.7)but with only one store. So with setting  `Use Flat Catalog Category` to _YES_ I've also got an error like `Error: Call to a member function getAllIds() on array in` when I tried to get access to my virtual category but all is fine with access to all classic categories and to virtua

[2021-10-04 13:43] NuggetsMaster commented on #2261
@vahonc Nice so we have the error with `Use Flat Catalog Category `set to YES thanks for your invest in my problem. if you find a solution with these settings it will solve my problem

NB : im on Magento CE ver. 2.3.6-p1 not  Magento CE 2.3.7-p1 but it doesn't seems important

Thanks for help,
BR

[2021-10-04 17:54] sfourniero2 opened #2271 "Search SKU with hyphen and dot returns no result"
### Preconditions

Magento Version : EE 2.3.4

ElasticSuite Version : 2.8.7
smile/module-elasticsuite-shared-catalog Version 2.8.0

Environment : Developer & Production

### What happens
We have some products with complexes SKUS than contains hyphen and dot, for example : **NOR.0707-60**

When we search with the complete Sku there's no result found. We are getting the 'Your search returned no resu

[2021-10-05 13:57] OvalMedia opened #2273 "Undesired backlink in frontend"
The latest version injects a backlink into the frontend of our shop:

`<small class="copyright"><span>Search engine powered by <a href="https://elasticsuite.io" rel="external" style="color:inherit">ElasticSuite</a></span></small>`

I admire your devotion to this project and giving it away for free deserves respect. But sneaking in a backlink like that is outright wrong. I see that you need to make

[2021-10-05 15:24] romainruaud commented on #2273
Good evening 👋

Thanks for reaching us. With this move, we wanted to clarify which tools are used, especially for people who use this software without reading or following the license.

Therefore, we understand it can be seen as a little "cavalier" to do so. On the other hand, the software is open-source, and you are free to adapt it to your own need, as long as you are following [the license](htt

[2021-10-05 23:57] onepack commented on #2273
It is crazy to just push something like this to the frontend adding unwanted elements to a developed theme.
There is not even a setting so when I discovered it after putting the shop in production mode it meant I had to put custom styling in the design section to get rid of it for now.

[2021-10-06 07:27] OvalMedia commented on #2273
You can remove it via layout update:

`<referenceBlock name="elasticsuite_footer" remove="true" />`

[2021-10-07 15:09] Josch- opened #2276 "Undefined index type_id in AttributeData.php on line 190"
### Preconditions

Magento Version : 2.4.3
ElasticSuite Version : ~2.10.0
ElasticSearch engine: 7.15.0
Environment : developer

### Steps to reproduce

1. Installed elasticsuite
2. ran php bin/magento indexer:reindex

### Expected result

1. A flawless reindex

### Actual result

Error:

**Catalog Search index process error during indexation process:
Notice: Undefined index: type_id in /var/www/vh

[2021-10-08 14:35] NuggetsMaster commented on #2261
Hello @vahonc,

Do you know when the bug will be fix and a new version released ?

Thanks for help.
BR

[2021-10-08 15:08] mohdaali27 opened #2280 "error in GraphQL queries #1531"
We are getting the internal error in graphql query in version 2.10.x . It seems the issue is fixed in previous version 2.8.x .
We are installing the extension in magento 2.4.3 and getting the same issue as -
"fix: prevent internal error in GraphQL queries #1531"

[2021-10-08 15:24] Teods opened #2281 "First setup:install with elasticsuite fail to fallback to magento elasticsearch parameters + prefix/alias not used"
### Preconditions

I currently want to deploy my project on standard server with apache/php/redis/elasticsearch.

The specific part is about elasticsearch, I want to host multiple client on the same instance, so I have X-Pack Security enabled with multiple role/user configured.

Magento Version : 2.4.3

ElasticSuite Version : 2.10.7

Environment : Production

Third party modules :
- yireo/magento2

[2021-10-08 15:29] romainruaud commented on #2280
Agreed, I think that PR #2236 is causing this.

This can be seen in integration tests also, at the "[Test] GraphQl : Schema" step like here (but it was failing silently :cry:  ):

https://github.com/Smile-SA/elasticsuite/runs/3757737474?check_suite_focus=true

Moving the associated DI from the "webapi_rest" context to the global one seems to bring back the initial issue #1531.

Imho :

- the Graph

[2021-10-09 06:58] prasad-sankey opened #2283 "Same products in each category slider on Home page"
After installing the Elasticsuite extension and all it's required other extensions, I'm getting the issue that on the home page in each category slider I'm getting the same products(Please refer the below image). I cannot understand the root cause for this as in the slider configuration I do have set different categories. This issue only occurred when I installed the elastic suite as before it was

[2021-10-13 10:36] romainruaud commented on #2281
I updated my PR, I'm testing installing "from zero" with the following command :

[code]

Can you check also by your side with last PR modifications if that fits better ?

Regards

[2021-10-13 15:14] peter-rusin opened #2292 "GraphQL - is product category position supported on the GraphQL?"
**Is your question related to a problem? Please describe.**

As the issue name suggests - is custom product sort order from category view supported in the GraphQL queries? I found plugins/code that is responsible for passing that sorted positions to the frontend data providers but I didn't find anything that would be correlated with GraphQL. Am I missing something here? I'm just asking because I'm

[2021-10-14 05:23] mgoswamirave opened #2295 "Search is stopped working on frontend after selecting "Based on attribute value" from model option."
The elastic suite is working fine but when we create optimizer with "Based on attribute value" from Model option it is stopped working.

### Preconditions

Magento Version : 2.3.7-p2 EE (B2B)

ElasticSuite Version : 2.9.0

Environment : Production

Third party modules : No

### Steps to reproduce

1. Create a new optimizer.
2. Set Model  = > Based on attribute value

![image](https://user-images.g

[2021-10-14 09:51] mehdichaouch opened #2296 "Product attribute edition generate a JS error"
### Preconditions

Magento Version :  2.3.6.0 EE (B2B)

ElasticSuite Version : 2.9.8

Environment : Production

Third party modules : No

### Steps to reproduce

1. Log in backend
2. Go to _Store > Attributes Product_
3. Create a new attribute
4. for _Catalog Input Type for Store Owner_ choice _Text Area_
![image](https://user-images.githubusercontent.com/861701/137291332-dae286ac-4d40-4ba6-85cc-d

[2021-10-14 14:12] vahonc commented on #2295
Hello @mgoswamirave,

It could be linked to the configuration of your attribute. According to our [Wiki](https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog-optimizer/Model/ResourceModel/Optimizer/Config/Attributes/Collection.php) if you create a New optimizer that uses configuration fieldset as "Based on attribute value" your attribute must be a decimal or integer

[2021-10-14 15:09] Nuranto opened #2299 "Displaying unrelated products on category page"
### Preconditions

Magento Version : 2.4.2

ElasticSuite Version : 2.10.6

Environment : Production

### Steps to reproduce

1. Create category "Main"
2. Create subcategory "Main > Main red", virtual category with rules = "Category = Main and Color = red"

### Expected result

1. Main category shows products from Main category

### Actual result

1. Main category shows products from Main category

[2021-10-15 04:51] tschirmer opened #2301 "Products empty on virtual category"
### Preconditions

Magento Version : 2.4.3-p1

ElasticSuite Version : 2.10.6

Environment : production

Third party modules : Storebase custom developed modules

### Steps to reproduce

1. setup new category
2. enable virtual category
3. set category root as Products
4. set virtual rule (in this case we're using "Attribute Set"  = "OurCustomAttributeSet"

### Expected result

1. products should ap

[2021-10-19 07:36] kczaplinska opened #2305 "Search terms - products are not sorting manually on the frontend"
### Preconditions
Magento Version : 2.4.2-p2

ElasticSuite Version : 2.10.6

Environment: developer and production mode

Third party modules: our custom modules

### Steps to reproduce
1. Go in Admin Panel to "Marketing -> Search Terms"
2. Add search term.
3. Go to "Merchandiser" tab.
4. Sort some of the products manually.
5. Go to the frontend and type this search term in the search input.

### E

[2021-10-19 14:18] ravi-fledgedigital opened #2306 "After upgrade from 2.3.3 to 2.4.3 products are not visible on listing page"
Summery - We've upgraded Magento from version 2.3.3 to 2.4.3 and since then products are not appearing on listing page anymore. However products are accessible directly using URL - meaning detail pages are working fine.

We've upgraded the Smile Elasticsuit module too, changed indices, ran indexing etc. But nothing helped.

Magento Version : 2.4.3 Open Source
ElasticSuite Version : "smile/elastics

[2021-10-20 10:09] eBusinessAtlantique opened #2307 "Can't have setup:upgrade finished normally."
Can't have setup:upgrade finished normally.

Error is :
Module 'Smile_ElasticsuiteCatalog':
Installing data... {"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"Unknown filter type [phonetic] for [phonetic]"}],"type":"illegal_argument_exception","reason":"Unknown filter type [phonetic] for [phonetic]"},"status":400}

I have M2.3.7 CE
Elasticsearch is 7.13

I installed module w

[2021-10-20 10:19] #2292 closed

[2021-10-20 10:29] prasad-sankey commented on #2283
Hi @vahonc, I tried checking the issue with different plugin for the product slider and it is displaying the data correctly. As you said the may be related to the Alo themes's magic product slider.

[2021-10-20 13:45] #2306 closed

[2021-10-21 09:50] #2307 closed

[2021-10-21 09:55] romainruaud commented on #2283
Compatibility with third-party modules is out of the scope of our Open Source support policy provided here, there is not much we can do for your issue.

You'll have to ask Alo to provide compatibility with Elasticsuite, or switch to a more compliant widget.

Regards

[2021-10-21 09:55] #2283 closed

[2021-10-21 10:02] romainruaud commented on #2005
PR #2266 solved this. I close.

[2021-10-21 10:23] #788 closed

[2021-10-21 13:30] romainruaud commented on #2301
Seems to be a duplicate of #1985

The usual suspect for this one was the fact that somewhere on the page a category gets loaded through a categoryFactory (which is bad) instead of being loaded through the categoryRepository.

[2021-10-21 14:36] Nuranto commented on #2299
![Capture d’écran 2021-10-21 à 16 34 42](https://user-images.githubusercontent.com/1633463/138300047-d044ca1b-9f96-40d4-acdb-0be0f5235dc8.png)

Other informations :
- Magento 2.4.3-p1
- 2 websites, 2 root categories

[2021-10-25 13:59] rbayet opened #2316 "Not possible to delete existing thesaurus definitions"
It is not possible to delete existing thesaurus definitions when editing an existing thesaurus.
When the thesaurus edit form is loaded, the browser console displays javascript exceptions, for instance
[code]
Deleting newly added rules is still possible.

### Preconditions

Magento Version : EE 2.4.2-p1

ElasticSuite Version : 2.10.7

Environment : Developer and Production

Third party modules : N/

[2021-10-25 15:30] pbeckerLx opened #2317 "Partial Search with custom attribute (parts number)"
Hello everyone,

i'm trying to integrate a partial-search with a custom-attribute (code: search_sku,  text field).
I already set this attribute as searchable and did a  complete reindex.

What i need is, that the quick-search gives back a result, even when i'm just entering 3-4 digits inside the complete search_sku.

Lets say for example the product's search_sku attribute value is "49240457000A" i

[2021-10-26 11:54] timpea opened #2320 "Product with large description missing from search and categories"
Products with very large descriptions are missing from search results.  Works as expected with elasticsearch7, doesn't work when enabling elasticsuite.

Magento Version : 2.4.3 CE

ElasticSuite Version : 2.10.8

Environment : Both

### Steps to reproduce

1. Create product with a very large description, used lipsum.com to generate 100 paragraphs.
2. Search on front end for product

### Expected re

[2021-11-01 08:38] ikslavok opened #2325 "Disable search and autocomplete, use only category related tools. Is this possible?"
I am happy with our theme custom autocomplete so I don't need ElasticSuite one. But I need virtual category and category rule extensions. Can I somehow use ElasticSuite without its autocomplete solution? I could also use the ElasticSuite search engine but not autocomplete.

[2021-11-02 08:55] 4cpatrickgebhardt commented on #2268
Thanks @romainruaud.

Sorry for my late reply. I was on Holiday. :)

I'll try it this week.

[2021-11-02 09:01] #2268 closed

[2021-11-02 10:54] Josch- commented on #2276
@romainruaud

Hi,

thanks a lot for your answer.

I looked at the table "catalog_product_entity" - every product has the type_id "simple". There is no product without a value in the field "type_id".

Second - we don't have an attribute "type_id" in the list of attributes. I sent an extract of the system.log to @vahonc

This is strange and I hope we'll solve this.

[2021-11-02 13:09] Vigneshmuthusamy opened #2328 "Live search support"
Will there be support for livesearch using this module now or in the future?

[2021-11-02 13:26] romainruaud commented on #2328
I'm not sure to understand what would be the "support for livesearch". What would you expect ?

Livesearch is a Saas solution which replaces everything related to the search engine in Magento, so for me actually, it's either you use Livesearch, or you use something else (Elasticsuite or legacy ES implementation or any other Saas solution).

[2021-11-02 13:33] romainruaud commented on #2276
Okay, can you add some logging at the problematic line and see what is the content of `$productData` ?

Regards

[2021-11-02 13:41] Vigneshmuthusamy commented on #2328
Like product listing is powered in elasticsearch and

[2021-11-02 13:41] #2328 closed

[2021-11-02 14:49] liyakat opened #2329 "Virtual Category Filter shows all options when click on View more"
** Preconditions**

On Virtual category page display all filter options when we click on view more option.

Magento Version : 2.4.2

ElasticSuite Version : ~2.10.0

Environment : Both Developer and Production mode

Third party modules : No

**Steps to reproduce**

1. Go to virtual category page
2. apply filter from left navigation.
3. Click on view more option to load other attribute option it  sh

[2021-11-02 21:37] itlinlab commented on #49
This feature is essential for two of our projects. Both ecommerce stores sell clothing mixed with other merchandising products, having this feature means that we can have a global category structure for Clothing which every clothing product is linked to a subcategory of that and create Virtual Categories that have a virtual root in Clothing Category that will have as rules something like Gender: F

[2021-11-03 10:20] Josch- commented on #2276
@romainruaud - I don't understand what you mean with "add some logging at the problematic line". How can I do that and in which file? Do you mean the system.log?

Best wishes

[2021-11-03 10:41] vahonc commented on #2276
Hello @Josch-

You could add some logging at the problematic line and see what is the content of `$productData` according to your error log:

BR,
Vadym

[2021-11-04 08:32] Cloudy777 opened #2331 "Recommendation Engine"
Is the recommendation engine released? The README says so but i can't find any backend configuration or code parts.
Or is it a separate module?

Thanks in advance!

[2021-11-04 08:41] romainruaud commented on #2331
That's a separate module, you can contact us at elasticsuite@smile.fr and we'll guide you :)

[2021-11-04 08:41] #2331 closed

[2021-11-04 11:30] romainruaud commented on #2305
I think @rbayet is investigating this one. I reopen.

[2021-11-04 14:15] romainruaud commented on #2276
@Josch- Something like :

[code]

[2021-11-04 14:35] romainruaud commented on #2325
You could dismantle our autocomplete by layouting (remove the form.mini block or something like this).

[2021-11-07 19:48] dambrogia commented on #2234
Sorry for the late response,but I do want to confirm that this was purely a cache related issue and we previously resolved it by clearing the cache for the virtual rule when saving a virtual category (just as you had mentioned) and ensuring there was no indexing of products during virtual category saves (because also as you mentioned, we realized this happens in real time).

Thank you for the insi

[2021-11-08 17:09] peter-rusin opened #2335 "stock.is_in_stock filter doesn't seem to work on 2.3.5-p2"
I cannot figure out how to filter products that are out of stock. I'm using out-of-stock optimizer to move those products to the end of the list, but frontend also support in stock / out of stock filter which just plain doesn't work and keeps returning out of stock products alongside those that are in stock.

everything goes through GraphQL, and stock_status is passed through variables: `{"stock_s

[2021-11-09 09:50] vahonc commented on #2335
Hello @peter-rusin,

Nope that's not possible, see [#1924](https://github.com/Smile-SA/elasticsuite/issues/1924)

I don't think that's usable as a filter in GraphQL.

BR,
Vadym

[2021-11-09 10:40] peter-rusin commented on #2335
@vahonc Thanks for the reply.

I'm trying to figure how to adjust the ES body programmatically to actually filter by stock.in_stock, should this end up in some other place? (full body is attached to my first comment)

[code]

PR

[2021-11-09 13:22] henkvalk opened #2337 "Virtual Categories Rule for New Products"
### Discussed in https://github.com/Smile-SA/elasticsuite/discussions/2332

<div type='discussions-op-text'>

<sup>Originally posted by **henkvalk** November  6, 2021</sup>
We love using Virtual Categories. We miss only the option _new products_ inside the rule.

It would be great to add the rule _New Products_ and as option choose _days old_

Based on the create date of the product ID, you can ma

[2021-11-09 14:02] Tahuna1 commented on #1767
we have the same issues on our (cloud) projects as well, is there a way to get code patch to fix that problem or is the script.allowed the only way?

[2021-11-10 13:55] rbayet opened #2338 "Pre-existing pagebuilder widgets list same products, ignore conditions after upgrade to 2.8.15.*, 2.9.9.*, 2.10.8.*"
### Preconditions

Magento Version : 2.4.2-p1

ElasticSuite Version : 2.10.7 and 2.10.8.1

Environment : N/A

Third party modules : N/A

### Steps to reproduce

1. Create some PageBuilder "Products" widgets on a Magento 2.4.2-p1 + Elasticsuite 2.10.7 (in category description for instance)
2. Note that the widgets display the intended products
3. Upgrade to Elasticsuite 2.10.8.1

### Expected resul

[2021-11-10 16:33] peter-rusin commented on #2335
for anyone stumbling across this issue:

you need to rewrite `\Smile\ElasticsuiteCore\Search\Request\ContainerConfiguration` and append `stock.is_in_stock` filter after getFilters method

[2021-11-10 16:33] #2335 closed

[2021-11-10 22:38] MikeDevs commented on #2220
We are observing the same exact issue and commenting out the collectionProvider in `module-elasticsuite-catalog/etc/di.xml`
like @aardalich mentioned fixes it for us. I'd throw up a demo repo but we use proprietary plugins that I can not add in. The issue is reproducible across several dev and staging environments. Here is our setup:

### Environment

- Ubuntu 20.4
- NGINX 1.18
- MariaDB 10.4.x
-

[2021-11-11 08:34] #2338 closed

[2021-11-11 17:25] hbarza opened #2343 "Invalid argument supplied for foreach()"
In case there is a virtual category with no virtual rule defined the following error will occur when opening the category in storefront.

[code]

### Preconditions

PHP Version: 7.4

Magento Version : 2.4.3-p1

ElasticSuite Version : 2.10.8.1

Environment : developer

Third party modules :

### Steps to reproduce

1. Create a new category
2. Enable the "Virtual Category" option under "Products in

[2021-11-14 16:49] petiz opened #2345 "Search by custom-attribute/name - force order of words (no results by wrong order of words)"
Hello,

i'm integrating the search for a custom attribute.

Image a product has the value for this attribute: "word1 word2".

In this case i would like to find this product by "word1 word2" but NOT by "word2 word1".
Is it possible to ignore every wrong orders with my custom analyzer / filters?

If yes, how can i achieve it?

Thanks for your help in advance :)

[2021-11-15 14:10] romainruaud commented on #2345
Hi @petiz , what is the use case behind this exactly ?

We already embed a "match phrase" mechanism that will favor results containing "word1 word2" against any other results containing the words in different orders.

Isn't it enough in your case ?

If you really don't want products having "word2 word1" maybe you could dismantle the fulltext search query and keep only the "match phrase" part of it

[2021-11-15 14:11] romainruaud commented on #2343
I'll review PR #2344

Thank you for contributin.

[2021-11-15 14:12] romainruaud commented on #2337
Hi @henkvalk

I guess you are using Magento Open Source version ? Because most of time when using Magento Commerce, people are just using an "is_new" attribute and making it move with the staging mechanism.

[2021-11-16 10:16] petiz commented on #2345
hi @romainruaud :

I want to integrate some kind of fulltext-search for a custom-attribute which is called part-number (not the sku!)

Lets say as an example an item has the part-nuber 838930, the item has te be found by 838 but also with 893,  but not by 983 (wrong order of the tokens).

So my plan is to convert the part-number from 838930 to 8 3 8 9 3 0 and set the min_ngram to 1 so that every d

[2021-11-16 12:58] praful-rajput commented on #173
This solution worked for me. Thank you.

[2021-11-16 15:06] romainruaud commented on #2329
@vahonc did you reproduce this one ? I think it was not the case

[2021-11-16 15:44] romainruaud commented on #2317
Hi @pbeckerLx

everything is covered in the guide provided by @vahonc and in the #970 comment from @elvinristi

We cannot engage more time here as this is not part of our Open Source support policy.

If you need more from us, we can provide (paid) support as part of our Commercial support policy. Just write an email to elasticsuite@smile.fr if you are interested.

Regards

[2021-11-16 15:44] #2317 closed

[2021-11-17 13:39] romainruaud commented on #2280
last release contains the fix. I close

[2021-11-17 13:39] #2280 closed

[2021-11-17 13:43] romainruaud commented on #2281
This was released in latest release.

Regards

[2021-11-17 13:43] #2281 closed

[2021-11-18 11:03] #2276 closed

[2021-11-18 14:12] romainruaud commented on #1807
This has been fixed in latest version.

Regards

[2021-11-18 14:12] #1807 closed

[2021-11-18 14:59] vahonc commented on #2329
I was not able to reproduce this one on my test environment with fresh Magento 2.4.2.

@liyakat, based on your screenshot, I assume that you are using some custom theme. If so, try switching to the default theme like Luma, and check if your problem occurs. Because some settings of custom themes may affect your problem.

BR,
Vadym

[2021-11-18 15:30] vahonc commented on #2295
Hello @mgoswamirave,

Sorry for the long delay. Could you tell me what `Catalog Input Type for Store Owner` you set up in your attribute? It will be more helpful if you provide more detailed settings (screenshots) of your attribute.

BR,
Vadym

[2021-11-18 22:27] bmxmale commented on #2097
Hi, we have same problem. but I can't say it's slow query, this is killer query.

I checked that problem are with this line:

```            $data        = call_user_func_array([$virtualRule, $callback], [$category]);```

[code]

[code]

Adding line `return $ bucketConfig = [];` from @harrigo comments problem gone. catalogsearch and big categories works fine (before it was not working )

[2021-11-19 10:31] bmxmale commented on #2097
I have prepared some patch. In our case this works fine. PR: https://github.com/bmxmale/elasticsuite/pull/3

Patch: https://patch-diff.githubusercontent.com/raw/bmxmale/elasticsuite/pull/3.patch

[code]

[2021-11-21 16:46] Coosos opened #2356 "CMS Catalog widget - Sort product list"
### Preconditions

Magento Version : 2.3.7-p2 (EE) / 2.4.3-p1 (EE)

ElasticSuite Version : 2.9.9.1 / 2.10.8.1

Environment : Developer

Third party modules : Fresh installation

### Steps to reproduce

1. Create product list in CMS page (I used page builder)
2. (in modal) Use select product by condition (with or no condition)
3. (in modal) Change "Sort by" to Price (low or high)
4. Save configurat

[2021-11-22 03:05] sandeepkawade opened #2357 "Source Model Attribute filter is not working"
I have created a product attribute with source model.
I have set the attribute used in search and filter.
When I try to call rest API with the filer I am getting empty result.

Below is my source model for attribute
`namespace Arise\CatalogImport\Model\Entity\Attribute\Source;

use Magento\Eav\Model\Entity\Attribute\Source\Boolean;

class Flag extends Boolean
{

    /**
     * Retrieve all attribu

[2021-11-22 13:06] Coosos commented on #2356
_Tested with Select Product By Condition, SKU and Category_

After new tests, multiple sorting does not work on :

* Newest products first (magento sort by entity_id DESC)
* Oldest products first (magento sort by entity_id ASC)
* Stock: low stock first
* Stock: high stock first
* Price: high to low
* Price: low to high

For position, I don't know if the sort is good (when use Select Product By Cat

[2021-11-22 19:02] Coosos commented on #2356
I continued the analysis

**Stock filter**

Magento use "quantity_and_stock_status" attribute field to apply filter, but this data not exist in ES

![image](https://user-images.githubusercontent.com/5632327/142918988-719f56df-2518-4445-bfa7-ff81b15f621f.png)

For fix this, add `'quantity_and_stock_status' => 'stock.qty'` in `\Smile\ElasticsuiteCatalog\Model\Search\Request\Field\Mapper::$fieldNameM

[2021-11-23 10:14] Tahuna1 opened #2358 "Js error in optimizer-preview-type.js"
we have made an update 2.10.8.1 and since then we are getting an js error in optimizer-preview-type.js when we try to create an new optimizer in the admin.

### Preconditions
local docker env. / abode magento cloud
Magento Version : EE 2.4.2
ElasticSuite Version: 2.10.8.1
Environment : both

### Steps to reproduce
1. go to optimizer
2. click on button new optimizer

### Expected result
1. The Form

[2021-11-23 12:08] vahonc commented on #2357
Hello @sandeepkawade,

Are you sure that you added values for your attribute to some products?

BR,
Vadym

[2021-11-24 11:19] sandeepkawade commented on #2357
Yes I assign the attribute to product as well without flag filter the I am getting the response but after adding the filter getting empty response

[2021-11-24 18:32] Coosos commented on #2358
Hi,

This bug is fixed on this MR : https://github.com/Smile-SA/elasticsuite/pull/2318
I think that you can apply patch with this modification to fix only JS error : https://github.com/Smile-SA/elasticsuite/pull/2318/files#diff-3d73c4318a74a5eca65f759be8ad8034fc756af2364848229fa06daba6a96dd9

This fix is in branch but is but not yet with a tag

[2021-11-25 11:28] romainruaud commented on #2356
Hi @Coosos thank you for digging more on this one.

I've merged a PR that should fix the problem for price #2361

I'm blurry about the "quantity_and_stock_status". I'm not sure if legacy this is really using the "qty" (number of stock units) for sorting or rather using the status (1 or 0).

We could map this to our `stock.qty` field of course, but this field is always `0` for composite products (c

[2021-11-25 13:04] romainruaud commented on #2358
Yes this has been already fixed/merged in all branches and will be delivered in the next minor release.

Regards

[2021-11-27 12:44] #2325 closed

[2021-11-29 08:48] paugnu commented on #1951
Hi,

We're using magento 2.4.2 and the issue is still there :S. I've tried to modify the code to see if I can make it work, but there are many conversions :S and couldn't do it.

[2021-11-29 11:22] WaPoNe commented on #2145
Updated to the last version, 2.10.8.1
The message: `The "componentType" configuration parameter is required for the "assign_products" component.` has disappeared from the system.log but now I read: `The "componentType" configuration parameter is required for the "sw-menu" component.`
So I added this:
[code]
to **Smile\ElasticsuiteVirtualCategory\Plugin\Staging\Catalog\Category\DataProviderPlugin::

[2021-11-29 11:27] romainruaud commented on #2145
This seems to be ok for me, I'm not sure what are those "sw-menu" and "onepage_category" fields, are they new things introduced recently by Magento or are they custom components developed specifically for your project ?

Regards

[2021-11-29 11:44] WaPoNe commented on #2145
@romainruaud you're right!
They are custom components.
Thanks you

[2021-11-29 13:19] vahonc commented on #2357
@sandeepkawade, to be able to reproduce your issue we need more details about your environment.

So answering on these questions:

- Which version of the Magento and ElasticSuite module you are using?
- Have you assigned your products with your test attributes values to some real or virtual category?
- Have you multistore websites environment?

Also, provide the config (xml) files of your REST end

[2021-11-29 14:17] bmandl commented on #2296
Unfortunately, flushing cache did not help. Error pops up as soon as I open attribute settings (edit attribute) -> any attribute. Temorary solution is, to disable Smile modules, make changes to attributes, then enable Smile modules back

[2021-11-29 15:10] mehdichaouch commented on #2296
@vahonc as I remember wysiwyg is disabled by default, did you activated it for your test?

[2021-11-30 09:18] vahonc commented on #2296
@mehdichaouch the WYSIWYG editor is enabled by default

![11-30-2021 configuring the editor adobe commerce 24 user guide](https://user-images.githubusercontent.com/67791361/144018710-1bccc36b-d2d8-47a1-b930-2a5005289dfb.png)

So I don't change this setting in my test environments

![11-30-2021 configuration settings stores magento admin](https://user-images.githubusercontent.com/67791361/144018910

[2021-11-30 10:09] mehdichaouch commented on #2296
Oh sorry, my bad about this confusion.

Yes this param is setted to `Disabled by Default` in my store.

![image](https://user-images.githubusercontent.com/861701/144027561-65617c6f-d6d2-48ca-82ea-edb6abd641dd.png)

Merci,

[2021-11-30 10:28] Agent-003 opened #2366 "Rule "Only in stock products" in Optimizer does not work"
**Is your question related to a problem? Please describe.**
I have create an optimizer for "Only in stock products" (like here https://github.com/Smile-SA/elasticsuite/issues/704#issuecomment-359784903 )  It doesnt work.

Magento Version : Magento CE 2.4.2
ElasticSuite Version : 2.10.8.1
ElasticSearch Version : 7.15.1

**Additional context**
I have create an optimizer for "Only in stock products"

[2021-11-30 13:14] liyakat commented on #2329
@vahonc
issue due to loading loadAdditionalItems function is calling ajax url without any current params. so it is not adding any filter to fetch remaining option for same attribute option.
from this file
smile/elasticsuite/src/module-elasticsuite-catalog/view/frontend/web/js/attribute-filter.js
did you find any resolution for this ?
thank you

[2021-11-30 13:28] romainruaud commented on #2366
Please share a full capture of the boost configuration.

We are having issue on latest version with the boost weight that can be configured with a slider, sometimes just moving the slider is not enough to populate correctly the input containing the value, or at least to make Magento aware that the value is not 0.

Regards

[2021-11-30 14:39] phphitesh commented on #2057
@patricksteenks , is it possible to filter **positions** if it has **NULL** value in above code.
Actually i have some **blacklisted Product** assigned to category and it's loading with collections and I don't want it.

[2021-12-01 08:55] patricksteenks commented on #2057
You can always filter a collection on product status? Probably the blacklist products have a different status (not visible perhaps) in Magento, on which you can filter with addFieldToFilter()?

[2021-12-01 09:57] Agent-003 commented on #2366
https://prnt.sc/2181i1s
https://prnt.sc/2181jrk
I think my problem is not related to the optimizer settings....

Elasticsuint does not see that products are "in stock". Maybe Elasticsuite has a problem with a lot of products?

[2021-12-01 10:22] romainruaud commented on #2366
Nope, there is no problem with "a lot" of products. We have several customers with millions of products.

If the product appears as "out of stock", it's due to the fact that it's indexed in Elasticsearch "as is".

Can you show me some details about products that are displayed "out of stock" but that should not ?

I mean :

- screenshot of inventory configuration for these products
- corresponding

[2021-12-01 13:53] Agent-003 commented on #2366
An example of one of these products:
https://i.imgur.com/wMlJV05.png
https://i.imgur.com/lXnyijV.png - advanced Inventory.
![image](https://user-images.githubusercontent.com/21066583/144245735-9408685a-647d-4055-b8ad-bacce9fe4b5f.png)
![image](https://user-images.githubusercontent.com/21066583/144246151-1b1615be-5be7-4b48-baff-fa4958385581.png)

https://i.imgur.com/4knOVjv.png - but it is "Out Of

[2021-12-01 19:20] FredericMartinez opened #2368 "Cannot use 'match' as an identifier. It is a reserved keyword since PHP 8.0"
Hello folks!

Elasticsuite 2.10.8.1 is not compatible with PHP 8.0 (Magento 2.4.4-beta2)

### Preconditions

- PHP 8.0
- Magento Version : (ee) 2.4.4-beta2
- ElasticSuite Version : 2.10.8.1
- Magento Environment : Developer (same with Production mode)

### Steps to reproduce

[code]

### Expected result

Elasticsuite should be compiled in `generated` without errors

### Actual result

[code]
My er

[2021-12-02 14:25] vahonc commented on #2366
@Agent-003 have you installed some third-party modules that could affect on the inventory of the products?

BR,
Vadym

[2021-12-03 02:47] davinanaya commented on #961
@bartoszkubicki thanks! it worked, I was facing the same problem, I just changed the facet coverage because most of my products do not have the attribute set

[2021-12-03 14:51] altie33 opened #2369 "Virtual Rule : filter with text attribute does not work when is_searchable = 0"
In the back office, on a virtual category, if we select a rule with an attribute of type text, it does not work. It's working only if the attribute is searchable, but in our case, we dot not want to be able to search on it. It has only is_used_for_promo_rules to yes.

### Preconditions

Magento Version : EE 2.3.4

ElasticSuite Version : 2.8.9

Environment : production mode

### Steps to reproduce

[2021-12-03 15:34] #2295 closed

[2021-12-04 16:53] Agent-003 commented on #2366
Sorry. I had some kind of problem with inventory_stock_1 . Fixed by recreating the view.

Thank you!

Best regards

[2021-12-04 17:48] Agent-003 opened #2370 "Does optimizer work for graphQL queries ?"
**Preconditions**
Magento Version : Magento CE 2.4.2
ElasticSuite Version : 2.10.8.1
ElasticSearch Version : 7.15.1

I created an optimizer with the conditions "Only in stock products", it works great for the category page. All products with "out pf stock" at the end.
But that doesn't work for my graphQL query.
Does optimizer work  for graphQL queries at all? Or maybe I am doing something wrong?

[2021-12-06 08:18] vahonc commented on #2366
@Agent-003,

Did I understand you correctly, you found a solution to your problem and we can close this issue?

BR,
Vadym

[2021-12-06 13:34] Agent-003 commented on #2366
@vahonc
Yes. You can close this issue.

[2021-12-06 14:13] #2366 closed

[2021-12-06 14:22] vahonc commented on #2370
@Agent-003, normally optimizers should work everywhere, so it is possible that something is wrong on your side.

Could you please provide us with an example of your graphQL queries and a screenshot of the configuration of your optimizer?

BR,
Vadym

[2021-12-06 14:28] vahonc commented on #2369
Hello @altie33,

I was able to reproduce this initial test case and I'll try to investigate this one more deeply.

BR,
Vadym

[2021-12-06 15:43] romainruaud commented on #2368
Well it seems that we are not able actually to access the Magento2 beta releases ... that's weird, I'm contacting them.

By the way, I've added beta of Magento to our Github Actions pipeline (and allowed these versions to fail for now, I don't wait to block everything).

Vadym will follow the rabbit hole on this one and push fixes regarding Magento 2.4.4 beta as long as Magento team does update of

[2021-12-07 09:28] Agent-003 commented on #2370
@vahonc Maybe you're right.

I'm guessing the optimizer rules don't work if there is a different sort in the query?
https://prnt.sc/224uehp https://prnt.sc/224yd3v https://prnt.sc/224yhi1

[2021-12-07 13:37] VkStyle commented on #2368
magento "version": "2.4.3-p1" aslo has this error

[2021-12-07 13:43] romainruaud commented on #2368
@VkStyle are you sure ? I don't think that's the case.

This bug is related to PHP >8.0 ("match" is a reserved word), Magento 2.4.3-p1 is not supposed to be run with PHP 8.0

[2021-12-07 13:56] FredericMartinez commented on #2368
Yes, 2.4.3-p1 will have this error because it's a PHP 8.0 issue.

But you shouldn't use PHP 8.0 with 2.4.3-p1, see the requirements https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

[2021-12-07 15:06] rbayet commented on #2329
Hello @liyakat,

I was not able to reproduce your issue either on a Luma.
You're correct that the URL in loadAdditionalItems (smile/elasticsuite/src/module-elasticsuite-catalog/view/frontend/web/js/attribute-filter.js) is supposed to contain in GET parameters the already applied filters.

For instance, on two categories (classic and virtual), without any already applied filter
- /catalog/navigatio

[2021-12-08 10:18] rbayet commented on #2320
Hello @timpea,

Indeed, the issue is that text attributes have a subfield with a "keyword" analyzer which transmits the content "as is" to the search engine. For very large content, it might exceed a Lucene hard limit of 32766 bytes for a given token and the whole document is rejected at indexing time, hence why a product might go missing.

The fix contained in https://github.com/Smile-SA/elastics

[2021-12-08 13:26] romainruaud opened #2380 "Customer group not taken into account when using "is_discount" special attribute"
### Preconditions

Magento Version : all

ElasticSuite Version : all

Environment : all

Third party modules : none

### Steps to reproduce

1. Have products discounted for particular customer groups
2. Build a rule (virtual category or optimizer) using the "only discounted products" condition
3. Browse the front-office on a page where this rule should be triggered

### Expected result

1. Only pr

[2021-12-08 14:26] rbayet commented on #2320
Note: not *really* needed in 2.8.x since the base field for text attributes **is not** using the keyword analyzer.

[2021-12-08 14:56] #2320 closed

[2021-12-08 15:33] yutv opened #2383 "Redirect to product page if only one result doesn't work in case of void return type in the controller."
### Preconditions

Magento Version : 2.4.2 EE

ElasticSuite Version : 2.10.7

Environment : Developer

Third party modules : a lot but it doesn't matter

### Steps to reproduce

1. create a preference for the `Magento\CatalogSearch\Controller\Result\Index `
[code]
2. Enable redirect for one product result:
    **Stores > Configuration > Elasticsuite > Catalog Search > Catalog Search Configuration

[2021-12-09 08:52] #2316 closed

[2021-12-09 14:06] romainruaud commented on #2380
The query should be written as nested query, like it's done here : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/Layer/Filter/Price.php#L165

But customer group id should be added to the clause only for frontend.

[2021-12-09 16:07] romainruaud commented on #2383
I'm not sure what we could change here to be honest.

You should just not add a return type to the `execute()` function of your preference.

How could we improve this ?

[2021-12-09 18:47] yutv commented on #2383
The change which can be done is to cover both cases. The following patch resolves the issue.

[code]

[2021-12-10 08:10] walkwizus commented on #2206
Hi !

We have the same issue with Magento 2.4.3-p1 and the latest version of ElasticSuite.

[2021-12-10 15:33] vahonc commented on #2370
@Agent-003, optimizers are applied only when the default **Position** sort order is used in frontend. It will not working if sort order will be changed to **Price** or **Name**.

BR,
Vadym

[2021-12-13 07:49] illidar opened #2387 "The rule condition for the virtual category is not saved if it is multiselect and if the previous option has not been unselected."
### Preconditions
Magento Version : EE 2.2.8
ElasticSuite Version : 2.6.10
Environment : both

### Steps to reproduce
1. Go to Magento BO
2. Create a new virtual category and save it.
3. Add a new condition with an attribute that has multiselect options.
4. Select only the first option and save the category.
5. In the multiselect, leaving the first option selected, select a few more and save the c

[2021-12-13 08:41] romainruaud commented on #2387
Duplicate of #2206 but it seems we have a fix here.

@illidar can you propose a PR containing this ?

[2021-12-13 08:55] walkwizus commented on #2387
Hi,

I confirm it works like a charm.

[2021-12-13 09:56] illidar commented on #2387
@romainruaud Hello. PR created.

[2021-12-13 11:25] FredericMartinez commented on #2368
Awesome, thx!

[2021-12-13 12:42] jeroenkosse opened #2389 "ES query error when virtual category enabled"
### Preconditions

PHP 7.4.26
Elasticsearch: 7.9.3

Magento Version : 2.4.2 CE

ElasticSuite Version : 2.10.8.1

Environment : Developer mode

Third party modules :

### Steps to reproduce

1. When enabling a virtual category the product list in Magento admin part is correct
2. When visiting the category in the frontend no products are displayed

### Expected result

1. The products in the fronten

[2021-12-13 13:12] romainruaud commented on #2368
I reopen, at least for now, because even if this issue has been resolved by the associated commit, the setup:upgrade is not working with magento 2.4.4 beta.

Is this something you also face @FredericMartinez ?

[2021-12-13 13:13] romainruaud commented on #2383
can you propose a PR containing this fix ?

Regards

[2021-12-13 14:21] vahonc commented on #2389
Helllo @jeroenkosse

Could you provide more details with screenshots about configuration of your virtual category?

BR,
Vadym

[2021-12-13 14:36] FredericMartinez commented on #2368
It's ok for me:

[code]

No error found during setup:upgrade or di:compile

[2021-12-13 14:46] vahonc commented on #2368
I guess that there is could be some issues during running `setup:upgrade` command which are linked to deploying the sample data of the Magento. During this one I got errors, so I had to disable some Magento modules.

BR,
Vadym

[2021-12-13 14:47] FredericMartinez commented on #2368
[code]
On beta2/PHP8.0 works fine too.

I don't know why you have an issue on setup:upgrade

[2021-12-13 14:47] #2368 closed

[2021-12-13 15:43] romainruaud commented on #2368
According to this run (as an example) https://github.com/Smile-SA/elasticsuite/runs/4507597050?check_suite_focus=true

The setup:upgrade is failing after I add the Venia sample data to the project.

So it's probably related to the Venia sample data. I'll dig on it.

[2021-12-13 19:05] Coosos commented on #2356
Hi @romainruaud

I didn't think about that :confused:

I have checked in a native magento how it works to sort by price.
And it's sorted by quantity (even if it's equal to 0 for configurable products) and entity_id.

Sql query to sort by High stock first :

[code]

Sql query to sort by low stock first :

[code]

Only changes are `ORDER BY stock_item_table.qty DESC, e.entity_id DESC` or `ORDER BY s

[2021-12-14 13:09] paugnu opened #2390 "Integrity constraint violation in elasticsuite_tracker_log_customer_link"
### Preconditions
Magento Version : Open Source 2.4.2
ElasticSuite Version : 2.10.8.1
Environment : Production

### Steps to reproduce
1. Search any string
2. 500 error page is thrown

This happens to some users, it seems to be related to session issues.

### Expected result
1. Search results page should be displayed

### Actual result
1. 500 error page is thrown

Log shows:
```{"0":"SQLSTATE[2300

[2021-12-14 13:32] #2357 closed

[2021-12-14 14:23] jeroenkosse commented on #2389
The settings for the virtual category are very simple. We just enable the virtual category, set the virtual category root to a specific category ( not virtual ) and use no virtual rule settings. In the product list preview in the admin the correct products will be displayed. In the front we get no products.

[2021-12-15 14:17] #2329 closed

[2021-12-15 14:46] romainruaud commented on #2389
Actually I'm not able to reproduce it.

I'm wondering why you are going through the \Smile\ElasticsuiteVirtualCategory\Plugin\Collection\AddVirtualCategoryQuery::beforeAddCategoryFilter

I never pass inside it when browsing my category. Are you able to provide me the call stack leading to this piece of code ?

Do you have some particular widgets in this category ?

[2021-12-15 15:23] romainruaud commented on #2389
Ok, I am able to reproduce it if I have a widget built on the same virtual category (maybe it's the same on another virtual category ?) on the same category page.

[2021-12-15 15:35] romainruaud commented on #2389
PR #2392 contains a fix, are you able to test it ?

[2021-12-15 15:46] romainruaud commented on #2356
Well, I double checked and configurable products does have "qty = 0" in the `cataloginventory_stock_item` table.

This means that, on a pure SQL basis, the code produced by Magento is not fancy at all, because it does not compute the "real" stock quantity for configurable, but rather consider only the `stock_item_table.qty`.

We'll do like Magento does, and rely on `stock.qty` field for building t

[2021-12-15 17:17] jeroenkosse commented on #2389
I tested the fix and this is solving the issue. The products are now rendered normally and query looks okay.

[2021-12-15 21:07] Morgy93 opened #2393 "Unable to serialize value. Error: Malformed UTF-8 characters, possibly incorrectly encoded"
### Preconditions

Magento Version : 2.4.3-p1

ElasticSuite Version : 2.10.8.1

Environment : production

Third party modules : Yes, many, any way to get a list easily?

### Steps to reproduce

1. Installed it
2. Enabled tracking
3. Used it
4. Throws error
5. I don't know much more currently, might update later

### Expected result

1. No exception

### Actual result

1. Sometimes an exception is

[2021-12-16 10:36] OvalMedia opened #2394 "Difference in search suggestions and actual results"
I have a major discrepancy between search suggestions on a partial search term (which works great) and an actual result using this partial term.

In the screenshot you can see I was typing the incomplete term "paci" (intending to go for "pacific") and the store comes up with proper suggestions.

![quicksearch](https://user-images.githubusercontent.com/1006378/146355244-fff13d66-0897-4b1d-8400-977c

[2021-12-16 14:06] romainruaud commented on #2394
Duplicate of #1277

Please see this detailed comment for answers : https://github.com/Smile-SA/elasticsuite/issues/1277#issuecomment-456385530

Regards

[2021-12-16 14:06] #2394 closed

[2021-12-16 14:47] vahonc commented on #2393
Hello @Morgy93,

It is normal behavior that when some kind of conflict situation arises it generates an error throw. But I think that first of all, you should analyze if your environment does not contain any malware code, which may be somehow change all URLs or links.

Or maybe it linked to the wrong crypt key that decrypted some of the credentials into malformed characters, so please check the co

[2021-12-16 14:55] vahonc commented on #2390
Hello @paugnu,

Have you used some third-party module for `log in as a customer` from Magento BO? It's free or paid module?
Maybe in their something not properly works with user sessions or could be linked with cookies or smth like that.

BR,
Vadym

[2021-12-16 15:10] paugnu commented on #2390
Hi @vahonc

We're using the Magento Native login as customer functionality:
https://github.com/magento/magento2/tree/2.4-develop/app/code/Magento/LoginAsCustomer

[2021-12-16 20:28] julienanquetil opened #2396 "No result in autosuggest / and search result by name"
### Preconditions

Magento Version : 2.4.3-p1

ElasticSuite Version :2.10.8.1

Environment : developer & production mode

Third party modules : try to disable all and fallback to luma theme

### Steps to reproduce

1. add custom attribute (like supplier item number, text field) include in search
2. enrich a product with the supplier item number
3. reindex all
4. search for the product in frontend

[2021-12-17 06:37] julienanquetil commented on #2396
Additional note, i find that if i put the "exact" product name (like all characters, spaces....) i got a result

[2021-12-17 08:41] rbayet commented on #2393
Hello @Morgy93,

Let me dial back down a bit the panic that @vahonc's last message might have provoked.

I fully support the first sentence : it is a good thing data containing Invalid/Malformed UTF-8 characters and generates an error that stops the normal process of an application.

Because, yes, *sometimes* it may be the sign of a penetration test. But it can also be the sign of invalid data tha

[2021-12-17 09:35] OvalMedia commented on #2394
So there is no way to do a partial search?

[2021-12-17 11:30] Morgy93 commented on #2393
I just quickly checked the logs and 99% of the time it is triggered by the Google Image Bot:
[code]

Just a single time a (probably) normal user triggered the error:
[code]

I'll take a deeper look, but since it's only Google, it doesn't bother me as much anymore. 😅

[2021-12-17 15:06] romainruaud commented on #2389
I close, this will be part of upcoming minor releases (beginning of january).

[2021-12-17 15:06] #2389 closed

[2021-12-17 15:06] romainruaud commented on #2358
I close, stay tuned for next minor release in the beginning of january.

[2021-12-17 15:06] #2358 closed

[2021-12-17 15:07] romainruaud commented on #2356
PR #2397 contains the implementation to deal with "low stock first" and "high stock first".

We'll publish a release containing this at the beginning of january.

[2021-12-17 15:07] #2356 closed

[2021-12-17 15:08] romainruaud commented on #2343
Fix has been merged and will be part of next minor release scheduled for january.

Regards

[2021-12-17 15:08] #2343 closed

[2021-12-17 15:25] romainruaud commented on #1765
This will be published as part of the upcoming minor release :)

[2021-12-17 15:25] #1765 closed

[2021-12-17 15:45] #2383 closed

[2021-12-17 15:45] romainruaud commented on #2383
Fixed by PR #2395

[2021-12-17 18:24] #2380 closed

[2021-12-21 09:03] vrielsa opened #2403 "Manual sorting resets after a scheduled category changes goes live"
### Preconditions
Magento Version : Magento 2 commerce 2.4.3
ElasticSuite Version : 2.10.8.1
Environment : Production
Third party modules :
- Firegento FastImports
- Magento's data migration tool
- Mailchimp
- Mollie
- Xtento Product Export
- Amasty Labels & promo
- Ampersant disable stock reservation
- DPD shipping module
- Smile Store Delivery

### Steps to reproduce
On a category with assigned

[2021-12-22 15:24] alam-ejaz opened #2404 "Category Products gets empty"
### Preconditions

Magento Version :
2.4.1

ElasticSuite Version :
1.5.1

Environment :
production

Third party modules :

### Steps to reproduce

1.
2.
3.

### Expected result

1. category products should be completely visible

### Actual result

![image](https://user-images.githubusercontent.com/72202738/147115300-fc4ea74b-6936-4c27-8795-70987629c7fc.png)
![image](https://user-images.githubuserc

[2021-12-24 05:10] davidandersson1 opened #2405 "Virtual Category conditions not working with multi stores"
If we create Virtual Category and add Virtual rule with condition like Sku "Contains" , add some skus and then select another store from Scope drop down and add again different product skus then it's overwrite previously added other countries SKU's.

Magento Version : 2.4.1
ElasticSuite Version : 2.10.8.1
Environment : Production

Third party modules :
Aheadworks_Autorelated
Amasty_Storelocator
Am

[2021-12-24 11:42] vahonc commented on #2404
Hello @alam-ejaz,

Could you please clarify what exactly version of ElasticSiute you are using? You write that you use the 1.5.1 version and it is a little bit strange cause we support 2.9.x and 2.10.x versions?

BR,
Vadym

[2021-12-27 17:39] mgoswamirave opened #2406 "The elastic suite is not working with two projects on the same server."
The elastic suite is not working with two projects on the same server.

### Preconditions

Magento Version : 2.3.7-p2 EE (B2B)

ElasticSuite Version : 2.9.0

Environment : Production

Third party modules : No

### Steps to reproduce

1. Configure Elasticsuite for the first project which is working fine and we getting the expected result.

![image](https://user-images.githubusercontent.com/87437246

[2021-12-27 19:16] vahonc commented on #2406
Hello @mgoswamirave,

This issue is a little bit blurry for me. What do you mean when you say "two projects on the same server", these are two different projects with different URLs (databases, admin panel, etc), or these are two websites (multi websites) under one project.

BR,
Vadym

[2021-12-28 15:07] mgoswamirave commented on #2406
Hello @vahonc,

Thanks for the help.

These are two different projects with different URLs (databases, admin panel, etc) but the Elasticsuite is working only for either project.

[2021-12-28 15:45] vahonc commented on #2406
@mgoswamirave,

Elasticsuite it's not a global tool like for example Elasticsearch. So you need to install and configure our module on each of your projects.

BR,
Vadym

[2021-12-28 16:00] mgoswamirave commented on #2406
Hello @vahonc,

We have installed the Elasticsuite for both the projects and have configured each project separately but we are getting search results in either of the projects, not for both the projects.

[2021-12-28 17:34] vahonc commented on #2406
@mgoswamirave,

Well, at this moment it's hard to say what exactly caused your issue because it could be anything. So we need more details (screenshots) about your configuration.

Are you sure that on the second project the Elastisuite is properly installed and configured and everything is reindexed?

Please check logs or try to enable Debug mode in the Elasticsuite configuration.

It also could b

[2021-12-29 11:00] OvalMedia commented on #1992
Sorry, but I don't understand.
First: For some reason `Magento\CatalogSearch\Model\ResourceModel\Fulltext\CollectionFactory` does not exist. I cannot add it to a cunstructor of my classes.

Instead I added `Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Fulltext\CollectionFactory` to my cunstructor. This works and the collection works. But there is still no sorting available.

This is what

[2021-12-29 14:21] lbajsarowicz opened #2407 "Number of Products in Price Filter differs from the one in top bar"
### Preconditions
# Magento 2.4.3
# ElasticSuite 2.10.8.1
# PHP 7.4.25
# ElasticSearch 7.4
# Production Mode (full reindex)

### Steps to reproduce
1. Enter Category listing
2. Reset filters if any applied

### Expected result
1. Number of products displayed in the sidebar (over the price filter) matches the number in the top bar.

### Actual result
1. Number of products displayed in the sidebar i

[2021-12-30 08:48] illidar commented on #2387
@romainruaud Hello.
I added a small fix for the case where the option value is `null`.

[2021-12-30 10:58] OvalMedia opened #2409 "How to get in touch"
Hello,

a couple of days ago I tried to get in touch with your company to ask for a quote (custom development).
I did not get an answer and it seems the contact form I used is gone from your site?

A customer is in need of a feature so how can I get in touch with you if you are interested at all?

Thank you

[2021-12-30 14:53] OvalMedia opened #2410 "Attributes/Filters missing in category admin"
On the category administration page under "Display Settings" I can configure the attributes being used in a particular category.
In a project of mine there seems to be an issue with the attributes since there are quite some attributes missing on that page and I have no way to configure them.

### Preconditions

Magento Version : 2.4.3-p1

ElasticSuite Version : 7

Environment : issue happens in bo

[2021-12-30 17:54] julienanquetil commented on #2396
If i made a graphql query i got products, but if i use the search/ajax/suggest/?q=XXX (where XXX is the same search term used in graphql query) i didn't get any product results

@vahonc any idea / tips where to search to find my issue ?

Thanks

[2021-12-30 18:16] mgoswamirave commented on #2406
Hello @vahonc,

We checked the Magento logs but we did not get any error related to Elasticsuit. We are sharing the configurations of both projects. Please check and let us know if any other information is required.

Project 01 :
![image](https://user-images.githubusercontent.com/87437246/147777661-604fe3b8-1943-4d53-8df8-96084af45cf1.png)

Project 02 :
![image](https://user-images.githubuserconte

[2021-12-31 10:26] vahonc commented on #2409
Hello @OvalMedia,

If you need additional (paid) support by our side, feel free to write an email to elasticsuite@smile.fr.

p.s. as I know my colleagues (Romain and Richard) are out on holidays and return to work on January 3rd. So please wait, I think on Monday they will answer your request. Happy New Year!!!

BR,
Vadym

[2021-12-31 10:34] vahonc commented on #2396
@julienanquetil,

Have you noticed any errors in the Console/Dev tools of your browser when you try to perform a search?

BR,
Vadym

[2021-12-31 10:38] julienanquetil commented on #2396
Hi,
Nothing (except a favicon one but not related...)

![Capture d’écran 2021-12-31 à 11 36 40](https://user-images.githubusercontent.com/1108170/147818738-0356b387-981c-45e5-965a-b9777340b82f.png)

[2021-12-31 11:04] vahonc commented on #2406
@mgoswamirave,

Please provide the configuration of Elasticsearch Client as it shows on the screenshot below:

![Screenshot from 2021-12-31 12-48-51](https://user-images.githubusercontent.com/67791361/147819349-b0a32eaf-d027-4e87-86a6-a18f755a7732.png)

Also, check if your ElasticSearch is properly installed and running on both projects:

`curl -XGET 'http://localhost:9200' //or paste your alias n

[2022-01-03 07:28] rbayet commented on #2406
Hello @mgoswamirave,

**If you have two Magento2 projects/environment sharing the same Elasticsearch server**, please check that you have two different indices prefix/alias names configured in "Stores > Configuration > Elasticsuite > Base Settings > Indices Alias Name", otherwise you risk one project overwriting the index data of the other.

![image](https://user-images.githubusercontent.com/23533

[2022-01-03 11:08] julienanquetil commented on #2396
Also if i make a full reindex in 2.10.5, upgrade the module to 2.10.8.1
all search functionality (search result page + autocomplete) work as expected until i make a reindex.

[2022-01-03 12:34] vahonc commented on #2396
@julienanquetil,

I was not able to reproduce your issue on the fresh Magento EE 2.4.3 with default sample data and ES 2.10.8.1.

After adding a custom attribute and assigning it to the test product I was able to see my product in autosuggest during searching by name or attribute.

![Screenshot from 2022-01-03 14-21-00](https://user-images.githubusercontent.com/67791361/147930379-29e6b7a5-b12f-497

[2022-01-03 12:53] julienanquetil commented on #2396
it's not a product attribute but the "regular" product name

For example if i take this items (visible on front)

If i search for "DM174" i got the product, but if i search for "Lampe A Photopolymeriser"  i didn't get any result in autocomplete / search results page

![Capture d’écran 2022-01-03 à 13 52 05](https://user-images.githubusercontent.com/1108170/147932615-82a17912-ca7d-4315-867f-b38e1

[2022-01-03 14:27] romainruaud commented on #2409
Yes, you can write to us at elasticsuite@smile.fr

Regards

[2022-01-03 14:27] #2409 closed

[2022-01-03 14:40] vahonc commented on #2410
Hello @OvalMedia,

Are you sure that your custom attributes are included in some existing Attribute Sets and assigned to some products with values? Because if they are not included in Attribute sets or don't have any values they could not be displayed in category settings.

Also according to your last screenshot, it looks like you are using some custom code or custom theme, so try to check the set

[2022-01-03 15:06] vahonc commented on #2405
Hello @davidandersson1.

Unfortunately, it doesn't work that way, especially when it comes to virtual categories and creating rules for them. Even if it's the same categories with the only difference in other SKU of products, you must follow the following steps:
- Select the required store/website from the scope drop-down list.
- Create a new virtual category.
- Set a rule for this category with a

[2022-01-04 06:24] davidandersson1 commented on #2405
Hello @vahonc thanks for your suggestion, we will try with it.

[2022-01-04 08:46] OvalMedia commented on #2410
Hi,

yes, the missing attributes are definitely assigned to attribute sets.

Regarding the screenshot: this is a custom theme. I posted it only to demonstrate that there are more attributes in that category than accessible in the backend.

One thing I found out though: all three attributes ("Hubgröße", "Flächengewicht" and "Verwendungszweck") only have one available option in that category with on

[2022-01-04 09:09] OvalMedia commented on #2410
Update: the bundle product itself does not have these attributes. It's attribute set does not even have them. But the bundled (simple) products do and that's where the system must get the attributes and the options from.

[2022-01-04 09:27] romainruaud commented on #2410
It might come from this line : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Plugin/Ui/Category/Form/DataProviderPlugin.php#L245

We filter on the attributes sets of products belonging to the current collection.

Maybe we should replace this by aggregating data on "indexed_attributes" and use them as filters, that would be more accurate.

We need to investiga

[2022-01-04 09:29] romainruaud commented on #2407
It might indicate that some products do not have any price, can you do a query with an "exists" or "missing" clause to help you identify if that's the case ?

[2022-01-04 14:29] taranan commented on #2403
@romainruaud could you give any feedback when this issue could be picked up / fixed, please?

[2022-01-04 14:58] romainruaud commented on #2403
The team will have a look at it.

I can't engage on any schedule/deadline here, as it's open source support (free) on this repository.

If you want the process to speed up, you can also propose a PR to fix this.

Regards

[2022-01-04 20:02] julienanquetil commented on #2396
Also if i run a manual query like

`curl 'https://host:port/mega24_default_catalog_product/_search?q=lampe'`

I end up with expected results results

[2022-01-05 09:56] romainruaud commented on #2305
I do not reproduce this one either with the said versions.

We'll need more details to investigate.

Are you using a custom theme ?

[2022-01-05 09:57] romainruaud commented on #2390
@vahonc can you try to reproduce this one with using the "loginascustomer" and try to propose a fix ?

[2022-01-05 09:58] romainruaud commented on #2370
@Agent-003 can we consider this question as answered ?

Regards

[2022-01-05 10:01] vahonc commented on #2390
Ok, I will take on it.

[2022-01-05 10:31] romainruaud commented on #2396
Hi,

unfortunately, I'm not able to reproduce your issue. I created the exact same product as yours.

Here is my mapping for "name" :

[code]

And the query that is generated in the autocompletion box :

[code]

And the results :

[code]

[2022-01-05 15:20] gvasilakiss commented on #1735
Saved me!

[2022-01-06 10:09] romainruaud commented on #2396
Yes we could definitely provide some consulting support on this one.

``row_id``,``created_in`` and ``updated_in`` are fields created by the Magento Commerce staging functionality, that's not relevant with your problem here.

But I'm thinking about some more things :

- can you show us the settings of the "name" attribute in back-office ? we have the same resulting mapping, but who knows ?
- what

[2022-01-06 10:32] julienanquetil commented on #2396
This is our config for name attribute

![Capture d’écran 2022-01-06 à 11 23 09](https://user-images.githubusercontent.com/1108170/148369115-07b4566c-5f8f-491d-a0db-b31a666d2d5a.png)

![Capture d’écran 2022-01-06 à 11 23 21](https://user-images.githubusercontent.com/1108170/148369106-84733b72-e100-4ec7-9a11-4f6cb1611574.png)

![Capture d’écran 2022-01-06 à 11 23 16](https://user-images.github

[2022-01-06 11:04] refueledinc opened #2413 "Telemetry causing admin errors"
Magento Version : 2.4.3-p1 CE

ElasticSuite Version : 2.10.9

Environment : Developer

### Steps to reproduce

1. As part of our optimization/performance effort, we disable magento core modules that we don't use. Therefore, Magento_AdminAnalytics module is disabled
2. Upon admin login, we get an error that table `admin_analytics_usage_version_log` does not exist. We created the table manually so t

[2022-01-06 13:52] vahonc commented on #2390
@paugnu,

Could you show what Login as Customer settings are in your project like on my screenshot below:

![Screenshot from 2022-01-06 15-43-38](https://user-images.githubusercontent.com/67791361/148392628-6463e72c-d767-4433-80c4-0ff3696c603e.png)

Perhaps, you smth change here.

Also, please provide a scenario of what exactly do your back-office users/customer service when they use login as a cu

[2022-01-06 14:33] romainruaud commented on #2390
If you are not able to reproduce, probably a try catch around this line will be fine : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-tracker/Observer/TrackRedirectIfOneResult.php#L129

[2022-01-06 16:27] refueledinc commented on #2413
When I enable `Magento_AdminAnalytics` but have CSP enabled, the console in admin shows:

[code]

for `{admin_path}/#smile_elasticsuite_tracker_telemetry-link`

[2022-01-08 12:03] #2404 closed

[2022-01-08 13:02] victornguyen195 opened #2415 "ElasticSuite Thesaurus cannot reindex with magento 2.4.3 and 2.4.3-p1"
Cannot run bin/magento indexer:reindex elasticsuite_thesaurus with magento 2.4.3 and 2.4.3-p1

### Preconditions

Magento Version : 2.4.3-p1 enterprise-edition

ElasticSuite Version : "smile/elasticsuite": "~2.10.0" (2.10.9)
"smile/elasticsuite-for-retailer": "~2.3.0" (2.3.0)

Environment : Developer mode

### Steps to reproduce

1. Setup project with magento 2.4.3 or 2.4.3-p1 and using elasticsea

[2022-01-10 12:22] vahonc commented on #2390
I was not able to reproduce this issue. However, as we decided with a team I've added a try/catch statement at a more proper place.

BR,
Vadym

[2022-01-10 13:15] paugnu commented on #2390
Hi @vahonc

Here is my configuration:

![image](https://user-images.githubusercontent.com/506393/148772016-dc00151c-1175-4381-b8ce-d5539fbe2f19.png)

[2022-01-10 13:56] vahonc commented on #2390
Hi @paugnu,

It seems the Login as Customer settings is the same one my and your screenshots.

Could you please test my fixes on your environment and tell me if you will notice any issues. But don't forget to remove try/catch statement which you added in the file module-elasticsuite-tracker/Model/ResourceModel/CustomerLink.php.

BR,
Vadym

[2022-01-10 15:25] Morgy93 commented on #2413
Similar issue here, just that it seems the module does depend deeply on it now:
[code]

https://github.com/Smile-SA/elasticsuite/blob/2.10.9/src/module-elasticsuite-tracker/etc/module.xml#L25

Even though it is not required in the composer.json for the 2.10.9

[2022-01-11 08:10] Morgy93 commented on #2393
@vahonc @rbayet Any idea where I can add some debug code to get useful information out of it?

I tried the trace at `Magento\Framework\App\PageCache\Kernel->process() called at [vendor/magento/module-page-cache/Model/App/FrontController/BuiltinPlugin.php:78]` and the `InvalidArgumentException` at `vendor/magento/framework/Serialize/Serializer/Json.php:26` but that did not help at all.

[2022-01-11 12:06] PedroFaria99 commented on #2081
The filters need to be rendered via JavaScript due to the caching system, specifically the FPC cache. If the filters where rendered server side then you'd have to had different cache configurations for each possible filter combination on the catalog, that would be like never having FPC cache at all.

[2022-01-11 22:18] joebassi opened #2420 "manual sort not reflecting on frontend"
### Preconditions

Centos 7, Apache 2, MariaDB, Redis cache on aws cloud

Magento Version :2.4.2-p1

ElasticSuite Version : 2.10.4

Environment : Production Mode

Third party modules :
Amasty: Google Invisible Captcha
Amasty: Custom Forms
Thai_S3, LiveChat

### Steps to reproduce

1. In admin, we set couple products to manual sort (pushing them to first 2 in list) on a particular category and save

[2022-01-12 16:02] vahonc commented on #2420
Hello @joebassi,

Usually, manual sorting works in the frontend as we would expect, at least when using the default Magento theme like Luma. Therefore, the first possible cause of your issue may be using a custom theme, in this case, if it's possible, try switching to the default Luma theme and check if the problem is still present. Also, another reason for this problem may be the setting of sorti

[2022-01-13 06:50] brmor-group-label opened #2421 "Manual sort not works with multi store"
Global Manual sort not works with multi Store we need to have sort on Store View

### Preconditions
Magento 2.4.1-p1
Magento Commerce Cloud

ElasticSuite Version : ES 2.10.4

Environment : Developer and Production mode

Third party modules : Amasty Import/Export

### Steps to reproduce

1. Use default position (on store view)
![image](https://user-images.githubusercontent.com/73245308/149279795-fa

[2022-01-13 12:35] vahonc commented on #2415
Hello @victornguyen195,

I was not able to reproduce your issue on my test environment with Magento 2.4.3-p1 EE and default Sample Data.
I've installed:
- "smile/elasticsuite": "~2.10.0" (2.10.9)
- "smile/elasticsuite-for-retailer": "~2.3.0" (2.3.0)

and create a few basic thesauruses:

![Screenshot from 2022-01-13 14-23-59](https://user-images.githubusercontent.com/67791361/149329844-f2d2a43e-11d

[2022-01-13 14:42] brmor-group-label commented on #2421
Hi Vadym,

Check on my screen shot, on store view 1, I use default position.
![store_view_1_default_position](https://user-images.githubusercontent.com/73245308/149350695-3f67c9e1-887e-4820-be36-a136938f41bb.png)
On global scope, I use manual sort
![manual_sort_global](https://user-images.githubusercontent.com/73245308/149350694-e6937aea-9c67-4ca6-8a24-2d015d0702ff.png)

And you can see on fronten

[2022-01-13 14:54] vahonc commented on #2421
@brmor-group-label, are you sure that products for which you set up manual sorting on Global Scope exist on Store View 1? Could you show a screenshot with Product List Preview and Sorting from Store View 1 after you set up manual sorting on Global Scope?

BR,
Vadym

[2022-01-13 15:17] brmor-group-label commented on #2421
Product Exist and is enable on store view 1
![image](https://user-images.githubusercontent.com/73245308/149357115-ae98348e-4a7a-4bcc-91c8-71c24f3ba96d.png)

But when I try to search it on store view 1 on Product List and Sorting I don't find it
![image](https://user-images.githubusercontent.com/73245308/149356810-1210cdc1-af95-4db4-9cfe-ae04c239cb32.png)

[2022-01-13 16:24] vahonc commented on #2421
@brmor-group-label, you should check the configuration of your products (like qty, price, visibility, etc) on each Store View. Or try to test it with some other products.

BR,
Vadym

[2022-01-14 06:37] brmor-group-label commented on #2421
Seems to be good on this product
![image](https://user-images.githubusercontent.com/73245308/149462767-fc767bc7-06d7-430a-83e7-01763287b7df.png)

[2022-01-14 08:47] fbkaasa commented on #378
Hey all, has there been any development on this feature?
@AurelienLavorel Did you manage to implement it in your project?

[2022-01-14 08:50] julienanquetil commented on #2396
@romainruaud I try to digg into it with Cerebro on 2.3 / 2.4 and "compare" mapping / seeting / analysis... but can't find differences (maybe related as i never eard about this tools before)
(I attached the settings / mappings in case it can help)
[Archive.zip](https://github.com/Smile-SA/elasticsuite/files/7869104/Archive.zip)

[2022-01-14 13:53] webcreative24 commented on #2415
Same here
Magento ver. 2.4.2-p1

[2022-01-14 13:59] vahonc commented on #2415
Hello @webcreative24,

Please provide an extract of the queries that are being sent to ES when you run re-index. You can get it from the `system.log` file if you activate the Debug mode of Elasticsuite in: `Stores -> Configuration -> Elasticsuite -> Base settings -> Elasticsearch Client -> Enable Debug Mode`

BR,
Vadym

[2022-01-15 10:52] victornguyen195 commented on #2415
Hi @vahonc,
After enabling Debug mode of Elasticsuite, I got these logs in system.log file

[2022-01-15 10:44:08] report.WARNING: Request Failure: {"method":"PUT","uri":"http://localhost/magento2_xxx_thesaurus_20220115_104408","port":9200,"headers":{"Host":["localhost"],"Content-Type":["application/json"],"Accept":["application/json"],"User-Agent":["elasticsearch-php/7.11.0 (Linux 5.11.0-46-generi

[2022-01-15 11:10] #2406 closed

[2022-01-15 12:16] NicoDG opened #2424 "Extending category filter"
What would be the best way to extend the category filter vendor/smile/elasticsuite/src/module-elasticsuite-catalog/Model/Layer/Filter/Category.php

In the _getItemsData function I want to add the parent category information.
I already have a working prototype by just editing the core file and I want to migrate it to my own module.

A plugin isn't an option I suppose, as it's a protected function.

[2022-01-15 21:06] NicoDG commented on #2424
An additional question regarding the same topic.  How would i render a category tree block which takes into account all other applied filters.  For example, if i apply the filter color=yellow I would like to show the entire category tree with only categories who contain products in yellow.  Clicking on one of those categories would take you to that category, while leaving the tree displayed in ful

[2022-01-16 10:42] roxanadicomaria opened #2425 "Missing results in autocomplete for a term with synonyms and wrong alternatives terms"
### Preconditions
Some queries has alternative terms, which unfortunately were older and do not have any results now.
The current search term has also no results, but we added synonyms on it which have results.
I see that inside src/module-elasticsuite-catalog/Model/Autocomplete/Product/Collection/Filter.php I see that in this case it will remove the actual search term. This is a problem when you

[2022-01-17 08:41] vahonc commented on #2415
@victornguyen195,

I guess your issue is linked to some wrong or custom configurations for your indexes.

Could you provide output of this command: `curl -X GET http://localhost:9200/<yourindex>/_settings?pretty`
For example: `curl -X GET http://localhost:9200/magento2_default_thesaurus_20220113_115449/_settings?pretty`

BR,
Vadym

[2022-01-17 08:43] kczaplinska commented on #2305
Hi @romainruaud
Yes indeed, we are using a custom theme, but the functionality is working on Magento 2.3 but not after upgrading our project to Magento 2.4.2-p2.

[2022-01-17 13:55] #2413 closed

[2022-01-17 13:57] romainruaud commented on #2420
@joebassi what is you sort order in frontend ? Manual sorting only applies when products are sorted by "position".

Considering the fact that even the other products seems to be different, I suspect the sort order that is applied in frontend is not "position" but something else.

Regards

[2022-01-17 14:02] romainruaud commented on #2421
@brmor-group-label if you have custom positions for "All store views" (and you saved them), and then switch into a particular store view, you should see your custom positions but "greyed out", like this :

![image](https://user-images.githubusercontent.com/15340849/149782384-23c01c7d-8759-42d4-9119-09d1026b3fee.png)

I understand that's not the case according to your first screen.

[2022-01-17 14:18] romainruaud commented on #2415
Just for everyone's knowledge, this part is built here :

https://github.com/Smile-SA/elasticsuite/blob/7cdcbdc920e911f2b736fbfa8044f2534cddb962/src/module-elasticsuite-thesaurus/Model/Indexer/IndexHandler.php#L100

[2022-01-17 14:22] romainruaud commented on #2415
You should have "max_shingle_diff" parameter in your index settings creation query. Your query does not have it, only "max_shingle_size".

Can you add some debug around this line ? https://github.com/Smile-SA/elasticsuite/blob/7cdcbdc920e911f2b736fbfa8044f2534cddb962/src/module-elasticsuite-thesaurus/Model/Indexer/IndexHandler.php#L115

I'm curious to see what's in the ``$settings['max_shingle_dif

[2022-01-17 14:58] vahonc commented on #2305
Hello @kczaplinska,

Could you provide screenshots from your website (frontend/backend) as I pasted in my [comment](https://github.com/Smile-SA/elasticsuite/issues/2305#issuecomment-947502505)?

Also, maybe after migration, there are some issues that are linked to the database, you should check if all tables and columns are properly created.

BR,
Vadym

[2022-01-17 18:51] NicoDG commented on #2424
@romainruaud when I trace it in Xdebug, the _GetItemsData function in

I have now replaced

[code]
with
[code]

and the class contains:
[code]
Unfortunately, the module class does not get called.

When I place
[code]
in  vendor/smile/elasticsuite/src/module-elasticsuite-catalog/Model/Layer/Filter/Category.php , the category filter gets cleared. Which shows that it's still using the original catego

[2022-01-18 10:41] brmor-group-label commented on #2421
Exactly, it's my issue
The All store view positions is not retrieve ;)

[2022-01-18 22:43] Bogardo opened #2426 "Price filter not considering max_price for configurable products"
When applying a price range filter in a category, only the minimal price for a (configurable) product is taken into consideration.

Magento Version: 2.4.2-p2
ElasticSuite Version: 2.10.8.1
Environment: Developer
Third party modules: N/A

### Steps to reproduce

I have a configurable product **Shirt** which has two configurations (simples).
1. White: price $10
2. Black: price $15

These prices seem

[2022-01-19 08:18] victornguyen195 commented on #2415
Hi @vahonc ,
Here is the output when I run your command
curl -X GET http://localhost:9200/magento2_abc_thesaurus_20220113_115449/_settings?pretty

{
  "error" : {
    "root_cause" : [
      {
        "type" : "index_not_found_exception",
        "reason" : "no such index [magento2_abc_thesaurus_20220119_075224]",
        "resource.type" : "index_or_alias",
        "resource.id" : "magento2_abc_the

[2022-01-19 09:35] vahonc commented on #2415
@victornguyen195

According to the output of your index, I see that you got an exception `index_not_found_exception` which means that you have some issues with the name of your indexes.

Please check which indexes exist in your environment by this command: `curl http://localhost:9200/_cat/indices?v`
and then provide an output for Thesaurus index by running this command:
`curl -X GET http://localho

[2022-01-19 10:26] romainruaud commented on #2415
Hi, just to clarify about Elasticsearch versions :

- ES version 6.x **does not require the "max_shingle_diff"** parameter to be set when creating an index : that's why there is no issue with him.
- ES version 7 **requires the "max_shingle_diff"** parameter to be set when creating an index : that's why there is an issue when this parameter is not sent while creating an index, **which is your case

[2022-01-20 05:38] prince-fledgedigital commented on #1065
Hello @all, I have install the Smile-SA/elasticsuite and i want to filter the search with some additional product attribute  like brandsname and the brands are associated with the customer, after that the login of the customer we want allow those products whose associate with customer brands.
Can you please help me for the same.

[2022-01-20 10:06] #2370 closed

[2022-01-20 13:44] victornguyen195 commented on #2415
Hi @vahonc and @romainruaud ,
I have double-checked and found no problem in ElasticSuite Thesaurus and Magento 2.4.3 and Elasticsearch 7.x. It works fine. My main cause was the lack of "
$settings['max_shingle_diff'] = $this->indexSettingsHelper->getMaxShingleDiff($settings['analysis']); ".
I have resolved this issue.
I really appreciate your support.
Thank you so much.

[2022-01-20 13:46] #2415 closed

[2022-01-20 14:08] romainruaud commented on #2426
This is a known limitation, price.price will always contains minimal_price of a product, and that's the field that is used for filtering by price.

There is no improvement planned on this actually.

Regards

[2022-01-20 14:13] romainruaud commented on #2421
This one is very strange, since we do not reproduce it by our side, it might be due to your project specific configuration and/or code.

I don't think we can provide more "blind" support here. We can provide (paid) professional services however. If you are interested, you can contact us at elasticsuite@smile.fr

Regards

[2022-01-20 15:52] patricksteenks commented on #1992
I am running into the same issue as well. Perhaps an update of ElasticSuite has disabled this functionality?

[2022-01-20 16:20] NicoDG commented on #2424
@romainruaud I figured it out, the class was being used as a VirtualType

[code]

After extending the VirtualType, the module was using my Category filter

[code]

[2022-01-20 16:34] romainruaud commented on #2424
oh you're right, I forgot about this part of implementation (which is a bit complicated).

I close the issue if that's fixed. Regards

[2022-01-21 07:30] romainruaud commented on #1992
We did not remove/disable anything.

@OvalMedia the code you've written is enough to "prepare" sorting on position to work : it's indicating to the search engine where exactly the "position" attribute should be picked (in the category.position nested field of the index).

You just need to add this to your code :

[code]

[2022-01-21 19:03] joebassi commented on #2420
It is set to sort by position and we also tried switch back to default Luma theme, but the issue still exists
![ElasticSuiteSortByPosition](https://user-images.githubusercontent.com/3721939/150585132-de0481c1-183d-452d-97aa-41c89ae5287e.png)
.

[2022-01-24 09:10] QbU opened #2428 "Filters - boolean (yesno) attribute"
It is not possible to filter on the false value of the boolean attribute.

Magento Version : 2.4.1 EE
ElasticSuite Version : 2.10.9
Environment : dev and prod

### Expected result
1. Filter by "No" value of the attribute.

### Actual result
#### Demo m2
![demo_m2](https://user-images.githubusercontent.com/4609003/150752859-892e3469-20e4-4dd2-88ba-245be3f3b22d.png)
listing: https://demo-magento-2.a

[2022-01-24 10:55] romainruaud commented on #2428
Hi, you can inject your attribute code here : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/Layer/Filter/Boolean.php#L43

[2022-01-24 14:20] romainruaud commented on #2410
@vahonc if we go through the `getSize()` method of the collection : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/ResourceModel/Product/Fulltext/Collection.php#L192

This should go through this method : https://github.com/Smile-SA/elasticsuite/blob/85069d8439f1600e2c5df4f82de35797df392609/src/module-elasticsuite-catalog/Model/ResourceModel/Product/Fullt

[2022-01-25 15:57] ioweb-gr opened #2429 "Filter searchbox cannot search in Greek Language characters"
### Preconditions

Magento Version :Magento 2.4.3-p1

ElasticSuite Version : ^2.10

Environment : Developer

Third party modules :
[code]

### Steps to reproduce

1. Create a product attribute or use the manufacturer one and add labels with greek characters
2. Try to search on the layered navigation filter with greek characters

### Expected result

1. The items are filtered correctly

### Actual

[2022-01-26 11:19] speller opened #2430 "A `like` filter resolves to the incorrect query type causing an exception in development mode"
### Preconditions

Magento Version : 2.4.3

ElasticSuite Version : 2.10.9

Environment : Developer

Third party modules : many but doesn't seem to be involved in the bug.

### Steps to reproduce

- Development mode.
- Remove generated DI files.
- Code:
[code]

### Expected result

1. A search result.

### Actual result

Exception
[code]

The issue evolves in the following way:

- The `path` field

[2022-01-26 12:07] paugnu commented on #2390
Hi @vahonc

I just wanted to let you know that your fix didn't solve the issue. So far, the only thing that solves the issue is adding the try/catch to the file module-elasticsuite-tracker/Model/ResourceModel/CustomerLink.php as I mentioned in the issue description.

[2022-01-26 13:15] jarcorreia opened #2431 "Disabling Smile_ElasticsuiteVirtualCategory and using Magento_VisualMerchandiser results in "position = 0" not indexing"
Using Magento's Visual Merchandiser while having Smile_ElasticsuiteVirtualCategory module disabled, results in products that have "0" as their position being put to last on the category listing. On the index, the position property is being removed, and afterwards being attributed a random integer (for example: position = 9989787829) for sorting purposes.

### Preconditions

Magento Version : Magen

[2022-01-26 16:16] jarcorreia commented on #2431
I've actually found the issue.
\Smile\ElasticsuiteCatalog\Model\Product\Indexer\Fulltext\Datasource\CategoryData::addData
`$indexData[$productId]['category'][] = array_filter($categoryDataRow);` filters array values of 0 because they're considered empty.

[2022-01-26 19:40] julienanquetil commented on #2396
I've made some progress (since of our meeting :) )

1st i discover there should be an issue in a "previous" upgrade as the version in setup_module table was fine, but we miss some fields in some table like sort_order_desc_missing in catalog_eav_attribute

So i made everything clean now.

Also played with query and end up with result (by hand...)

If i take the original query
[code]
and remove the

[2022-01-26 22:36] QbU commented on #2428
@romainruaud thank you
I saw this file. It's about the reverse. Now I can't see the NO value.

In the demo elasticSuite is also not visible. Is the demo on the latest version of elasticsuite?

[2022-01-27 13:17] dmanners opened #2433 "Not all indexes created"
### Preconditions
Magento Version : 2.4.2-p1

ElasticSuite Version : 7.7.1

Environment : Development and production

smile/elasticsuite: 2.10.9
"hyva-themes/magento2-smile-elasticsuite": "^1.0",

### Steps to reproduce

1. Install module and hyvä theme,
2. Have standard installation setup of modules
3. Reindex

### Expected result

1. All indexes created and search page will display results,

###

[2022-01-27 14:07] romainruaud commented on #2431
Hello @jarcorreia

Can you give us some details ?

If I'm correct, products are indexed into Elasticsearch and therefore visible in frontend, right ?

It's just a matter that they do not have any "position" subfield in ES ?

Regards

[2022-01-27 14:12] romainruaud commented on #2429
Javascript filtering is done here : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/view/frontend/web/js/attribute-filter.js#L109

Maybe the "slugify" method is not compliant with greek characters : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/view/frontend/web/js/attribute-filter.js#L167

[2022-01-27 14:16] romainruaud commented on #2428
FYI our demo is still on an old version : 2.10.5

[2022-01-27 14:19] romainruaud commented on #2433
Hi @dmanners

"catalog_product" index of Elasticsuite is not created, instead you have a "magento2_product" index which is typically a "legacy magento2 Elasticsearch" index.

Are you sure that Elasticsuite is configured as the default search engine ?

Regards

[2022-01-27 14:31] dmanners commented on #2433
:( yeah sorry about that seems the config was missing and had the default elasticsearch7 one on the server.

[2022-01-27 14:42] vahonc commented on #2430
Hello @speller,

Could you provide more details on what exactly you want to do and explain why you want to use a collection from the ES module for this?

BR,
Vadym

[2022-01-27 14:44] jarcorreia commented on #2431
Hey Romain

Yes correct, the products that have "position = 0" are indexed without a position on ElasticSuite catalog product index. Later, if you debug the process of sorting by position on the product listing pages, it will create a "position = _______" (insert big random integer) which normally makes it so that the product is put to last on the listing and not to the correct position which shou

[2022-01-27 15:10] walkwizus opened #2434 "Filter boolean seem to be not working on virtual category"
Hi,

On a virtual category, filter with boolean value seem to be not working when value is false.

Magento Version : CE

ElasticSuite Version : 2.10.9

Environment : Development

### Steps to reproduce

1. Add a boolean attribute (Yes/No)
2. Create a virtual category
3. Add a filter with the boolean attribute having the value "No"

### Expected result

1. Boolean filter was applied when value is f

[2022-01-28 02:01] speller commented on #2430
The goal is to filter categories by parent path

[2022-01-28 09:54] vahonc commented on #2390
Hello @paugnu,

Could you clarify in which line you added try/catch statement to the file `module-elasticsuite-tracker/Model/ResourceModel/CustomerLink.php`?

BR,
Vadym

[2022-01-28 10:12] paugnu commented on #2390
Hi @vahonc

This is the change I've done:
https://github.com/paugnu/elasticsuite/commit/c880c787f3125151363db2ca90f3c628d605dd7b#diff-41837ad50ead05c5712545ef2daa30123ee4b9f06c1fc92dc8d749292aa2f397

[2022-01-28 10:18] vahonc commented on #2390
Since I was unable to reproduce this issue I will update my PR with your solution. Thanks.

BR,
Vadym

[2022-01-28 14:16] Morgy93 commented on #2393
The url generates some strange non uft8 output:

![image](https://user-images.githubusercontent.com/7961978/151558556-133d1353-f409-4772-9784-90baaefd3d0e.png)

This is processed by `vendor/magento/framework/App/PageCache/Kernel.php` line 152:
[code]

Which throws the `Unable to serialize value. Error: Malformed UTF-8 characters, possibly incorrectly encoded` error.

Now I just need a solution for

[2022-01-28 15:28] vahonc commented on #2434
Hello @walkwizus

Could you provide us more details (screenshots) about configuring your virtual category (condition for rule) and your boolean attribute?

BR,
Vadym

[2022-01-31 14:10] romainruaud commented on #2430
@speller if you just want to filter by parent path, you should use the legacy Magento collection to do this.

Regards

[2022-01-31 14:13] romainruaud commented on #2393
The tracking url is not supposed to display UTF-8 valid content but an empty pixel, like this : http://demo.magento-elastic-suite.io/index.php/elasticsuite/tracker/hit/image/h.png?page[store_id]=1&page[cms][identifier]=home&page[cms][title]=Home%20Page&page[type][identifier]=cms_index_index&page[type][label]=CMS%20Home%20Page&session[uid]=d834b94c-00e1-d740-7d71-13b480b75995&session[vid]=f1584913-

[2022-02-01 06:45] walkwizus commented on #2434
Hello @vahonc,

I've installed a Vanilla version of Magento CE 2.4.3-p1.

I've added a boolean attribute. You can see how is configured the boolean attribute on the following screenshots:

![attributes_properties](https://user-images.githubusercontent.com/8866329/151923041-74eef964-74c8-4915-bb28-732140f6e67e.png)

![advance_attribute_properties](https://user-images.githubusercontent.com/8866329/1

[2022-02-01 14:31] pranayKdev11 commented on #330
Does Anybody Had solutions for these issue. I had same kind of error. Please anybody had solved can answer.

Fatal error: Uncaught Error: Call to undefined method WeltPixel\LayeredNavigation\Model\ResourceModel\Fulltext\Collection\Interceptor::addSortFilterParameters() in /srv/public_html/vendor/smile/elasticsuite/src/module-elasticsuite-catalog/Plugin/LayerPlugin.php:87

[2022-02-01 15:28] #2305 closed

[2022-02-01 16:04] #2234 closed

[2022-02-02 11:05] LiamKarlMitchell commented on #330
Sorry I don't recall how we sorted it, might have disabled weltpixels layered navigation or contacted welt pixel support for a fix?

[2022-02-02 11:38] pranayKdev11 commented on #330
@LiamKarlMitchell Thanks for Response.
As per your Update, I will look into It.

[2022-02-02 16:20] Viinz opened #2435 "Optimizer is not working on image contains"
On the optimizers I want to boost products with real images and no placeholder, but it's boosting all products even with placeholder.

### Preconditions

Magento Version : 2.4.2 Commerce cloud

ElasticSuite Version : 2.10

Environment : Production and developer mode

Third party modules :
        "smile/elasticsuite": "^2.10",
        "smile/module-elasticsuite-cms-search": "^2.2",
        "smile/