[2020-11-23 08:52] kipangadevteam commented on #1989
Hello @rbayet ,

Can you please share an update.

[2020-11-23 09:08] romainruaud commented on #1621
Hi @Quazz , thank you for the update.

On our side, we've had good results so far on a **MariaDB 10.3** with the following parameters :

[code]

[2020-11-23 10:22] stephanie-ehrling commented on #1980
Created a pull request #2004

[2020-11-23 13:02] Quazz commented on #1621
@romainruaud Thank you for those. I believe 'optimize_join_buffer_size=on' is default from 10.4.3 onwards now.

[2020-11-23 16:33] ivankristic opened #2005 "Virtual categories - faulty join on catalogsearch_fulltext index"
Select query built at
`\Smile\ElasticsuiteVirtualCategory\Model\ResourceModel\Product\Indexer\Fulltext\Datasource\CategoryData::joinStorePosition`
is erroneous and results in an ambiguous behaviour.

Specifically, its join condition is
`smile_virtualcategory_catalog_category_product_position.category_id = catalog_category_entity_int.row_id`

where actually `smile_virtualcategory_catalog_category_p

[2020-11-23 18:39] nkajic commented on #1626
Hi @romainruaud and @isabelcelima

We have encountered this problem.

Steps to reproduce: Open shop on mobile device (Android) using Chrome. Search for something with many results. Scroll under elements that were shown *under virtual keyboard* and click on it. It will just tilt and scroll back to input field.

@isabelcelima Did you manage to resolve this problem by yourself?

![signal-2020-11-23-1

[2020-11-24 10:26] rbayet commented on #1933
Confirmed on a 2.9.x / ES 6.x
Indeed the synonym rule is not found when using the multi-word expression or the hyphenated form of the word ("spider man" or "spider-man" vs "spiderman").
That's not totally critical for the hyphenated form because it will be split in two words by the catalog product index "whitespace" and "standard" analyzers.

Weirdly enough, I don't find any "smoking gun" evidence

[2020-11-24 14:57] sedax90 commented on #1931
I've the same problem with Magento 2.4.1 and Php 7.4

[2020-11-24 15:00] Quazz commented on #1975
Ideally the js file would be required through a phmtl file which can then be included in the layout with an ifconfig option pointing to whether or not analytics is enabled.

Problem is, I believe the file in question isn't requirejs compatible in its current form.

[2020-11-24 15:06] vahonc commented on #1931
Hello @sedax90,

Have you tried the solution from my last comment?

Best regards,

[2020-11-24 15:21] sedax90 commented on #1931
@vahonc your solution is working fine, I think we need a patch with this code

[2020-11-24 20:31] emrahuyanik commented on #1658
`
<virtualType name="elasticsearchCategoryCollection" type="Nayax\LayeredNavigation\Model\ResourceModel\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">catalog_view_container</argument>
            <argument name="searchCriteriaResolverFactory" xsi:type="object">elasticsearchSearchCriteriaResolverFactory</argument>
            <argument na

[2020-11-25 11:09] yutv commented on #1489
Hello @romainruaud,

There are at least two projects at Smile which use the **Catalog Prices = Excluding Tax** configuration. Currently the https://github.com/Smile-SA/elasticsuite/pull/1003 is applied on them.

This the PR has the following disadvantages:
 - it doesn't work with multiple tax rates
 - it doesn't work with Magento EE/Cloud (there should be a bit different JOIN by `row_id` instead o

[2020-11-25 13:35] peterjaap commented on #1706
@sivasdescalzo did you ever get it working?

[2020-11-25 14:04] barryvdh commented on #1879
Maybe you can trigger the loading screen? `jQuery('body').trigger('processStart');`

[2020-11-25 14:12] zigojacko commented on #1452
@rbayet Where do the tables Elastic Search use like `smile_virtualcategory_catalog_category_product_position` come from that were mentioned above? I don't have any tables in Magento 2 (2.3.5-p1) that mention Elastic Search it seems (and I am [experiencing issues with the default product sorting](https://github.com/magento/magento2/issues/31043))... Thanks

[2020-11-25 14:33] sivasdescalzo commented on #1706
Nope,I had to create a new rule implementing \Smile\ElasticsuiteCatalogRule\Api\Rule\Condition\Product\SpecialAttributeInterface

[2020-11-25 23:32] shivnibble commented on #1845
@rbayet @romainruaud @idziakjakub any update on this? Suffering from the same problem, and anxious for a resolution.

[2020-11-26 04:50] peterjaap commented on #1222
@SolsWebdesign @paalsoberg

Here's a patch I made to make Elasticsuite work without any MSI modules actually *installed* (so removed with the composer replace trick). Formatted for use with [vaimo/composer-patches](https://github.com/vaimo/composer-patches).

[code]

[2020-11-26 11:35] groomershop-mt commented on #1925
We also have still the problem at version 2.10.3 - after upgrade to that version on category pages the pagination is working correctly, but it still doesn't work on search result page.

[2020-11-27 13:10] vahonc commented on #1937
Hello @amenk,

Sorry for the long silence on your problem. I have added a PR with a solution that should fix it. Could you please check it out or share your thoughts on this.

Best regards,

[2020-11-27 16:43] Quazz commented on #1985
Still can't wrap my head around it.

In the ResourceModel/VirtualCategory/Collection the getVirtualRule() definitely returns an object, but then when you navigate to one of the pages it is suddenly just a string?

[2020-11-28 09:33] #1989 closed

[2020-11-28 10:40] groomershop-mt commented on #1925
Our problem was caused by not applied this commit to our theme: https://github.com/magento/magento2/commit/7035daca3f6b47038d120813ec7164b76ac4bc94#diff-7f64b8e3bdbb6406a30a1e53552a0f31dd086e65eaa6455aef7b81b6cf2389fd

[2020-12-01 09:40] tig-dennisvanderhammen commented on #1860
The error seems to be caused by core Magento. This happens when you try to change the headers within a controller. Magento themselves caused an undefined error, causing problems when attempting to change the headers. Elasticsearch does this in the code mentioned by @jaxtheking.

As not everybody is able to update to Magento 2.4 immediately, I've created a patch, based on code changes between Magen

[2020-12-01 14:01] OvalMedia opened #2008 "double class attribute in autocomplete template"
Magento Version : 2.4.1

ElasticSuite Version : 2.10.3

Smile_ElasticsuiteCatalog\web\template\autocomplete\product.html

The items listed here have two class attributes set inside template:
class="<%- data.row_class %>" and class="product-item"

[2020-12-02 09:32] DevRiffs opened #2009 "I cannot figure how to add additional data to autocomplete product"
vendor/smile/elasticsuite/src/module-elasticsuite-catalog/Model/Autocomplete/Product/ItemFactory.php here it is private function addProductData. I need to add additional data to product result, for example 'data_from_somewhere' (not attribute). But I can't find any good way to do it. Do not want to overwrite it completely, but also can't use any plugin. So how to add additional data?

[2020-12-02 10:46] OvalMedia opened #2010 "Typo: Autovervollständignug"
There is a typo in the german translation. "Autovervollständignug" should be "Autovervollständigung".

[2020-12-02 20:22] alin1918 opened #2011 "Crashing server if ES not responding."
### Preconditions

Set in the database 2-3 es servers:
smile_elasticsuite_core_base_settings/es_client/servers --- elasticsearch:9400,elasticsearch:9200,elasticsearch:9500

On first have have a non responding ES server (but active). Can be reproduced by starting a netcat listen on that server:  nc -l 9400
Try to load a page that is using the elasticsearch.
It will remain in loading until you go an

[2020-12-03 10:01] vleshchyshyn commented on #1990
I have a same question: when using Elastucsuite I can no longer sort by newest product. Is there a way to have this working or is there any third-party extension to add this functionality?

[2020-12-03 11:30] drinkingsouls commented on #1990
I didn't get any further with it. I believe the RedChamps Extra Sorting Options plugin was the only working extension but I have not tried it myself.
https://redchamps.com/extra-sorting-options-magento-2-extension.html

[2020-12-03 16:06] gaiterjones opened #2012 "ElasticSearch Server 7.6.x"
I am working on upgrades to Magento 2.4.1. The Magento system requirements recommend ElasticSearch Server v7.6.x - can you confirm ElasticSuite 2.10.x is compatible with ElasticSearch Server 7.6.x. If not which version is recommended?

[2020-12-04 12:50] drinkingsouls commented on #1990
This module is free and seems to work:

https://github.com/amareshtiwari/Advance_Sorting_Magento2

[2020-12-04 23:29] vseager commented on #414
I have got this exact issue on Magento 2.4.1 and Elasticsuite 2.10.3

[2020-12-04 23:47] vseager opened #2013 "Can't bulk add products to category"
### Preconditions

This is a repeat of #414 which seems to be present in the latest release on Magento 2.4.1.

Magento Version : 2.4.1

ElasticSuite Version :2.10.3

Environment : Live / staging

Third party modules : None

### Steps to reproduce

1. Go to Products->Categories
2. Open tab "Products in Category"
3. Search for some products
4. Select all using "select all checkbox" in the top left c

[2020-12-05 08:09] #1910 closed

[2020-12-07 16:20] vahonc commented on #2013
Hello @vseager,

I also reproduce this bug on my local environment. I'm not sure if this is exactly repeat of #414 issue, but I'll take a look and try to fix it.

Best regards,

[2020-12-08 12:46] rajupremkumar opened #2015 "how to add custom field in elasaticsuite modules"
**Is your question related to a problem? Please describe.**
A clear and concise description of what the problem is.

Ex :
- I cannot figure how [...]
- Is ElasticSuite able to [...]

**Additional context**
Add any other context or screenshots about your question here.

[2020-12-08 12:48] rajupremkumar opened #2016 "how to add custom field in elasticsuite modules"
@romainruaud and what about if I have many values (like tags) I should supply it like csv or maybe array?

_Originally posted by @madonzy in https://github.com/Smile-SA/elasticsuite/issues/517#issuecomment-326267075_

[2020-12-08 22:09] torhoehn commented on #590
@romainruaud What does "Discarded from Open Source version" mean? Is there any other version to get this feature?

It was mentioned here, to get a nicer implementation for sorting by newest products: https://github.com/Smile-SA/elasticsuite/issues/1289#issuecomment-466418963

[2020-12-09 16:02] vahonc commented on #2013
Hello @vseager,

I've update solution from PR https://github.com/Smile-SA/elasticsuite/pull/418/files
<pre>
} else if (element.value && element.id) {
      // Override is here. Add the product to categoryProducts even if it does not have position field
      if (element.value !== 'on') {
          categoryProducts.set(element.value, 0);
      }
}
</pre>

Could you please check this quick fix on yo

[2020-12-10 13:02] vseager commented on #1951
@vahonc @rbayet We have also seen similar issues with date pickers in the past but have these were mostly resolved as from 2.3.5-p2

[2020-12-10 13:17] vahonc commented on #1951
Hello @vseager,

Thanks for your feedback, I will check this issue on Magento ver. 2.4.1

Best regards,

[2020-12-10 14:40] davidwindell commented on #1274
Hi @romainruaud would you consider re-opening this issue or creating a new one especially focused on the performance of the autocomplete to put efforts together on profiling and see if the community can come up with some understanding and suggestions for improving the response times?

[2020-12-10 16:07] vahonc commented on #1951
So I've checked this issue on Magento ver. 2.4.1 and ElasticSuite 2.10.3,

![Screenshot from 2020-12-10 17-25-00](https://user-images.githubusercontent.com/67791361/101794054-25d20080-3b0f-11eb-9020-071278e3f908.png)

Unfortunately, I don't have a lot of data for Search Usage statistics on my local environment, so I have data only from the begging of this month (from 3 Dec to 10 Dec). Looks like I

[2020-12-10 17:30] Loxzibit commented on #1765
Any update on this feature? The clients are requesting something for them to add/remove SKUs in bulk and you are right that the way Magento has implemented this  doesn't allow easily "extraction" only the "Add Products" block. I think the better direction would be a custom implementation of the same feature by Smile-SA instead of using the Magento one.

[2020-12-11 12:54] vahonc commented on #2012
Hello @gaiterjones,

In my local environment I use:
- Magento EE ver. 2.4.1
- Elasticsearch 7.9.3
- ElasticSuite 2.10.3

Here's an output 'curl -XGET 'localhost:9200'';
<pre>
{
  "name" : "master",
  "cluster_name" : "m241ee",
  "cluster_uuid" : "N00zhFP3TEm0r2Y6yH6eVQ",
  "version" : {
    "number" : "7.9.3",
    "build_flavor" : "default",
    "build_type" : "deb",
    "build_hash" : "c4138e5112

[2020-12-11 14:41] romainruaud commented on #2016
Hi @rajupremkumar

Please :

- respect the issue/question template by giving more details about what you are trying to achieve.
- read the wiki about indexing and especially the *Datasource* part : https://github.com/Smile-SA/elasticsuite/wiki/Indexing

I close your issue, if you don't manage to do it with the wiki details, please open a new one and provide a clear explanation of your use case.

[2020-12-11 14:41] #2016 closed

[2020-12-11 14:41] #2015 closed

[2020-12-11 14:43] romainruaud commented on #2012
Yes as @vahonc said, Elasticsuite is compatible with your version of ES.

If you face any bugs or non-compatible things, please open a new issue with details.

regards

[2020-12-11 14:43] #2012 closed

[2020-12-11 14:46] romainruaud commented on #2009
Probably a duplicate of #1416

Please have a look at the comment describing the solution : https://github.com/Smile-SA/elasticsuite/issues/1416#issuecomment-499768974

[2020-12-11 14:48] romainruaud commented on #2009
Or maybe, if your data is not a Magento2 attribute, just inject a custom collection PreProcessor here :

https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/etc/frontend/di.xml#L130

[2020-12-11 14:57] romainruaud commented on #2002
I'm not sure how we could optimize this.

We are supposed to go through this line : https://github.com/Smile-SA/elasticsuite/blob/9830c3e4f647ef5dcf7b65e784abf0bd8e5b87f3/src/module-elasticsuite-swatches/Helper/Swatches.php#L38

That should be already better than legacy Magento because we have the children_ids indexed in the document coming from ES.

That being said, our loadVariationsFromSearchIn

[2020-12-11 15:01] romainruaud commented on #2000
This is intended to be configurable through the Back-Office : https://github.com/Smile-SA/elasticsuite/wiki/ModuleInstall#indices-settings

However, on Magento Cloud, they enforce it through this class of the ECE Tools : https://github.com/magento/ece-tools/blob/develop/src/Config/SearchEngine/ElasticSuite.php

So for me, everything relies in the template file of Magento Cloud, if you set proper v

[2020-12-11 15:04] romainruaud commented on #2000
That being said, since a Magento Cloud infrastructure is always on 3 nodes, I could advise to proceed with the following configuration :

- 3 shards
- 2 replicas

But keep in mind the following thing : *you probably don't need 3 shards, especially if you do not have several dozens of Gbs in your indices*.

Most probably, *1 shard / 2 replicas* is enough for most cases.

Regards

[2020-12-11 15:08] romainruaud commented on #1992
Please find a detailed explanation in this comment : https://github.com/Smile-SA/elasticsuite/issues/1579#issuecomment-545964118

And also, keep in mind that your `productCollectionFactory` should be a `Magento\CatalogSearch\Model\ResourceModel\Fulltext\CollectionFactory`

[2020-12-11 15:11] romainruaud commented on #1990
@drinkingsouls what do you mean by "in the grid" ?

Are you speaking about the product listing page ?

Regards

[2020-12-11 15:12] romainruaud commented on #1985
Yes unfortunately I came to the same conclusion but never reproduced it.

Maybe something related to caching, or to Varnish fragments for the layered navigation in some edge cases ?

[2020-12-11 15:15] romainruaud commented on #1980
Oh, I was expecting rather a separate module that will not get merged into the Elasticsuite core :)

You can publish it under your name (or company name if you prefer to), and we'll add a link into this on the homepage with the other community/third-party modules.

Regards

[2020-12-11 15:17] romainruaud commented on #1970
Good to see that extensions providers are considering implementing out-of-the-box compatibility with Elasticsuite :)

I close the issue then.

Regards

[2020-12-11 15:17] #1970 closed

[2020-12-11 15:21] drinkingsouls commented on #1990
Yes, the catalogue pages where products are listed. As soon as ElasticSearch is enabled (which is now default) the sort by newest does not order correctly.

This extension partially works but sorts the opposite way, with oldest at the top:
https://github.com/amareshtiwari/Advance_Sorting_Magento2

[2020-12-11 16:08] Quazz commented on #1985
Unfortunately, we don't use Varnish. We use redis for all our caching (seperate instance for session and cache)

And it also happens in the backend on category management page.

[2020-12-14 19:13] mamsincl opened #2023 "Amend require section of composer.json with maximum compatibility version"
**Is your feature request related to a problem? Please describe.**
During and (especially) after Magento upgrade (via composer) the incompatibility with the previous Elasticsuite version could cause unexpected behaviour. Debugging the issue could be time-consuming and may result custom patches and unnecessary PRs

**Describe the solution you'd like**
Extend compatible version with maximum version

[2020-12-14 22:33] lucasmilin commented on #2000
Thank for your answer @romainruaud!

Let me give more details. We configured Elasticsuite with 3 shards/2 replicas in the .magento.env.yaml:

SEARCH_CONFIGURATION:
            _merge: true
            engine: elasticsuite
        ELASTICSUITE_CONFIGURATION:
            _merge: true
            indices_settings:
                number_of_shards: 3
                number_of_replicas: 2

This configu

[2020-12-15 08:09] mihaikalif opened #2024 "Uninstal elasticsuite"
Uninstal for elasticsuite fails

### Preconditions

Magento Version : Magento CE 2.4.0

ElasticSuite Version : 2.10.1

Environment : developer

Third party modules :

### Steps to reproduce

1. followed this link to unistall https://github.com/Smile-SA/elasticsuite/issues/299
2. removed the files from vendor/smile
3. removed the lines for registration configuration autoload_files.php

### Expected

[2020-12-15 08:37] mihaikalif commented on #2024
Removed the lines referring to smilesuite from:
composer\autoload_psr4.php
\composer\autoload_static.php
\composer\installed.json
The error now translates to:

PHP Fatal error:  Uncaught Error: Class 'Smile\ElasticsuiteCore\Search\Request\ContainerConfiguration\BaseConfig' not found in /opt/bitnami/apps/magento/htdocs/generated/code/Smile/ElasticsuiteCore/Search/Request/ContainerConfiguration/Base

[2020-12-15 09:21] vahonc commented on #2024
Hello @mihaikalif,

Removing our module manually is not the best solution, but you can easily remove the ElasticSuite module via composer:
`composer remove smile/elasticsuite`

I suggest you this way:
1. Remove the ElasticSuite module via composer
2. Run setup-upgrade, reindex and clean cache commands from Magento CLI
3. Follow this link to unistall #299 to clean up your DB
4. Update an `Search En

[2020-12-15 09:41] mihaikalif commented on #2024
rm -rf var/cache/*
 rm -rf var/page_cache/*
 rm -rf var/generation/*
rm -rf generated
 rm -rf pub/static/*

Did the trick and finally I removed successfully the elasticsuite.

[2020-12-15 10:00] Neos2007 opened #2025 "Inaccurate search results with bundle products when searched by child product SKUs"
Currently, we have a problem with Magento cloud production and staging environments that on search results page withs bundle products searched by SKU of the related simple product displayed a message "No exact results found for: "term". The displayed items are the closest matches.". Search results contain the needed bundle product (at the first position) along with some other products. This happen

[2020-12-15 10:19] romainruaud commented on #2024
Ok great I close then.

Regards

[2020-12-15 10:19] #2024 closed

[2020-12-15 10:43] romainruaud commented on #2023
Yep, I do agree with this, it would also save us some time answering on "invalid" issues here that are due to misfits with maximum supported versions.

[2020-12-16 09:57] romainruaud commented on #1921
@vahonc can you add a clause to check `$attribute->getFacetDisplayMode() == FilterDisplayMode::ALWAYS_DISPLAYED` in this line helps fixing the issue ? https://github.com/Smile-SA/elasticsuite/blob/443f739b5c24a63c76e4506f1e8b2cbab839d5fc/src/module-elasticsuite-catalog/Model/Layer/Filter/Attribute.php#L156

[2020-12-16 10:05] romainruaud commented on #1925
Okay so after reading all of the answers, it seems to be due to categories having `is_anchor=0`, which should not be used with Elasticsuite (we arbitrary set it to 1 and we hide it).

Is that all ? If yes, may we close ?

Regards

[2020-12-16 10:07] vahonc commented on #1921
@romainruaud, ok I will check it.

[2020-12-16 10:08] OvalMedia commented on #1925
Negative. I have tried both options and it made not difference.
The only real difference was the existence of the category filter on the page.
You should look into https://github.com/magento/magento2/pull/27165 as they have changed something significant there.
Also: https://github.com/Smile-SA/elasticsuite/issues/1925#issuecomment-682376815

[2020-12-16 15:02] mamsincl commented on #2023
I'll see if I can spare some time to help with this ...
Can you advise on the best approach of MRs?

[2020-12-17 13:53] romainruaud commented on #228
I close, we won't implement such things nowadays since headless Magento is becoming more and more a standard.

Regards

[2020-12-17 13:53] #228 closed

[2020-12-17 13:54] romainruaud commented on #701
We waited for community proposals on this once for two years, I think it's time to close it :)

Regards

[2020-12-17 13:54] #701 closed

[2020-12-17 13:56] romainruaud commented on #1684
Hi @tkuter-pl

what's the situation on this one ?

Regards

[2020-12-17 13:59] romainruaud commented on #1923
I close this one, nothing more can be done here I guess.

Regards

[2020-12-17 13:59] #1923 closed

[2020-12-17 14:09] romainruaud commented on #1925
Okay,

@vahonc can you try to handle this case where the category filter is hidden by the configuration ?

I think when it's "hidden", the filter model is not applied at all :

https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/Layer/Filter/Category.php#L109

What we should obtain is :

- the filter model is "still here", and he applies effectively filtering

[2020-12-17 14:18] romainruaud commented on #1765
@vahonc can you study how we could make these two features live together ?

If you are not familiar with the feature described here, that's normal, it's a Magento Commerce feature (so you will need a Magento Commerce environment), and it's completely hidden by Elasticsuite.

Our plan here would be to keep only the "Add Products" part of the Magento functionality here.

It could be either :

- by f

[2020-12-17 14:29] romainruaud commented on #1962
Well according to this, the XML file should overwrite anything calculated dynamically by the Datasources :

https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-core/Index/Indices/Config.php#L173

[code]

Or at least, it should have been the case, because I had exactly your need in mind when I wrote this piece of code :)

It appears that it's not the case according to you,

[2020-12-18 09:36] vseager commented on #1951
@vahonc we haven't yet got any sites running 2.4.1 with Elasticsuite although will be upgrading a couple in the new year. From your findings though it looks like the issue is still there, as you state that when the locale is set to "English (United Kingdom)" you still get the jumping.

[2020-12-18 13:45] splakhonin opened #2027 "Graphql import + catalog reindex"
After bulk import by default Magento elasticsearch index is created (ex magento2_default_catalog_product)
After if you run catalog search reindex you will see an error {type":"invalid_alias_name_exception","reason":"Invalid alias name [magento2_default_catalog_product]}

### Preconditions

Magento 2.4.1 Cloud/EE

ElasticSuite Version :
Last  2.10.x

Environment :
Developer

[2020-12-18 17:00] Quazz commented on #1985
Small update: I test if it works primarily on the backend so the frontend is undisturbed.

By modifying Preview.php I can make it load normally. What I noticed today was that Virtual Categories still load fine regardless, but normal ones do not. Interesting data point to say the least.

[2020-12-19 16:12] gkueny commented on #866
Hello @afoucret,

I'm currently facing this issue, and I saw that you mentioned braimstorming about the problem (https://github.com/Smile-SA/elasticsuite/issues/866#issuecomment-388730916)

It's a bit old, but do you remember the conclusion?

Have a good weekend,

[2020-12-21 01:29] duffner commented on #2013
@romainruaud, have you reviewed the above fix for this issue?

[2020-12-26 15:14] #2009 closed

[2020-12-29 22:40] kpitn commented on #228
Hi, I just create a module available here : https://github.com/Web200/magento2-elasticsuite-ajax
Actually the module is for testing purpose.
The packagist is not yet available, he can only be install by cloning repository.

If someone can test it and make some returns.

[2020-12-31 11:24] berkneis opened #2028 "Problem with attribute filter"
Hello,

I want use the color attribute filter. When I select the Use in Layered Navigation in Filtreable (no result) its working but links is (javascript:void(0)) wrong. When I select the Filterable (with results) option, filter options not showing. Only I see attribute title.

Where am I doing wrong?

[2020-12-31 17:15] #2028 closed

[2020-12-31 17:45] berkneis opened #2029 "Fix issue with missing values on swatches attributes filters"
Hello,

I have asked a question on this topic before. #2028

I don't know how it reacts in other attribute types, however when I experiment with color attribute (visual swatch), there is no value seems with the Filterable (with results) selection in the Use in Layered Navigation option. When I select it as filterable (no results), the filter appears but it doesn't work. Links are not being able to

[2021-01-01 14:30] #1684 closed

[2021-01-04 09:22] romainruaud commented on #2027
hi @splakhonin could you please provide more detailed scenario to reproduce this ?

The first step especially is not clear, are you starting with an empty DB and then importing some stuff in it ?

Regards

[2021-01-04 09:49] rbayet commented on #2000
Hello @lucasmilin,

This is standard behaviour for Elasticsuite.
New indices are **created at first with a replica value of 0.**
Once the reindexing is complete for a given index, it is "**installed**", which means
- the index **alias** is swapped from the previous index to that new one
- the replica settings are applied

See \Smile\ElasticsuiteCore\Indexer\GenericIndexerHandler::saveIndex
[code]

[2021-01-04 10:48] vahonc commented on #2029
Hello @berkneis,

Could you please give more details about the configuration of your particular test case and your attribute, since the "color" attribute is working out-of-the-box? This will help us understand why the problem described by you occurs when the scenario (options, settings) for creating custom attributes differs from the default behavior.

Best regards,

[2021-01-04 10:55] #2010 closed

[2021-01-04 21:36] berkneis commented on #2029
Hello @vahonc ,

Thanks for your answer.

I am using a custom theme.
When I test with luma theme which is preferred in developer environment, problem appears to be same. I am using multilingual store.

[code]
When I use as it is shown above, there is no color option appears in the filter. Only the title appears.

For example;
![Screenshot (25)](https://user-images.githubusercontent.com/2790754/103

[2021-01-05 07:22] rbayet commented on #2008
@vahonc Could you replicate the fix of https://github.com/Smile-SA/elasticsuite/pull/2022 for branch 2.9.x ?

[2021-01-05 09:14] romainruaud commented on #1962
Okay, after some vacations I realize that I missed the fact that you want to override the *type* of the field, not the rest of the field configuration.

Maybe the piece of code I shown does not merge correctly the "type" and the "analyzer" property of the xml node.

[2021-01-05 11:41] rbayet commented on #2029
Hello @berkneis,

Could you post the exact same two screenshots but *with* the Luma theme and not the custom theme ?
Is it an in-house custom theme or a theme extension ? If the latter, which one ?

Regards,

[2021-01-06 08:52] #2008 closed

[2021-01-06 13:09] #1926 closed

[2021-01-06 15:17] Mobecls opened #2034 "What is better - relevance rule or optimizer"
I found that both Relevance rules and Optimizers are doing kind of the same.

What is the difference in them and what I should be using most?

[2021-01-06 15:30] rbayet commented on #2034
Hello @Mobecls,

Did you close the issue by mistake or have you found an answer in the meantime ?

Regards,

[2021-01-06 15:33] Mobecls commented on #2034
No, I actually was comparing Amasty's relevance to Searchsuite Optimizer - so it's not relevant to post it here.

Yet the Relevance feature in Searchsuite is not that obvious - I'm not really sure what's the best configuration here and how does it work - /smile_elasticsuite/search_request_relevanceconfig/index

[2021-01-06 17:04] rbayet commented on #2013
Hello @vahonc,

I tested locally your approach it is the correct fix, but I would simplify it since the condition on `element.id` is not needed anymore :
[code]

In theory, since element.value is supposed to hold the productId, we could also go with
[code]
because `parseInt('on', 10)` will result in a `Nan`. But I haven't checked all browsers will handle gracefully a `Nan > 0` comparison.

[2021-01-06 17:21] berkneis commented on #2029
Hello @rbayet ,

Thank you for answer.

[code]
while using this code;

![Screenshot (35)](https://user-images.githubusercontent.com/2790754/103799590-59e00900-505c-11eb-928a-026ccb0e7c00.png)

[code]
while using this code;
![Screenshot (34)](https://user-images.githubusercontent.com/2790754/103799644-69f7e880-505c-11eb-934d-93d84e1409f3.png)

If you wish I can set up a demo address.

2- It is not

[2021-01-06 17:22] #1931 closed

[2021-01-07 08:24] DevRiffs commented on #1465
I have same issue now. Same error, elasticsuite_tracker_log_event is empty, tracking is enabled. What else should I check to make it work?

[2021-01-07 10:01] rbayet commented on #1626
Hello @nkajic,

Could give us the exact version of Android 7 you are encountering this on ?
At this moment, I can't reproduce it on a 7.1.x device.

Regards,

[2021-01-07 10:59] vahonc commented on #2013
Hello @rbayet,

I agree with you that it's a good solution:

<pre>
} else if (parseInt(element.value, 10) > 0)) {
      // Override is here. Add the product to categoryProducts even if it does not have position field.
      categoryProducts.set(element.value, 0);
}
</pre>

I've tested it on Magento ver. 2.3.5-p1 and Magento ver. 2.4.1 in Chrome and Firefox browsers and looks everything is good and

[2021-01-07 11:29] nkajic commented on #1626
Hi @rbayet thanks for support and your time.

It is Android ver. 7.0

[2021-01-07 12:00] vahonc commented on #2029
Hello @berkneis,

Earlier, to test another issue in Magento 2.4.0, I had created my custom attribute "Color Swatch" based on the standard "Color" and I had no problems with displaying it without any additional changes in the code.

![Screenshot from 2021-01-05 12-47-06](https://user-images.githubusercontent.com/67791361/103889905-da9c1500-50ef-11eb-8fc5-97e341b50f19.png)

Also if you take a look a

[2021-01-07 12:46] rbayet commented on #2013
Hi @vahonc,

I don't have any doubt about `parseInt` per se, but more about `NaN > 0`, so maybe using `isNan` (and not `Number.isNaN`) if we go this way is the better approach.
See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/isNaN vs https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isNaN

[2021-01-07 15:51] rbayet commented on #1885
Hello @subbu1993,

The issue is that this behavior of losing the attribute filters when jumping from a category to a child category in catalog navigation is consistent with the Magento one.

We offer the possibility of **not** losing all attribute filters and apply the category filter value "locally" by switching to "No" the admin settings "Store Configuration > Elasticsuite > Catalog Search > Use

[2021-01-07 15:58] #2013 closed

[2021-01-07 16:49] rbayet commented on #2034
The relevance settings allows you to tweak how the fulltext search works.
Default settings are usually OK in most cases, but [the wiki page](https://github.com/Smile-SA/elasticsuite/wiki/FulltextSearchEngineBasicConfiguration) gives you more information about those.

Almost all settings are related to an Elasticsearch feature/behavior, so there is a lot of link to Elasticsearch documentation too.

[2021-01-07 18:16] #1921 closed

[2021-01-08 11:25] DevRiffs opened #2038 "tracking_log_session index does not exist yet and"
Hello,
I saw same question, but it is closed without answer. I have issue, that there is error "tracking_log_session index does not exist yet and ", elasticsuite_tracker_log_event table empty and not filling when browsing. Tracking is enabled. So at this point not sure what is wrong and what to do.

[2021-01-08 14:25] #1626 closed

[2021-01-08 14:28] rbayet commented on #1626
Hello @nkajic,

Thanks for your fix, I used a variation of your PR (explicit commit message) and it will be integrated in the upcoming 2.10.x and 2.9.x releases.

Regards,

[2021-01-08 16:08] rbayet commented on #1848
Hello @thomasklosinsky,

Have you finally manage to identify the cause of your issue ?
Or is it still outstanding ?

Regards,

[2021-01-08 17:05] rbayet commented on #1991
Hello @matt-grech,

You can try change the value of the `suggestionDelay` option (which defaults to 300 (ms)), but i don't think you'll find an improvement towards what you want to achieve as long as the pending ajax calls are cancelled.

Having a delay is to avoid spamming the server with similar and partial queries :
vendor/magento/module-search/view/frontend/web/js/form-mini.js
[code]

And the

[2021-01-08 23:21] thomasklosinsky commented on #1848
Hey,
I didn‘t resolve the issue.
I ended up using another (paid) elasticsearch module which works fine...

[2021-01-11 11:52] killoff opened #2041 "How does elasticsuite delete entities from the index?"
**Is your question related to a problem? Please describe.**
The documentation clearly describes how documents are indexed.
However, I haven't found how products/categories are being removed from the index.
For example, if some product got disabled or category got inactive.

It's clear when full reindex - elasticsuite just creates a new index.
But would be nice to know how it works for partial upda

[2021-01-11 16:16] setrada opened #2042 "Error: Call to undefined method addQueryFilter()"
### Preconditions
Magento Version : 2.4.1
ElasticSuite Version : 2.10.3
Environment : Developer and Production
Third party modules : WeltPixel Layered Navigation

### Steps to reproduce
1. Install WeltPixel Layered Navigation Free Version
2. Click on Category Page

### Expected result
1. Showing products of category

### Actual result
Error: Call to undefined method WeltPixel\LayeredNavigation\Mod

[2021-01-12 13:57] smr-deploy opened #2043 "Split packages into their own composer packages"
It's a slight problem that this package has all of the elements packaged together, for example if you don't want an GraphQL features, you can't easily take them out - adding to bloat.

It would be much better if the main package required the other elements, then at least the sub-packages could be replace'd out with composer if they're not wanted.

[2021-01-13 06:59] VZeroCool opened #2045 "Upgrade from 2.8.8 to 2.10.3 Magento commerce"
We had **Magento commerce(enterprise) 2.3.5-p1** with **Elasticsuit 2.8.8** and **Elasticsearch 6.6**
All things are working as expected post upgrade of all of three application autocomplete started behaving strange.
**Magento Commerce - 2.4.1** , **Elasticsuit- 2.10.0** and **Elasticsearch - 7.6**
Search terms,Categories is there but products are missing for autocomplete box.

**Strange Problem:*

[2021-01-13 11:18] Quazz commented on #1985
One thing I have noticed is that the store_id for the rule in the resourcemodel is 0 (of course), but when loading a category in "All store views" it ends up adopting the default storeview for the current category root instead of the admin storeview.

I can't compare with a working version myself, unfortunately.

[2021-01-13 16:02] romainruaud commented on #1962
@killoff can you check if the proposed solution in #2046 is achieving what you need ?

Regards

[2021-01-13 16:07] romainruaud commented on #2042
Hello @setrada

Most probably and according to the stacktrace you gave, there is a major incompatibility between your module and Elasticsuite.

It's not that surprising if we consider both modules are working on the same functional parts of the layered navigation.

Since compatibility with third-party modules is out of the scope of our Open Source support policy provided here, there is not much we

[2021-01-13 16:07] #2042 closed

[2021-01-13 16:30] jaxtheking opened #2047 "Possible causes for "Diff indexing is not supported for synonyms. Invalidate the index instead""
We're using an external third-party software to manage products in bulk (Product Manager for Magento by Benabee).
The software uses a bridge (php script uploaded to the server) to sync up any changes.

Lately, when using the software, a lot of the following messages have been showing up in the logs:
[code]

I'm trying to understand what does it mean. Would you know under which circumstances this e

[2021-01-14 14:39] romainruaud commented on #1937
Hello @amenk

unfortunately, we will not fix this particular case.

To be clear, "virtual root category", **with the actual behavior**, is just a short-hand to creating a condition on "category = X" on the rule section. It was supposed to do more (automatically generate category filters according to the childrens of the root category, etc....) but that's still not the case right now.

That being s

[2021-01-14 14:43] killoff commented on #2041
Apparently, it just follows the approach of Magento.
So, first of all it deletes the entities and then create new ones if they need to be in the index.
https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/Category/Indexer/Fulltext.php#L86

[code]

[2021-01-14 15:16] scottsb commented on #1980
@stephanie-ehrling Do you anticipate being able to turn your PR into a separate module in the near future? If not, then I may take that on, but I don't want to interfere with something you're working on or expect to do soon.

[2021-01-14 16:22] amenk commented on #1937
fair enough, makes sense.
@romainruaud thank you for your elaborate feedback, and keep up the great work at the module :)

[2021-01-14 20:20] stephanie-ehrling commented on #1980
Hi Scott, the module is not available here: https://github.com/stephanie-ehrling/elasticsuite-ghost-cleaner

[2021-01-15 00:43] scottsb commented on #1980
Great, thanks!

[2021-01-15 00:43] #1980 closed

[2021-01-18 16:55] Quazz commented on #2041
@killoff There are also some mview indexation techniques.

Smile\ElasticsuiteCatalog\Plugin\Indexer\AbstractIndexerPlugin.php gets extended by the plugins

[2021-01-18 20:54] gmalhotra02 commented on #1857
Any fix for this, I just installed codazone theme and got this error while making any search. I have raised with codazone team though but any help to sort it out.

Error below, on Luma theme search was working fine.

1 exception(s): Exception #0 (Magento\Framework\Exception\LocalizedException): The attribute model is not defined. Exception #0 (Magento\Framework\Exception\LocalizedException): The a

[2021-01-19 09:40] #2027 closed

[2021-01-19 10:40] #2000 closed

[2021-01-19 13:28] amenk commented on #1452
@zigojacko are you sure you are using the SmileSA elasticsuite module and not just the Magento 2.3 standard elastic search module?

[2021-01-19 15:06] romainruaud commented on #2047
Hi @jaxtheking your third party module is probably (wrongly) calling the `executeList` method on all indexers, which is unsupported for our Thesaurus indexer.

I guess it's doing this in a try to be sure that "everything possible related to product is reindexed at the end of the import", but there are several drawbacks doing this :

- it's unsupported for ElasticSuite Thesaurus, which would be, in

[2021-01-19 15:06] #2047 closed

[2021-01-19 15:09] romainruaud commented on #2045
Hi @VZeroCool

I've seen that you did customize the Autocomplete Products Dataprovider. We cannot provide support for existing customization that would go in failure following an upgrade of Elasticsuite.

Did you try removing this override ? Is it working with only the legacy class ?

[2021-01-19 15:11] romainruaud commented on #1977
We should implement the third solution into the virtual-category module, but to be honest, that's a low-priority for us actually.

I add it into next features roadmap anyway.

[2021-01-19 15:17] romainruaud commented on #2025
Hi @Neos2007

how much shards do you use for your production environment ?

You might be on an edge-case where Elasticsuite tries to find if something exact is existing for your search. If that's not the case, the engine will trigger a fuzzy search. If an exact match is found during this "pre-flight" query, no fuzziness is applied.

Since SKU are basically unique, and this test (which is done with

[2021-01-19 15:21] romainruaud commented on #2002
@larsroettig any update here ?

[2021-01-19 15:29] romainruaud commented on #2043
Nope, we won't do "a main package that requires the other elements".

This topic has always been on our table for years and our recent conclusion is that we will not do it.

First of all, based on the experience with [Elasticsuite for Retailer](https://github.com/Smile-SA/elasticsuite-for-retailer), this is a complete mess to maintain (look at the composer.json of ElasticSuite for Retailer, you'll

[2021-01-19 15:40] larsroettig commented on #2002
Hi @david-fuehr,  do have an idea to  optimize this call ?

[2021-01-19 15:42] jaxtheking commented on #2047
Thank you @romainruaud, I truly appreciate you taking the time to write these notes.
I'm not too fund on using this external tool but it does help automating bulk editing for the shop admins.
Should I need further support, I'll contact your professional support.

Regards

[2021-01-19 15:45] vahonc commented on #2041
Hello @killoff,

Yes, you are right here https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/Category/Indexer/Fulltext.php#L96 you can see what happens when we do a full reindex, and here https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/Category/Indexer/Fulltext.php#L80 when we do a partial reindex. And for a better u

[2021-01-20 08:09] smr-deploy commented on #2043
thanks for the detailed reply @romainruaud!

[2021-01-20 08:09] #2043 closed

[2021-01-20 09:01] vahonc commented on #2038
Hello @DevRiffs,

Firstly, we need more details about your environment and test case. Based on the fact that you pointed out I can only advise you to make sure if the module is really enabled with the command:
`bin/magento module:status Smile_ElasticsuiteTracker`,

also, if needed run these commands:
<pre>
bin/magento setup:upgrade
bin/magento cache:flush
bin/magento indexer:reindex
</pre>

After

[2021-01-20 10:25] VZeroCool commented on #2045
Hi @romainruaud
yeah it's working slightly but in latest version something changed at ProductCollection class. As its not returning productObject.

In ESuit 2.8.X printing $product was returning complete product object, In 2.10.x it's not.

https://github.com/Smile-SA/elasticsuite/blob/2.8.x/src/module-elasticsuite-catalog/Model/Autocomplete/Product/DataProvider.php#L92

That's why our logic stopp

[2021-01-20 16:52] misthero commented on #1985
I have the same issue with es 2.9.6 and magento 2.3.6

[2021-01-20 17:28] gmalhotra02 opened #2050 "Navigation Error - Smile/Elastic Suite"
I implemented Codazon theme infinit on my new magento project and have faced following error, seems like issue with layer navigation and error generated by smile suite, only 3 modules installed Magento 2.4.1 pack + smile suite 2.10.3 + codazon theme.

I have deployed Magento CE 2.4.1, ElasticSuite 2.10.3, elasticsearch version 7.10.2

Issue: If I enable smile modules the css of search box is broke

[2021-01-21 09:02] vahonc commented on #2050
Hello @gmalhotra02,

Could you please try to switch to the default Magento theme - Luma and check or the problem you mentioned keeps recurring?

Best regards

[2021-01-21 09:16] DevRiffs commented on #2038
What is correct cron configuration for elasticsuite? Cron is working, everything else is fine. Is there anything else need to set in cron for elasticsuite ?

[2021-01-21 13:45] vahonc commented on #2038
As far as I know, ElasticSuite doesn't require any additional or specific settings in cron.

[2021-01-21 16:04] romainruaud opened #2051 "Analytics : number of page views is capped to 100.000"
### Preconditions

Magento Version : 2.4.0

ElasticSuite Version : > 2.10.1

Environment : Dev/Prod

Third party modules :

### Steps to reproduce

1. Have more than 100K page views for a particular time period.
2. Access the Search Analytics Dashboard
3. Filter on this time period

### Expected result

1. You should see the proper number of page views.

### Actual result

1. The number of page vi

[2021-01-21 16:08] romainruaud commented on #2051
For me this is likely to happen when using Elasticsearch 7.

The queries used by the tracker are not specifying `track_total_hits=true` meaning we will inject a default value in this case : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-tracker/etc/elasticsuite_search_request.xml

This default value is equal to the `max.window` : https://github.com/Smile-SA/elasticsui

[2021-01-21 16:26] gmalhotra02 commented on #2050
Yes it is occuring on Luma theme as well now.

[2021-01-22 08:02] vahonc commented on #2050
Hello,

In the case when you switched to the Luma theme whether this Codazon_AjaxLayeredNavPro module was disabled? If it was enabled try to disable it and check it again.

Best regards

[2021-01-22 12:59] #2029 closed

[2021-01-22 14:15] gmalhotra02 commented on #2050
Error is seen after disabling ajax layer navigation pro as well

But somehow rating module has conflict with smile suite it seems, disabling rating module let's search work, there are other issues though e.g. search

There is one more issue that is observed, e.g. selecting brand doesn't let products be loaded for particular brand...

All of the above works well by disabling smile suite, I have ask

[2021-01-22 17:02] #2034 closed

[2021-01-23 17:22] #1991 closed

[2021-01-24 21:46] david-fuehr commented on #2002
Hi together,
I just investigated this class further and have created the following draft: https://github.com/Smile-SA/elasticsuite/compare/2.10.x...david-fuehr:2.10.x

These changes seem to break backwards compatibility as the returned `$variation` does not have all product attributes loaded as before, but only those who are currently used in the code (as far as I see in a first check). With the p

[2021-01-25 06:35] davidandersson1 commented on #1985
exact same issue for us with magento version 2.3.5 and elasticsuite version ~2.9.0.

lots of times, same error generated in log/exception.log file.

Is there any solution for this bug?

[2021-01-26 14:04] PHProDreamy opened #2054 "Virtual Categories not working correct with bundle products"
We have made a virtual category saying that this category can only contain products where "att_ismainproduct" = YES. We have then set up this value for several products and we see that ElasticSuite doesn't show the correct products in the front-end.

### Preconditions
Magento Version : Magento ver. 2.4.1 - CE

ElasticSuite Version : 2.10.3

Environment : We are developing but using production mode

[2021-01-27 08:39] PHProDreamy opened #2055 "Product (tiles) missing"
When visiting some product listing pages there are products / product tiles missing. They are also not shown in the source code.

### Preconditions
Magento Version : Magento ver. 2.4.1 - CE

ElasticSuite Version : 2.10.3

Environment : We are developing but using production mode

### Steps to reproduce
1. Make a category with lots of products
2. Go through all the Listing pages
3. See there is som

[2021-01-27 09:29] vahonc commented on #2055
Hello @PHProDreamy,

As I can see from your screenshot you are using a non-default (custom) Magento theme. We do not guarantee the correct operation of our module in such cases.

If possible, you can switch to the default Magento theme (Luma) and check if the problem you mentioned still exists.

Best regards

[2021-01-27 09:35] vahonc commented on #2054
Hello @PHProDreamy,

Could you switch to the default Magento theme (Luma) and check if the problem you mentioned still exists?

Best regards

[2021-01-27 11:14] MaddocksL opened #2056 "Category Product List Preview and Category front end not showing all products"
### Preconditions

Magento Version : 2.4.1

ElasticSuite Version : 2.10.3

Environment : Developer

Third party modules :
Custom module for Grouped Products
Custom module for Category Attributes

### Steps to reproduce

1. Add products to category
2. Reindex and clear cache
2. View "Products in Category"

### Expected result

1. Product List Preview and Sorting shows all enabled products or a "sho

[2021-01-27 11:21] Quazz commented on #1985
Soooo, still not sure what the cause is, but after installing https://github.com/creatuity/magento2-interceptors module, I no longer experience this issue.

Perhaps a bug in Magento core regarding interceptor generation in certain edge cases?

[2021-01-27 12:43] vahonc commented on #2056
Hello @MaddocksL,

Could you try to disable or remove (if it's possible) your third-party modules?

If you use third-party modules that may affect our module, we cannot guarantee the correct work of the ElasticSuite module.

Best regards

[2021-01-27 15:57] ahsanaimer commented on #272
As per Magento documentation you need to put the layout file under "layout/override/base". Try this example ( tested on Magento ver. 2.3.5)

<theme_dir>/Smile_ElasticsuiteCatalog/layout/override/base/catalog_category_view_type_layered.xml

will override

vendor/smile/elasticsuite/src/module-elasticsuite-catalog/view/frontend/layout/catalog_category_view_type_layered.xml

[2021-01-27 16:30] Tahuna1 commented on #228
Hi kpitn,
first its a nice module.
i have made test install and on my installation if you have multiselect filter and you choose the one option its works fine but when you click an second option on the same filter attribute it don´t shows up in 'Activated filters' and also it looks like the filter options and counts on filters are not updated.

[2021-01-27 20:52] kpitn commented on #228
Hi  @Tahuna1  sorry there was an error left.
It's fix in the last release.

You can open issue in the module repository, if you have another problem.

[2021-01-28 07:13] paugnu opened #2057 "Get products from Category in custom block and respect Manual Sort Order"
**Is your question related to a problem? Please describe.**
I've created a custom block in my home page I would like to get 12 products from a specific category. Some products of this category have been ordered manually (by checking the manual sort) in the category visual merchandiser.

However, the collection is not ordered with the manual sorted products first, it just retrieves the products in

[2021-01-28 08:16] rbayet commented on #1465
Hello @cconway24, @DevRiffs,

If tracking is enabled and you still are not getting any data into the table `elasticsuite_tracker_log_event` **and** not tracker indices in Elasticsearch (*tracking_log_event* and *tracking_log_session* indices), check that the JS tracker is correctly loaded on your front pages (see below).

If you have *tracking_log_event* and *tracking_log_session* indices in your

[2021-01-28 10:10] MaddocksL commented on #2056
Hi @vahonc, I've disabled all the custom modules and I'm still having the same issue.

[2021-01-28 12:17] edenofjinx commented on #1465
@rbayet everything seems like it works but still get that the indexes do not exist yet.
![Screenshot from 2021-01-28 14-14-45](https://user-images.githubusercontent.com/23340692/106137607-98f10e00-6173-11eb-802f-7f64ba90fafd.png)

[2021-01-28 13:37] romainruaud commented on #2056
@MaddocksL what is the "visibility" of the non-displayed products ?

I guess they are simple childrens of configurables, so most probably, even if they are "attached" to this category, they are not displayed in front-office if they do not have at least "Catalog" or "Catalog, Search" set for their visibility.

[2021-01-28 13:46] romainruaud commented on #2057
Hi Pau, long time no see :) How are things doing in Spain ?

It's unlikely that ``$category->getProductCollection()`` will return an Elasticsuite collection.

I'd give a try to something like this :

[code]

Then, you can refer to Richard's instructions on this previous issue : https://github.com/Smile-SA/elasticsuite/issues/1579#issuecomment-545964118

[code]

[2021-01-28 14:16] MaddocksL commented on #2056
Although you have edited you response I'll give some more information about the products as it may help.

They are all grouped products with varying numbers of simple products assigned to them. I have checked 2 different products from the same category where 1 appears and the other doesn't. The settings for:
- Enable Product
- Quantity
- Advanced Inventory > Manage Stock
- Stock Status
- Visibilit

[2021-01-28 15:19] romainruaud commented on #2054
Well, we do assemble all children data inside parent product data, yes. It's by design.

We do like this especially due to the fact that a parent product might not have proper data by itself, let's imagine a configurable :

**T-shirt** :

- price : 100
- description : a cool t-shirt

And his childrens :

**Red T-Shirt, Small** :

- size : S
- color : red

**Green T-Shirt, Small**  :

- size : S
-

[2021-01-28 15:26] romainruaud commented on #1962
@killoff any update ?

[2021-01-28 15:26] romainruaud commented on #1937
You're welcome, I close the issue then

[2021-01-28 15:26] #1937 closed

[2021-01-28 15:37] romainruaud commented on #1925
What we should do for this one.

**Create a new Filter model**

This filter model should be in the ElasticSuiteCatalog module, along with the others : https://github.com/Smile-SA/elasticsuite/tree/2.10.x/src/module-elasticsuite-catalog/Model/Product/Search/Request/Container/Filter

Reminder, it's injected like this : https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-cata

[2021-01-28 16:27] PHProDreamy commented on #2054
Thanks for your feedback! That helps us a lot!

[2021-01-29 05:28] PivitParkour94 opened #2058 "Plans for CSP Support?"
**Is your question related to a problem? Please describe.**
When running Magento 2.3.6 with the Magento_CSP module enabled the external resources break because there is no csp_whitelist.xml defined.

Is this something you are planning on adding support for?

Docs: https://devdocs.magento.com/guides/v2.4/extension-dev-guide/security/content-security-policies.html

**Additional context**
Each module

[2021-01-29 06:22] paugnu commented on #2057
Hi @romainruaud !

Yes, long time no see! Things are doing great: I live in la campagne with my wife, dogs and petites poules qui me donnent des oeufs tous les jours :), five minutes walk from my work place. Everything is OK and, as you can see, always on Magento :). I would like to take this opportunity to thank you for the work you do with ElasticSuite: we're using it in one of our big projects,

[2021-01-29 07:49] gmalhotra02 commented on #2050
Will you be able to help with the module or I will # have only one choice of removing smile suite completely. Codazon team has denied support as it is 3rd party module issue (smile-suite module)

[2021-01-29 08:34] romainruaud commented on #2050
Hello @gmalhotra02

It's unlikely that our module and another one working on the same area (layered navigation) will function correctly.

So you are right, you'll have to make a choice, or to resolve the conflicts by yourself (by coding).

I close since we'll not provide such support here as part of our Open Source support policy.

Regards

[2021-01-29 08:34] #2050 closed

[2021-01-29 08:50] killoff commented on #1962
@romainruaud thanks for the simple solution. It does the thing.
We can close the ticket.

[2021-01-29 13:55] Zayander opened #2059 "Method unavailable in new Magento"
A isMasterCatalogAvailable() method unavailable in Magento 2.4.2
### Preconditions

elasticsearch:7.6
php-fpm:7.4
nginx
mysql:8.0

Magento Version : 2.4.2

ElasticSuite Version : 2.10.3

Environment : developer

Third party modules : not used

### Steps to reproduce

1. Go to the product category page

### Expected result

1. observe products

### Actual result

1. observe PHP notice
![image](http

[2021-02-01 08:33] romainruaud commented on #2059
Hi @Zayander

This issue should be moved here : https://github.com/Smile-SA/magento2-module-elasticsuite-shared-catalog

[2021-02-01 08:35] romainruaud commented on #2058
Yes that's definitely something we should support.

That being said, I think that the analytics module is the only one that is requiring statics from external domains.

[2021-02-01 08:57] pusachev commented on #2059
HI @romainruaud

Thank's for answer I will transfer this issue to  https://github.com/Smile-SA/magento2-module-elasticsuite-shared-catalog

Cheers

[2021-02-01 13:44] davidandersson1 opened #2060 "Filter product collection by custom attribute"
Hello,

We are using magento version 2.3.5 with smile elasticsuite module and we have 2 stores.

So whenever "Catalog Search" indexer performed, elsticsuite module created 2 Indices(according to look at Admin->Elasticsuite->System->Indices) for each store view that is fine and understandable.

We have created one custom attribute(sellable) with "Yes/No" type and value assign on second store level.

[2021-02-01 14:13] #2059 closed

[2021-02-01 22:22] PivitParkour94 commented on #2058
Excellent to hear! Thanks for taking the time! I look forward to the new version.

[2021-02-02 16:35] ganesh-ecsion opened #2061 "Pinning Products to Top of Search Results Not Working."
The merchandising functionality for search results doesn't seem to be working. For the search term 'chest freezer' I have an item pinned to the top of search results, but it's not showing on the front end.

### Preconditions

Magento Version : 2.3.3-p1 EE

ElasticSuite Version : 2.8.0

Environment : Developer

Third party modules : Amasty Improved Sorting

### Steps to reproduce

1. Go to Admin da

[2021-02-03 09:53] MaddocksL commented on #2056
I have found the cause of the issue.

A custom product attribute, text field - decimal number, that was set to filterable had products which were imported with non-numeric characters (e.g. 18+18).

It seems importing skips any checks that are in place when importing to prevent this from happening. Does that make it a bug or a feature request? 😄

[2021-02-03 16:40] #2041 closed

[2021-02-04 14:09] romainruaud commented on #2061
HI @ganesh-ecsion

The pinned products will be displayed on their pinned positions only when using "Relevance" as the sorting in Front-Office, which does not appear to be the case on your screenshot.

So it looks to be normal for me.

Think about it if you change the Sort By to use "Price", customers will expect to have the lowest price first, not products that have been pinned to the first positi

[2021-02-05 08:51] Neos2007 commented on #2025
Yes, @romainruaud . You are right.
On my local environment configured 1 shard and no replicas for the index, and on servers (this is Magento cloud hostig) automatically configured 3 shards for index with 2 replicas.
So what will be the best way to avoid such search issues?
![image](https://user-images.githubusercontent.com/17883826/107011128-e981f000-679f-11eb-93f7-750c6eb78b27.png)

[2021-02-05 11:09] DevRiffs opened #2062 "Foreign letters in popular search terms"
If customer search for example 'Grønnsåpe'. As you can see there is 2 foreign letters. But in admin, in Search Usage > Popular search terms those letters transformed into latin letters o and a ('gronnsape'). How to display real search results, not transformed? I see in elasticsearch they are already transformed, so what need to be changed, that it showed real queries, not changed?

[2021-02-08 01:53] gferreyra1 opened #2064 "Price Slider Tranalation"
How can I translate the text showed in the image below ?

![Captura de pantalla 2021-02-07 a las 22 50 23](https://user-images.githubusercontent.com/35316379/107167279-3d0a5e80-6997-11eb-86df-1dd0866d2093.png)

Regards

[2021-02-08 11:02] vahonc commented on #2064
Hello @gferreyra1,

You can look at the source of this line here: https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Block/Navigation/Renderer/Slider.php#L139

And here's a translation for the US language: https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/i18n/en_US.csv#L7

So you could quite easily change text whatever you want

[2021-02-08 12:27] markloganuk opened #2065 "Merchandiser Manual Sort Issue With New Products"
Hi

I have an issue with the merchandiser functionality. When we set all products in a category to Manual and we move them to positions that look good, any new products are automatically added to the bottom of the categories.  When we have a category with lots of pages, this is an issue because the new products are beneath everything.

Is there a way to set it so the new products go to the top of

[2021-02-08 12:31] stkrelax opened #2066 "Virtual Category Rule -> getCategorySearchQuery"
### Preconditions
Error occurs in Administration on category edit page.
When category is disabled on store 0 but enabled in other stores. This error will occour when viewing page of category edit when scope is all store views.

Magento Version : 2.3.5-p2 CE

ElasticSuite Version : virtual category 2.9.0

Environment : all environments

Third party modules : none connected to this

1. setup with ca

[2021-02-08 12:42] vahonc commented on #2060
Hello @davidandersson1

You could add a new filter model based on your custom attribute. Here's https://github.com/vahonc/elasticsuite/commit/099e3c397d262ab2f8e9fdb1784b48152ad9fcfc a code that can be useful for understanding the logic of such kind of solution.

Best regards

[2021-02-08 15:05] gferreyra1 commented on #2064
thanks @vahonc I've modified the source and re build the child theme and it worked fine.

Best regards

[2021-02-08 15:05] #2064 closed

[2021-02-08 15:31] warinetesteban opened #2068 "The index is missing when restarting docker"
Hello, I am using Magento 2 and Elasticsearch on docker. Install Elasticsuite, perform the **index: reindex** and there was no problem, I was able to use Elasticsuite perfectly. But when I restart docker, that is, I did a **docker-compose down** and **docker-compose up**. The indexes were deleted and I had to redo a reindex. This only happens to me with Elasticsuite, not Elasticsearch.

The versio

[2021-02-09 03:28] raybog commented on #1860
We think we are getting the same issue (only in production mode):

`{"0":"Warning: Cannot modify header information - headers already sent by (output started at \/app\/vendor\/laminas\/laminas-http\/src\/PhpEnvironment\/Response.php:132) in \/app\/vendor\/magento\/framework\/Stdlib\/Cookie\/PhpCookieManager.php on line 148","1":"#1 setcookie() called at [vendor\/magento\/framework\/Stdlib\/Cookie\

[2021-02-09 08:11] romainruaud commented on #2068
You need to add a volume for Elasticsearch to your docker-compose file.

https://github.com/bitnami/bitnami-docker-magento/blob/master/docker-compose.yml#L30

[code]

[2021-02-09 08:11] #2068 closed

[2021-02-09 08:16] romainruaud opened #2069 "Magento 2.4.2 support"
Magento 2.4.2 should be released today.

We need to ensure that everything is still compatible with this version, and working as expected.

[2021-02-09 13:01] jaxtheking commented on #1860
As mentioned [above](https://github.com/Smile-SA/elasticsuite/issues/1860#issuecomment-672460722), the error disappeared for me after upgrading to Magento 2.4.0 and ElasticSuite 2.10.0.
I'm not sure which one did it, but I'd recommend trying upgrading both first.

[2021-02-09 13:23] romainruaud commented on #2065
Well that's by design, manually pinned product are supposed to stay at the position that was given to them.

You could implement it as an optimizer rule following this old proposal : https://github.com/Smile-SA/elasticsuite/pull/595#issue-149569496

[2021-02-09 13:23] #2065 closed

[2021-02-09 13:29] romainruaud commented on #2045
Hi, sorry @VZeroCool but we cannot provide open source (free) support for module customization here.

This repository is intended only to track legacy bugs of the software, which is not appearing to be the case here, since it's due to customizations by your side.

If you are interesting in purchasing some professional support from us, please feel free to write at elasticsuite@smile.fr

Regards

[2021-02-09 13:29] #2045 closed

[2021-02-09 13:30] romainruaud commented on #2054
Great, may I close this issue then ?

[2021-02-09 13:41] PHProDreamy commented on #2054
We are working on it at the moment. I will update you tomorrow if that is good?

[2021-02-09 14:53] tig-dennisvanderhammen commented on #1860
@jaxtheking, @raybog, the update to ElasticSuite 2.10.0 fixed it, but unfortunately you cannot install this on 2.3.*. I've created a [patch](https://github.com/Smile-SA/elasticsuite/issues/1860#issuecomment-736355557) if people do need a fix on Magento 2.3.*:

[2021-02-09 15:56] romainruaud commented on #1860
Okay I close this one then, since it seems it was a Magento bug, and it's also resolved with 2.4.0

Regards

[2021-02-09 15:56] #1860 closed

[2021-02-11 07:13] muksSoni opened #2070 "Main categories showing products of sub category attributes filters also."
### Preconditions

Magento Version : 2.3.3

ElasticSuite Version : 2.1.0

Environment : production

Third party modules :

### Steps to reproduce

1.  We have a "Mens" main category in this we adding virtual category enable and adding products with "clothing" attribute set.
2. This "Mens" category have sub categories "Footwear" and it have virtual category with Footwear attribute set.
3. "Mens" ca

[2021-02-11 13:37] romainruaud commented on #2070
Hi,

this is by design.

All categories are considered as being anchor when using Elasticsuite, meaning they will always display any product belonging to one of their childrens.

You should not use virtual categories for sorting products into different categories, that's something that should be done during product import or even before in a dedicated tool (like a PIM).

Our virtual categories mec

[2021-02-11 13:37] #2070 closed

[2021-02-11 13:39] OvalMedia commented on #1982
Did you figure this one out?

[2021-02-11 14:41] OvalMedia opened #2071 "Multiselect for category filters"
While it is possible to have attributes filter by multiple choice it is not for category filters.
Once I select a category in the list of filters the subsequent page will only show the current categories subcategories. If there are none the category filter will disappear entirely.

This is just terrible UX design. Filters are supposed to give orientation and guidance. They will fail this task if t

[2021-02-11 16:12] mustanguy69 opened #2072 "Search engine randomly switch back to MYSQL"
Hello,
Thanks for a really good module !

There is an issue I have and I really cant figure out what's happening !

Sometimes when editing products/category or others action in the admin the search engine is automatically switch back to MYSQL and so the site crash on category pages + search ...

The weird thing is when it happens it look like the indexer are removed from the table "mview_state" ..

[2021-02-11 16:20] PHProDreamy commented on #2055
Hello.
We have moved our environment to Luma.
The problem can be seen here: https://ibb.co/Qr4qRYK (and online at: https://acc.baby-lux.com/mondo.html?p=27)

The issue is even bigger. See the video for what happens on page 27, 28, 29, 30 and then 26 and 31 work good. https://streamable.com/cr8w7a

For htaccess please please send me a mail.

[2021-02-11 16:36] PHProDreamy commented on #2054
We have changed here: https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/Model/Product/Indexer/Fulltext/Datasource/AttributeData.php#L34

    private $forbidenChildrenAttributeCode = [
        'visibility',
        'status',
        'price',
        'tax_class_id',
        'name',
    ];

    to

        private $forbidenChildrenAttributeCode = [
        'visibili

[2021-02-12 07:11] KZNcode commented on #2069
Got a strange one still diagnosing after update to M2.4.2 last night (our store contains 15,000+ products)...

A couple of main categories are showing products from completely different parent categories...

[2021-02-12 09:01] PHProDreamy commented on #706
We had this issue as well and narrowed down all our modules to core Magento stuff. But it looks like we have now found the bug. It happens when at Settings > Catalog > Layered Navigation > Display Category Filter is set to No.

[2021-02-12 11:53] husseycoding opened #2073 "After uninstall - Smile\ElasticsuiteCore\Model\Search\Request\RelevanceConfig\Resolver\Containers does not exist"
After having uninstalled Elasticsuite, we are now seeing this exception even when attempting to just run `bin/magento`.

    Class Smile\ElasticsuiteCore\Model\Search\Request\RelevanceConfig\Resolver\Containers does not exist#0 /b2b-argos-magento-poc/vendor/magento/framework/Code/Reader/ClassReader.php(26): ReflectionClass->__construct('Smile\\Elasticsu...')
    #1 /b2b-argos-magento-poc/vendor/ma

[2021-02-12 12:08] mustanguy69 commented on #2073
Hello,
Did you try :
[code]
Looks like a class is still in the generated ones
(be careful to not run this in production !)

Cheers

[2021-02-12 12:33] aart-boer commented on #2069
@KZNcode does turning the following setting on fix the problem?

Stores > Config > Catalog > Catalog > Layered Navigation > Display Category filter > Yes

We experienced an issue where every product is being loaded on every category page no matter what filtering is setup under the category. However, displaying category filters under the layered navigation magically fixed this.

After reading your

[2021-02-12 12:39] husseycoding commented on #2073
Yep, done everything like that lots of times which is why it's so strange.  Literally can't find any reference to the extension anywhere - can only see that it has to be in the DB, but where I just don't know at the moment.  I have also dumped the DB and searched the SQL, still no joy!

[2021-02-12 12:43] vahonc commented on #2069
Hello,

With Magento 2.4.1 version we have issue #1925 linked to displaying all products in each category when the category filter is disabled (Stores > Config > Catalog > Catalog > Layered Navigation > Display Category filter > No) but we already added a fix for this and it will be included in the next release of ElasticSuite module.

Best regards

[2021-02-12 13:15] art-boer commented on #2069
@vahonc Good to hear, thanks for letting me know!

[2021-02-12 15:44] Quazz commented on #1985
I have since disabled the interceptor module, upgraded to 2.4.2 and Elasticsuite to 2.10.3 and it works without issue again.

[2021-02-13 05:02] jtomaszewski commented on #1985
We don't use interceptors module. This bug started appearing to us today, after we've upgraded magento from 2.4.1 to 2.4.2 and also a lot of other modules. (So hard to tell, whether it was the magento update, or which module exactly...)

[2021-02-13 05:26] achatpc opened #2074 "Display products of parent category in first"
Hello,

Is it possible to display in first products of parent category or just disable products show from child category? User can chose sub category in filter for show products from...

Thank you in advance.

[2021-02-13 05:28] achatpc opened #2075 "Search result issue"
Hello,

I have issue with search result when using search bar.

All results are showing in one page.

Can be related to Smile module?

Thank you in advance.

[2021-02-14 07:28] KZNcode commented on #1925
@vahonc can you elaborate on what this does?

Also, do we need to take further steps (as in Admin) after applying this to the latest release version?

[2021-02-14 07:42] KZNcode commented on #2069
@art-boer Same issue, no matter if it's 'yes' or 'no'

Also changed all categories to "is_anchor" inside the database and that didn't make a difference either. ( #1925#issuecomment-706273046 )

@vahonc   #1925 [commit: 099e3c3; add new filter model for the current category](https://github.com/vahonc/elasticsuite/commit/099e3c397d262ab2f8e9fdb1784b48152ad9fcfc)

This commit didn't fix our issue eit

[2021-02-15 08:32] vahonc commented on #2075
Hello @achatpc,

At this moment, according to the description of your problem, we can't suggest you any solution. We need more details about your case, namely the version of the Magento and ElasticSuite (screenshots, logs, etc).

You could try to uninstall/remove, if it's possible, the ElasticSuite module and come back to Elasticsearch7 in the settings Search Engine in Magento BO and check if your

[2021-02-15 08:57] vahonc commented on #1925
Hello @KZNcode,

My fix added the ability to add/force the Current Category filter to the filters model to be being there every time when you are on a page of some category, regardless of what is set in the configuration (Stores > Config > Catalog > Catalog > Layered Navigation > Display Category filter). It fixed the issue of displaying all products from the catalog in the current category when t

[2021-02-15 10:17] mhafizumer opened #2076 "Get Virtual Categories IDs from product id(product which is filtered by product rule)"
**Get Virtual Categories IDs from product id(product which is filtered by product rule)**
I want to get all categories Ids from a product ID, product Id will be which we get product after applying the Virtual Rule.
let me explain you look at screenshot :

![image](https://user-images.githubusercontent.com/67052331/107932550-82361e00-6f9f-11eb-8848-617c86351e97.png)

I have applies virtual rule and

[2021-02-15 13:26] romainruaud commented on #2076
Duplicate of #378

[2021-02-15 13:28] refueledinc commented on #2073
@husseycoding have you tried `composer dump-autoload -o` ?

[2021-02-15 13:50] mhafizumer commented on #2076
@romainruaud ticket [378](https://github.com/Smile-SA/elasticsuite/issues/378) is still open, mean there is not any method to fetch virtual categories from product?

[2021-02-15 14:26] romainruaud commented on #2071
Hi @OvalMedia

That's something we already analyzed previously for some of our customers but that was finally never made due to the amount of required work versus the return on investment.

That's also something really tied to the "legacy" frontend of Magento and that would require more work to get it working compared to the graphql implementation.

So it's unlikely that we'll add such a feature a

[2021-02-15 16:33] KnK123 commented on #1452
Hi Team,
Magento Version: 2.3.5-p2 EE
Elastic search version: elasticsearch 6.8.0
There are 16 products assigned to one category. But in the **Products List Preview and Sorting** showing only 9 products.

Could you please help me how to fix this issue.

Here are the screenshots:
https://prnt.sc/zmfq7u
https://prnt.sc/zmfuk7

[2021-02-16 05:27] husseycoding commented on #2073
Thanks for the suggestion.  There is a totally new environment every time the build runs so not sure this will be the reason, but still worth a try!

[2021-02-16 14:14] mhafizumer commented on #380
@romainruaud  your code is working correctly only it not work when we call this from category_save after event  `catalog_category_save_after` it returns the error **No such entity with id = 0**

[2021-02-16 14:29] nagarajuk12 opened #2077 "Products List Preview and Sorting products are missing."
### Preconditions

Magento Version : Magento/2.3 (B2B)

ElasticSuite Version : 6.8.0

Environment :  Development.

Third party modules : No

### Steps to reproduce

1. There are 16 products assigned to one category. But in the Products List Preview and Sorting showing only 9 products.

4. All products are simple & configurable with catalog search & assigned to the same category and website.

### E

[2021-02-16 16:10] OvalMedia opened #2078 "Facet max. size cannot be zero (although it can)"
Setting the value "Facet max. size" in an attribute's settings the form cannot be submitted if the value in that field is 0.
I can empty the field and submit ok which results in the field acutally being set to 0. A subsequent submission will result in an error message "Please enter a number greater than 0 in this field.".

### Preconditions
PHP 7.3

Magento Version : 2.4.2 (CE)

ElasticSuite Versi

[2021-02-16 16:41] PHProDreamy commented on #2055
https://ibb.co/hVbQM3c
https://ibb.co/jZnByPM
https://ibb.co/wy9pYnT
https://ibb.co/VBP7F0C

Here are the screenshots for multiple pages.

[2021-02-16 16:43] PHProDreamy commented on #2054
Hi @romainruaud, Did you maybe have a change to take a look at this? :) I can always give you htcaccess / inlog details via mail to show you the issue.

Thank! With kind regards

[2021-02-16 16:52] romainruaud commented on #2054
Hi @PHProDreamy

We cannot provide support for your project as part of our (free) Open Source support policy here.

That's something we can do as part of our professional services (paid) policy if you feel the need to. If that's the case, you can contact us by mail at elasticsuite@smile.fr

Regards

[2021-02-17 05:32] KZNcode commented on #1925
@vahonc Thanks for that.

[2021-02-17 05:38] KZNcode commented on #2077
We're having an issue that may relate to this as well...

When we do a 'select all' the preview section completely disappears, and there's a serialization error after hitting save...

Selecting each product 1 by 1 works as expected... But as soon as you hit "select all" at any point of the selection process, the same above issue takes place.

[2021-02-17 07:52] romainruaud commented on #2077
@KZNcode please fill a new issue, this seems to be different than OP's thread.

@KnK123 it looks like you have product without prices, if that's the case, they won't be indexed in the Magento legacy stock index, which may cause them to not appear in frontend (and also not on the BO preview, which reflects exactly the frontend).

What is your configuration about displaying out of stock products in

[2021-02-17 07:53] romainruaud commented on #2076
Right, there are no method to do this actually. And regarding the amount of work needed for #378, it's low priority for us right now.

Regards

[2021-02-17 07:59] romainruaud commented on #2056
This might be a bug but it should be posted into Magento's github, not ours :)

You are right, Elasticsearch is strict on field types, and we build the mapping according to the attribute declaration in magento (integer, string, boolean, etc...).

We cannot add control for each field of each product during reindexing since it would hurt performances a lot.

The only thing we can recommend is to be

[2021-02-17 07:59] #2056 closed

[2021-02-17 07:59] #2054 closed

[2021-02-17 08:04] romainruaud commented on #1998
Hi @sanganagouda1

This seems to be very specific to your project.

Did you find anything else since you submitted this ?

Regards

[2021-02-17 08:06] romainruaud commented on #1982
Woops I did not see this one.

Duplicate of #2071 : please see my response in the other issue.

regards

[2021-02-17 08:06] #1982 closed

[2021-02-17 08:06] romainruaud commented on #1962
Great, I merge it and I close.

Thank you

[2021-02-17 08:06] #1962 closed

[2021-02-17 08:10] romainruaud commented on #1848
Ok I close then, since it was very specific to your context.

Regards

[2021-02-17 08:10] #1848 closed

[2021-02-17 08:12] romainruaud commented on #1885
I close this one since it has been answered.

[2021-02-17 08:12] #1885 closed

[2021-02-17 08:13] romainruaud commented on #1841
@zexperto any update ?

[2021-02-17 08:25] OvalMedia commented on #2071
I would do it if knew how. This is something I have been struggeling with magento from the very start. Some modules I purchased in the past are capable of doing it but looking at the code I never figured out how they did it. Unfortunately those modules would not be compatible with yours. Given that your module has so much more to offer this is something we will have to live with.

[2021-02-17 08:34] OvalMedia commented on #2071
A possible workaround (with limits) for anyone who needs this: you could create a separate attribute which syncs with the categories. With plugins and observers you could automate the synchronization between the two. Since attributes CAN have multiple choice this would act as a category filter.

Of course this would only work with one category level.

[2021-02-17 08:34] #2071 closed

[2021-02-17 09:31] altie33 opened #2079 "GraphQl - can't filter product without making it searchable"
Hello,
I have an issue with the graphql product api. In order to make an attribute filterable, i'm forced to make is searchable in the back office ( is_searchable = 1 ). But i don't necessary want my attributes to be searchable. I think we should be able to filter when we change the value of "is_filterable" or "is_filterable_in_search"

### Preconditions

Magento Version : EE 2.3.4

ElasticSuite V

[2021-02-17 09:44] KnK123 commented on #2077
@romainruaud  Thanks for your reply. Actually those are configurable products. Hence price is zero.

[2021-02-17 13:27] adavia opened #2080 "Warning message: Fallback to JQueryUI Compat activated. Your store is missing a dependency for a jQueryUI widget."
After installing elasticsuit 2.10.3 i am facing the following warning message in category pages on my Magento 2.4.1 local environment
"Fallback to JQueryUI Compat activated. Your store is missing a dependency for a jQueryUI widget. Identifying and addressing the dependency will drastically improve the performance of your site."
I am afraid this might cause performance issue.

### Preconditions

Lo

[2021-02-17 14:54] vahonc commented on #2080
Hello @adavia,

Are you using some custom theme or default Luma theme? If so, could you try switch to the default theme and check it again?

BR,
Vadym

[2021-02-17 16:52] zexperto commented on #1841
Hello @romainruaud  unfortunately I could not work on it yet

[2021-02-17 17:01] Quazz commented on #2080
The PR that fixes this is merged and I presume it will be in the next version.

https://github.com/Smile-SA/elasticsuite/pull/1927

[2021-02-17 18:28] refueledinc commented on #2069
@romainruaud Is there an ETA on when we can expect M2.4.2 support? Seems people are having several issues related to M2.4.2 and this extension is blocking our update plans.

[2021-02-17 20:10] adavia commented on #2080
Thanks @Quazz

[2021-02-17 20:10] #2080 closed

[2021-02-18 05:45] jimuld commented on #1912
Same issue facing in latest version

**Preconditions**
Magento Version : 2.4.1 EE
ElasticSuite Version : 2.10.0
Environment : Developer & Production
Third party modules : N/A

[2021-02-18 07:50] romainruaud commented on #2069
Hi @refueledinc

TL;DR version : very soon, we are in the final "manual" stage of testing everything against 2.4.2.

Details :

On the "technical" part, I'd say that I trust our Github actions pipeline which is running fine on Magento 2.4.2 and Elasticsuite 2.10.x  branch. For transparency, here is what this pipeline is doing : https://github.com/Smile-SA/elasticsuite/actions/runs/557994738

- ins

[2021-02-18 08:25] romainruaud commented on #1912
@jimuld please see my comment, you have to update to Elasticsuite 2.10.1

[2021-02-18 09:05] edenofjinx commented on #2062
Having the same issue with elasticsuite on magento 2.4.1

[2021-02-18 09:24] alinalexandru opened #2081 "Render filters without knockout js"
Google has announced that it will take into consideration CLS (https://web.dev/cls/) when is calculating the rating.
As the filters are rendered with Knockoutjs, the filter area is changing.
This affects the CLS score.

It's there a reason why the rendering was preferred to be done in javascript?

[2021-02-18 11:43] groomershop-mt commented on #2069
We have done our internat tests and upgraded to Magento 2.4.2 at production - we do not see any (new) issues related with ElasticSuite and Magento 2.4.2.

[2021-02-18 13:19] vahonc commented on #2078
Hello @OvalMedia,

Basically, the Facet max size is the maximum number of elements that will be displayed by a filter in the front office. In other words above it, we will display a "Show more" button. I don't see in which context people would want to set it to 0.

BR,
Vadym

[2021-02-18 13:21] OvalMedia commented on #2078
0 (or empty) will remove the limit. It will show all items, which is the context I want it to be 0 in.

[2021-02-18 13:27] jimuld commented on #1912
@romainruaud, sectio on "Which version should I use ?" says 2.10.1 no actively maintained, and mentioned as have to use 2.10.0 Mageno >=2.4.1

[2021-02-18 13:29] #1925 closed

[2021-02-18 13:53] vahonc commented on #2069
Hello all,

I've also done all my investigating and tests on both versions of Magento (Comunity and Enterprise Editions) and I don't detect anything that could be malfunctioning in the back-office or in the front-office. All are works as in the previous version of Magento (2.4.1)

BR,
Vadym

[2021-02-18 13:59] refueledinc commented on #2069
@romainruaud @vahonc Thanks for the updates. I've updated to magento this morning and so far have not noticed any issues specific to the M2.4.2 update.

[2021-02-18 14:13] romainruaud commented on #1912
You read it wrong.

Magento 2.4.0 => ElasticSuite 2.10.1 maximum, can't go higher.

Magento 2.4.1 and above => Elasticsuite 2.10.2

[2021-02-18 14:15] romainruaud commented on #2069
Okay, we can conclude that we are compatible with 2.4.2

I close the issue, don't hesitate to open a new one if needed.

[2021-02-18 14:15] #2069 closed

[2021-02-18 14:17] jimuld commented on #1912
@romainruaud yes red wrong, thanks for the clarification

[2021-02-18 14:20] romainruaud commented on #2079
@vahonc can you start by trying to reproduce this issue on latest versions ?

[2021-02-18 19:50] patricksteenks commented on #2057
I'm wondering about this question as well. I get the same error when using this CollectionFactory in my construct function.

[2021-02-18 20:10] patricksteenks commented on #2057
Ok, when I use `\Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Fulltext\CollectionFactory $productCollectionFactory,` in my construct, the sort is working!

[2021-02-19 04:27] KnK123 commented on #2077
@KZNcode @romainruaud Could you please advise how to resolve this issue?

[2021-02-19 04:40] paugnu commented on #2057
Hi @patricksteenks,

Could you please share the code you're using for your block? When I use that class it doesn't work for me (manual sorted products are not sorted, it just takes the default order).

[2021-02-19 05:06] jimuld commented on #1912
@romainruaud we upgraded to 2.10.3, still issue is there now its pagination working but showing all products on all page. For example there are 31 products in category and page size is 12, loading all 31 products on all pages

[2021-02-19 08:55] patricksteenks commented on #2057
Yes, off course!

`<?php
    /**
    * Block for best sold products homepage
    * @category    Keytoe
    * @package     Keytoe_Project
    * @author      Keytoe.nl
    */

    namespace Keytoe\Project\Block\Cms\Homepage;

    class Bestverkocht extends \Magento\Framework\View\Element\Template  {

        protected $_categoryFactory;
        protected $categoryRepository;
        protected $_cate

[2021-02-19 14:00] paugnu commented on #2057
Thanks a lot @patricksteenks, it work for me! We can close this.

[2021-02-19 14:00] #2057 closed

[2021-02-19 14:15] #2061 closed

[2021-02-19 23:38] patricksteenks commented on #2057
👍

Verstuurd vanaf mijn iPhone

[2021-02-23 05:58] rameshre-kensium commented on #2077
@romainruaud  Any update on this?

[2021-02-23 12:58] #2060 closed

[2021-02-24 14:31] edenofjinx commented on #2062
@vahonc any news regarding this?

[2021-02-24 14:38] vahonc commented on #2062
Hello @edenofjinx,

Sorry, but I didn't have time to investigate this issue.

BR,
Vadym

[2021-02-24 14:43] edenofjinx commented on #2062
@vahonc hopefully we will hear from you soon :+1:

[2021-02-25 12:44] PHProDreamy commented on #2055
https://babylux-acc2-fr.phpro.be/boutique/cybex.html?p=11 another example

[2021-02-25 14:30] vahonc commented on #2079
Hello all,

I tried to reproduce this issue on the latest version of ElasticSuite (2.10.3) and with Magento 2.4.2 EE and didn't notice any errors with the graphql product API. I also tried to test it on ElasticSuite 2.9.3 and Magento 2.3.5.p2 EE and there is also everything is fine with graphql. In the end, I was only able to reproduce this issue with the ElasticSuite 2.8.6 and Magento 2.3.4 CE/EE

[2021-02-26 00:37] joebassi opened #2084 "Indices and Product list not showing"
### Preconditions

Magento Version :  ver. 2.3.5-p2

ElasticSuite Version : 2.9.0

Environment : Both

Third party modules : Amasty - Custom Forms, Infortis-Ultimo Theme

### Steps to reproduce

1. We have 2 Magento Sites, on Site A, we're able to index and view products, but on Site B after indexing we get "We can't find products matching the selection" for the product list
2.  At beginning we on

[2021-02-26 04:06] scottsb opened #2085 "Ability to force type & indexing analyzer for non-searchable fields"
Currently it is possible to set the search analyzer in `elasticsuite_indices.xml` with the `defaultSearchAnalyzer` key, but this gets ignored if the field is not used for search or sorting:

https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-core/Index/Mapping/Field.php#L328

Furthermore, it has the effect of also overriding our field type specification (`text` gets turne

[2021-02-26 08:09] romainruaud commented on #2055
Hi @PHProDreamy

I'm closing this issue because it's something specific to your project.

We cannot address this as part of our Open Source (free) support policy here. If you need specific project support from our side, please reach us by mail at elasticsuite@smile.fr and we'll find out how we could collaborate on a time & material basis.

Best regards

[2021-02-26 08:09] #2055 closed

[2021-02-26 08:13] kerlama commented on #2077
I have the same issue ... latest smile module and magento 2.4.1 and 2.4.2

[2021-02-26 08:24] PHProDreamy commented on #2055
@romainruaud ; I disagree. This environment is Luma based and has no other modules running than ElasticSuite. I read more issues on github here with similar issues. Furthermore, I have already send 5 mails to get a quote to help us fix this, and I don't get any more replies.

[2021-02-26 11:04] purna12 opened #2086 "Product Query Interface is not found while setup upgrade"
sudo php bin/magento setup:di:compile
Compilation was started.
Repositories code generation... 1/7 [====>-----------------------]  14% 1 sec 81.0 MiBPHP Fatal error:  Interface 'Magento\CatalogGraphQl\Model\Resolver\Products\Query\ProductQueryInterface' not found in /app/code/Smile/ElasticsuiteCatalogGraphQl/Model/Resolver/Products/Query/Search.php on line 34

Fatal error: Interface 'Magento\Catal

[2021-02-26 13:20] dbrzezicki opened #2087 "autocomplete isn't working"
Magento: 2.4.1 CE
ElasticSuite: 2.10.3
Theme: Porto

I have a problem with the search because autocomplete isn't working. Any suggestions?

![search](https://user-images.githubusercontent.com/79701354/109304734-f80e7500-783c-11eb-9949-918a8b0c83dc.png)

I did:

In the file :
/app/design/frontend/Smartwave/porto/Magento_CatalogSearch/web/css/source/_module.less

Replace old with new variables:
@aut

[2021-02-26 14:13] #2058 closed

[2021-02-26 14:17] #2051 closed

[2021-02-26 20:59] codewidsaurav opened #2089 "Magento 2.4: show variant images of configurable product based on filter"
i have configurable product on listing page with swatches enabled .

Configurable product has images swatches - Red , Green, Blue.

Not when i applied Color - filter as Red still images on Listing page -it still shows default configurable product image, instead it should show Red one image of one of Variant Product with Red image.

![4bjHz](https://user-images.githubusercontent.com/79244922/109354

[2021-02-27 20:22] achatpc commented on #2075
Fixed with:

https://magento.stackexchange.com/questions/326814/magento-2-pagination-not-working-on-search-results-porto-theme

[2021-02-27 20:22] #2075 closed

[2021-02-28 18:41] codewidsaurav commented on #2089
Please help with way to fix it , it work in default magento

[2021-03-02 06:55] KZNcode commented on #2077
@kerlama tried doing the same; didn't work in our case.

[2021-03-02 11:32] KnK123 commented on #2077
@kerlama I have tried the same from my end but did not work.

[2021-03-02 14:08] vahonc commented on #2086
Hello @purna12,

Could you please provide more details about your environment such as Magento and ElasticSuite versions? Did you additional changes in the code or install some specific third-party modules, etc?

Did you try to clean your cache before compilation or run next command:
`rm -rf var/cache/* var/page_cache/* generated/code/*`

BR,
Vadym

[2021-03-03 07:50] ia-gaurav opened #2090 "Price slider not friendly in mobile"
Price slider is not friendly in mobile, drag event is not working in it, need to click it to make chnages

[2021-03-03 14:55] GeryPHPro opened #2091 "SEO friendly URLs for filter options"
**What?**
When selecting filters on a category page the URL is displayed SEO friendly instead of with parameters.

**Example**
When selecting the color filter red in the T-shirt category the URL will display as:
/tshirts/color/red instead of /tshirts/?color=red

[2021-03-03 18:56] amitmaurya191 commented on #1998
I'm also getting the slimier issue but it is in different module of elastic search.

[code]

![image](https://user-images.githubusercontent.com/59875468/109857023-32827280-7c80-11eb-986c-c00fb29ef382.png)

Help please.

[2021-03-04 08:52] #1998 closed

[2021-03-04 14:11] romainruaud commented on #2090
Duplicate of #1919 but we definitely have to adress this one

[2021-03-05 11:27] art-boer commented on #2073
I actually had the same error, and the solution was to clear my redis cache:

`redis-cli flushall`

[2021-03-05 18:58] duffner opened #2093 "All Products Disappear After Update of single Product"
We are noticing an issue when reassigning products, from one category to another.  When we move a product from one category to another, the indexes are invalidated, but for some reason, all products are deleted from the website until the index refreshes.

https://github.com/Smile-SA/elasticsuite/issues/1075

The same Issue Experienced.  ^^^

### Preconditions

Magento Multi-Website, and Multiple R

[2021-03-08 07:58] TheRealHunzik commented on #1735
Hello @rbayet

I have Magento 2.3

Here is My Installed Plugin List

![Screenshot from 2021-03-08 12-52-17](https://user-images.githubusercontent.com/51072292/110291196-758c6f00-800d-11eb-8548-d5ad912cf7e0.png)

Here is My Elastic Search

![Screenshot from 2021-03-08 12-55-21](https://user-images.githubusercontent.com/51072292/110291302-981e8800-800d-11eb-9c96-d3d59e4f81cb.png)

And When i Re inde

[2021-03-08 08:43] KnK123 commented on #2077
Hi Team,

Can any one help me on this issue please?

Thanks

[2021-03-08 09:18] vahonc commented on #2087
Hello @dbrzezicki,

As I can see you're using a custom theme, we couldn't guarantee the correct work of our modules in this case.

You could try switch to the default theme (Luma) and check if this problem is occurring.

Also, check logs and the output from Console/Dev tools of your browser, maybe you will find some errors which help you to understand where is your problem.

BR,
Vadym

[2021-03-08 11:01] vahonc commented on #2062
Hello @edenofjinx,

Which encoding of the database you are using?
Maybe it could be linked to encoding settings or smth like that?

BR,
Vadym

[2021-03-08 11:28] edenofjinx commented on #2062
@vahonc isnt this added directly to elasticsuite? our database collation is utf8_general_ci, but all of the other info is correct, only the search terms get converted to latin characters

[2021-03-08 11:56] vahonc commented on #2062
@edenofjinx, it was only one thought, never mind)

[2021-03-08 14:39] lbajsarowicz commented on #899
@refueledinc Unfortunately Redchamps made that extension paid, so their comment became promotional (spam).

[2021-03-10 10:26] codewidsaurav opened #2095 "Magento 2.4: show variant images of configurable product based on filter"
i have configurable product on listing page with swatches enabled .

Configurable product has images swatches - Red , Green, Blue.

Not when i applied Color - filter as Red still images on Listing page -it still shows default configurable product image, instead it should show Red one image of one of Variant Product with Red image.

![4bjHz](https://user-images.githubusercontent.com/79244922/109354

[2021-03-10 10:27] #2089 closed

[2021-03-11 18:10] jmonrove commented on #2038
I am having the same issue in Magento Commerce 2.3.5-p2 with ElasticSuite 2.9

![image](https://user-images.githubusercontent.com/32687858/110833608-7ad9fb80-8251-11eb-965a-05e42461c90c.png)

When I check my Indexes, they're not there
![image](https://user-images.githubusercontent.com/32687858/110833840-b70d5c00-8251-11eb-9558-fbf5e5087875.png)

When I checked my database, I don't see either
track

[2021-03-11 18:44] jmonrove commented on #2038
When I perform searches in the front end I do get new records added to
elasticsuite_tracker_log_event

I do get the h.png image with a 200 status code

![image](https://user-images.githubusercontent.com/32687858/110837898-ab706400-8256-11eb-8d80-ec6783c47dbf.png)

[2021-03-12 08:55] JeroenVanLeusden commented on #1498
Major bump. We're definitely interested in this feature.

[2021-03-12 12:28] amenk opened #2096 "Occassional error on order success page related to saferpay / customweb module, maybe related to elasticsuite-tracker"
We have very few orders which get canceled on the success page.

### Preconditions

Magento Version : 2.3.4-p2

ElasticSuite Version :2.8.10

Environment : production

Third party modules : SaferPay Module by custom web

### Steps to reproduce
The issue is not reproducible clearly

1. Make an order
2. Pay
3. Return to order success page
### Expected result

1. All fine

### Actual result

Server e

[2021-03-16 15:33] wahidnory commented on #1998
Heya,

Not to drag this issue out of staleness, but I've recently upgraded a shop from 2.3.4-p2 to 2.4.2 and this came out of nowhere.
If anybody got any tips as to where to look, that'd be great.

If I debug this eventually I'll report back.

[2021-03-17 10:24] Wohlie commented on #1621
Hi, we're also still facing to this problem with the following configuration:
* Percona 5.7.33-36
* Magento 2.3.4
* elasticsuite 2.8.8

### Problem
Profiling:
`getAttributesRawData` take about 40sec
![image](https://user-images.githubusercontent.com/329240/111442208-63df5180-8708-11eb-8c4a-c680922da3f1.png)

`EXPLAIN` of the query shows missing index usage for EVA tables:
| id | select\_type | tab

[2021-03-17 14:35] #2086 closed

[2021-03-17 15:19] Quazz commented on #1621
About 15-25% improvement on a 125K ish catalog with 3 store views in a quick test. Can't fully speak to whether the results are the same, though the number of documents in the index seems to match at least.

[2021-03-18 14:41] harrigo opened #2097 "Slow Search Queries - Possibly related to virtual categories"
I have been using this module for a few years now and have found it relatively quick however over time have noticed a bit of a slow down. I have been playing with this on lesser hardware recently and found queries to be quite slow... here is a section of my profiler:

[code]

So the whole page is taking around 1.74 seconds which is pretty slow for my site with uncached product and category pages t

[2021-03-18 14:53] bmxmale opened #2098 "GraphQL Root category"
When we call graphql for root category:

[code]
In results we get:

[code]

Magento Version : CE 2.4.2

ElasticSuite Version : 2.10

Environment : Developer

[2021-03-19 13:08] mfickers opened #2099 "Additional out of stock check leads to ghost products on catalog and search pages."
After update to the newest extension version, we've noticed an issue with out of stock products being counted in filters and pagination, messing with the page sizes and creating filters that lead to empty listings.

### Preconditions

Magento Version : 2.4.1

ElasticSuite Version : 2.10.3

Environment : Developer/Production

### Steps to reproduce

1. All indices on "On Schedule", no cron configur

[2021-03-20 23:18] kpitn commented on #1274
I love elasticsuite module, but i agree, defaut autocomplete way is a bit slow actually.

I try a way to speed up autocomplete in a new module available here : https://github.com/Web200/magento-elasticsuite-autocomplete

The goal is to avoid produit loading, and use elasticsearch data to display product.
No modification is done on js or phtml.

More information in module readme file.

[2021-03-21 08:52] davidwindell commented on #1274
@kpitn this is awesome, thanks for sharing - will check your module out next week.

[2021-03-22 10:33] qsolutions-pl commented on #1925
Had the same issue, it turned out that there was a bug in Magento 2 import proces which resulted in invalid "path" values in `catalog_category_entity` table.
Once we fixed this on our end, there are no more issues as described.

[2021-03-22 13:09] romainruaud commented on #2097
Hello @harrigo

Could you copy/paste an example of generated query ? You can enable logging in **Stores > Configuration > Elasticsuite > Enable Debug Mode** and the queries will be logged into the system.log

If we can see the query we'll be able to give you insights about the processing time.

[2021-03-22 13:11] romainruaud commented on #2096
Looks like https://github.com/Smile-SA/elasticsuite/pull/2030

Maybe we should merge this one

[2021-03-22 13:18] amenk commented on #2096
Still wondering if a check for `getPayment() !== null` would be necessary in https://github.com/Smile-SA/elasticsuite/pull/2030/files#diff-4f698766a5bc758396da4fae195c0da59392dfbe830c991d39b3a7b9a29fa874R74 as a safeguard.

I also don't know if the exception in the elasticsuite module is caused by the payment module doing something strange or if the exception in the smilesa module on the success p

[2021-03-22 13:21] romainruaud commented on #2098
I see that you are querying for the category "1" directly.

I'm not sure this should be supported considering the fact that this category is more a technical one than a "real" category.

We could fix this of course, but it might result in "no results" because in the Elasticsearch index, products are not attached to this particular "1" category, the lowest-level is the root category of the store vi

[2021-03-22 14:02] Quazz commented on #2099
I believe that was actually a core Magento bug.

Magento 2.4.2 changelog contains this:

[2021-03-22 14:19] mfickers commented on #2099
Thank you for that piece of info. This explains why the two indices where getting out of sync. We'll get to that update as soon as possible and see how that improves the situation.

However, there is still the issue of duplicate out of stock checks for the product collection. As long as both indices contain the same information about salability this won't matter, but as you can see above this can

[2021-03-22 14:31] harrigo commented on #2097
Have attached as was large, this was only one or two queries but looks quite crazy to me. I have not got that many optimisers or anything although have played with a few, (there are 5 active ones at present).  I have also reduced down i believe searchable attributes to just skus, mpn meta data title and a few others i believe via Magento attributes to try and speed it up.

[system.log](https://git

[2021-03-23 09:39] #2087 closed

[2021-03-24 07:22] romainruaud commented on #2097
Well there's a lot of virtual categories clauses combined in this query, indeed. The query itself has a size of 1.7Mo :/

What is the use case behind your virtual categories ? I see some of them based on product material, style, etc... Is this due to the fact that you do not have anything efficient to order your products before they are added to Magento ?

[2021-03-24 07:32] harrigo commented on #2097
Well most should be brands, as that allows products to be placed in one main category and then autofilled into brands so we don't have to worry about forgetting to add them there. When they have a colour that might be in cases where brand and range and that range is all blue like a certain range of crockery.

I have been asking to keep usage to minimum on these and removed around 100 virtual categ

[2021-03-26 08:24] bmxmale commented on #2098
I agree that is unusual query, but adding some statement avoid error displaying on query result.

[2021-03-26 08:28] vahonc commented on #2098
Hello Mateusz,

Yep, you're right and I'll try to do it.

BR,
Vadym

[2021-03-27 09:10] mrtuvn commented on #1002
works like a charm

[2021-03-29 10:59] madnazz commented on #290
the rule is not usable when all configurable products are displayed. an alternative solution would be to use 'special_price' is greather then instead of contains...how does this work?

[2021-03-30 07:49] amenk commented on #1937
We had the problem again and were wondering if there is SQL query to identify such problems, so we could at least add it to the monitoring.

[2021-03-30 13:43] harrigo commented on #2097
Right so i'm just testing botching them out although i know probably not a great idea and no idea what i'm doing i'm just wondering if this may just help in my case...

[code]
Just to return an empty array I guess but not entirely sure what i've messsed with everything seems to work and rapid compared to before (ES:Execute Search Query | 0.022710) with much smaller queries.

What repercussions can

[2021-04-01 12:47] janssensjelle opened #2100 "Disabled search by sku, still showing sku's"
In the file module-elasticsuite-catalog/etc/elasticsuite_indices.xml

it is possible to search isSearchable for SKU to false. After having done this, and reindexing, it is still possible to search skus. Any idea why this happens?

[2021-04-02 10:34] sky-hub opened #2101 ""Configuration" type cache not invalidated after saving product attribute"
### Preconditions

Magento Version : 2.4.2

ElasticSuite Version : 2.10.3

Environment : All

Third party modules : None

### Steps to reproduce

1. Create Magento attribute of backend type decimal (can be any type as long as it can be used as "Filterable"), set "Use in Layered Navigation" to "No"
2. Assign attribute to some attribute set and create products using this attribute
3. Reindex "catalo

[2021-04-02 10:38] sky-hub commented on #2101
PS: I can create a PR with a fix for this issue when it gets validated.

[2021-04-03 12:42] toyarmys opened #2102 "Search result not show"
When I call getBlockHtml('top.search') in my custom template, it show the search bar as well. But when I started to search, it not show the result as expect. Not show error in console log, though. Please have a look on it. Thanks.

[2021-04-06 08:53] sky-hub opened #2103 "Field name mapping updateable from constructor arguments for product fulltext collection"
**Is your feature request related to a problem? Please describe.**
Sometimes you need to add custom filters with custom behavior which may require adding a new field mapping in the `\Smile\ElasticsuiteCatalog\Model\ResourceModel\Product\Fulltext\Collection::$fieldNameMapping` array.
Currently there is no way in adding additional fields unless:
- rewriting collection
- reimplement method \Smile\Ela

[2021-04-07 08:50] romainruaud commented on #2103
I agree on this, this has been on our todo from so long. But we ended up duplicating this `$fieldNameMapping` at many other locations (API, GraphQL, attributes rules, etc...).

So I'd be happy to review a PR that could fix this, with an unique object that could be also overriden/enriched through DI.

regards

[2021-04-07 08:53] romainruaud commented on #1621
Wow, good catch, we'll have to test it with caution, especially with Magento Enterprise where things are handled differently (row_id/entity_id).

[2021-04-07 08:58] sky-hub commented on #2103
@romainruaud , I will think of a solution in the following days and post it here so we can discuss it, if that is ok with you.
I guess it would be nice to offer some backwards compatibility also.

[2021-04-07 09:00] sky-hub commented on #2101
@romainruaud , can I assume that consider this a legitimate issue and I can create a PR with a fix?

[2021-04-07 14:20] Igloczek commented on #1931
@rbayet do you have some estimate when this fix will be released? Is there something we may help you with?

[2021-04-07 23:39] implantdirect opened #2104 "Smile elasticsuite category FilterList has conflict with Amasty Shop BY"
**Is your question related to a problem? Please describe.**
Hello
We should have both Smile elastic suite and  Amasty shopby installed, however the following errors are happening:

[code]

I have created a new module to override the Filterlist arguments, the  di.xml  inside this new module is as following:
[code]

Here is the Module.xml file of this new module:

[code]
- I cannot figure how  to ma

[2021-04-08 12:47] reviskar commented on #2093
Hi!
Can confirm, exactly the same problem occurring here, with identical flow and exactly the same versions.
@duffner any chance you had any luck figuring this out?
I've also narrowed it down being related with Elasticsuite, but having a hard time pinpointing the exact failure mechanism due to it being a production issue for us mainly. We changed all indexers back to "scheduled" and that somewhat

[2021-04-08 13:13] romainruaud commented on #2101
yes sure, feel free !

[2021-04-08 13:17] romainruaud commented on #2101
I thought I made an answer on this one previously.

Beware, that's related to https://github.com/Smile-SA/elasticsuite/issues/1689

Cleaning the cache will be enough **if you reindex after**, otherwise, you will have the field in the "PHP Mapping" (Elasticsuite will be aware of the field) but not in the Elasticsearch index, that may also lead to other issues like in #1689.

Changing configuration

[2021-04-08 13:49] duffner commented on #2093
@reviskar Unfortunately no, we still have the issue from time to time.    Are you self-hosting Elastic, or using a service such as Amazon Elasticsearch Service?

[2021-04-08 14:54] ioweb-gr opened #2105 "Virtual categories for elasticsearch suite"
- Is ElasticSuite able to build virtual categories based on a specific attribute which differs per website?

For example I have an attribute `MyAttribute` for which Product X has a value of

20% in Website 1  and
40% in Website 2

I create a virtual category for which I would like to show products where MyAttribute is 20%.

I would expect Product X to show up in Website 1 but not in Website 2.

Wo

[2021-04-08 15:39] vahonc commented on #2102
Hello @toyarmys,

Could you please add more details and explain what you want to do, what results are you expected, etc? Also, It will be useful if you added some screenshots for a better understanding of this issue.

BR,
Vadym

[2021-04-08 15:46] vahonc commented on #2100
Hello @janssensjelle,

If I correctly understand you did all that needed, but anyway please read our [Wiki](url https://github.com/Smile-SA/elasticsuite/wiki/Indexing#defining-fields-property-via-configuration)

Also, please provide more details, for example a code from your file `module-elasticsuite-catalog/etc/elasticsuite_indices.xml` and mapping of fields. This will help us better understand w

[2021-04-09 06:08] reviskar commented on #2093
The local web hosting service we use is responsible for hosting the elasticsearch service, but take it as a self-hosting Elastic as it is installed on the same private server.

[2021-04-09 09:35] ia-gaurav commented on #2095
@vahonc  any way to fix this

[2021-04-10 04:45] ia-gaurav commented on #2002
any update on this ,i guess swatches are too slow

[2021-04-11 04:12] ia-gaurav opened #2106 "Too Many Indices with Status as Ghots"
Magento Version : 2.4.1

I see to many indices mostly with status as GHOST what is this for , please help me with same, screenshot as below

![image](https://user-images.githubusercontent.com/63009790/114292155-24f3b000-9aaa-11eb-9b5e-4ded9f4a09ec.png)

[2021-04-12 07:15] davidandersson1 opened #2107 "Sometime Suddenly "default_catalog_product_*" ES indices size reduced and frontend without products"
Sometime elastic product indices size reduced itself and front-end without any products so we lost the sales :(

Magento Version : 2.3.5
ElasticSuite Version : ~2.9.0
Environment : Production
We have 2 store views
We are using separate host for ES server.
We have around 400k products and 650 categories.

According to our catalog, sometime we have "default_catalog_product_" size is 700 MB or someti

[2021-04-13 14:07] sky-hub commented on #2101
@romainruaud , here is the PR that invalidates "Configuration" cache and FULLTEXT index on attribute save https://github.com/Smile-SA/elasticsuite/pull/2109

Even though there is already an afterSave plugin for the product attribute model I have used the observer to limit this functionality to action performed from admihtml area only. As you mentioned in some comments I think for other areas it wo

[2021-04-13 18:47] trebb0r opened #2110 "Virtual Category not working when using custom product attribute text field"
### Preconditions
I'm using Magento Commerce 2.3.5-p2 and using Smile Elastic Suite version 2.9.4 including the latest version of the Shared Catalog and Quick Order module in production mode. Only one website and one store view is available.

### Steps to reproduce
1. Login to backend
2. Go to Stores > Product > Attributes
3. Create a custom Product Attribute or use an existing one with type text

[2021-04-14 07:30] romainruaud commented on #2093
@vahonc can you try to reproduce this one after your current tasks ?

[2021-04-14 08:31] vahonc commented on #2093
Ok, I'll try to investigate this issue.

[2021-04-14 14:25] bheptinh opened #2112 "GraphQL pagination not working"
### Preconditions

Looks like graphql request return empty `items` array when explicitly passed `currentPage` property.
I've created MR (#1965) also you can see more information there and I'm facing with that issue again on latest Magento & ElasticSuite versions

Magento Version : 2.4.2

ElasticSuite Version : 2.10.3

Environment : Developer & Production

Third party modules : none

### Steps to r

[2021-04-15 10:11] sky-hub commented on #2101
@romainruaud , upon futher investigation I have discovered that Magento already invalidating the FULLTEXT index in `\Magento\CatalogSearch\Model\Indexer\Fulltext\Plugin\Attribute::afterSave`, so since that part is covered and I removed it from the PR.

[2021-04-15 14:41] vahonc commented on #2110
Hello @trebb0r,

I've tried to reproduce this issue according to your steps on my local environment with Magento 2.3.5p2 EE and ES 2.9.3.
And I didn't notice any problems with previewing for selected/assigned products.

So I've created a custom Product Attribute with a type Text Field and named it External SKU. The only thing that I did additional to your steps is clear cache after step 6.

Here's

[2021-04-15 17:45] selectj opened #2113 "No confirmation when deleting thesauruses in admin panel"
### Preconditions

Magento Version : 2.4.1

ElasticSuite Version : 2.10.3

Environment : Production & Developer

Third party modules : N/A

### Steps to reproduce

1. Go to "Elasticsuite > Thesaurus" in the admin panel
2. In the drop-down select "Delete"
3. No confirmation is shown, the thesaurus is just deleted immediately

### Expected result
1. Some kind of confirmation (pop-up or something sim

[2021-04-15 19:43] ia-gaurav commented on #2093
hi @vahonc  seems issue for me also i am using Magento 2.4.1 with most configurable products, most of times my products disappers i have to do reindexing to show then again on listing page

[2021-04-16 07:48] romainruaud commented on #2103
Yes @sky-hub feel free to propose a PR associated to this.

[2021-04-16 09:36] sky-hub commented on #2103
@romainruaud, this is next on my TODO list. I hope to have a PR soon.

[2021-04-16 14:02] deadman619 commented on #2112
I'm having this issue as well. I get all the items on page 1, but it seems like there's an offset that gets set on every page after 1, which is a problem because the query that forms already has the IDs of the products.
[code]

[2021-04-16 15:19] romainruaud commented on #2112
Well this one is a bit surprising.

I do have some environments where it's working, either page 1 or page 2.

Some others, page 1 is ok, but switching to page 2 gives me empty results.

See, Magento 2.4.1 :

![image](https://user-images.githubusercontent.com/15340849/115046266-916e1500-9ed7-11eb-8ea6-f8d4afebd7f9.png)
![image](https://user-images.githubusercontent.com/15340849/115046288-959a3280-9

[2021-04-16 15:20] romainruaud commented on #2112
`total_pages` seems to be broken, I'll try to investigate

[2021-04-16 15:31] romainruaud commented on #2112
Okay, I upgraded the environment where it was working (2.4.1) to 2.4.2 and now it has the bug too.

I'll try to find more

[2021-04-16 16:21] romainruaud commented on #2112
PR #2117 is a WIP fix for this issue.

It's WIP because `total_pages` is still wrong with it, but items are properly returned from pages to pages
Can you guys test it ?

[2021-04-18 11:35] mrtuvn commented on #1013
how to show results as table (common use case)? Current i don't know how to replace template since all logic place in js file
content show same as order list in customer account page

[2021-04-19 08:22] deadman619 commented on #2112
I tested it out and it works. Thank you.

[2021-04-19 14:40] vahonc commented on #2093
Hello all,

I've tried to reproduce this issue on two local environments with the latest version of Magento EE (2.4.1, 2.4.2) and ES 2.10.3. In both cases, it was a clean version of Magento with default sample data and without any third-party modules.

So I did some tests with a few configurable products (like SKU: MT12) and tried to assigned/unassigned/add to different categories and I didn't not

[2021-04-19 14:45] ia-gaurav commented on #2093
hi @vahonc  - i was monitoring same for last 2 day , i did not got issue .

Earlier i guess issue was due to - i was using same  **Indices Alias Name** on 2 website on same server.

I am still monitoring i did not faced issue from last 2 days.

[2021-04-19 14:48] vahonc commented on #2093
@ia-gaurav, thanks for your feedback!

BR,
Vadym

[2021-04-20 04:58] reviskar commented on #2093
@vahonc thanks for investigating. Did you try it in a multi-store environment? For us it still happens regularly (about once a week, because of our custom product importer cron), but it was fairly reproducible when elasticsuite indexes were set to "On Save" behavior:
* Start the indexer
* Binge-save a product category relation in the admin.
* Eventually would result in products dissapearing, usual

[2021-04-20 11:16] sky-hub commented on #2101
@romainruaud , final PR for the problem described in this issue and in https://github.com/Smile-SA/elasticsuite/issues/1689 are here: https://github.com/Smile-SA/elasticsuite/pull/2109/commits/e393f4ffdb24253d787474ea1ea36a76f23275bf

The main problem is that when the reindex is performed and the config cache for \Smile\ElasticsuiteCore\Index\Indices\Config::CACHE_ID is not cleared, when changing

[2021-04-21 07:43] Melleschepers commented on #1498
Also very interested in this feature.

[2021-04-21 14:56] StevenGuapaBV commented on #2110
Hi Vadym,

When I checked this locally (also M2 2.3.5p2 EE and ES 2.9.3) I encountered the same problem as @trebb0r. I run MySql8, could that be a difference? I noticed while debugging when I added the option 'is one of' '()' tot the string input operator I got the results I expected. While using 'contains' '{}' I never got a result.

Clearing cache en reindexing did not help while setting up virt

[2021-04-21 16:11] hartstores opened #2122 "ElasticSuite works fine, but breaks bin/magento setup:config:set for all variables"
### Preconditions

Magento Cloud Start Edition

Magento Version :
2.4.1

ElasticSuite Version :
2.10.3

Environment :
Production

### Steps to reproduce

1. Install and configure ElasticSuite per this guide https://github.com/Smile-SA/elasticsuite/wiki/MeceInstall
2. ElasticSuite works fine, search works fine in the FrontEnd
3. Try to run bin/magento setup:config:set for any variable (e.g. bin/mag

[2021-04-21 18:52] sky-hub commented on #2103
@romainruaud, here's a draft PR: https://github.com/Smile-SA/elasticsuite/pull/2121

The PR only covers field mapping for search request builder, layer navigation filters, product fulltext collection and catalog rule attributes.

In regards of layer navigation filters I did not implement field mappings for
\Smile\ElasticsuiteCatalog\Model\Layer\Filter\Attribute
\Smile\ElasticsuiteCatalog\Model\Lay

[2021-04-21 21:35] hartstores commented on #2122
I just discovered something. Adding this to env.php and clearing cache fixes the issue. Except env.php gets overwritten by the Magento Cloud deploy process.

'smile_elasticsuite_core_base_settings' => [
                'es_client' => [
                    'servers' => 'elasticsearch.internal:9200'                ]
            ]
        ]
    ]

[2021-04-22 14:18] hartstores commented on #2122
Hello @vahonc ,

To summarize, I would add in your documentation that Magento Cloud does not support installing ElasticSuite through code (app/code), as it does not add the necessary parameters in env.php. It only works when installed through composer.

This is further discussed in this section of the Magento Cloud guide https://devdocs.magento.com/cloud/env/variables-deploy.html#elasticsuite_conf

[2021-04-22 14:21] vahonc commented on #2122
@rbayet, could you please comment on it?

BR,
Vadym

[2021-04-22 14:32] vahonc commented on #2110
Hello @StevenGuapaBV,

Could you provide more details about your steps to reproducing if this issue? Also, you could enable logging of ES queries in Stores > Configuration > Elasticsuite > Enable Debug Mode. The queries will be logged into the `system.log` and you can copy/paste these queries here. Perpahs, it could be a mapping issue or some settings of your attributes, so please check your confi

[2021-04-22 14:43] vahonc commented on #2093
Hello @reviskar,

If I'm not wrong when you use a Cron for a custom product importer you should change the mode of all (or most important like product, price, catalogsearch, etc) your indexes to `Update be Schedule`.

Also, I think that a mysql deadlock it smth definitely out of the ES module but I agree with you that some third-party modules like Amasty could impact this issue.

BR,
Vadym

[2021-04-23 00:15] fercho420 opened #2123 "When typing two or more comma separated values inside the filter attributes search input in layered navigation throws Error: No value matching the search"
Hello everyone!

Im facing an issue when trying to to filter attributes inside layered navigation using the search input filter.

### Preconditions
Magento Version : 2.4.1 CE
ElasticSuite Version : 2.10
Elasticsearch: 7.6.0
PHP: 7.4.10

### Steps to Reproduce

- Typing 2 or more values to filter inside the layered navigation search input field

### Expected Result

- A filtered attribute list shor

[2021-04-23 05:08] reviskar commented on #2093
@vahonc that's what we did, but for reproducing purposes it allowed us to kind-of reproduce the issue. The problem still stands even with scheduling, that it seems like the indexer crash makes magento use another (newly created) index that is empty.

[2021-04-23 16:19] #2100 closed

[2021-04-23 16:19] #2102 closed

[2021-04-23 18:16] ia-gaurav opened #2124 "Wanted to removed Filter by Category"
Magento Version - 2.4.2

Issue : Wanted to removed filter by Category that shows all child category of the current category

Details - i have set category attribute as used in layered navigation --> no , still category filter shows on listing page with all child category prepopuated.

Ex: i have category - shirts with Virtual child category like - Red Shirts, Blue Shirts and so on, when i open shi

[2021-04-25 19:22] #2123 closed

[2021-04-26 07:02] tim-breitenstein-it commented on #2112
I have this Bug too.

When will there be a new version which fixes this bug?

[2021-04-26 07:42] romainruaud commented on #2112
we'll probably release a new version this week containing this fix.

[2021-04-26 08:11] tim-breitenstein-it opened #2125 "Catalog search result shows complete list on one page"
The atalog search result page show the complete list on one page instead of a working pagination.

Maybe related to: https://github.com/Smile-SA/elasticsuite/issues/1947#issuecomment-698945544
and this: https://github.com/Smile-SA/elasticsuite/issues/2075 (https://magento.stackexchange.com/questions/326814/magento-2-pagination-not-working-on-search-results-porto-theme)
but the Port theme is not my

[2021-04-26 08:24] vahonc commented on #2124
Hello @ia-gaurav,

Please try to set the `Display Category Filter` setting to `No`, it should help you. You can find this setting here: `STORES -> Configuration -> CATALOG -> Catalog -> Layered Navigation -> Display Category Filter`.

![04-26-2021 configuration settings stores magento admin](https://user-images.githubusercontent.com/67791361/116051822-abe78180-a681-11eb-88fe-913c5c420705.png)

Als

[2021-04-26 08:51] vahonc commented on #2125
Hello @tim-breitenstein-it,

As I understand you're using a custom theme, in this case, we don't guarantee the correct working ES module. You'll have to resolve the conflicts by yourself (by coding) or contact the support team of this theme.

However, try to change your custom theme to default Luma theme on your test environment and check if the problem still occurs?

For example in my test enviro

[2021-04-26 11:32] matorg-acc opened #2126 "Autocomplete - product details page (PDP) instead of search results page after pressing ENTER"
Hovering mouse cursor over autocomplete list item (without clicking it) causing redirect to PDP after pressing ENTER.

### Preconditions

Magento Version : 2.3.3-p1 (EE)

ElasticSuite Version : 2.8.11

Environment : Developer and Production

Third party modules : none - vanilla Magento with sample data modules

### Steps to reproduce

1. Search for 'green' and wait for autocomplete results
2. Hove

[2021-04-26 11:39] vahonc commented on #2126
Hello @matorg-acc,

Do you use the default Luma theme or some custom theme?

BR,
Vadym

[2021-04-26 11:47] matorg-acc commented on #2126
Hello @vahonc, I use default Luma theme.

[2021-04-26 13:23] vahonc commented on #2093
@duffner, could you please provide us more details here, because we need some explanations for better understanding a start point for reproducing?

BR,
Vadym

[2021-04-26 13:32] vahonc commented on #2126
@matorg-acc, according to our support policy, we no longer actively support version 2.8.x. Therefore, for now, this issue has a low priority for us. I tried testing this issue on M2 2.3.4 and ES 2.8.6 and didn't found any problem.

Is there any way to update the version of Magento or ES module in your test environment?

BR,
Vadym

[2021-04-26 15:41] duffner commented on #2093
Hi @vahonc,  the issue is that all products are missing from all categories.

Configurable products are set at the root level category and child categories, however, the varients are set to not visible individually and are also

[2021-04-26 15:42] duffner commented on #2093
Hi @vahonc, the issue is that all products are missing from all categories.

All products are Configurable products that are set at the root level category and child categories, however, the varients are set to not visible individually and are also not assigned to any categories.

Is there anything else that would be helpful?

[2021-04-27 07:17] matorg-acc commented on #2126
@vahonc I cannot update Magento and therefore, based on versions compatibility, I cannot also update ES (Magento <2.3.5 -> ES 2.8.x)

[2021-04-27 12:41] davidandersson1 commented on #2107
Hello,

Still we are facing below critical error in exception.log

main.CRITICAL: Warning: call_user_func_array() expects parameter 1 to be a valid callback, first array member is not a valid class name or object in /vendor/smile/elasticsuite/src/module-elasticsuite-virtual-category/Helper/Rule.php on line 67

Can you please suggest fix for this error?

Thanks in advance,
David Andersson

[2021-04-27 15:28] gusdemayo opened #2127 "More Complex Field Mappings"
- I am trying to set the property "norms" to "false" in the mappings for some of my fields, but this setting doesn't seem to be supported by the elasticsuite_indices.xml file schema definition, is there a way to accomplish this? I also tried defining an index template, but this caused an error.

[2021-04-28 07:39] Esteraa commented on #2093
I think we have the same issue on M2.4.2. Not sure what causes the issue. In our case we have simple products and we dont have any Amasty modules.

![image](https://user-images.githubusercontent.com/30499229/116365043-268cda00-a805-11eb-9469-09012515ce1e.png)

After the reindex the products are shown again in the backend and frontend.

[2021-04-28 07:59] eugeneg729 opened #2128 "Error during Redeploying environment process. (Urgent)"
Hi,

Could you advice me on this. As it's quite urgent.
I am facing this issue when trying to redeploy my project. Please any suggestions in solving this?

Thank you.

Error is below:
----------------

[2021-04-27 03:11:06] ERROR: [1] The command "php ./bin/magento setup:config:set --remote-storage-driver=file -n --ansi --no-interaction" failed. In ConfigSetCommand.php line 151:
Parameter validati

[2021-04-28 08:35] romainruaud commented on #2128
Hello @eugeneg729

Are you sure this is due to Elasticsuite ?

[2021-04-28 08:37] romainruaud commented on #2125
Considering the fact that it's not reproduced in a vanilla magento with elasticsuite (see http://demo.magento-elastic-suite.io/index.php/catalogsearch/result/?q=hoodie ), this is probably due to customizations in your project.

Have you tried contacting the theme authors or the magesuite authors about it ?

[2021-04-28 08:39] romainruaud commented on #2124
I close this one, since the answer provided by @vahonc is the proper way to do this.

[2021-04-28 08:39] #2124 closed

[2021-04-28 08:40] romainruaud commented on #2106
Ghost indices indicates that the fulltext indexing process did not end well.

You should check in the magento logs (exception.log or system.log) to see if there are any logged errors during re-indexing. Or maybe check also the elasticsearch server logs.

You can safely remove these indices, they are not used by the engine.

[2021-04-28 08:41] #2113 closed

[2021-04-28 08:46] romainruaud commented on #2104
Hello @implantdirect

we do not provide such kind of suppor for third-party extensions as part of our Open Source support policy here on Github.

It's not surprising me that both modules can conflict considering they do work with the same parts of Magento.

I close it since we'll not provide any fix.

Best regards

[2021-04-28 08:46] #2104 closed

[2021-04-28 08:49] romainruaud commented on #2105
Hi @ioweb-gr

that should be working as intended as soon as your attribute is scoped properly.

Elasticsuite will index your product with 20% for website 1 index, and 40% for website 2 index. Even if the virtual category condition is the same for both website, the result shall differ according to product data.

Don't hesitate to let us know if this did work for you.

[2021-04-28 08:51] eugeneg729 commented on #2128
Hi,

Yes regarding this 3 modules.

Smile_ElasticsuiteCore
Smile_ElasticsuiteCatalog
Smile_ElasticsuiteSwatches

[2021-04-28 08:51] romainruaud commented on #2122
Hi @hartstores

we don't support "app/code" setup, that's why the wiki is only speaking about installing through composer.

If Elasticsuite is installed as an unproper/unsupported manner by a third-party solution, that's their responsibility to fix it.

Regards

[2021-04-28 08:51] #2122 closed

[2021-04-28 08:52] vahonc commented on #2126
@matorg-acc, yes you're right, I've also reproduced this issue on the environment with Magento 2.4.2 and ES 2.10.3. I'll try to check what we can do with it.

BR,
Vadym

[2021-04-28 08:56] romainruaud commented on #2084
@joebassi any new elements on this one ?

To be honest it's impossible to reproduce this on any of our dev environment not projects.

[2021-04-28 09:00] eugeneg729 commented on #2128
Deployment log.  Any suggestion would be much appreciated.
https://codeshare.io/Gb9k8O

[2021-04-28 09:11] vahonc commented on #2093
Hello @duffner,

Yes, this is possible. Please check in the Magento logs (exception.log or system.log) to see if there are any logged errors during re-indexing.

BR,
Vadym

[2021-04-28 09:25] romainruaud commented on #2078
Okay we can change the validator to support numbers including 0.

@vahonc can you please propose a PR for this ?

[2021-04-28 09:27] romainruaud commented on #2076
I close for being a duplicate.

#378 remains open but with low priority.

[2021-04-28 09:27] #2076 closed

[2021-04-28 09:28] vahonc commented on #2078
@romainruaud, okay I'll create PR for this one.

[2021-04-28 09:29] romainruaud commented on #2074
Hi @achatpc

I don't get what you mean by "display in first products of parent category" ?

But it's not possible to hide products from children category.

[2021-04-28 09:31] romainruaud commented on #2038
@DevRiffs and/or @jmonrove  any update on this one ?

As soon as you have Magento cron running, data collected through the tracker should be indexed into Elasticsearch.

When you navigate, you should see data coming into `elasticsuite_tracker_log_event`

And then, when the cron passes, data is indexed into Elasticsearch and removed from this table.

[2021-04-28 09:33] romainruaud commented on #2025
@Neos2007 you can see my comments here : https://github.com/Smile-SA/elasticsuite/issues/2000

Most probably, you don't need to have 3 shards/2 replicas, and 1 shard/2 replicas is enough (if you catalog is not too large).

What is the size of your catalog actually ?

[2021-04-28 09:35] romainruaud commented on #1990
Did you give a try to just set the "created_at" attribute as sortable ? This should be enough to sort on creation date.

[2021-04-28 09:38] romainruaud commented on #1924
That's not working, this is not a "real" attribute in Magento actually, having it displayed as a layered navigation filter would require more work, since it would imply to create a filter based on the `stock.is_in_stock` field.

Regards

[2021-04-28 09:44] drinkingsouls commented on #1990
I did, it made no difference. The only solution I found was the RedChamps Extra Sorting options plugin that worked for this. Though it's other sorting options are very limited.

[2021-04-28 12:03] duffner commented on #2093
I don’t see anything at the current time in the logs. Unfortunately, my issue is not consistently reproducible.  I will however check the logs once it happens again.

[2021-04-28 14:31] joebassi commented on #2084
Using command line for now, but if I have anything new, I will update.
Could be related to our data and/or theme (Ultimo), we did do a data sync from M1 on this site.

Thanks.

[2021-04-28 15:12] jmonrove commented on #2038
Hi @romainruaud

My indices are up to date and cron is running every 5 mins, but the problem remains that
**tracking_log_session** and  **tracking_log_event**
do not exist in my database.

![image](https://user-images.githubusercontent.com/32687858/116428041-66e65b00-a7f9-11eb-9a0b-9a135d126210.png)

[2021-04-28 15:22] jmonrove commented on #2038
Here's a screenshot of me manually running cron, index reset and reindexing with the status result below, observe no log_session log_event indexes shown.

Any ideas? Thanks!

![image](https://user-images.githubusercontent.com/32687858/116429387-b2e5cf80-a7fa-11eb-9a11-20286a1955dc.png)

[2021-04-29 08:50] mrudolph-dotsource opened #2130 "Error during installation on Magento >=2.4.1"
### Preconditions
I develop in a Docker environment including Elasticsearch 7.7.1, Redis 6, PHP 7.4 and MariaDB 10.4

Magento Version : 2.4.2 EE (tested in 2.4.0 EE, 2.4.1 CE and 2.4.1 EE, too)
ElasticSuite Version : 2.10.3
Environment : Developer

Third party modules :
- "cweagans/composer-patches": "^1.7"
- "magento/magento-coding-standard": "^6.0"
-  "phpunit/phpunit": "~9.2.0"

### Steps to re

[2021-04-29 09:21] ganeddact commented on #2130
I have the same issue. I followed the installation instructions page but it's more than 1 year old, I'm wondering if it's missing something from the most recent version of ElasticSuite.
Anyway trying to use the module ignoring that error eventually I get issues in the category page in the backend "catalog_product index does not exist yet. Make sure everything is reindexed."
And trying to reindex s

[2021-04-29 11:52] ssx commented on #2093
There's a Magento patch which has just been updated which may be related:

https://support.magento.com/hc/en-us/articles/360050636011-MDVA-30977-Magento-patch-missing-products-from-categories-indexing-related

[2021-04-29 11:54] romainruaud commented on #2130
It looks like the Magento Mview mechanism is trying to create triggers before the table is really created.

Did you give a try to :

- set indexers to "update on save"
- do the setup:upgrade
- set indexers back to "update on schedule", which should create the appropriate triggers

It might be a workaround for now, until searching for additional insights

[2021-04-29 11:56] romainruaud commented on #2128
@eugeneg729

I can see this error in your deployment log :

This has nothing to do with Elasticsuite until proven otherwise.

Regards

[2021-04-29 12:10] #2078 closed

[2021-04-29 13:20] romainruaud commented on #2038
Hi,

what's the output of `curl your-elastic-search-ip:9200/_cat/indices` ?

[2021-04-29 13:35] vahonc commented on #2093
@duffner, @Esteraa, @reviskar could you please check if the MDVA-30977 patch will solve your problems?

BR,
Vadym

[2021-04-29 13:38] mrudolph-dotsource commented on #2130
@romainruaud That works for me. But it would be nice if you didn't need this step.

[2021-04-29 14:05] #2126 closed

[2021-04-29 14:51] jmonrove commented on #2038
This is the response I got from running that command:

`green open magento2_default_catalog_product_20210308_214857  9lThkMvETOilSOlxa2szog 1 0     0 0    208b    208b
green open magento2_default_tracking_log_session_20210318    m3aTyfuNSEeEV1ZfSpFKbw 1 0     3 0   5.8kb   5.8kb
green open magento2_default_tracking_log_event_20210413      tB2J4gKzSCe49hjqbvCCRg 1 0    16 0  25.3kb  25.3kb
green op

[2021-04-29 15:05] romainruaud commented on #2101
I merged your PR. thank you for contributing.

Turns out that the issue appearing in #1689 was due to the cache not being purged.

With your PR, the frontend no longer throw an error when an attribute is set to be sortable.

However, the sorting does not work until the search index is rebuilt, that's why I also added PR #2134

Regards

[2021-04-29 15:05] #2101 closed

[2021-04-29 15:06] romainruaud commented on #1689
Fixed by #2109 and #2134

[2021-04-29 15:06] #1689 closed

[2021-04-29 15:28] romainruaud commented on #2112
I close since this was fixed and should be released asap

[2021-04-29 15:28] #2112 closed

[2021-04-29 15:31] romainruaud commented on #2095
@ia-gaurav this is not reproductible in our demo env, check here : http://demo.magento-elastic-suite.io/index.php/men/tops-men/jackets-men.html?color=Red

So it's probably due to your custom theme, meaning that we will not cover this as part of our open source support policy here.

Regards

[2021-04-29 15:31] #2095 closed

[2021-04-30 03:38] eugeneg729 commented on #2128
Hi Romain,

Thanks for your quick response. I will try to update the modules on my end and check again. If issue still persist.
Maybe it's a compatibility issue on Magento cloud end. As I am pushing to Magento Cloud repo.

[2021-04-30 07:34] romainruaud commented on #2091
It's likely something that we'll never do, because :

- for years I've asked people wanting this to show me an official document from Google stating that URLs like that are "performing better" than the other ones. I never saw something like this, so, until proven otherwise, I consider this kind of features as being an SEO mantra with no real impacts.

- there are as much as SEO "best practices" as

[2021-04-30 07:34] #2091 closed

[2021-04-30 07:38] romainruaud commented on #2085
Hi @scottsb

that's an interesting topic and I think it could improve Elasticsuite.

Since I'm answering with a lot of delay, maybe you implemented by yourself with a plugin in the meantime.

Could you share what you ended up doing ?

Regards

[2021-04-30 07:39] romainruaud commented on #2084
Okay, I'll close this one since it does seem to be related to your specific website.

Best regards

[2021-04-30 07:39] #2084 closed

[2021-04-30 07:41] romainruaud commented on #2038
Okay so the tracking session indices are there.

I don't get why Elasticsuite would not be seeing them

[2021-04-30 07:42] romainruaud commented on #2072
hi @mustanguy69

it's been some time since you submitted this, did you make any progress on that ?

Regards

[2021-04-30 07:43] romainruaud commented on #2079
I close this one for being related to a deprecated/unmaintained version.

Regards

[2021-04-30 07:43] #2079 closed

[2021-04-30 07:44] romainruaud commented on #2077
Maybe could it be related to #2093 or #2099 ?

[2021-04-30 07:45] romainruaud commented on #2073
@husseycoding did you solve it by cleaning the redis ?

Regards

[2021-04-30 07:46] romainruaud commented on #2023
@mamsincl you can propose a PR to 2.9.x and 2.10.x branch

Regards

[2021-04-30 07:47] romainruaud commented on #1990
Okay, I close this one since you found a workaround.

Regards

[2021-04-30 07:47] #1990 closed

[2021-04-30 07:50] romainruaud commented on #1774
@vpashovski can I close this one ?

we've got everything needed for memories in @rbayet 's note

Regards

[2021-04-30 07:51] romainruaud commented on #1498
That's quite an old issue but I'm curious to see if you did built it by yourself @royandre ?

If that's the case I'll be glad to review a PR

[2021-04-30 07:52] romainruaud commented on #1417
Is this still accurate @amenk  ?

[2021-04-30 07:54] romainruaud commented on #1589
I close this one, nobody did propose any PR for this in a so long period, I consider it not relevant.

regards

[2021-04-30 07:54] #1589 closed

[2021-04-30 07:56] romainruaud commented on #1094
after some years and a lot of customers, it appears that nearly nobody is using the blacklist mechanism, and I've never heard of such advanced needs regarding it.

So I close this feature request for not being popular among our users.

If I encounter it again, I'll file a new feature request.

Regards

[2021-04-30 07:56] #1094 closed

[2021-04-30 07:59] romainruaud commented on #1621
@Wohlie did you test it in production ?

By the way, are you using Magento Commerce or Open Source ?

[2021-04-30 10:14] amenk commented on #1417
The issue is not relevant for us anymore due to other changes,
Can be closed if you like.

[2021-04-30 13:11] Esteraa commented on #2093
@vahonc We found that after updating an attribute the products disappear. We also have this issue on our demo store (m2.4.2) where we dont have any other external modules than Smile ElasticSuite. The products disappeared after adding/changing product attributes.

I found an Elastic error, perhaps it's related:

[code]

[2021-04-30 19:08] drinkingsouls commented on #1990
It was far from an ideal solution as it is a paid extension. However this is not an issue with this module, sort by newest doesn't work on Magento when using ElasticSearch (which is now the only option). A Magento fix or solution is needed for this long term.

[2021-05-01 00:01] aljuarismi opened #2136 "Disable Search by SKU"
The attribute SKU was configured to not searchable, but still relation in search result.
### Preconditions

Magento Version :
CE 2.3.5-p1

ElasticSuite Version :
2.9

Environment :
Developer and Production mode

Third party modules :
N/A
### Steps to reproduce

1. Set SKU attribute value Searchable -> No
2. Full reindex
3. The search results do not change, it continues to relate the SKU to the sea

[2021-05-01 16:34] scottsb commented on #2085
Yes, we wrote a plugin on `Smile\ElasticsuiteCore\Index\Mapping\Field`. Here's our plugin class, sanitized of our specific proprietary use case:

[code]

[2021-05-02 01:58] meirzaicube opened #2137 "Using MSI with new Stock and new Sources disappearing configurable product type after reindexing inventory"
Using magento MSI with new Stock and new Sources disappearing Configurable Product type only after reindexing inventory, but not with Simple Product and Virtual Product type

### Preconditions
PHP 7.4.16
Magento Version: 2.4.1
ElasticSuite Version: 2.10
Environment: Developer and Production
Third-party modules : _None_

### Steps to reproduce

1. Create 2 new Inventory Source: **Stock A** and **St

[2021-05-03 02:35] meirzaicube commented on #2137
Currently, i'm using the patch from Magento https://support.magento.com/hc/en-us/articles/360050636011-MDVA-30977-Magento-patch-missing-products-from-categories-indexing-related , still monitoring.

[2021-05-03 06:14] vahonc commented on #2110
@trebb0r, @StevenGuapaBV is this issue still relevant for you?

[2021-05-03 06:58] vahonc commented on #2137
Hello @meirzaicube,

Did I understand you correctly that the problem you described was before using the patch and now you are monitoring whether this patch helped you?

BR,
Vadym

[2021-05-03 07:49] romainruaud commented on #2136
That's by design, because *the xml configuration file has precedence over DB changes*

And by default, the SKU is searchable according to this line :

https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-catalog/etc/elasticsuite_indices.xml#L33

Can you try to change this line (you can do this in another module), clear the cache and then reindex ?

Regards

[2021-05-03 08:53] meirzaicube commented on #2137
@vahonc Yes, correct

[2021-05-03 08:55] vahonc commented on #2137
Okay, then we will wait for new updates from you.

BR,
Vadym

[2021-05-03 09:24] romainruaud commented on #2093
What kind of update did you proceed for your attribute @Esteraa  ?

[2021-05-03 09:30] Esteraa commented on #2093
@romainruaud Just creating and assigning products to new attributes, it wasn't clear what caused it as we noticed the products weren't shown later. Another customer told me he added an attribute to  to show in the layered navigation and another also told me he adjusted settings at an attribute. So to me it's not very clear what caused it, seems if you change anything to an attribute it's already t

[2021-05-03 14:32] gusdemayo commented on #2127
The error I get when I try to disable norms in my index template and then run the reindex is

[code]

[2021-05-04 00:57] meirzaicube commented on #2137
The patch fixes the bug.

[2021-05-04 00:57] #2137 closed

[2021-05-04 01:01] meirzaicube commented on #2093
@Esteraa have you tried the patch from @ssx ? https://support.magento.com/hc/en-us/articles/360050636011-MDVA-30977-Magento-patch-missing-products-from-categories-indexing-related

[2021-05-04 08:13] Esteraa commented on #2093
@meirzaicube We are already on m2.4.2 where the patch is included.

[2021-05-05 12:30] proffrink commented on #944
Sorry for the necro post but if anyone else Googles this in the future and finds it: The solution - on Cloudways at least - is restarting your Elasticsearch service.

[2021-05-05 16:41] jmonrove commented on #2038
Not sure either, this is running on Magento commerce 2.3.5-p2 with elasticsuite 2.9.0
I'm going to try updating to Magento commerce 2.4.2-p1 with elasticsuite 2.10.0

[2021-05-05 19:46] Wohlie commented on #1621
Hi @romainruaud, we are using Magento Commerce 2.3.4. We are currently not live. Go live for this project is end of May. This patch is included since mid-March in our code base.

We don't test the patch for Magento open source but I re-use the original code for this patch. So the chance is high, it will also work with Magneto open source.

[2021-05-06 18:07] jmonrove commented on #2038
I was able to get it working on Magento Comerce 2.4.2, elasticsuite 2.10.0
![image](https://user-images.githubusercontent.com/32687858/117345096-0390a480-ae5b-11eb-8f7c-f6cc3c7ad5e1.png)
![image](https://user-images.githubusercontent.com/32687858/117345253-2d49cb80-ae5b-11eb-84ef-cb57112f995e.png)

[2021-05-07 09:25] romainruaud commented on #1841
Should be fixed by #2026

In this case, if you set this filter to be "always visible" at your category level, you should be able to make it appear.

Can you check this with latest elasticsuite version @zexperto ?

[2021-05-07 09:34] #1417 closed

[2021-05-07 09:37] romainruaud commented on #1977
@vahonc can you try to override the legacy Magento API so that when someone is contributing a position, it goes to the proper table ?

As explained it should go into `smile_virtualcategory_catalog_category_product_position` and not into `catalog_category_product`

[2021-05-07 17:01] zexperto commented on #1841
@romainruaud I confirm that it is working now as expected, that's really awesome
Thank you guys all for your efforts

[2021-05-07 17:01] #1841 closed

[2021-05-10 12:37] vahonc commented on #2062
Hi @edenofjinx

Sorry, but I didn't have time to come back to this, but maybe I'll try to find time this week.

[2021-05-12 01:57] aligent-lturner commented on #2130
I would suggest moving all table information to `db_schema.xml`, and removing setup scripts.

[2021-05-12 07:50] ia-gaurav opened #2139 "I want to hide count in filters any setting for it"
I want to hide count in filters any setting for it, there is option in Admin to not show count in layered navigation but it seems not working

[2021-05-12 08:47] AlexanderKopyl opened #2140 "Query on GraphQL Products ( Pagination and Page Size) don`t work"
[code]

[2021-05-13 08:31] vahonc commented on #2139
Hello @ia-gaurav,

If I understood correctly what you want, you need to set **Display Product Count** to **No** in `STORES -> Configuration -> Catalog -> Layered Navigation -> Display Product Count`.

**Look at my screenshots:**
![magento2-display-product-count-front-after](https://user-images.githubusercontent.com/67791361/118099038-5fb87300-b3dd-11eb-8b0d-fbc036cf1703.png)

![magento2-display-pr

[2021-05-13 08:42] vahonc commented on #2140
Hello @AlexanderKopyl.

Probably your issue is a duplicate of #2112.

Did you try to install the latest version (2.10.4) of the ElasticSuite module?

If that doesn't solve your problem, please provide more details about your environment (Magento and ElasticSuite versions, etc.).

BR,
Vadym

[2021-05-13 09:04] #2105 closed

[2021-05-13 09:04] #2106 closed

[2021-05-13 09:04] #2125 closed

[2021-05-13 10:04] #2038 closed

[2021-05-13 10:04] #1924 closed

[2021-05-13 10:04] #2074 closed

[2021-05-13 11:03] ia-gaurav commented on #2139
already done, but seems not working  for me

Magento Verison - 2.4.1
ElasticSuite Version - 7.9.2

Setting SS  -

![image](https://user-images.githubusercontent.com/63009790/118117227-f5b5c300-b408-11eb-9b8c-4e73f9e219bf.png)

[2021-05-13 11:07] ia-gaurav commented on #2139
Please ignore I got issue, my theme was rewriting filter output .

[2021-05-14 13:49] ia-gaurav opened #2141 "SHow More After 10th Attribute"
where can i choose option to show "Show More" option after x number of attributes in filter

Please note - I want to do this for filter swatches

[2021-05-15 07:34] #2128 closed

[2021-05-15 08:34] #1498 closed

[2021-05-15 08:34] #1774 closed

[2021-05-15 08:34] #2073 closed

[2021-05-15 08:35] #2072 closed

[2021-05-15 19:22] ia-gaurav opened #2142 "Move Out of Stock To Last"
Is there option to move all out of stock products in last

[2021-05-17 07:54] romainruaud commented on #2142
Hi,

you can just create an optimizer to do this, and apply a positive boost to products that are in stock : https://github.com/Smile-SA/elasticsuite/wiki/ProductSorting#using-the-search-optimizers

[2021-05-17 07:55] romainruaud commented on #2141
That's not possible for swatches unfortunately.

For other attributes, it's the "Facet Max Size" configuration option.

[2021-05-17 07:56] romainruaud commented on #2139
Okay I close then

[2021-05-17 07:56] #2139 closed

[2021-05-17 08:09] vahonc commented on #2141
Hello @ia-gaurav,

I agree with @Romain that currently this is not possible for swatches.

You could read our Wiki about the configuration "Show more" feature for other types of attributes and maybe it will be useful for you.
- [Faceting configuration](https://github.com/Smile-SA/elasticsuite/wiki/Attribute-configuration#faceting-configuration)
- [Faceting configuration by category](https://github

[2021-05-17 15:15] ia-gaurav commented on #2142
i could get way to do this , can you share screenshot for my test case

[2021-05-17 22:43] mgwalk commented on #1857
try disabling
'Codazon_AjaxLayeredNavPro' => 0,
/app/etc/config.php

[2021-05-18 04:49] AlexanderKopyl commented on #2140
All work in version 2.10.4
https://github.com/Smile-SA/elasticsuite/commit/a8d0bf63e23c455ed1bf4a5de8c1ad71e5bfca30#diff-9eab44323c77ef2d18e691a04d6f19af25586b8c00a442e717803d1657c0d24c

That help =)

[2021-05-18 04:49] #2140 closed

[2021-05-18 11:55] ia-gaurav commented on #2142
@romainruaud
 i could not get way to do this from optimizer , can you share screenshot for same

[2021-05-19 09:05] Neos2007 commented on #2025
@romainruaud we have similar issues on different websites (Magento installations) on the magento cloud.
With catalog size from 500 to 3800 products.

[2021-05-19 09:12] romainruaud commented on #2025
with 3800 products maximum, you don't need more than one shard.

Can you try switching to 1 shard / 2 replicas and see if things are better after a reindex ?

[2021-05-19 11:09] adamkarnowka opened #2143 "Possibility to extend children attributes that are indexed into parent content"
Hi, I can see that for custom attributes and configurable products, when indexed, values of of these attributes are saved for configurable and it's simples:

![image](https://user-images.githubusercontent.com/511845/118801200-08b11300-b8a1-11eb-812c-8dd1219421a9.png)

Having values stored like this messes up our optimizers' behaviour when we want to use attribute saved like this.

I can see that a

[2021-05-19 14:52] Quazz commented on #2107
For your first problem, I don't remember exactly, but I seem to recall this being a Magento core bug.

The second one was a problem I used to struggle with for a long time until one day it was automagically gone.  (though I strongly suspect it has to do with a badly written plugin/interceptor somewhere in your code)

[2021-05-19 15:07] davidandersson1 commented on #2107
Hi @Quazz Thanks a lot for your reply

Regarding my first issue, it was due to less heap size on elasticsearch server, we extended it from 4 GB to 7 GB but now we are not facing the same issue within last 15 days, otherwise every 3-4 days we faced same issue!

Regarding second one, as you suggested plugin/interceptor somewhere in your code, that I understood but any idea where you think Core class

[2021-05-19 15:12] Quazz commented on #2107
I don't believe it was a core plugin that was the issue (given that the module is tested with core Magento and works fine).

It's really hard to track down a buggy plugin due to their nature, so for the most part it ends up coming down to trial and error which is fairly frustrating.

You could try https://github.com/creatuity/magento2-interceptors using that. Either the problem magically disappear

[2021-05-21 09:28] Neos2007 commented on #2025
@romainruaud  Thanks for the help. Will try.

[2021-05-23 09:20] achatpc opened #2144 "Is it possible to add is in stock attibute for filter products ?"
Hello,

i am trying to add is in stock filter on layered navigation.

But not work.

Can you help me please ? You can sy attribute settings bellow

Thank you in advance.

![image](https://user-images.githubusercontent.com/17496183/119254789-ac0f6a00-bbb8-11eb-991a-7c235976f8f2.png)
![image](https://user-images.githubusercontent.com/17496183/119254797-b598d200-bbb8-11eb-8f8a-db64adfc9d32.png)
![ima

[2021-05-25 12:54] bretin opened #2145 "Schedules Updates not working on Category"
An error happens when trying to do a Schedule update on a category

### Preconditions

Magento Version : 2.4.2-p1 EE

ElasticSuite Version : 2.10.3 and 2.10.4

Environment : Dev

Third party modules : N/A

### Steps to reproduce
1. Login into the Backend
2. Navigate to Catalog -> Categories. Be sure, you activated the Default Category
3. Click on the Schedule New Update button.

### Expected resul

[2021-05-25 13:22] romainruaud commented on #2144
Nope that's not possible, cf #1924

[2021-05-25 13:23] romainruaud commented on #2143
Sure, this could be a good improvement.

Are you able to propose a PR for this ?

[2021-05-25 13:24] romainruaud commented on #2142
Please refer to the wiki, it's as simple as creating a positive boost and targeting "Only in stock products" in the rule section of the optimizer.

Regards

[2021-05-25 14:39] achatpc commented on #2144
Thank you. I think that i have to add new custom attibute for enable this feature.

[2021-05-25 16:41] adamkarnowka commented on #2143
Sure, just tell me what kind of configuration is preferred by you? I think admin config would be the best approach, because attributes can also be added in admin panel and it would be good to control how they are indexed also within admin panel scope - not needed code changes or deployment?

[2021-05-26 14:34] vahonc commented on #2145
Hi to all,

I've investigated this issue on several test instances with Magento 2.4.x and ES 2.10.x. Indeed on the instance with Magento EE 2.4.2 this bug is reproducible, while on Magento EE 2.4.1 there are no errors, and looks like everything works. I also comparing `protected function getFieldsMap()` from `vendor/magento/module-catalog/Model/Category/DataProvider.php` in both versions of Magent

[2021-05-26 17:56] bretin commented on #2145
Hi @vahonc,

Thanks for your tests!

I re ran some tests on a Magento 2.4.2 p1  vanilla without any third party module and the schedule update works well.
Could you please confirm me that you have a different result?

If I put back ES, the error comes back again.

Thanks again for your support

Nicolas

[2021-05-27 03:23] aligent-lturner commented on #1845
@romainruaud can this be re-opened? The issue is that the fix in 4c388ad does not take `attribute_set_id` into account early enough.
https://github.com/Smile-SA/elasticsuite/blob/4c388add34592e41939d457192fd547e15523e92/src/module-elasticsuite-catalog-graph-ql/DataProvider/Product/LayeredNavigation/Builder/Attribute.php#L115-L116
If the attribute code is `attribute_set_id`, then `$attribute` will

[2021-05-27 10:06] vahonc commented on #2145
Hi @bretin,

I can't test this bug on Magento 2.4.2-p1, but I re-installed my test environment with Magento EE 2.4.2 fresh vanilla without any third-party module and you're right, the schedule update works well. After that, I installed ES 2.10.4 and the error occurred.

I'll try to investigate this issue deeper.

BR,
Vadym

[2021-05-27 13:42] henkvalk commented on #2142
Thanks @romainruaud That worked for me

[2021-05-27 14:23] ia-gaurav commented on #2142
@henkvalk  did it worked for you can u share screenshot for setting

[2021-05-28 11:49] AurelienLavorel commented on #378
Hello @romainruaud,

We would like to develop this feature for a current project.
I saw you start to think about it, can we make a call to talk about what you planned to do to start wth the right solution?

Thank you

[2021-05-31 01:49] maureyz opened #2151 "catalog_product index does not exist yet. Make sure everything is reindexed."
We using ElasticSearch in a Magento Cloud environment.

Using many indices, Magento Support told us we need delete them using a Magento dictionary comman. We did...
But they reporting us this:

`{"0":"catalog_product index does not exist yet. Make sure everything is reindexed.","1":"#1 Smile\\ElasticsuiteCore\\Search\\Request\\ContainerConfiguration->getIndex() called at [vendor\/smile\/elasticsui

[2021-05-31 12:05] romainruaud commented on #2151
hi @maureyz

I'm afraid I do not understand the issue you are facing actually.

What was the original issue ?

Which command did you run exactly ?

Regards

[2021-05-31 16:30] maureyz commented on #2151
Hi there.
It was my fault that I didn't explain myself better.

I don't know why our cloud environment has several fails related with ElastiSearch.
To replicate this, we only we been using index:reindexer, that's it.

We have some environmental issues that depends to magento, but they sent us to you to require your help.

Here's a image of a magento support comment:
![image](https://user-images.gi

[2021-06-01 02:23] toddhainsworth opened #2154 "GraphQL resolver to match results from sitewide search"
I was wondering if there are any plans to add functionality in the form of a GraphQL query + resolver that would match the functionality produced by the modifications to the "/search/ajax/suggest" route (Products, Categories, Terms, etc)? While ElasticSuite does update the 'products' query, it doesn't provide a query to replace the existing non-GraphQL route (just products).

My team is working wi

[2021-06-01 05:13] aljuarismi commented on #2136
Solved! thank you very much.

[2021-06-01 05:14] #2136 closed

[2021-06-01 08:03] vahonc commented on #2151
Hi @maureyz,

The error `No alive nodes found in your cluster` usually means that something is wrong with ElasticSearch or its configuration.

Have you previously experienced similar or any other problems with ElasticSearch and ElasticSuite in your environment? Has anything changed/updated since then?

Could you check if everything is good with ElasticSearch in your environment?
<pre>curl localhos

[2021-06-01 11:55] JonathanBBD opened #2155 "Fatal error in admin when editing a category (with fix)"
### Preconditions

Magento Version : 2.3.7
ElasticSuite Version : 2.9.5
Environment : Production
Third party modules : -

### Steps to reproduce
1. Login into the admin
2. Goto Catalog > Category
3. Click a non-root category to see it's details

### Expected result
1. See the category edit form

### Actual result
1. Error with "Trying to access array offset on value of type int"

### Resolve

This

[2021-06-01 12:01] romainruaud commented on #2155
@vahonc can you add a PR to 2.9.x branch with this fix ?

[2021-06-01 20:56] max3372 opened #2157 "Disappearing product atributes in category after change a page or enter to sub-category"
The problem is disappearing product attributes.
It happens when I change a page to 2nd or 4th (it doesn't matter).
Then I have only category attributes, others are gone.

The same situation is when I go to the main category and choose one of a few sub-categories by a filter.
This time, also I have only category attributes.

But when I do these things and refresh a page, then everything works fine.

[2021-06-02 09:19] abecker87 commented on #2025
The same problem occurred with one of our pages in the Magento Cloud, but switching to 1 shard and 2 replicas did not solve the problem for us.
@Neos2007 Could you resolve the problem in the meantime?

[2021-06-02 12:18] ssx commented on #2093
@Esteraa I'm seeing it on a 2.4.2 installation as well.

[2021-06-02 12:54] Melleschepers commented on #705
This feature would be great! Could be in the same style as the "related search terms" (http://demo.magento-elastic-suite.io/index.php/catalogsearch/result/?q=shirt)

[2021-06-02 17:38] jeremybouvet commented on #1933
Hi !

As there been any evolution on this ? We are still getting the issue on the latest version of ES.

Thank you !

[2021-06-02 18:02] duffner commented on #2093
We just had this occur on another project, using the same versions.  Somewhere, it appears that when an index is invalidated, it's deleted before a new one occurs, likely due to a cron overlap.   My guess is that you truncate existing indexes before new ones are generated, and if something goes wrong with the server, new ones are never created, and the old ones are deleted.

[2021-06-02 18:09] duffner commented on #2093
Team, I'd be willing to bet it's with the function >proceedIndexInstall, where inside it looks for old indexes and deletes them, but there isn't anything that I can see which ensures there is a new index to replace it.   It appears this was handled for a different scenario by removing a deleteIndex, to a "cleanIndex" approach, however, this code does not leverage this type of feature.

[code]

[2021-06-03 09:35] br1luca opened #2158 "Product filters - Price Slider - Product out of stock showed in listing with higher price"
The price filter does not apply to out of stock products.

### Preconditions
Magento Version :
CC

ElasticSuite Version :
2.8.8

Environment :
Production

Third party modules :
No

### Steps to reproduce

1. Have a OUT OF STOCK product (Configurable with all single OUT OF STOCK)
2. Have a Catalog Rule apply to the OUT OF STOCK product
3. Fitler a PLP with that product with a max price lower the pr

[2021-06-03 09:42] #2025 closed

[2021-06-03 12:46] soundararajanm1990 commented on #487
@romainruaud
How to solve this issue "Unassigned products getting populated on category page"?
If any configuration or need to override in code?
Can you please advise?

[2021-06-04 04:13] maureyz commented on #2151
Hi @vahonc

The `curl localhost:9200` returns: `curl: (7) Failed to connect to localhost port 9200: Connection refused`

[2021-06-04 11:08] rootindex opened #2159 "Index Identifier is empty when querying GraphQL products query"
When hitting the frontend the correct results get returned however when hitting the GraphQL query the following error message gets returned:

Internal server error: Index does not exist yet. Make sure everything is reindexed.

### Preconditions

- Custom docker environment:
[code]

Magento Version : 2.4.2

ElasticSuite Version : 2.10.4

Environment : Developer + Production (both tested)

Third par

[2021-06-06 08:28] ia-gaurav opened #2160 "Child Category to Use parent category custom sorting"
**Preconditions**
Magento 2.4
A Parent and A child Category

**Steps to reproduce**
Change Ordering of Products in Parent product with custom drag option
Create child virtual category of above parent

**Expected result**
child category should inherit parent category custom ordering

**Actual result**
custom ordering is not inherited from parent category

[2021-06-07 07:55] timothyfisherdev opened #2161 "Search results page shows that results are sorted in ascending relevance but are actually correctly sorted in descending relevance"
When looking at a search results page, the toolbar shows that the results are sorted in ascending relevance, but they are actually correctly sorted in descending relevance. See here: http://demo.magento-elastic-suite.io/index.php/catalogsearch/result/index/?q=trek. The arrow in the toolbar is facing upwards showing that the results are in ascending order, but, given the search results, they are co

[2021-06-07 09:14] vahonc commented on #2159
Hello @rootindex,

I've tried to reproduce your issue on my test environment with Magento EE 2.4.2 and ES 2.10.4 and everything was fine with the providing by you a GraphQL products query:

![Screenshot from 2021-06-07 11-35-32](https://user-images.githubusercontent.com/67791361/120988282-17476780-c787-11eb-866c-c65d4ef13786.png)

As I can see, you're using the custom indices alias name, so first,

[2021-06-07 10:08] rootindex commented on #2159
Please find attached the output:

[code]

[2021-06-07 17:08] refueledinc commented on #1985
Has anyone managed to get to the bottom of this?

We've been seeing this error in our logs for months now.

We're on M2.4.2CE and ES2.10.3

[code]

From what we can tell, we're not having any issue from a user perspective, but the error is added to our logs throughout the day.

[2021-06-07 22:13] bretin opened #2162 "Cache not cleared when changing a virtual category rule"
Prior Magento 2.4.2 and ES 2.10.4, when a change was made on a category rule, it was reflected automatically in front.
Now, we need to do a cache flush in order to have the change visible in front.

It was working fine for us on Magento 2.3.5 p2 and ES 2.9.4

### Preconditions

Magento Version : 2.4.2-p1 EE

ElasticSuite Version : 2.10.3 and 2.10.4

Environment : Dev

Third party modules : N/A

##

[2021-06-08 09:12] kdckrs opened #2163 "Add support for HTTP Digest Authentication"
**Is your feature request related to a problem? Please describe.**
When trying to connect our Magento 2 Smile-SA Elastic Suite module with an Elasticsearch instance on AWS (with fine-grained-security enabled), we are unable to perform the authentication using Basic HTTP Authentication.

When applying the following settings in the configuration:

[code]

it results in a request that is made using t

[2021-06-08 14:21] romainruaud commented on #2162
Well, the only cache tag which is put in these objects is the Magento's legacy "CATEGORY" tag :

https://github.com/Smile-SA/elasticsuite/blob/2.10.x/src/module-elasticsuite-virtual-category/Helper/Rule.php#L69

[code]

It seems that this cache is not purged anymore by Magento when editing a category ? That would be surprising but I know they can do such things.

@vahonc can you try to reproduce t

[2021-06-08 14:22] romainruaud commented on #2161
We'll try to reproduce this on a vanilla Magento instance (without Elasticsuite).

In any cases, there is no point in having a direction for the "relevance" sort order, it's only relevant when sorting DESC.

[2021-06-08 14:24] romainruaud commented on #2159
It's very strange, it looks like Magento is not able to determine correctly the index name to use, since the "catalog_product" part is not injected into the index name.

Do you have something custom built on top of Elasticsuite ? Third party modules ?

[2021-06-08 14:41] rootindex commented on #2159
There is nothing custom build on top of it, I've since creating this ticket tried a few things. On development(warden) I managed to get things to work correctly, I took the working database and codebase to the staging environment where I still get the failed index name on graphql endpoint. This leads me to believe this is a php setting or module not being installed.

[2021-06-08 17:07] Nuranto opened #2164 "Install documentation issue"
![Capture d’écran 2021-06-08 à 15 49 15](https://user-images.githubusercontent.com/1633463/121196907-260a4900-c871-11eb-83d1-51b326f0df48.png)

Config paths in table are wrong : https://github.com/Smile-SA/elasticsuite/wiki/ModuleInstall

Also, Elasticsearch 7.x should be added to supported versions list.

[2021-06-08 17:07] rootindex commented on #2159
It looks like baseConfig returns null
[code]

<img width="1430" alt="Screenshot 2021-06-08 at 19 05 33" src="https://user-images.githubusercontent.com/505211/121228251-d0439a00-c88c-11eb-9d65-1e2edadf6122.png">

[2021-06-08 18:32] max3372 commented on #2157
I've just turned off Varnish, but still is the same.
So, there is not a problem with the cache system.

I also turned off minify/merge and not working too.

So, I decided to disable below modules:
('Iazel_RegenProductUrl', '1.0.0', '1.0.0'),
('Magefan_Blog', '2.9.6', '2.9.6'),
('Magefan_Community', '2.0.12', '2.0.12'),
('Magefan_WysiwygAdvanced', '2.0.10', '2.0.10'),
('Sm_AttributesSearch', '2.0.0

[2021-06-08 18:32] #2157 closed

[2021-06-09 05:46] ia-gaurav opened #2165 "Error on reindexing - TOO_MANY_REQUESTS/12/disk usage exceeded flood-stage watermark,"
I am getting below error

Catalog Search index process unknown error:
{"error":{"root_cause":[{"type":"cluster_block_exception","reason":"index [magento1_en_catalog_product_20210609_043506] blocked by: [TOO_MANY_REQUESTS/12/disk usage exceeded flood-stage watermark, index has read-only-allow-delete block];"}],"type":"cluster_block_exception","reason":"index [magento1_en_catalog_product_20210609_04

[2021-06-09 07:56] rootindex commented on #2159
Further debugging leads me to the following:

on dev (and frontend) the containerName = 'quick_search_container'
but on staging it the containerName changes to 'graphql_product_search'

[2021-06-09 08:10] rootindex commented on #2159
This issue seems to be very much related to #1690 , not sure why and how the same code base/database (only configuration changes) can have such a strange effect.

[2021-06-09 08:47] rootindex commented on #2159
I believe I found the issue, I followed the installation process without error or notice, two modules stays disabled if the project is in production mode. I fixed it by running.

[code]

[2021-06-09 08:47] #2159 closed

[2021-06-09 13:15] jaxtheking opened #2166 "How to add a custom Virtual Category Rule"
Hi,
I'm investigating if there's a way to add a custom Virtual Category Rule from my own module. Without going into any detail, I need to add a rule for Recently Added products (hardcoded to 15 days will do if I can't figure out how to use < >).

I see how the module adds its own custom rules in di.xml:
[code]
How would I declare my module's di.xml to add to the list above and not override it full

[2021-06-10 13:10] romainruaud commented on #2163
Hi @kdckrs

I was not aware of this type of authentication for AWS Elasticsearch instances.

I'm not even sure if the elasticsearch php client is supporting it, we should check before trying something.

Do you feel comfortable with proposing a PR to us for this one ?

[2021-06-10 13:13] romainruaud commented on #2161
Okay, so that's a frontend issue, probably we are enforcing DEC order for relevance by default, but not reflecting it into the layout.

We'll try to fix this one but that's a low priority for us at the moment.

[2021-06-10 13:22] kdckrs commented on #2163
Hi @romainruaud ,

Yes, it you enable fine-grained security when creating a new Elasticsearch Instance it ships with Open Distro features: https://opendistro.github.io/for-elasticsearch/ , which includes Basic HTTP Authentication for internal users.

I have created a PR with the proposed changes so you can have a look ;) , see https://github.com/Smile-SA/elasticsuite/pull/2167

[2021-06-11 03:22] timothyfisherdev commented on #2161
In doing some more digging on this, I think that there is some faulty logic in determining the correct sort order for the query that not only flips the arrow but also makes it difficult for this extension to be compatible with other extensions.

While the issue was that the toolbar was not visually reflecting which sort order the results were in, simply switching the direction of the arrow did not

[2021-06-11 13:45] hiimkhaled opened #2168 "Search Bar Broken on Codazon Infinit Theme"
As you can see the screenshots, after installing Elasticsuite, the search bar is broken. Everything else is working fantastic, I have been trying this since long time but no luck.

Installed theme is [**Codazon Infinit**](https://themeforest.net/item/infinit-magento-2-magento-1-theme-multipurpose-responsive-theme/22432458)
URL [**mke.com.bd**](https://www.mke.com.bd/)

I am not a hardcore develope

[2021-06-13 12:54] wecreatedigital opened #2169 "Autocomplete and search results inconsistent"
Hi there, thank you for ElasticSuite, it is a great addition to any Magento 2 website!

I have a problem understanding why the display of results between the autocomplete and the results on a search index page are different. This can be demonstrated with this recording: https://gyazo.com/70c9050a0736c3915df7ca4937ad6b7a - you'll see the order of products is very different but surely they would be

[2021-06-14 07:00] romainruaud commented on #2169
TL;DR version : this is working as intended, and it's done like this by design.

First type, you type "660-fc", this will be **extended to all existing search terms beginning with this string** : "660-fc1" and "660-fc2".

=> In autocompletion, **we widen the search, because we consider the user is typing and might not have finished writing** => we widen to all search terms beginning with the same

[2021-06-14 07:01] romainruaud commented on #2164
That's true, the "smile/" part in the table is incorrect, as long as the supported versions.

@vahonc can you edit the wiki ?

[2021-06-14 07:05] romainruaud commented on #2168
Hello @hiimkhaled

we do not provide such kind of support for third-party extensions as part of our Open Source support policy here on Github.

I close it since we'll not provide any fix. You should ask your agency to fix this.

Best regards

[2021-06-14 07:05] #2168 closed

[2021-06-14 07:13] romainruaud commented on #2158
Hi @br1luca

I'm wondering if the result of Magento catalogrule are accurate in the price index table. We index the raw content of this table in the ES index, meaning that, if the value is incorrect in the table, it will be incorrect for Elasticsearch too.

Are you able to provide more details to your example by giving us the content of ``catalog_product_index_price`` table for this particular pro

[2021-06-14 07:16] romainruaud commented on #2143
Yes if you can propose something that would be configurable per-attribute, it would be definitely the best option.

Let me know !

[2021-06-14 07:28] vahonc commented on #2164
It's done!

BR,
Vadym

[2021-06-14 08:00] vahonc commented on #2166
Hello @jaxtheking,

You're on the right track, you just need to add a custom rule for the Virtual Category in your own module by declaring it in di.xml as you show in the code from above. Just remove unnecessary items and specify the path to the model where you will implement your custom code. Magento will merge all XML files into one.

BR,
Vadym

[2021-06-14 08:35] edenofjinx commented on #2062
Any progress here?

[2021-06-14 10:04] Nuranto commented on #2164
@vahonc you forgot `es_client/`

[2021-06-14 10:14] vahonc commented on #2164
Updated. Thanks!

BR,
Vadym

[2021-06-14 10:46] jaxtheking commented on #2166
It sounds easy enough then (last famous words).
@vahonc Thanks for your reply, it's very appreciated.

[2021-06-14 10:46] #2166 closed

[2021-06-14 13:42] vahonc commented on #2162
I've been able to reproduce this issue on my test environment with Magento EE ver. 2.4.2 and ES 2.10.4.

And according to the [release notes](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-2.html#catalog) of Magento 2.4.2, it looks like now when we try to Save a category it flushes only the block cache that is related to this category. Previously, Magento flushed the cache f

[2021-06-14 13:57] paugnu commented on #1274
Hi @kpitn, do you think you could propose a PR to this repo? I think you've solved one of the main «issues» with ElasticSuite.

[2021-06-14 14:58] ia-gaurav commented on #2165
yes doing it solved the issue , but my elasticsearch goes down frequently any way to optimize same

[2021-06-14 15:02] vahonc commented on #2165
For this one we need more details, maybe you have some log entries or smth like this.

BR,
Vadym

[2021-06-14 15:14] ia-gaurav commented on #2165
can you help me with way to get logs - do i need to enable soemthing for log

[2021-06-14 15:42] vahonc commented on #2165
I'm not sure that your problem linked directly to our ES module, most probably you have some issue with Elasticsearch and your environment.

I think that you can start your investigations by exploring `/var/log/elasticsearch/*.log`

Also, you could check the [official docs](https://www.elastic.co/guide/en/cloud/current/ec-enable-logging-and-monitoring.html) of Elasticsearch.

BR,
Vadym

[2021-06-14 16:19] ia-gaurav commented on #2165
@vahonc  i am triyng to find issue - meanwhile can u help me what should be indices for better optimization

[2021-06-14 17:13] ia-gaurav commented on #2165
check below setting -

![image](https://user-images.githubusercontent.com/63009790/121931970-eefcd180-cd61-11eb-881b-29eaaf0a7474.png)

[2021-06-15 14:49] mamsincl commented on #2155
Can we get this merged and tagged, please

[2021-06-15 17:13] vahonc commented on #2165
Hello @ia-gaurav,

I think that smth is wrong with your indexes.

You could try to delete all existing indexes, flush cache and run full re-index .

`$ curl -XDELETE localhost:9200/*`

`$ bin/magento cache:flush`

`$ bin/magento indexer:reindex`

BR,
Vadym

[2021-06-16 01:34] Taku-Yamashita opened #2172 "Suggestion to add rel="nofollow" in layered navigation links to prevent index by GoogleBot."
**Is your feature request related to a problem? Please describe.**
If managing a large number of product attributes in Magento2,  GoogleBot will do a huge number of crawls by following the links in the layered navigation.

**Describe the solution you'd like**
Add rel="nofollow" to the navigation link following to the default template of Magento2(2.4.2).

Smile_ElasticsuiteCatalog/web/template/attr

[2021-06-16 07:40] diybook commented on #1912
@jimuld Could you resolve this issue. I'm having the same issue. I've updated to magento 2.4.2 and elasticsuite 2.10.4 and having the same problem you have described. All products are shown on all pages. Collection size is 38 and only 20 products should be shown per page. But all 38 products are listed.
@romainruaud any ideas?

[2021-06-16 08:18] diybook opened #2173 "Pagination shows all products of the category on every paginated page"
I'm having the same issue like @jimuld in #1912. I've updated to magento 2.4.2 and elasticsuite 2.10.4 and having the same problem he has described in his last post.

All products of a category are shown on all pages. Collection size is 38 and only 20 products should be shown per page. But all 38 products are listed.

### Preconditions
Magento Version : 2.4.2 CE
ElasticSuite Version : 2.10.4
Magen

[2021-06-16 09:38] fritzmg opened #2174 "es_rejected_execution_exception, status 429"
After installing MageSuite in a Magento `2.4.2-p1` instance, which also has `smile/elasticsuite` as a dependency, the following error appears when running `indexer:reindex` (or when `cron:run` is executed):

[code]

As I am unfamiliar with the inner workings of Elasticsearch and the Elasticsuite specifically, I am not sure how to fix this problem. Since the error mentions a `429` status: is Elasti

[2021-06-16 10:06] fritzmg commented on #2164
Also `-l` is deprecated, you should use `-e`/`--lock-env`.

[2021-06-16 11:10] vahonc commented on #2173
Hello @diybook,

Most likely your problem is related to using a custom theme. Can you check it out on a default theme like Luma?

BR,
Vadym

[2021-06-16 11:17] diybook commented on #2173
Thanks for your answer. I'll check that. What files shall I have a closer look? Layout Files, Template Files or Block Files? The result with pagination is working on the search result page.

BR, Gerald

[2021-06-16 11:45] vahonc commented on #2173
Gerald, it's hard to say exactly why you are facing this problem. This can be in templates, layouts, and also in the settings of the theme itself.

Also, check your catalog display settings in Magento BO:

![configuration-settings-stores-magento-admin](https://user-images.githubusercontent.com/67791361/122213211-655c1980-ceb1-11eb-99f6-db9c76177439.jpg)

Did you use your custom theme before the up

[2021-06-16 11:59] diybook commented on #2173
Hi, the theme is not causing this issue. I've checked it with luma theme. The behaviour is the same. I'll start deactivating 3rd party modules. The theme was the same before the update, so there was no change.

[2021-06-16 12:23] vahonc commented on #2173
Which Magento version did you upgrade to 2.4.2 from? Did you check your catalog display settings or other settings in Magento BO?

BR,
Vadym

[2021-06-16 12:56] diybook commented on #2173
I've updated from 2.3.6. But I may have found it finally. There was a bug in the Weltpixel module, or to be more specific in an overwrite of this module. But I have to verify it. Thanks for your help to get on the right track. BR Gerald

[2021-06-16 13:24] #2173 closed

[2021-06-17 07:46] diybook opened #2176 "Optimizer adding rule leads to "Invalid security or form key. Please refresh the page.""
While adding a new optimizer and after selecting an attribute or any other rule value for the rule conditions the ajax call ends with an 403.

Magento backend goes to dashboard and the message "Invalid security or form key. Please refresh the page." is shown.

The error log is not very specific:

[2021-06-17 07:34:21] main.DEBUG: Request validation failed for action "Magento\Framework\App\Action\F

[2021-06-17 08:14] diybook commented on #2176
I found out, that the problem are the rights. _isAllowed gives back false. But as administrator _isAllowed should give access to this resource. Any ideas?

BR Gerald

[2021-06-17 12:27] diybook commented on #2176
Hi Vadym,

I've changed the following part, and everything works now. There seems to be an issue with access rights. I've tried with another user and by setting the right manually. But that did not work either.
[code]

[2021-06-17 12:41] vahonc commented on #2176
As I told above, there shouldn't be any issues with access to the editing of the optimizer from the box. Unless if you have changed some settings according to your requirements.

If you use the custom resource access, please check rights in Magento BO:

![06-17-2021 administrators roles permissions system magento admin](https://user-images.githubusercontent.com/67791361/122397805-fac6de80-cf81-11e

[2021-06-17 13:35] vahonc commented on #2174
Hello @fritzmg,

Most likely your problems are linked to AWS hosting. Could you please provide more details about it?

It looks like your elasticsearch setup is not able to keep indexing under the current load, [ref](https://discuss.elastic.co/t/in-which-case-elasticsearch-will-return-429/23483)

Please check the settings and limitations of your AWS hosting plan.

Also, maybe this [article](https:

[2021-06-17 20:30] diybook commented on #2176
Hi,

the rights are set as follows:

Admin:
![6](https://user-images.githubusercontent.com/3702595/122468011-75602000-cfbb-11eb-82f2-8506b8074e43.png)

Other User:
![5](https://user-images.githubusercontent.com/3702595/122468030-7b560100-cfbb-11eb-98a4-9c52a0dd6914.png)

In both cases it did not work. With $isAllowed = true; everything is ok and I don't think this should be a damatic security issu

[2021-06-18 10:07] harrigo opened #2177 "Magento 2.3.7 with PHP 7.4 Support"
Just wondering if this module has support for 2.3.7 using PHP 7.4. Believe it was working ok with 2.3.7 and 7.3 however updated to 7.4 and noticed at some point since my category pages now fail with below error.

`"A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."`

The issue seems to be the virtual category

[2021-06-18 11:20] vahonc commented on #2177
Hello @harrigo,

We need more details about your environment.

Which version of ES are you using?
Did you use local or Cloud hostings?
Have you noticed any other issues related to Secret Key on other pages of Magento BO?
Did you check the logs of Magento?

BR,
Vadym

[2021-06-18 11:48] vahonc commented on #2164
Thanks, @fritzmg for this one. Yep, according to the Magento [devdocs](https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-config-mgmt-set.html#config-cli-config-set) now we should use `-le` or `--lock-env` instead of `-l` when we try to set up the system-specific configuration values, example:

<pre>$ bin/magento config:set [--scope="..."] [--scope-code="..."] [-le | -

[2021-06-18 11:48] harrigo commented on #2177
This is for the backend category edit page.

Which version of ES are you using?
2.9.0
Did you use local or Cloud hostings?
Local
Have you noticed any other issues related to Secret Key on other pages of Magento BO?
No not yet.
Did you check the logs of Magento?
Didnt see anything in logs there.

[2021-06-18 12:36] Nuranto commented on #2164
Also, ES 7.x is missing in Requirements part

[2021-06-18 12:39] vahonc commented on #2164
**Fixed!**

[2021-06-21 12:13] romainruaud commented on #2176
I'm not sure actually which acl is assigned exactly to the ```Smile\ElasticsuiteCatalogRule\Controller\Adminhtml\Product\Rule\Conditions```

Maybe there's a hole here by our side and we should either setup a specific ACL that can be explicitely allowed/disallowed, or fallback to $isAllowed = true.

We'll investigate.

[2021-06-21 12:15] romainruaud commented on #2155
Yes I plan to do some release at the end of the month, this one will be included.

Regards

[2021-06-21 12:25] #1845 closed

[2021-06-21 13:46] aniruddharay opened #2178 "Product sort by price with optimizer to boost in stock products"
### Preconditions
Magento 2.3.4 CE
Elasticsuit 2.8.0
### Requirement
1. I have a category which has its first 10 products set as manual sort.
2. I have added an optimizer to boost the in stock products and to show the out of stock products at the bottom.
3. I have set default sort by Price _( Catalog > Catalog > Storefront > Product listing sort by )_

### Expected Outcome
On category page
- First

[2021-06-21 15:00] vahonc commented on #2177
Hello @harrigo,

I'm not sure if we actually checked if the 2.9.0 version is directly compatible with PHP 7.4. But we added a lot of fixes to the 2.9.x branch.

So here're what you can do in this case:

1. Check again which version of the ES module you are using with this command:
`$ composer show smile/elasticsuite | grep "versions"`

2. If it really is the 2.9.0 version try to remove our module:

[2021-06-21 17:14] diybook commented on #2176
Thanks

[2021-06-21 21:23] jnouelccn opened #2179 "Elastic suite is not indexing product catalog."
After running the magento reindex command elastic suite it is not indexing/sending the product catalog to the elastic search server. No errors appear during the reindex process (does it pretty fast so maybe it's not iterating the product catalog) and the index is created successfully in the elastic search server but it appears to be empty (208b of size).

Another problem that we have encountered i

[2021-06-22 08:52] igorwulff commented on #551
We are having the same issue. I've created a support ticket at Amasty to see if an solution can be made/found for this.

[2021-06-22 09:18] vahonc commented on #2179
Hello @jnouelccn,

Have you used the ElasticSuite module before, or you just installed it in your environment? Probably something is wrong with the general configuration, please read our [Wiki](https://github.com/Smile-SA/elasticsuite/wiki/GettingStarted).

For the indexes issue, try to remove all indexes and run full reindex:

<pre>
$ curl -XDELETE localhost:9200/*
$ bin/magento cache:flush
$ bin

[2021-06-22 14:53] vahonc commented on #2176
Hi Gerald,

I have involved more deeper to investigate the ACL issue in order to your problem.

I'm still don't understand why under your Admin User you can't add the Rule Conditions to the new or existing Optimizers.

I've checked again it on my test environment and again didn't notice any problems with it. Perhaps you should re-save a Role for your Admin User.

Here's a screenshot of Role Resour

[2021-06-22 22:28] jnouelccn commented on #2179
Hello @vahonc

Thank you for your reply.

We have tested it in development environment.  Now we're testing in Staging environment.

Sorry to inform you that we followed your steps and It did not work.  We also disabled all third party modules reported but it didn't work either. These are the results of bin/magento indexer:reindex:

[code]

These are the results in the elastic search server (curl -

[2021-06-23 16:08] Mbertu commented on #866
Maybe a stupid question, but why you don't look inside the table catalogrule_product or catalogrule_product_price to get if a product has a catalog rule applied?

[2021-06-23 18:05] lbajsarowicz commented on #1807
@romainruaud Is there anything I can do to make it happen?

[2021-06-23 19:49] br1luca commented on #2158
You only need that row?

[2021-06-23 22:27] hershkoy opened #2180 "Compatibility issue with 2.4.2? (No alive nodes found in your cluster)"
![image](https://user-images.githubusercontent.com/13259380/123175448-7c3ed500-d48a-11eb-9b59-8b61c7a99efd.png)

### Preconditions

Currently I am testing a clean version of magento with the addition of alpaca theme, on my localhost using [mage2docker](https://github.com/graycoreio/mage2docker/blob/master/docs/stories/existing-project.md).
Smile-elastic is a dependency of Alpaca.
If I remove the `

[2021-06-24 07:24] romainruaud commented on #1807
Of course @lbajsarowicz you can propose a PR, I think the previous comments are self explanatory about what should be done here.

If you need more insights/supports I can also provide you what a proper entry point could be to add this fix.

[2021-06-24 08:06] MarcusSchwarz commented on #2180
Do you have Elasticsearch up and running as described in the Magento2.4x-docs?
https://devdocs.magento.com/guides/v2.4/config-guide/elasticsearch/es-overview.html

The error message itself has nothing to do with elasticsuite. It just tells you that Magento is unable to connect to your elasticsearch instance, for whatever reason that might be.

[2021-06-24 08:51] vahonc commented on #2180
Hello @hershkoy,

The [SnowdogApps/magento2-alpaca-theme](https://github.com/SnowdogApps/magento2-alpaca-theme) is not part of the ElasticSuite module, in other words, we don't support it, because it's a non-official/custom project. You'll have to make a choice, ask the support team of the SnowdogApps directly about your problem or resolve these conflicts by yourself.

From my side, I could say th

[2021-06-24 08:52] hershkoy commented on #2180
Yes, elastic is running and I can connect to it:

[code]

[2021-06-24 09:33] vahonc commented on #2179
Hello @jnouelccn,

If I correctly understand you, when you try to go to the Magento BO, like `https://localhost/admin` you get an empty page and there's no login form? If it's so, I think that this problem is not linked with our module and you should check Magento logs (system.log and exception.log) for more information.

Also, you could try to re-install the ES module by installing the latest ver

[2021-06-24 12:08] damienwebdev commented on #2180
Just commenting here as I'm the maintainer of Mage2Docker (where this bug was found).

This is absolutely a bug in Elasticsuite, as obvious from the fact that simply installing this package in a fresh Magento repo (with my docker environment) results in a setup:install error, whereas removing the package results in a successful installation.

An interesting difference about the environments is tha

[2021-06-24 13:12] damienwebdev commented on #2180
[code]

Here's a setup for you to verify if you'd like to give it a try.

[2021-06-24 13:46] ganeshp29 opened #2181 "Grouped product sort by price is not correct."
The grouped product sort by price does not work properly on the product list page. Looks like for grouped products this would be getting the lowest-priced item in the group and that's what it's sorting off of?

This issue was specific to grouped products.

![image](https://user-images.githubusercontent.com/33414084/123271114-23208100-d51e-11eb-8d3e-da47f275c2e2.png)

### Preconditions

Magento Ver

[2021-06-24 13:50] vahonc commented on #2151
Hello @maureyz,

"Connection refused" is as verbose as it can be: it's not something related to the Elasticsuite module, but rather due to infrastructure/hosting issues.

This way, we are not able to provide any help, since we are only providing support for the module. You should ask Magento Cloud team to investigate more and to escalate to the appropriate level of support (you will need to have a

[2021-06-24 14:01] vahonc commented on #2180
@hershkoy, @damienwebdev, what will be the result if you run setup install using the default search engine of the Magento (Elasticsearch7). Have you still an error: No alive nodes found in your cluster?

<pre>
bin/magento setup:install --base-url=https://magento2.dev/ \
--backend-frontname=admin --db-host=localhost --db-name=mage2 --db-user=root --db-password=11111 \
--admin-firstname=admin --admi

[2021-06-24 14:13] ganeshp29 opened #2182 "Grouped products filter by custom attribute not working properly."
All items in a grouped product are registered as filter options, instead of just the grouped product itself.

it's the Kid's Beds page with Bed Accessories chosen as the category filter. It's pulling in grouped products that include bed accessories instead of just bed accessories by themselves.

### Preconditions

Magento Version : 2.3.3-p1 EE
ElasticSuite Version : 2.8.0
Environment : Developer
T

[2021-06-24 14:36] vahonc commented on #2181
Hi @ganesh-ecsion,

As I can see you are using a third-party module like Amasty Improved Sorting. Could you try to disable it and check it out again?

It could be possible that our module and another one working on the same area (filtration, layered navigation, etc) and it's unlikely that they will function correctly. Also, your problem could be linked to your custom theme if it overrides a defaul